---
layout: default
---
<div class="search-selector">Open API Specifications</div>

<div class="page page-hub oas-landing">
  <div class="page-hub--header-background"></div>
  <div class="page-hub--header">
    <h1>Welcome to Kong API Specs</h1>
    <h3>This section of our docs site is Powered by Konnect, using <a href="/konnect/dev-portal/customization/">customizations available for the DevPortal</a>.</h3>
  </div>

  <div class="landing-page">
    {% include missing_translation_banner.html %}
    <h3 class="feature-title feature-title-oas">Definitions</h3>

    <section class="features">
      <div class="cards-container">
        {% assign oas_pages = site.data.ssg_oas_pages | where_exp: "oas_page", "oas_page.product.deprecated? == false" %}
        {% for oas_page in oas_pages %}
          {% include oas/card.html oas_page=oas_page %}
        {% endfor %}
      </div>
    </section>


    <h4 class="feature-title feature-title-oas feature-title-oas-deprecated">Deprecated</h4>
    <section class="features">
      <div class="cards-container">
        {% assign deprecated_oas_pages = site.data.ssg_oas_pages | where_exp: "oas_page", "oas_page.product.deprecated?" %}
        {% for oas_page in deprecated_oas_pages %}
          {% include oas/card.html oas_page=oas_page %}
        {% endfor %}
      </div>
    </section>
  </div>
</div>
