---
layout: default
sitemap: true
id: about
nav:
  - label: What is Kong?
    link: /about/

  - label: Who is Using Kong?
    link: /about/who/

  - label: PCI DSS Compliance
    link: /about/pci-dss/

  - label: Benchmark
    link: /about/benchmark/
---

<div class="page {{ page.id }}">
  {% include header.html %}

  <div class="container">
    <aside class="page-navigation">
      <nav>
        <h5>About</h5>
        <ul>
          {% for nav in page.nav %}
            <li><a href="{{ nav.link }}" {% if page.url == nav.link %}class="active"{% endif %}>{{ nav.label }}</a></li>
          {% endfor %}

          <li>
            <a href="/about/faq" {% if page.url contains "/about/faq" %}class="active"{% endif %}>FAQ</a>
            <ul>
              <li><a href="/about/faq/#how-does-it-work">How does it work?</a></li>
              <li><a href="/about/faq/#how-does-it-scale">How does it scale?</a></li>
              <li><a href="/about/faq/#what-are-plugins">What are plugins?</a></li>
                {% unless page.url contains "/about/faq" %}
                  <li><a href="/about/faq/">More ...</a></li>
                {% endunless %}
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="page-content-container">
      <div class="page-content">
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
