---
layout: default
sitemap: true
id: about


# !!!!!!!!!!!!!!!!!!!!!!!!   WARNING   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#
# FIXME This file is dead code - it is no longer being rendered or utilized,
# and updates to this file will have no effect.
#
# The remaining contents of this file (below) will be deleted soon.
#
# Updates to the content below should instead be made to the file(s) in /app/_hub/
#
# !!!!!!!!!!!!!!!!!!!!!!!!   WARNING   !!!!!!!!!!!!!!!!!!!!!!!!!!!!!



nav:
  - label: What is Kong?
    link: /about/

  - label: Who is Using Kong?
    link: /about/who/

  - label: Advantages & Use Cases
    link: /about/advantages/

  - label: PCI DSS Compliance
    link: /about/pci-dss/

  - label: Benchmark
    link: /about/benchmark/
---

<div class="page {{ page.id }}">
  {% include header.html %}

  <div class="container">
    <aside class="page-navigation">
      <nav>
        <h5>About</h5>
        <ul>
          {% for nav in page.nav %}
            <li><a href="{{ nav.link }}" {% if page.url == nav.link %}class="active"{% endif %}>{{ nav.label }}</a></li>
          {% endfor %}

          <li>
            <a href="/about/faq" {% if page.url contains "/about/faq" %}class="active"{% endif %}>FAQ</a>
            <ul>
              <li><a href="/about/faq/#how-does-it-work">How does it work?</a></li>
              <li><a href="/about/faq/#which-datastores-are-supported">Which datastores are supported?</a></li>
              <li><a href="/about/faq/#how-does-it-scale">How does it scale?</a></li>
              <li><a href="/about/faq/#what-are-plugins">What are plugins?</a></li>
              <li><a href="/about/faq/#how-many-microservices-apis-can-i-add-on-kong">How many microservices/APIs can I add on Kong?</a></li>
              <li><a href="/about/faq/#how-can-i-add-authentication-to-a-microservice-api">How can I add authentication to a microservice/API?</a></li>
              <li><a href="/about/faq/#how-can-i-migrate-to-kong-from-another-api-gateway">How can I migrate to Kong from another API Gateway?</a></li>
              <li><a href="/about/faq/#where-can-i-get-help">Where can I get help?</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="page-content-container">
      <div class="page-content">
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
