---
layout: default
sitemap: true
id: about
---

<div class="page {{ page.id }}">
  {% include header.html %}

  <div class="container">
    <aside class="page-navigation">
      <nav>
        <h5>About</h5>
        <ul>
          <li><a href="/about" {% if page.url == "/about/" %}class="active"{% endif %}>What is Kong?</a></li>
          <li><a href="/about/who" {% if page.url contains "/about/who" %}class="active"{% endif %}>Who is Using Kong?</a></li>
          <li><a href="/about/pci-dss" {% if page.url contains "/about/pci-dss" %}class="active"{% endif %}>Is Kong PCI DSS Compliant?</a></li>
          <li><a href="/about/benchmark" {% if page.url contains "/about/benchmark" %}class="active"{% endif %}>Benchmark</a></li>
          <li>
            <a href="/about/faq" {% if page.url contains "/about/faq" %}class="active"{% endif %}>FAQ</a>
            <ul>
              <li><a href="/about/faq/#how-does-it-work">How does it work?</a></li>
              <li><a href="/about/faq/#how-does-it-scale">How does it scale?</a></li>
              <li><a href="/about/faq/#what-are-plugins">What are plugins?</a></li>
                {% unless page.url contains "/about/faq" %}
                  <li><a href="/about/faq/">More ...</a></li>
                {% endunless %}
            </ul>
          </li>
        </ul>
      </nav>
    </aside>

    <div class="page-content-container">
      <div class="page-content">
        <div class="content">{{ content }}</div>
      </div>
    </div>
  </div>
</div>
