---
layout: default
sitemap: true
---

<div class="page-changelog">
  <header class="page-header">
    <div class="page-header-bg"></div>
    <div class="container">
      <nav class="docs-navigation v2">
        <a href="/gateway-oss" {% if page.edition == 'gateway-oss' %} class="active" {% endif %}>Kong Gateway</a>
        <a href="/enterprise" {% if page.edition=='enterprise' %} class="active" {% endif %}>Kong Enterprise</a>
        <a href="/getting-started-guide/latest/overview" {% if page.edition=='getting-started-guide' %} class="active" {% endif %}>Getting Started</a>

        <div class="header-actions">
          <div class="edit-this-page v2">
            <a target="_blank" href="https://github.com/Kong/docs.konghq.com/tree/master/app/{{page.path}}">
              <img src="/assets/images/logos/logo-github.svg" alt="github"/>
            </a>
          </div>
        </div>
      </nav>
      <div class="page-header-title">
        <h1>{{page.title}}</h1>
      </div>
  </header>

  <div class="container">
    <aside class="page-navigation">
      <nav class="version-select">
        <h5>Releases</h5>

          {% assign filename = page.path | split: '/' | last %}
          {% include toc.html html=content %}

      </nav>
    </aside>

    <div class="page-content-container" id="changelog">
      <div class="page-content">
        <div class="content show-anchor-links">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
