---
layout: default
sitemap: true
---

<div class="page v2 {{ page.class }}">
  <header class="page-header">
    <div class="container">
      <nav class="docs-navigation v2">
        <a href="/" {% if page.edition=='community' %} class="active" {% endif %}>Kong Community</a>
        <a href="/enterprise" {% if page.edition=='enterprise' %} class="active" {% endif %}>Kong Enterprise</a>
        <a href="/studio" {% if page.edition=='studio' %} class="active" {% endif %}>Kong Studio</a>
        <a href="/getting-started-guide/latest/overview" {% if page.edition=='getting-started-guide' %} class="active" {% endif %}>Getting Started</a>
        <span class="sidebar-toggle">Open Sidebar</span>
        <div class="edit-this-page v2">
          <a target="_blank" href="https://github.com/Kong/docs.konghq.com/tree/master/app/{{page.path}}"><i class="fa fa-github"></i>
            Edit this Page</a>
        </div>
      </nav>
      <div class="title-version-search-container">
        <div class="page-header-title">
          <h1>{{page.title}}</h1>
        </div>
      </div>
  </header>

  <div class="container">
    <aside class="docs-toc">
      <div class="docs-toc-title">Releases</div>
      {% include toc.html html=content anchor_class="scroll-to" h_min=2 h_max=3 %}
    </aside>

    <div class="page-content-container v2" id="changelog">
      <div class="page-content">
        <div class="content show-anchor-links">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
