---
layout: default
sitemap: true
id: documentation
---

<header class="page-header">
  <div class="container">
    <div class="page-header-icon">
      <img src="/assets/images/icons/icn-documentation.svg" alt="Documentation" />
    </div>
    <div class="page-header-title">
      <h1>Documentation</h1>
      <p>Learn how Kong empowers your APIs</p>
    </div>

    <div class="dropdown page-header-right">
      <button class="page-header-btn" id="version-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Version {{page.kong_version}}
        {% if page.kong_version == site.data.kong_latest.version %}<em>(latest)</em>{% endif %}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="version-dropdown">
        {% for ver in site.data.kong_versions %}
          {% unless page.kong_version == ver.version %}
            <li>
              <a href="/docs/{{ver.version}}"{% if ver.version == page.kong_version %} class="active"{% endif %}>
                {{ver.version}}
                {% if ver.version == site.data.kong_latest.version %}(latest){% endif %}
              </a>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</header>

<div class="container">
  <aside class="page-navigation">
    <nav>
      <h5>About Kong</h5>
      <ul>
        <li><a href="/docs/{{page.kong_version}}/about/what"{% if page.url contains "/what/" %} class="active"{% endif %}>What is Kong?</a></li>
        <li><a href="/docs/{{page.kong_version}}/about/how"{% if page.url contains "/how/" %} class="active"{% endif %}>How does it work?</a></li>
        <li><a href="/docs/{{page.kong_version}}/about/scaling"{% if page.url contains "/scaling/" %} class="active"{% endif %}>How does it scale?</a></li>
        <li><a href="/docs/{{page.kong_version}}/about/plugins"{% if page.url contains "/plugins/" %} class="active"{% endif %}>What are plugins?</a></li>
      </ul>
    </nav>

    <nav>
      <h5>Getting Started</h5>
      <ul>
        <li><a href="/docs/{{page.kong_version}}/getting-started/introduction"{% if page.url contains "/introduction/" %} class="active"{% endif %}>Introduction</a></li>
        <li><a href="/docs/{{page.kong_version}}/getting-started/quickstart"{% if page.url contains "/quickstart/" %} class="active"{% endif %}>Five-minute quickstart</a></li>
        <li><a href="/docs/{{page.kong_version}}/getting-started/adding-your-api"{% if page.url contains "/adding-your-api/" %} class="active"{% endif %}>Adding your API</a></li>
        <li><a href="/docs/{{page.kong_version}}/getting-started/enabling-plugins"{% if page.url contains "/enabling-plugins/" %} class="active"{% endif %}>Enabling Plugins</a></li>
        <li><a href="/docs/{{page.kong_version}}/getting-started/adding-consumers"{% if page.url contains "/adding-consumers/" %} class="active"{% endif %}>Adding Consumers</a></li>
      </ul>
    </nav>

    <nav>
      <h5>Configuration</h5>
      <ul>
        <li><a href="/docs/{{page.kong_version}}/configuration"{% if page.url contains "/configuration/" %} class="active"{% endif %}>Configuration reference</a></li>
      </ul>
    </nav>

    <nav>
      <h5>CLI Reference</h5>
      <ul>
        <li>
          <a href="/docs/{{page.kong_version}}/cli"{% if page.url contains "/cli/" %} class="active"{% endif %}>Commands</a>
          <ul>
            <li><a href="/docs/{{page.kong_version}}/cli#start">Start</a></li>
            <li><a href="/docs/{{page.kong_version}}/cli#stop">Stop</a></li>
            <li><a href="/docs/{{page.kong_version}}/cli#quit">Quit</a></li>
            <li><a href="/docs/{{page.kong_version}}/cli#restart">Restart</a></li>
            <li><a href="/docs/{{page.kong_version}}/cli#reload">Reload</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <nav>
      <h5>Admin API endpoints</h5>
      <ul>
        <li><a href="/docs/{{page.kong_version}}/admin-api/">Introduction</a>
        <li>
          <a href="/docs/{{page.kong_version}}/admin-api/#api-object">API Object</a>
          <ul>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#add-api">Add API</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#retrieve-api">Retrieve API</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#list-apis">List APIs</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#delete-api">Delete API</a></li>
          </ul>
        </li>
        <li>
          <a href="/docs/{{page.kong_version}}/admin-api/#consumer-object">Consumer Object</a>
          <ul>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#create-consumer">Create Consumer</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#retrieve-consumer">Retrieve Consumer</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#list-consumers">List Consumers</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#delete-consumer">Delete Consumer</a></li>
          </ul>
        </li>
        <li>
          <a href="/docs/{{page.kong_version}}/admin-api/#plugin-configuration-object">Plugin Configuration Object</a>
          <ul>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#create-plugin-configuration">Create Plugin Configuration</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#retrieve-plugin-configuration">Retrieve Plugin Configuration</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#list-plugin-configurations">List Plugin Configurations</a></li>
            <li><a href="/docs/{{page.kong_version}}/admin-api/#delete-plugin-configuration">Delete Plugin Configuration</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="page-content-container">
    <div class="page-content">
      <div class="content">
      {{ content }}
      </div>
    </div>
  </div>
</div>
