---
layout: default
sitemap: true
id: documentation
---

<div class="page {{ page.class }}">
  <header class="page-header">
    <div class="container">
        <div class="edit-this-page">
            <a target="_blank" href="https://github.com/Kong/docs.konghq.com/tree/master/app/{{page.path}}"><i class="fa fa-github"></i> Edit this Page</a>
          </div>
      <nav class="docs-navigation">
        <a href="/" {% if page.edition == 'community' %} class="active"{% endif %}>Kong (CE)</a>
        <a href="/enterprise" {% if page.edition == 'enterprise' %} class="active"{% endif %}>Kong Enterprise (EE)</a>
      </nav>
      <div class="page-header-icon">
        <img src="/assets/images/icons/icn-documentation{% if page.edition == 'enterprise' %}-ee{%else%}-ce{% endif %}.svg" alt="Documentation" />
      </div>
      <div class="page-header-title">
        <p>Documentation</p>
        {% assign pathParts = page.path | split: "/" %}
        {% if pathParts.size < 2 or pathParts[0] == 'enterprise' and pathParts[2] == 'index.md' and pathParts.size == 3 or pathParts[1] == 'index.md' and pathParts.size == 2 %}
          {% if page.edition %}
          <h1>
            {% if page.edition == 'enterprise' %}Enterprise Edition {% if page.has_version %}({{page.kong_version}}){% endif %}{% endif %}
            {% if page.edition == 'community' %}Community Edition ({{page.kong_version}}){% endif %}
          </h1>
          {% endif %}
        {% else %}
        <div class="page-header-section-title">
            {% if page.edition == 'enterprise' %}Enterprise Edition {% if page.has_version %}({{page.kong_version}}){% endif %}{% endif %}
            {% if page.edition == 'community' %}Community Edition ({{page.kong_version}}){% endif %}
        </div>
        {% endif %}
      </div>

      {% if page.kong_versions.size > 1 %}
        <div class="dropdown page-header-right">
          <button class="page-header-btn" id="version-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Version {{page.kong_version}}
            {% if page.kong_version == page.kong_latest.release %}<em>(latest)</em>{% endif %}
            <span class="caret"></span>
          </button>

          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="version-dropdown">
            {% for ver in page.kong_versions reversed %}
              {% unless page.kong_version == ver.release %}
                <li>
                  <a href="/{%if page.edition == 'enterprise' %}enterprise/{% endif %}{{ver.release}}"{% if ver.release == page.kong_version %} class="active"{% endif %}>
                    {{ver.release}}
                  </a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
          {% if page.edition == 'community' %}
          <div id="getkong-algolia-search" class="search-input">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search" id="getkong-algolia-search-input" />
          </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </header>

  <div class="container">
    <aside class="page-navigation">
      {% if page.edition == 'community' %}
        {% assign docs_url = '/' | append: page.kong_version %}
      {% else %}
        {% assign docs_url = '/' | append: 'enterprise/' | append: page.kong_version %}
      {% endif %}

      {% for nav in page.nav_items %}
      <nav>
        {% if nav.url %}
          <a href="{{docs_url | append: nav.url}}"><h5>{{nav.title}}</h5></a>
        {% else %}
          <h5>{{nav.title}}</h5>
        {% endif %}
        <ul>
          {% for item in nav.items %}
          {% capture url %}{{ docs_url | append: item.url }}/{% endcapture %}
          <li>
            <a {% if item.absolute_url %}href="{{item.url}}"{% else %}href="{{docs_url | append: item.url}}"{% endif %} {% if page.url == url %}class="active"{% endif %}>
              {{item.text}}
            </a>
            {% if item.items %}
            <ul>
              {% for subitem in item.items %}
              {% capture sub_url %}{{ docs_url | append: subitem.url }}/{% endcapture %}
              <li>
                <a href="{{docs_url | append: subitem.url}}" {% if page.url == sub_url %}class="active"{% endif %}>{{subitem.text}}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endfor %}
    </aside>

    <div class="page-content-container" id="documentation">
      <div class="page-content">
        <div class="content">
          {% if page.edition == 'community' %}
            <div class="alert alert-ee">
              Maybe you were looking for the <a href="/enterprise"><strong>Enterprise Edition (EE) Documentation</strong></a> instead?
            </div>
          {% endif %}
          {% if page.kong_version != page.kong_latest.release and page.has_version %}
          <div class="alert alert-warning">
            <strong>Careful!</strong> You are browsing documentation for an outdated version of Kong. Go <a href="/latest">here</a> to browse the documentation for the latest version.
          </div>
          {% endif %}

          {% assign filename = page.path | split: '/' | last %}
          {% unless filename == "index.md" or page.toc == false %}
            <h2 id="table-of-contents">Table of Contents</h2>
            {% include toc.html html=content %}
          {% endunless %}

          {{ content }}

        </div>
      </div>
    </div>
  </div>
</div>
<style>
  @media (max-width: 768px) {
    .algolia-docsearch-suggestion--subcategory-column{
      display: none !important;
    }
  }
</style>
{% if page.edition == 'community' %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
    apiKey: '691286ef280379144076a4f8df47a1d1',
    indexName: 'getkong',
    inputSelector: '#getkong-algolia-search-input',
    algoliaOptions: {
      hitsPerPage: 5,
      'facetFilters': ["version: {{page.kong_version}}"]
    },
    // Override selected event to allow for local environment navigation
    handleSelected: function (input, event, suggestion) {
      input.setVal('');
      window.location.href = window.location.protocol + "//" + window.location.host + suggestion.url.split("docs.konghq.com")[1]
    }
    // ,debug: true // Set debug to true if you want to inspect the dropdown
  });
</script>
{% endif %}
