---
sitemap: true
id: documentation
---

{% assign latest_page_url = page.url | replace: page.kong_version,
page.kong_latest.release %}
{% capture latest_page_exists %}{% page_exists {{latest_page_url}} %}
{% endcapture %}

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  {% include head.html %}

  <body id="{{ page.id }}">
    <div class="page-content-container v2 {% if page.no_version == true and page.has_version == false and page.nav_items == nil %}no-sidebar{% endif %}" id="documentation">
      <div class="page-content">
        <div class="content show-anchor-links">
          {% if page.beta == true %}
            <div class="alert alert-ee condensed margin-bigger">
              <div class="alert-body">
                <div class="tag">BETA</div>
                <p>Warning: This feature is released as <a href="/enterprise/{{page.kong_version}}/introduction/key-concepts/#beta">BETA</a> and should not be deployed in a production environment.
            </div>
              </div>
            {% endif %}

            <h1 class="page-content-title{%
            if page.badge %} badge{%
            if page.badge == 'plus' %} plus{% endif %}{%
            if page.badge == 'enterprise' %} enterprise{% endif %}
            {% endif %}"
            >{{page.title | flatify }}</h1>
            {% if page.enterprise %}{% endif %}
            {% if page.subtitle %}
              <h2 class="page-content-subtitle">{{page.subtitle | flatify }}</h2>
            {% endif %}

            {{ content }}

          </div>
        </div>
      </div>
    </div>

  </body>
</html>
