---
layout: default
sitemap: true
header_title: Documentation
header_icon: /assets/images/icons/icn-documentation.svg
header_caption: Learn Kong in five minutes
---

{% capture version %}/docs/{% if page.version != site.latest %}{{page.version}}/{% endif %}{% endcapture %}

{% include header.html %}

<div class="container">
  <aside class="page-navigation">
    <nav>
      <h5><a href="{{version}}"{% if page.url == "/docs/" %} class="active"{% endif %}>
        About</a>
      </h5>
      <ul>
        <li><a href="{{version}}about/what"{% if page.url contains "/what/" %} class="active"{% endif %}>What is Kong?</a></li>
        <li><a href="{{version}}about/how"{% if page.url contains "/how/" %} class="active"{% endif %}>How does it work?</a></li>
      </ul>
    </nav>

    <nav>
      <h5>Getting Started</h5>
      <ul>
        <li><a href="{{version}}getting-started/installation"{% if page.url contains "/installation/" %} class="active"{% endif %}>Installation</a></li>
        <li><a href="{{version}}getting-started/configuration"{% if page.url contains "/configuration/" %} class="active"{% endif %}>Configuration</a></li>
      </ul>
    </nav>

    <nav>
      <h5>Articles</h5>
      <ul>
        <li><a href="{{version}}articles/plugins"{% if page.url contains "/plugins/" %} class="active"{% endif %}>Plugins</a></li>
        <li><a href="{{version}}articles/datastores"{% if page.url contains "/datastores/" %} class="active"{% endif %}>Datastores</a></li>
        <li><a href="{{version}}articles/scalability"{% if page.url contains "/scalability/" %} class="active"{% endif %}>Scalability</a></li>
      </ul>
    </nav>

    <nav>
      <h5>Internal API endpoints</h5>
      <ul>
        <li><a href="{{version}}api/">Introduction</a>
        <li>
          <a href="{{version}}api/#api-object">API Object</a>
          <ul>
            <li><a href="{{version}}api/#create-api">Create API</a></li>
            <li><a href="{{version}}api/#retrieve-api">Retrieve API</a></li>
            <li><a href="{{version}}api/#list-apis">List APIs</a></li>
            <li><a href="{{version}}api/#delete-api">Delete API</a></li>
          </ul>
        </li>
        <li>
          <a href="{{version}}api/#consumer-object">Consumer Object</a>
          <ul>
            <li><a href="{{version}}api/#create-consumer">Create Consumer</a></li>
            <li><a href="{{version}}api/#list-consumers">List Consumers</a></li>
            <li><a href="{{version}}api/#delete-consumer">Delete Consumer</a></li>
          </ul>
        </li>
        <li>
          <a href="{{version}}api/#plugin-object">Plugin Configuration Object</a>
          <ul>
            <li><a href="{{version}}api/#create-plugin-configuration">Create Plugin Configuration</a></li>
            <li><a href="{{version}}api/#retrieve-plugin-configuration">Retrieve Plugin Configuration</a></li>
            <li><a href="{{version}}api/#list-plugins-configurations">List Plugins Configurations</a></li>
            <li><a href="{{version}}api/#delete-plugin-configuration">Delete Plugin Configuration</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="page-content-container">
    <div class="page-content">
      <div class="content">
      {{ content }}
      </div>
    </div>
  </div>
</div>
