---
layout: default
sitemap: true
id: documentation
---

<div class="page v2 {{ page.class }} {% if page.is_homepage %}homepage{% endif %}">
  <header class="page-header">
    {% if page.is_homepage %}
    <div class="page-header-bg">
      <img
        class="page-header-bg-image-left"
        {% if page.edition=='enterprise' %}
        src="/assets/images/docs/bg-enterprise-left.png"
        {% else %}
        src="/assets/images/docs/bg-left.png"
        {% endif %}
        alt="left-bg-image"
      >
      <img
        class="page-header-bg-image-right"
        {% if page.edition=='enterprise' %}
        src="/assets/images/docs/bg-enterprise-right.png"
        {% else %}
        src="/assets/images/docs/bg-right.png"
        {% endif %}
        alt="right-bg-image"
      >
    </div>
    {% endif %}
    <div class="container">
      <nav class="docs-navigation v2">
        <a href="/" {% if page.edition=='community' %} class="active" {% endif %}>Kong Community</a>
        <a href="/enterprise" {% if page.edition=='enterprise' %} class="active" {% endif %}>Kong Enterprise</a>
        <a href="/studio" {% if page.edition=='studio' %} class="active" {% endif %}>Kong Studio</a>
        <span class="sidebar-toggle">Open Sidebar</span>
        <div class="edit-this-page v2">
          <a target="_blank" href="https://github.com/Kong/docs.konghq.com/tree/master/app/{{page.path}}">
            Edit this Page
          </a>
        </div>
      </nav>

      <div class="title-version-search-container">
        <div class="page-header-title">
          <h1>{{page.title}}</h1>
        </div>
        <div class="search-version-row">
          <div class="versions-dropdown dropdown no-right-border">
            <button class="page-header-btn" id="version-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Version {{page.kong_version}}
              {% if page.kong_version == "1.5.x" %}(2020){% endif %}
              {% if page.kong_version == page.kong_latest.release %}<em>(latest)</em>{% endif %}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="version-dropdown">
              {% for ver in page.kong_versions reversed %}
              <li {% if page.kong_version==ver.release %} class="active" {% endif %}>
                <a href="/{%if page.edition == 'enterprise' %}enterprise/{% endif %}{{ver.release}}"
                    {% if ver.release==page.kong_version %} class="active" {% endif %}
                >
                  {{ver.release}}
                  {% if ver.release == "1.5.x" %}(2020){% endif %}
                  {% if ver.release == page.kong_latest.release %}<em>(latest)</em>{% endif %}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="dropdown" id="searchBar">
            <div id="getkong-algolia-search" class="search-input v2 {% unless page.is_homepage %}small{% endunless %}">
              <img class="icon" src="/assets/images/icons/icn-magnifying-glass.svg" alt="search">
              <input type="text" placeholder="Type to search {% if page.is_homepage %}documentation...{% endif %}" id="getkong-algolia-search-input" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    {% include docs-sidebar.html %}

    {% if page.toc == true or page.toc != false and filename != "index.md" and page.is_homepage != true %}
    <aside class="docs-toc">
      <div class="docs-toc-title">On this page</div>
      {% include toc.html html=content anchor_class="scroll-to" h_min=2 h_max=3 %}
    </aside>
    {% endif %}

    <div class="page-content-container v2" id="documentation">
      <div class="page-content">
        <div class="content show-anchor-links">
          {% if page.edition == 'community' %}
          <div class="alert alert-ee">
            Maybe you were looking for the <a href="/enterprise"><strong>Enterprise Documentation</strong></a>
            instead?
          </div>
          {% endif %}
          {% if page.kong_version != page.kong_latest.release and page.has_version %}
          <div class="alert alert-warning">
            <strong>Careful!</strong> You are browsing documentation for an outdated version of Kong. Go <a
                  href="{% if page.edition == 'enterprise' %}/enterprise{% endif %}/latest">here</a>
            to browse the documentation for the latest version.
          </div>
          {% elsif page.is_homepage == true %}
          <div class="alert alert-ee condensed margin-bigger">
            <div class="alert-body">
              <div class="tag green">NEW</div>
              <p>Kong {% if page.edition == 'community' %}Community Gateway{% endif %}{% if page.edition == 'enterprise' %}Enterprise{% endif %} {{page.kong_version}} released! We added a ton of <a
                      href="{% if page.edition == 'enterprise' %}/enterprise{% endif %}/changelog">New Features</a> and updated docs!</p>
            </div>
          </div>
          <div class="welcome-text">
            Welcome to Kong {% if page.edition == 'community' %}Community Gateway{% endif %}{% if page.edition == 'enterprise' %}Enterprise{% endif %} Documentation!<br/>
            Whether you're just getting started or a Kong Gateway expert, you can find everything you need here.
          </div>
          {% endif %}

          {% unless page.skip_read_time == true or page.path contains '/admin-api/' or page.path contains '/pdk/' %}
          {% include read_time.html %}
          {% endunless %}

          {{ content }}

          <div class="knowledge-base-section">
            <div class="knowledge-base-section-title">Visit our other Knowledge Bases</div>
            <div class="knowledge-base-links">
              <a class="knowledge-base-link" href="https://support.konghq.com/" target="_blank">
                <div class="knowledge-base-link-title">Support</div>
                <img src="/assets/images/icons/documentation/icn-support.svg" style="width:70%"/>
              </a>
              <a class="knowledge-base-link" href="https://discuss.konghq.com/" target="_blank">
                <div class="knowledge-base-link-title">Community</div>
                <img src="/assets/images/icons/documentation/icn-kongnation-md.svg" />
              </a>
              <a class="knowledge-base-link" href="https://learn.konghq.com/account/login/" target="_blank">
                <div class="knowledge-base-link-title">Kong University</div>
                <img src="/assets/images/icons/documentation/icn-learning.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if page.is_homepage == false and page.feedback != false %}
  {% include feedback-widget.html %}
  {% endif %}
</div>
<style>
  @media (max-width: 768px) {
    .algolia-docsearch-suggestion--subcategory-column{
      display: none !important;
    }
  }
</style>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

{% if page.edition == 'community' %}
<script type="text/javascript">
  docsearch({
    apiKey: '691286ef280379144076a4f8df47a1d1',
    indexName: 'getkong',
    inputSelector: '#getkong-algolia-search-input',
    algoliaOptions: {
      hitsPerPage: 5,
      'facetFilters': ["version: {{page.kong_version}}"]
    },
    // Override selected event to allow for local environment navigation
    handleSelected: function (input, event, suggestion) {
      input.setVal('');
      window.location.href = window.location.protocol + "//" + window.location.host + suggestion.url.split(
        "docs.konghq.com")[1]
    }
    // ,debug: true // Set debug to true if you want to inspect the dropdown
  });
</script>
{% endif %}

{% if page.edition == 'enterprise' %}
<script type="text/javascript">
  docsearch({
    appId: 'T5JKD83LWT',
    apiKey: '1390283021f26e36117242934deb8d9d',
    indexName: 'prod_EE',
    inputSelector: '#getkong-algolia-search-input',
    algoliaOptions: {
      hitsPerPage: 5,
      'facetFilters': ["version: {{page.kong_version}}"]
    },
    // Override selected event to allow for local environment navigation
    handleSelected: function (input, event, suggestion) {
      input.setVal('');
      window.location.href = window.location.protocol + "//" + window.location.host + suggestion.url.split(
        "docs.konghq.com")[1]
    }
    // ,debug: true // Set debug to true if you want to inspect the dropdown
  });

</script>
{% endif %}
