---
layout: plugins/show
type: plugin
permalink: :path
breadcrumbs:
  Hub: '/hub/'

---

{% unless page.konnect == true %}
<blockquote class="compatibility">
  <strong>This plugin is not compatible with Konnect</strong>
</blockquote>
{% endunless %}

{% unless page.extn_publisher == "kong-inc" %}
    {% if page.techpartner %}
      <blockquote class="partner-plugin no-icon">
        <b>Partner Plugin:</b> This plugin is <b>developed, tested, and maintained</b> by {{ page.publisher }}
    {% else %}
      <blockquote class="community-plugin no-icon">
        <b>Contact 3rd party for support:</b> This plugin is <b>developed, tested, and maintained</b> by {{ page.publisher }}
    {% endif %}
        <ul>
          {% if page.source_code %}<li><a href="{{page.source_code}}">Source code</a></li>{% endif %}
          {% if page.support_url %}<li><a href="{{page.support_url}}">Support</a></li>{% endif %}
        </ul>
      </blockquote>
{% endunless %}

{% if page.bundled == false or page.bundled == false %}
  <blockquote class="important">
    <details class="collapsible-note">
    <summary style="cursor:pointer;"><strong>This plugin is not enabled by default</strong>. Click here for instructions to enable it</summary>

    <ul>
      <li>Package install: Set <strong>plugins=bundled,{{ page.extn_slug }}</strong> in <strong>kong.conf</strong> before starting Kong</li>
      <li>Docker: Set <strong>KONG_PLUGINS=bundled,{{ page.extn_slug }}</strong> in the environment</li>
      <li>Kubernetes: Set <strong>KONG_PLUGINS=bundled,{{ page.extn_slug }}</strong> using <a href="/kubernetes-ingress-controller/latest/guides/setting-up-custom-plugins/#modify-configuration">these instructions</a></li>
    </ul>
    </details>
  </blockquote>
{% endif %}

{% if page.extn_publisher == "kong-inc" and page.schema.defined? %}
<blockquote>
  <p>
    <em>Looking for the plugin's configuration parameters? You can find them in the <a href="{{ page.configuration_url }}">{{page.name}} configuration reference</a> doc.</em>
  </p>
</blockquote>
{% endif %}

{% if page.installation %}
  <hr>
  <h2 id="installation">Installation</h2>

  {{ page.installation | markdownify }}

  <hr>
{% endif %}

{% unless page.extn_publisher == "kong-inc" %}{{ content }}{% endunless %}

{% if page.extn_publisher == "kong-inc" %}
{{ content }}

{% if page.kong_beta %}
<p>
  <em style="color: rgb(73, 78, 80)">
  This plugin is in beta. <a href="https://github.com/Kong/kong/discussions">Let us know what you think</a> on GitHub.
  </em>
</p>
{% endif %}
{% endif %}

{% if page.terms_of_service %}
  <h3 id="terms-of-service">Terms of Service</h3>
  {{ page.terms_of_service | markdownify }}
{% endif %}

{% if page.privacy_policy %}
  <h3 id="privacy-policy">Privacy Policy</h3>
  {{ page.privacy_policy | markdownify }}
{% endif %}
