---
layout: default
sitemap: true
id: getting-started-guide
---

{% assign latest_page_url = page.url | replace: page.kong_version, page.kong_latest.release %}
{% capture latest_page_exists %}{% page_exists {{latest_page_url}} %}{% endcapture %}

<div class="page v2 {{ page.class }}">
  <header class="page-header">
    <div class="page-header-bg"></div>
    <div class="container">
      <nav class="docs-navigation v2">
        <a href="/konnect">{{site.konnect_product_name}}</a>
        <a href="/">{{site.ce_product_name}}</a>
        <a href="/mesh">{{site.mesh_product_name}}</a>

        <div class="header-actions">
          <div class="search-version-row">
            <div class="versions-dropdown dropdown">
              <button class="page-header-btn" id="version-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Version {{page.kong_version}}
                {% if page.kong_version == page.kong_latest.release %}<em>(latest)</em>{% endif %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="version-dropdown">
                {% for ver in page.kong_versions reversed %}
                {% assign version_page_url = page.url | replace: page.kong_version, ver.release %}
                {% capture version_page_exists %}{% page_exists {{version_page_url}} %}{% endcapture %}<li {% if page.kong_version==ver.release %} class="active" {% endif %}>
                  <a href="{% if version_page_exists == 'true' %}{{version_page_url}}{% else %}{{ver.release}}{% endif %}"
                    {% if ver.release==page.kong_version %} class="active" {% endif %}
                  >
                    {{ver.release}}
                    {% if ver.release == page.kong_latest.release %}<em>(latest)</em>{% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <img id="search-version-icon" src="/assets/images/icons/icn-magnifying-glass.svg" alt="search">
          <div class="edit-this-page v2">
            <a target="_blank" href="https://github.com/Kong/docs.konghq.com/tree/master/app/{{page.path}}">
              <img src="/assets/images/logos/logo-github.svg" alt="github"/>
            </a>
          </div>
        </div>
      </nav>
      <div class="title-version-search-container">
        <div class="page-header-title">
          <h1>{{page.title | flatify}}</h1>
          <h2>{{page.subtitle | flatify}}</h2>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    {% include docs-sidebar.html %}

    {% if page.toc == true or page.toc != false %}
    <aside class="docs-toc">
      <i class="fa fa-times close-sidebar"></i>
      <i class="fa fa-chevron-right collapse-toc"></i>
      <i class="far fa-list-alt expand-toc"></i>
      <div class="docs-toc-title">On this page</div>
      {% include toc.html html=content anchor_class="scroll-to" h_min=2 h_max=3 %}
    </aside>
    {% endif %}

    <div class="page-content-container v2" id="documentation">
      <div class="toggles">
        <i class="fas fa-stream sidebar-toggle"></i>
        {% if page.toc == true or page.toc != false and filename != "index.md" %}
        <i class="far fa-list-alt toc-sidebar-toggle"></i>
        {% endif %}
      </div>

      <div class="page-content">
        <div class="content show-anchor-links">
          {% unless page.no_breadcrumbs %}
          {% include breadcrumbs.html %}
          {% endunless %}
          {% if page.kong_version != page.kong_latest.release and page.no_version != true %}
          <div class="alert alert-warning">
            You are browsing documentation for an outdated version. See the
            <a href="{% if latest_page_exists == 'true' %}{{latest_page_url}}{% else %}/{% endif %}">
              latest documentation here</a>.
          </div>
          {% endif %}
          {{ content }}

        </div>
      </div>
    </div>
  </div>
</div>

<div id="scroll-to-top-button">
  <i class="fas fa-chevron-up"></i>
</div>

{% if page.feedback != false %}
{% include feedback-widget.html %}
{% endif %}

{% include image-modal.html %}
