---
layout: default
---

<div class="page {{ page.id }}">
  {% include header.html %}

  <div class="container">
    <aside class="page-navigation">
      <nav>
        <h5>Packages</h5>

        <ul class="packages">
          {% for method in site.data.distributions %}
            {% if method.soon != true and method.type == 'package' %}
              {% assign url = '/install/' | append: method.id | append: '/' %}
              <li {% if page.url == url %}class="active"{% endif %}>
                <a href="{{ url }}">{{ method.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <br/>

        <h5>Cloud</h5>

        <ul class="cloud">
          {% for method in site.data.distributions %}
            {% if method.soon != true and method.type == 'cloud' %}
              {% assign url = '/install/' | append: method.id | append: '/' %}
              <li {% if page.url == url %}class="active"{% endif %}>
                <a href="{{ url }}">{{ method.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <br/>

        <h5>Source</h5>

        <ul class="packages">
          {% for method in site.data.distributions %}
            {% if method.soon != true and method.type == 'compile' %}
              {% assign url = '/install/' | append: method.id | append: '/' %}
              <li {% if page.url == url %}class="active"{% endif %}>
                <a href="{{ url }}">{{ method.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

      </nav>
    </aside>

    <div class="page-content-container">
      <div class="page-content">
          {% if page.toc == true or
            page.toc != false and filename != "index.md" %}
            <h2 id="table-of-contents">Table of Contents</h2>
            {% include_cached toc.html html=content class="inline-toc" anchor_class="scroll-to" h_max=2 %}
            {% endif %}
        <div class="content">
          {{ content }}

          <hr/>

          <div class="help">
            <img align="middle" src="/assets/images/icons/icn-lifesaver.svg"/> Having Trouble? <a href="https://konghq.com/community/">We're here to help!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
