---
layout: default
---

<div class="page {{ page.id }}">
  {% include header.html %}

  <div class="container">
    <aside class="page-navigation">
      <nav>
        <h5>Packages</h5>

        <ul class="packages">
          {% for method in site.data.distributions %}
            {% if method.soon != true and method.type == 'package' %}
              {% assign url = '/install/' | append: method.id | append: '/' %}
              <li {% if page.url == url %}class="active"{% endif %}>
                <a href="{{ url }}">{{ method.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <br/>

        <h5>Cloud</h5>

        <ul class="cloud">
          {% for method in site.data.distributions %}
            {% if method.soon != true and method.type == 'cloud' %}
              {% assign url = '/install/' | append: method.id | append: '/' %}
              <li {% if page.url == url %}class="active"{% endif %}>
                <a href="{{ url }}">{{ method.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

        <br/>

        <h5>Source</h5>

        <ul class="packages">
          {% for method in site.data.distributions %}
            {% if method.soon != true and method.type == 'compile' %}
              {% assign url = '/install/' | append: method.id | append: '/' %}
              <li {% if page.url == url %}class="active"{% endif %}>
                <a href="{{ url }}">{{ method.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>

      </nav>
    </aside>

    <div class="page-content-container">
      <div class="page-content">
        <div class="content">
          {{ content }}

          <div class="update-subscribe">
            <div class="icon">
              <img src="/_assets/images/icons/icn-mail.svg" alt="Get Updates!">
            </div>
            <div class="update-content">
              <p><strong>Follow Up:</strong></p>
              <div class="card">
                <p>Get future release notes emailed to you.</p>
                {% include installs-subscribe.html %}
              </div>
            </div>

          </div>

          <hr/>

          <div class="help">
            <img align="middle" src="/_assets/images/icons/icn-lifesaver.svg"/> Having Trouble? <a href="/community/">We're Here to Help!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
