---
layout: default
sitemap: true
id: landing-page
---

<div class="landing-page">
  <div class="page--header-background"></div>
  <h1 id="main" tabindex="-1">{% t _layouts.landing-page.title %} <span>Kong Docs</span></h1>
  <h2 class="landing-page-subtitle">{% t _layouts.landing-page.subtitle %}</h2>

  <section class="docs">
    <section class="title-cards">
      <div class="cloud-platform">
        <div class="konnect-docs card">
          <img class="banner-image" src="/assets/images/logos/kong-gateway-logo.svg" alt="Kong Gateway's logo" />
          <div class="description">
            {% t _layouts.landing-page.cards.gateway.description %}
          </div>
          <div class="links-container">
            <a href="/gateway/latest/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  <img class="icon" src="/assets/images/icons/icn-script2.svg" alt="">
                  {% t _layouts.landing-page.cards.gateway.links.overview %}
                </div>
              </div>
            </a>
            <a href="/gateway/latest/get-started/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  <img class="icon" src="/assets/images/icons/icn-script2.svg" alt="">
                  {% t _layouts.landing-page.cards.gateway.links.get_started %}
                </div>
              </div>
            </a>
            <a href="/hub/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  <img class="icon" src="/assets/images/icons/icn-script2.svg" alt="">
                  {% t _layouts.landing-page.cards.gateway.links.plugins %}
                </div>
              </div>
            </a>
            <a href="/gateway/latest/admin-api/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  <img class="icon" src="/assets/images/icons/icn-script2.svg" alt="">
                  {% t _layouts.landing-page.cards.gateway.links.admin_api %}
                </div>
              </div>
            </a>
          </div>
        </div>
    </section>
  </section>

    {% include feedback-widget.html %}
</div>

<script type="text/javascript">
  const updateHeader = () => {
    const opacityMultiplier = Math.min(document.documentElement.scrollTop, 100) / 100
    document.getElementsByClassName('navbar-v2')[0].style.boxShadow = `0px 8px 24px rgba(4, 53, 88, ${opacityMultiplier * 0.1})`
  }

  window.onscroll = () => updateHeader()
  updateHeader()
</script>
