---
layout: default
sitemap: true
id: landing-page
---

<div class="landing-page">
  <div class="textures">
    <img class="mobile-texture" src="/assets/images/landing-page/kong-docs-mobile-bg.svg" alt="mobile texture">
    <img class="top-left" src="/assets/images/landing-page/texture-left.png" alt="texture">
    <img class="top-right" src="/assets/images/landing-page/texture-right.png" alt="texture">
    <div class="top-gradient"></div>
  </div>

  <h1 id="main" tabindex="-1">Welcome <span>to Kong Docs</span></h1>
  <h4>Find all the information you need to use the {{site.konnect_product_name}} platform and Kong’s projects</h4>

  <section class="search">
    <div class="search-input-wrapper">
      <img src="/assets/images/landing-page/search.svg" alt="search">
      <input id="getkong-algolia-search-input" type="text" placeholder="Search for guides, concepts, API documentation, and more...">
    </div>
  </section>

  <section class="cloud-platform">
    <section class="konnect-docs">
      <h3 class="platform-title">{{site.konnect_product_name}}</h3>
      <h5 class="platform-description">
        Full stack connectivity platform that is designed from the ground up for cloud native architectures, delivered as a service
      </h5>
      <hr>
      <div class="platform-links">
        <a href="/konnect-platform/" class="name-link">
          <div class="name-label">
                <div class="link-text">
                  <img class="icon" src="/assets/images/icons/icn-doc.svg" alt="doc">
                  Konnect Platform Overview
                </div>
              </div>
          </a>
          <a href="/konnect/" class="name-link">
            <div class="name-label">
              <div class="link-text">
                <img class="icon" src="/assets/images/icons/icn-cloud-blue.svg" alt="cloud">
                Cloud
              </div>
            </div>
          </a>
          <a href="/enterprise/" class="name-link">
            <div class="name-label">
              <div class="link-text">
                <img class="icon" src="/assets/images/icons/icn-server-blue.svg" alt="server">
                Self-hosted
              </div>
            </div>
          </a>
      </div>
      </section>

      <h3>
        Get started with Kong Konnect
      </h3>
    <div class="cards-container">
      <div class="card">
        <img class="icon" src="/assets/images/landing-page/connection.svg" alt="connection"/>
        <div class="title">1. Runtime connection</div>
        <div class="description">Set up your first runtime connection</div>
        <a href="/konnect/getting-started/configure-runtime/" class="link-text">
          Set up
          <img src="/assets/images/icons/icn-arrow-right.svg" alt="right">
        </a>
      </div>
      <div class="arrow-card">
        <div class="arrow">
          <img src="/assets/images/landing-page/arrow-right.svg" alt="arrow">
        </div>
        <div class="card">
          <img class="icon" src="/assets/images/landing-page/catalog.svg" alt="connection"/>
          <div class="title">2. Catalog services</div>
          <div class="description">Catalog your services using the {{site.konnect_short_name}} ServiceHub</div>
          <a href="/konnect/getting-started/configure-service" class="link-text">
            Catalog
            <img src="/assets/images/icons/icn-arrow-right.svg" alt="right">
          </a>
        </div>
      </div>
      <div class="arrow-card">
        <div class="arrow">
          <img src="/assets/images/landing-page/arrow-right.svg" alt="arrow">
        </div>
        <div class="card">
          <img class="icon" src="/assets/images/landing-page/services.svg" alt="connection"/>
          <div class="title">3. Manage services</div>
          <div class="description">Manage your services using the {{site.konnect_short_name}} ServiceHub</div>
          <a href="/konnect/getting-started/implement-service/" class="link-text">
            Manage
            <img src="/assets/images/icons/icn-arrow-right.svg" alt="right">
          </a>
        </div>
      </div>
    </div>
    </section>

  <section class="docs">
    <section class="title-cards">
      <h3>Connectivity runtimes</h3>
      <div class="cards-container">
        <div class="card">
          <img class="banner-image" src="/assets/images/landing-page/gateway.png" alt="mesh">
          <div class="title">{{site.base_gateway}}</div>
          <div class="description">A lightweight API Gateway that lets you secure, manage, and extend APIs and microservices.</div>
          <hr>
          <div class="links-container">
            <a href="/enterprise/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  Enterprise
                </div>
                <div class="icon-label">
                  <img src="/assets/images/icons/icn-server.svg" alt="server">
                  Self-hosted version
                </div>
              </div>
              <img src="/assets/images/icons/icn-doc.svg" alt="doc">
            </a>
            <a href="/gateway-oss/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  Open source
                </div>
                <div class="icon-label">
                  <img src="/assets/images/icons/icn-server.svg" alt="server">
                  Self-hosted version
                </div>
              </div>
              <img src="/assets/images/icons/icn-doc.svg" alt="doc">
            </a>
          </div>
        </div>
        <div class="card">
          <img class="banner-image" src="/assets/images/landing-page/mesh.png" alt="mesh">
          <div class="title">{{site.mesh_product_name}}</div>
          <div class="description">
            Universal service mesh for enterprise organizations focused on simplicity, security, and scalability with Kuma and Envoy.
          </div>
          <hr>
          <div class="links-container">
            <a href="/mesh/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  {{site.mesh_product_name}}
                </div>
                <div class="icon-label">
                  <img src="/assets/images/icons/icn-server.svg" alt="server">
                  Self-hosted version
                </div>
              </div>
              <img src="/assets/images/icons/icn-doc.svg" alt="doc">
            </a>
            <a href="https://kuma.io/docs/" class="name-link">
              <div class="name-label">
                <div class="link-text">
                  Kuma (open-source)
                </div>
                <div class="icon-label">
                  <img src="/assets/images/icons/icn-server.svg" alt="server">
                  Self-hosted version
                </div>
              </div>
              <img src="/assets/images/icons/icn-doc.svg" alt="doc">
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>

  {% for feature in site.data.landing_page.features %}
  <h3 id="feature-title">{{ feature.title }}</h3>
  <section class="features">
    <div class="cards-container">
      {% for item in feature.items %}
      <div class="card default">
        <img src="{{ item.icon }}" alt="service" class="icon">
        <div class="title">{{ item.name }}</div>
        <div class="description">{{ item.description }}</div>
        <hr>
        <div class="links-container">
          {% for link in item.links %}
          <a href="{{ link.url }}" class="link-text">
            <img class="icon" src="{{ link.icon }}" alt="link icon">
            {{ link.text }}
          </a>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endfor %}

  <section class="additional-info">
    <div class="info-container">
      <h2>Contribute to the docs</h2>
      <div class="subtitle">Want to help out, or found an issue in the docs and want to let us know?</div>
      <div class="links-container">
        {% for link in site.data.landing_page.contribute_links %}
        <a href="{{ link.url }}" class="link-text">
          <img class="icon" src="/assets/images/icons/icn-doc.svg" alt="doc">
          {{ link.text }}
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="info-container">
      <h2>Popular Topics</h2>
      <div class="subtitle">Don’t know where to start? Check out the most visited topics and guides</div>
      <div class="links-container">
        {% for link in site.data.landing_page.popular_topics %}
        <a href="{{ link.url }}" class="link-text">
          <img class="icon" src="/assets/images/icons/icn-doc.svg" alt="doc">
          {{ link.text }}
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

    {% include feedback-widget.html %}

  <img class="kong-image" src="/assets/images/landing-page/kong.svg" alt="kong">
</div>

<script type="text/javascript">
  const updateHeader = () => {
    const opacityMultiplier = Math.min(document.documentElement.scrollTop, 100) / 100
    document.getElementsByClassName('navbar-v2')[0].style.boxShadow = `0px 8px 24px rgba(4, 53, 88, ${opacityMultiplier * 0.1})`
  }

  window.onscroll = () => updateHeader()
  updateHeader()
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>

<script type="text/javascript">
  docsearch({
    appId: 'T5JKD83LWT',
    apiKey: '1390283021f26e36117242934deb8d9d',
    indexName: 'prod_Full_Docs',
    inputSelector: '#getkong-algolia-search-input',
    algoliaOptions: {
      hitsPerPage: 8
    },
    // Override selected event to allow for local environment navigation
    handleSelected: function (input, event, suggestion) {
      input.setVal('')
      window.location.href = window.location.protocol + '//' + window.location.host + suggestion.url.split('docs.konghq.com')[1]
    }
    // ,debug: true // Set debug to true if you want to inspect the dropdown
  })
</script>
