---
layout: default
sitemap: true
id: page-plugin
header_btn_text: Report Bug
header_btn_href: mailto:support@mashape.com?subject={{ page.header_title }} Plugin Bug
breadcrumbs:
  Plugins: /plugins
---

<div class="page {{ page.id }}">
  {% include header.html %}

  <div class="container">
    <aside class="page-navigation">
      <nav>
        <h5>navigation</h5>
        <ul>
          <li><a href="#">General</a></li>
          <li><a href="#installation">Installation</a></li>
          <li><a href="#configuration">Configuration</a></li>
          <li><a href="#usage">Usage</a></li>
        </ul>
      </nav>

      <nav>
        <h5>about</h5>
        <ul>
          <li><a href="#"><span class="fa fa-user"></span> Mashape</a></li>
          <li><a href="#"><span class="fa fa-tag"></span> Authentication</a></li>
          <li><a href="#"><span class="fa fa-link"></span> Mashape.com</a></li>
        </ul>
      </nav>
    </aside>

    <div class="page-content-container">
      <div class="page-content">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
