---
layout: default
sitemap: true
id: page-plugin
header_btn_text: Report Bug
header_btn_href: mailto:support@mashape.com?subject={{ page.header_title }} Plugin Bug
breadcrumbs: null
---

<div class="page {{ page.id }}">
  {% include header.html %}

  <div class="container">
    <aside class="page-navigation">

      {% for nav in page.nav %}
        <nav>
          {% if nav.items %}
            <h5>{{ nav.label }}</h5>
          {% else %}
            <a href="#{{ nav.label | slugify }}"><h5>{{ nav.label }}</h5></a>
          {% endif %}

          <ul>
            {% for item in nav.items %}
              <li>
                <a href="#{{ item.label | slugify }}">{{ item.label }}</a>

                {% if item.items %}
                  <ul>
                    {% for subitem in item.items %}
                      <li><a href="#{{ subitem.label | slugify }}">{{ subitem.label }}</a></li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endfor %}
    </aside>

    <div class="page-content-container">
      <div class="page-content">
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</div>
