---
layout: default
---

<div class="page {{ page.class }}">
  <header class="page-header">
    <div class="container">
      <div class="edit-this-page">
        <a target="_blank" href="https://github.com/Kong/docs.konghq.com/tree/master/app/{{page.path}}"><i class="fa fa-github"></i>
          Edit this Page</a>
      </div>
      <nav class="docs-navigation">
        <a href="/gateway-oss" {% if page.edition == 'gateway-oss' %} class="active" {% endif %}>Kong</a>
        <a href="/enterprise" {% if page.edition=='enterprise' %} class="active" {% endif %}>Kong Enterprise</a>
        <span class="sidebar-toggle">Open Sidebar</span>
      </nav>
      <div class="page-header-icon">
        <img src="/assets/images/icons/icn-documentation{% if page.edition == 'enterprise' %}-ee{%else%}-ce{% endif %}.svg"
          alt="Documentation" />
      </div>
      <div class="page-header-title">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
