---
title: Kong Installation
layout: default
redirect_from: /download/
header_title: Kong Installation
header_icon: /assets/images/icons/icn-download.svg
---

<div class="page page-install">
  {% capture header_caption %}Latest Release v{{ site.data.kong_latest.version }} &bull; See <a href="{{ site.repos.kong }}/blob/master/CHANGELOG.md">Changelog</a> &bull; Check out the <a href="https://github.com/Mashape/kong/blob/master/UPGRADE.md">suggested upgrade paths</a> and the <a href="/docs/latest/network/">network &amp; firewall guide</a>{% endcapture %}
  {% include header.html header_caption=header_caption %}</a>
  <section class="content-section">
    <div class="container">
      <div class="distributions">
        {% for method in site.data.distributions %}
          {% capture mod %}{{ forloop.index0 | modulo:4 }}{% endcapture %}

          {% if mod == '0' or forloop.first %}
            <div class="row">
          {% endif %}

          <a href="{% if method.soon %}#{% else %}/install/{{ method.id }}/{% endif %}" class="box three columns {% if method.soon %}soon{% endif %}" title="{{ method.name }}">
            <img src="/assets/images/distributions/{{ method.id }}.{% if method.png %}png{% else %}svg{% endif %}" alt="{{ method.name }}"/>
          </a>

          {% if mod == '3' or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <br>
      <a href="https://mashape-kong.koding.com/Team/Join"> <img src="https://koding-cdn.s3.amazonaws.com/try_on_koding_1x.png" srcset="https://koding-cdn.s3.amazonaws.com/try_on_koding_1x.png 1x, https://koding-cdn.s3.amazonaws.com/try_on_koding_2x.png 2x" /> </a>
      <br><br>
      <p>Updating from an older version? Check out the <a href="{{ site.repos.kong }}/blob/master/UPGRADE.md">suggested upgrade paths</a>.</p>

    </div>
  </section>
</div>
