---
title: Kong Installation
layout: default
header_title: Kong Installation
header_icon: /assets/images/icons/icn-download.svg
redirect_to: https://konghq.com/install/
---

<div class="page page-install">
  {% capture header_caption %}Latest Release v{{ site.data.kong_latest.version }} &bull; See <a href="{{ site.repos.kong }}/blob/master/CHANGELOG.md">Changelog</a> &bull; Check out the <a href="https://github.com/kong/kong/blob/master/UPGRADE.md">suggested upgrade paths</a> and the <a href="/latest/network/">network &amp; firewall guide</a>{% endcapture %}
  {% include header.html header_caption=header_caption %}</a>
  <section class="content-section">
    <div class="container">
      <div class="distributions">
        {% for method in site.data.distributions %}
          <a href="{% if method.soon %}#{% else %}/install/{{ method.id }}/{% endif %}" class="box {% if method.soon %}soon{% endif %}" title="{{ method.name }}">
            <img src="/assets/images/distributions/{{ method.id }}.{% if method.png %}png{% else %}svg{% endif %}" alt="{{ method.name }}"/>
          </a>
        {% endfor %}
      </div>
      <br><br>
      <p>Updating from an older version? Check out the <a href="{{ site.repos.kong }}/blob/master/UPGRADE.md">suggested upgrade paths</a>.</p>

    </div>
  </section>
</div>
