---
title: Kong Installation
layout: default
redirect_from: /download/
header_title: Kong Installation
header_icon: /assets/images/icons/icn-download.svg
---

<div class="page page-install">
  {% capture header_caption %}Latest Release v{{ site.data.kong_latest.release }} &bull; See <a href="{{ site.repos.kong }}/blob/master/CHANGELOG.md">Changelog</a> &bull; Read the <a href="https://github.com/Mashape/kong/blob/master/UPDATE.md#update-to-kong-050">migration instructions</a> for versions < 0.5.x{% endcapture %}
  {% include header.html header_caption=header_caption %}

  <section class="content-section">
    <div class="container">

      <!-- <div class="box">
        <p>
          <img class="icon" src="/assets/images/icons/icn-script.svg"/>
          <strong>Kong Installation Script:</strong> Run this script in your server and automatically download the package you need.
        </p>
      </div> -->

      <!-- <h6>installation methods</h6> -->

      <div class="distributions">
        {% for method in site.data.distributions %}
          {% capture mod %}{{ forloop.index0 | modulo:4 }}{% endcapture %}

          {% if mod == '0' or forloop.first %}
            <div class="row">
          {% endif %}

          <a href="{% if method.soon %}#{% else %}/install/{{ method.id }}/{% endif %}" class="box three columns {% if method.soon %}soon{% endif %}" title="{{ method.name }}">
            <img src="/assets/images/distributions/{{ method.id }}.{% if method.png %}png{% else %}svg{% endif %}" alt="{{ method.name }}"/>
          </a>

          {% if mod == '3' or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>


      <p>Updating from an older version? Check the <a href="{{ site.repos.kong }}/blob/master/UPDATE.md">update guide</a>.</p>

    </div>
  </section>
</div>
