---
layout: default
title: Kong Plugin Hub
breadcrumbs: null
permalink: /hub/
body_id: page-hub
---

{% assign hub = site.data.ssg_hub %}
{% assign kong_extns = hub | where: "extn_publisher", "kong-inc" %}
{% assign third_extns = hub | where_exp: "extn", "extn.extn_publisher != 'kong-inc'" %}

{% assign categories = site.extensions.categories %}
{% assign types = site.extensions.types %}

<div class="page page-hub">
  <div class="page-header">
    <h1 id="main" tabindex="-1">Kong Plugin Hub</h1>
    <h2>Extend {{site.base_gateway}} and {{site.konnect_product_name}} with powerful plugins and easy integrations</h2>
  </div>
  <div class="container">
    <div class="row">
      <aside class="sidebar">
        <div class="sticky-top">
          <h3>Introduction</h3>
          <ul class="nav flex-column" id="introduction" role="menu">
            <li class="nav-item" role="menuitem">
              <a class="nav-link" href="/hub/plugins/overview">
                Plugin Overview
              </a>
            </li>
            <li class="nav-item" role="menuitem">
              <a class="nav-link" href="/hub/plugins/compatibility/">
                Compatibility
              </a>
            </li>
            <li class="nav-item" role="menuitem">
              <a class="nav-link" href="/hub/plugins/license-tiers/">
                License Tiers
              </a>
            </li>
          </ul>
          <h3>Filters</h3>
          <ul class="nav flex-column" id="facet-filters" role="menu">
            <p class="no-link">Plugin types</p>
            <li class="nav-item">
              <a href="" class="nav-link active" data-filter="" role="menuitem" tabindex="0">
                All Plugins
              </a>
            </li>
            <li class="nav-item">
              <a href="#konnect" class="nav-link" data-filter="konnect" role="menuitem" tabindex="0">
                Bundled with Konnect
              </a>
            </li>
            <li class="nav-item">
              <a href="#gateway" class="nav-link" data-filter="gateway" role="menuitem" tabindex="0">
                Bundled with Kong Gateway
              </a>
            </li>
            <li class="nav-item">
              <a href="#pub-not-konghq" class="nav-link" data-filter="pub-not-konghq" role="menuitem" tabindex="0">
                Third-Party
              </a>
            </li>
            <p class="no-link">Kong subscription tiers</p>
            <li class="nav-item">
              <a href="#open-source" class="nav-link" data-filter="open-source" role="menuitem" tabindex="0">
                Free
              </a>
            </li>
            <li class="nav-item">
              <a href="#plus" class="nav-link" data-filter="plus" role="menuitem" tabindex="0">
                Plus
              </a>
            </li>
            <li class="nav-item" role="menuitem">
              <a href="#ee-compat" class="nav-link" data-filter="ee-compat" role="menuitem" tabindex="0">
                Enterprise
              </a>
            </li>
          </ul>
          <h3>Functionality</h3>
          <ul class="nav flex-column" id="scroll-sidebar" role="menu">
            {% for cat in categories %}
              <li class="nav-item" role="menuitem">
                <a class="nav-link" data-link="scroll" href="#{{ cat.slug }}">
                  {{ cat.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <h3>Custom Plugins</h3>
          <ul class="nav flex-column" id="custom-plugins" role="menu">
              <li class="nav-item" role="menuitem">
                <a class="nav-link" href="/gateway/latest/pdk" target="_blank">
                  PDK reference
                </a>
              </li>
              <li class="nav-item" role="menuitem">
                <a class="nav-link" href="/gateway/latest/plugin-development" target="_blank">
                  Plugin development guide
                </a>
              </li>
              <li class="nav-item" role="menuitem">
                <a class="nav-link" href="/gateway/latest/reference/external-plugins" target="_blank">
                  Plugins in other languages
                </a>
              </li>
          </ul>
        </div>
      </div>
      <div class="hub-cards">
        <div class="row">
          {% for cat in categories %}
            <div class="row category" id="{{cat.slug}}">
              <h4>{{ cat.name }}</h4>
              {% assign extns = kong_extns | where_exp: "extn", "extn.metadata.categories contains cat.slug" %}
              {% for extn in extns  %}
                {% include hub_cards.html header_icon=page.header_icon %}
              {% endfor %}
              {% assign extns = third_extns | where_exp: "extn", "extn.categories contains cat.slug" %}
              {% for extn in extns  %}
                {% include hub_cards.html header_icon=page.header_icon %}
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>
