---
layout: default
title: Kong Plugin Hub
breadcrumbs: null
permalink: /hub/
body_id: page-hub
---

{% assign hub = site.data.ssg_hub %}
{% assign kong_extns = hub | where: "extn_publisher", "kong-inc" %}
{% assign third_party_extns = hub | where_exp: "extn", "extn.extn_publisher != 'kong-inc'" %}

{% assign categories = site.data.extensions.categories %}
{% assign types = site.data.extensions.types %}

<div class="page page-hub">
  <div class="page-hub--header-background"></div>
  <div class="page-hub--header">
    <h1 id="main" tabindex="-1">{% t hub.index.title %}</h1>
    <h2>{% t hub.index.subtitle base_gateway=site.base_gateway konnect_product_name=site.konnect_product_name %}</h2>
    <h3><a href="/hub/plugins/overview/">{% t hub.index.plugin_overview %}</a> | <a href="/hub/plugins/compatibility/">{% t hub.index.compatibility %}</a> | <a href="/hub/plugins/license-tiers/">{% t hub.index.license_tiers %}</a></h3>
  </div>

  <div class="container">
    <div class="page-hub--wrapper">
      <div class="page-hub--container">
        <div class="page-hub--filters">
          <div class="page-hub--filters__filter page-hub--filters__filter-name">
            <img src="/assets/images/icons/hub-layout/filter_list.svg" alt="Filter plugins icon" />
            <input type='text' id='filter-plugins' placeholder="Filter plugins"/>
            <div class="clear-search"><img src="/assets/images/icons/documentation/close.svg" alt="Clear search icon" /></div>
          </div>
          <div class="page-hub--filters__filter page-hub--filters__filter-tiers">
            {% capture label %}{% t hub.index.labels.tiers %}{% endcapture %}
            {% include components/dropdown.html label=label field_name='tier' options=site.data.hub_filters.tiers %}
          </div>
          <div class="page-hub--filters__filter page-hub--filters__filter-categories">
            {% capture label %}{% t hub.index.labels.functionality %}{% endcapture %}
            {% include components/dropdown.html label=label field_name='category' options=categories %}
          </div>
          <div class="page-hub--filters__filter page-hub--filters__filter-support">
            {% capture label %}{% t hub.index.labels.support_by %}{% endcapture %}
            {% include components/dropdown.html label=label field_name='support' options=site.data.hub_filters.support %}
          </div>
          <div class="page-hub--filters__filter page-hub--filters__filter-compatibility">
            {% capture label %}{% t hub.index.labels.compatibility %}{% endcapture %}
            {% include components/dropdown.html label=label field_name='compatibility' options=site.data.hub_filters.compatibility %}
          </div>
        </div>

        {% include missing_translation_banner.html %}

        {% for cat in categories %}
        {% assign weighted_extns = kong_extns | where_exp: "extn", "extn.categories contains cat.slug and extn.weight != nil" | sort: "weight", "last" %}
        {% assign extns = kong_extns | where_exp: "extn", "extn.categories contains cat.slug and extn.weight == nil" | sort: "name" %}
        {% assign extns = weighted_extns | concat: extns %}

        {% assign third_extns = third_party_extns | where_exp: "extn", "extn.categories contains cat.slug" %}
          {% if extns.size > 0 or third_extns.size > 0 %}
            <div class="page-hub--category active" id="{{cat.slug}}">
              <h4 class="page-hub--category-title">{{ cat.name }}</h4>
              <div class="page-hub--category-cards">
                {% for extn in extns  %}
                  {% include hub_cards.html header_icon=page.header_icon %}
                {% endfor %}
                {% for extn in third_extns  %}
                  {% include hub_cards.html header_icon=page.header_icon %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}

        <!-- Separate section for third-party plugins that we don't want to generate as a functionality category -->
          <div class="page-hub--category active" id="third-party">
            <h4 class="page-hub--category-title">{% t hub.index.contact_3rd_party %}</h4>
            <div class="page-hub--category-cards">
              {% for extn in third_party_extns  %}
                {% unless extn.techpartner %}
                  {% include hub_cards.html header_icon=page.header_icon %}
                {% endunless %}
              {% endfor %}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
