openapi: 3.0.3
info:
  title: Konnect Mesh Control Plane manager
  description: Control Plane manager API
  version: 0.0.1
  contact:
    name: Kong
    url: 'https://konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v1'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v1'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v1'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v1'
    description: Middle-East Production region
paths:
  '/mesh/control-planes/{cpId}/api':
    get:
      operationId: index
      summary: The index endpoint
      description: 'The index endpoint, some common metadata'
      responses:
        '200':
          $ref: '#/components/responses/IndexResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - System
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/_resources':
    get:
      operationId: get-resource-type-description
      summary: A list of all resources that exist
      description: Returns a Global Insight object
      responses:
        '200':
          $ref: '#/components/responses/ResourceTypeDescriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - System
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/global-insight':
    get:
      operationId: get-global-insight
      summary: Get Global Insight
      description: Returns a Global Insight object
      responses:
        '200':
          $ref: '#/components/responses/GlobalInsightResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - GlobalInsight
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/{resourceType}/{resourceName}/_rules':
    get:
      operationId: inspect-dataplanes-rules
      summary: Returns rules matching this dataplane
      description: Returns rules matching this dataplane
      parameters:
        - name: mesh
          in: path
          description: The mesh the policy is part of
          required: true
          schema:
            type: string
          example: default
        - name: resourceType
          in: path
          description: The type of resource (only some resources support rules api)
          required: true
          schema:
            type: string
            enum:
              - dataplanes
              - meshgateways
          example: dataplanes
        - name: resourceName
          in: path
          description: The name of the resource
          required: true
          schema:
            type: string
          example: my-dp
      responses:
        '200':
          $ref: '#/components/responses/InspectRulesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - Inspect
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/dataplanes/{name}/_config':
    get:
      operationId: get-meshes-mesh-dataplanes-name-config
      summary: Get a proxy XDS config on a CP
      description: 'Returns the configuration of the proxy ([xds](https://www.envoyproxy.io/docs/envoy/latest/api-docs/xds_protocol) configuration).'
      parameters:
        - name: mesh
          in: path
          description: The mesh of the DPP to get the diff for.
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: The name of the DPP within the mesh to get the diff for.
          required: true
          schema:
            type: string
        - name: shadow
          in: query
          description: |
            When computing XDS config the CP takes into account policies with 'kuma.io/effect: shadow' label
          schema:
            type: boolean
            default: false
        - name: include
          in: query
          description: |
            An array of extra fields to include in the response. When `include=diff` the server computes a diff in JSONPatch format
            between the current proxy XDS config and the config returned in the 'xds' field.
          schema:
            type: array
            items:
              type: string
              enum:
                - diff
      responses:
        '200':
          $ref: '#/components/responses/InspectDataplanesConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/{policyType}/{policyName}/_resources/dataplanes':
    get:
      operationId: inspect-resources
      summary: Returns resources matched by this policy
      description: Returns resources matched by this policy. In the case of `targetRef` policies we'll match using the top level `targetRef`
      parameters:
        - name: mesh
          in: path
          description: The mesh the policy is part of
          required: true
          schema:
            type: string
          example: default
        - name: policyType
          in: path
          description: The type of the policy
          required: true
          schema:
            type: string
          example: meshretries
        - name: policyName
          in: path
          description: The type of the policy
          required: true
          schema:
            type: string
          example: retry-all
        - name: size
          in: query
          description: The max number of items to return
          required: false
          schema:
            type: integer
        - name: offset
          in: query
          description: The offset of result
          required: false
          schema:
            type: integer
        - name: name
          in: query
          description: A sub string to filter resources by name
          required: false
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/InspectDataplanesForPolicyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - Inspect
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/{serviceType}/{serviceName}/_hostnames':
    get:
      operationId: inspect-hostnames
      summary: Returns hostnames for service
      description: Returns hostnames for a service
      parameters:
        - name: mesh
          in: path
          description: The mesh the service is part of
          required: true
          schema:
            type: string
          example: default
        - name: serviceType
          in: path
          description: The type of the service
          required: true
          schema:
            type: string
            enum:
              - meshservices
              - meshmultizoneservices
              - meshexternalservices
          example: meshservices
        - name: serviceName
          in: path
          description: The name of the service
          required: true
          schema:
            type: string
          example: redis
      responses:
        '200':
          $ref: '#/components/responses/InspectHostnamesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
      tags:
        - Inspect
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#create':
    get:
      operationId: getMeshAccessLog
      summary: Returns MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    delete:
      operationId: deleteMeshAccessLog
      summary: Deletes MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse'
      tags:
        - MeshAccessLog
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs/{name}#update':
    put:
      operationId: updateMeshAccessLog
      summary: Creates or Updates MeshAccessLog entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshAccessLog
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshAccessLogItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshAccessLogCreateOrUpdateSuccessResponse'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshaccesslogs':
    get:
      operationId: getMeshAccessLogList
      summary: Returns a list of MeshAccessLog in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshAccessLogList'
      tags:
        - MeshAccessLog
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#create':
    get:
      operationId: getMeshCircuitBreaker
      summary: Returns MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    delete:
      operationId: deleteMeshCircuitBreaker
      summary: Deletes MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
      tags:
        - MeshCircuitBreaker
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers/{name}#update':
    put:
      operationId: updateMeshCircuitBreaker
      summary: Creates or Updates MeshCircuitBreaker entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshCircuitBreaker
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshCircuitBreakerItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCircuitBreakerCreateOrUpdateSuccessResponse'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshcircuitbreakers':
    get:
      operationId: getMeshCircuitBreakerList
      summary: Returns a list of MeshCircuitBreaker in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshCircuitBreakerList'
      tags:
        - MeshCircuitBreaker
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#create':
    get:
      operationId: getMeshFaultInjection
      summary: Returns MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    delete:
      operationId: deleteMeshFaultInjection
      summary: Deletes MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse'
      tags:
        - MeshFaultInjection
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections/{name}#update':
    put:
      operationId: updateMeshFaultInjection
      summary: Creates or Updates MeshFaultInjection entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshFaultInjection
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshFaultInjectionItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshFaultInjectionCreateOrUpdateSuccessResponse'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshfaultinjections':
    get:
      operationId: getMeshFaultInjectionList
      summary: Returns a list of MeshFaultInjection in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshFaultInjectionList'
      tags:
        - MeshFaultInjection
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#create':
    get:
      operationId: getMeshHealthCheck
      summary: Returns MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    delete:
      operationId: deleteMeshHealthCheck
      summary: Deletes MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse'
      tags:
        - MeshHealthCheck
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks/{name}#update':
    put:
      operationId: updateMeshHealthCheck
      summary: Creates or Updates MeshHealthCheck entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHealthCheck
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHealthCheckItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHealthCheckCreateOrUpdateSuccessResponse'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhealthchecks':
    get:
      operationId: getMeshHealthCheckList
      summary: Returns a list of MeshHealthCheck in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHealthCheckList'
      tags:
        - MeshHealthCheck
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#create':
    get:
      operationId: getMeshHTTPRoute
      summary: Returns MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    delete:
      operationId: deleteMeshHTTPRoute
      summary: Deletes MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshHTTPRoute
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes/{name}#update':
    put:
      operationId: updateMeshHTTPRoute
      summary: Creates or Updates MeshHTTPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshHTTPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshHTTPRouteItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshHTTPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshhttproutes':
    get:
      operationId: getMeshHTTPRouteList
      summary: Returns a list of MeshHTTPRoute in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshHTTPRouteList'
      tags:
        - MeshHTTPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#create':
    get:
      operationId: getMeshLoadBalancingStrategy
      summary: Returns MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    delete:
      operationId: deleteMeshLoadBalancingStrategy
      summary: Deletes MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshLoadBalancingStrategyDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
      tags:
        - MeshLoadBalancingStrategy
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies/{name}#update':
    put:
      operationId: updateMeshLoadBalancingStrategy
      summary: Creates or Updates MeshLoadBalancingStrategy entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshLoadBalancingStrategy
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshLoadBalancingStrategyItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshLoadBalancingStrategyCreateOrUpdateSuccessResponse'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshloadbalancingstrategies':
    get:
      operationId: getMeshLoadBalancingStrategyList
      summary: Returns a list of MeshLoadBalancingStrategy in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshLoadBalancingStrategyList'
      tags:
        - MeshLoadBalancingStrategy
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#create':
    get:
      operationId: getMeshMetric
      summary: Returns MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    delete:
      operationId: deleteMeshMetric
      summary: Deletes MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshMetric
      summary: Creates or Updates MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      tags:
        - MeshMetric
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics/{name}#update':
    put:
      operationId: updateMeshMetric
      summary: Creates or Updates MeshMetric entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMetric
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMetricItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMetricCreateOrUpdateSuccessResponse'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmetrics':
    get:
      operationId: getMeshMetricList
      summary: Returns a list of MeshMetric in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMetricList'
      tags:
        - MeshMetric
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#create':
    get:
      operationId: getMeshPassthrough
      summary: Returns MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    delete:
      operationId: deleteMeshPassthrough
      summary: Deletes MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse'
      tags:
        - MeshPassthrough
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs/{name}#update':
    put:
      operationId: updateMeshPassthrough
      summary: Creates or Updates MeshPassthrough entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshPassthrough
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshPassthroughItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshPassthroughCreateOrUpdateSuccessResponse'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshpassthroughs':
    get:
      operationId: getMeshPassthroughList
      summary: Returns a list of MeshPassthrough in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshPassthroughList'
      tags:
        - MeshPassthrough
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#create':
    get:
      operationId: getMeshProxyPatch
      summary: Returns MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    delete:
      operationId: deleteMeshProxyPatch
      summary: Deletes MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse'
      tags:
        - MeshProxyPatch
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches/{name}#update':
    put:
      operationId: updateMeshProxyPatch
      summary: Creates or Updates MeshProxyPatch entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshProxyPatch
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshProxyPatchItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshProxyPatchCreateOrUpdateSuccessResponse'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshproxypatches':
    get:
      operationId: getMeshProxyPatchList
      summary: Returns a list of MeshProxyPatch in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshProxyPatchList'
      tags:
        - MeshProxyPatch
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#create':
    get:
      operationId: getMeshRateLimit
      summary: Returns MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    delete:
      operationId: deleteMeshRateLimit
      summary: Deletes MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshRateLimit
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits/{name}#update':
    put:
      operationId: updateMeshRateLimit
      summary: Creates or Updates MeshRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRateLimitItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshratelimits':
    get:
      operationId: getMeshRateLimitList
      summary: Returns a list of MeshRateLimit in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRateLimitList'
      tags:
        - MeshRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#create':
    get:
      operationId: getMeshRetry
      summary: Returns MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    delete:
      operationId: deleteMeshRetry
      summary: Deletes MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshRetry
      summary: Creates or Updates MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryCreateOrUpdateSuccessResponse'
      tags:
        - MeshRetry
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries/{name}#update':
    put:
      operationId: updateMeshRetry
      summary: Creates or Updates MeshRetry entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshRetry
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshRetryItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshRetryCreateOrUpdateSuccessResponse'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshretries':
    get:
      operationId: getMeshRetryList
      summary: Returns a list of MeshRetry in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshRetryList'
      tags:
        - MeshRetry
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}#create':
    get:
      operationId: getMeshTCPRoute
      summary: Returns MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    delete:
      operationId: deleteMeshTCPRoute
      summary: Deletes MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshTCPRoute
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes/{name}#update':
    put:
      operationId: updateMeshTCPRoute
      summary: Creates or Updates MeshTCPRoute entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTCPRoute
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTCPRouteItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTCPRouteCreateOrUpdateSuccessResponse'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtcproutes':
    get:
      operationId: getMeshTCPRouteList
      summary: Returns a list of MeshTCPRoute in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTCPRouteList'
      tags:
        - MeshTCPRoute
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}#create':
    get:
      operationId: getMeshTimeout
      summary: Returns MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    delete:
      operationId: deleteMeshTimeout
      summary: Deletes MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutCreateOrUpdateSuccessResponse'
      tags:
        - MeshTimeout
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts/{name}#update':
    put:
      operationId: updateMeshTimeout
      summary: Creates or Updates MeshTimeout entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTimeout
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTimeoutItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTimeoutCreateOrUpdateSuccessResponse'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtimeouts':
    get:
      operationId: getMeshTimeoutList
      summary: Returns a list of MeshTimeout in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTimeoutList'
      tags:
        - MeshTimeout
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses/{name}#create':
    get:
      operationId: getMeshTLS
      summary: Returns MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
    delete:
      operationId: deleteMeshTLS
      summary: Deletes MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTLS
      summary: Creates or Updates MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSCreateOrUpdateSuccessResponse'
      tags:
        - MeshTLS
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses/{name}#update':
    put:
      operationId: updateMeshTLS
      summary: Creates or Updates MeshTLS entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTLS
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTLSItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTLSCreateOrUpdateSuccessResponse'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtlses':
    get:
      operationId: getMeshTLSList
      summary: Returns a list of MeshTLS in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTLSList'
      tags:
        - MeshTLS
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces/{name}#create':
    get:
      operationId: getMeshTrace
      summary: Returns MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
    delete:
      operationId: deleteMeshTrace
      summary: Deletes MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTrace
      summary: Creates or Updates MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrace
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces/{name}#update':
    put:
      operationId: updateMeshTrace
      summary: Creates or Updates MeshTrace entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrace
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTraceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTraceCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtraces':
    get:
      operationId: getMeshTraceList
      summary: Returns a list of MeshTrace in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTraceList'
      tags:
        - MeshTrace
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions/{name}#create':
    get:
      operationId: getMeshTrafficPermission
      summary: Returns MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
    delete:
      operationId: deleteMeshTrafficPermission
      summary: Deletes MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTrafficPermissionDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshTrafficPermission
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshTrafficPermission
      summary: Creates or Updates MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrafficPermission
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions/{name}#update':
    put:
      operationId: updateMeshTrafficPermission
      summary: Creates or Updates MeshTrafficPermission entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshTrafficPermission
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshTrafficPermissionItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshTrafficPermissionCreateOrUpdateSuccessResponse'
      tags:
        - MeshTrafficPermission
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshtrafficpermissions':
    get:
      operationId: getMeshTrafficPermissionList
      summary: Returns a list of MeshTrafficPermission in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshTrafficPermissionList'
      tags:
        - MeshTrafficPermission
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{name}':
    get:
      operationId: getMesh
      summary: Returns Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Mesh
    put:
      operationId: putMesh
      summary: Creates or Updates Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCreateOrUpdateSuccessResponse'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshCreateOrUpdateSuccessResponse'
      tags:
        - Mesh
    delete:
      operationId: deleteMesh
      summary: Deletes Mesh entity
      parameters:
        - name: name
          in: path
          description: name of the Mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Mesh
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes':
    get:
      operationId: getMeshList
      summary: Returns a list of Mesh in the mesh.
      responses:
        '200':
          $ref: '#/components/responses/MeshList'
      tags:
        - Mesh
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways/{name}#create':
    get:
      operationId: getMeshGateway
      summary: Returns MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGateway
    delete:
      operationId: deleteMeshGateway
      summary: Deletes MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGatewayDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshGateway
      summary: Creates or Updates MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGatewayItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGatewayCreateOrUpdateSuccessResponse'
      tags:
        - MeshGateway
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways/{name}#update':
    put:
      operationId: updateMeshGateway
      summary: Creates or Updates MeshGateway entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGateway
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGatewayItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGatewayCreateOrUpdateSuccessResponse'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshgateways':
    get:
      operationId: getMeshGatewayList
      summary: Returns a list of MeshGateway in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGatewayList'
      tags:
        - MeshGateway
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/hostnamegenerators/{name}#create':
    get:
      operationId: getHostnameGenerator
      summary: Returns HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/HostnameGeneratorItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - HostnameGenerator
    delete:
      operationId: deleteHostnameGenerator
      summary: Deletes HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostnameGeneratorDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - HostnameGenerator
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createHostnameGenerator
      summary: Creates or Updates HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostnameGeneratorItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostnameGeneratorCreateOrUpdateSuccessResponse'
      tags:
        - HostnameGenerator
  '/mesh/control-planes/{cpId}/api/hostnamegenerators/{name}#update':
    put:
      operationId: updateHostnameGenerator
      summary: Creates or Updates HostnameGenerator entity
      parameters:
        - name: name
          in: path
          description: name of the HostnameGenerator
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostnameGeneratorItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostnameGeneratorCreateOrUpdateSuccessResponse'
      tags:
        - HostnameGenerator
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/hostnamegenerators':
    get:
      operationId: getHostnameGeneratorList
      summary: Returns a list of HostnameGenerator in the mesh.
      responses:
        '200':
          $ref: '#/components/responses/HostnameGeneratorList'
      tags:
        - HostnameGenerator
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshexternalservices/{name}#create':
    get:
      operationId: getMeshExternalService
      summary: Returns MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshExternalServiceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshExternalService
    delete:
      operationId: deleteMeshExternalService
      summary: Deletes MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshExternalServiceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshExternalService
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshExternalService
      summary: Creates or Updates MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshExternalServiceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshExternalServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshExternalService
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshexternalservices/{name}#update':
    put:
      operationId: updateMeshExternalService
      summary: Creates or Updates MeshExternalService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshExternalService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshExternalServiceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshExternalServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshExternalService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshexternalservices':
    get:
      operationId: getMeshExternalServiceList
      summary: Returns a list of MeshExternalService in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshExternalServiceList'
      tags:
        - MeshExternalService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmultizoneservices/{name}#create':
    get:
      operationId: getMeshMultiZoneService
      summary: Returns MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMultiZoneServiceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMultiZoneService
    delete:
      operationId: deleteMeshMultiZoneService
      summary: Deletes MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMultiZoneServiceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshMultiZoneService
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshMultiZoneService
      summary: Creates or Updates MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMultiZoneServiceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMultiZoneServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshMultiZoneService
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmultizoneservices/{name}#update':
    put:
      operationId: updateMeshMultiZoneService
      summary: Creates or Updates MeshMultiZoneService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshMultiZoneService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshMultiZoneServiceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshMultiZoneServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshMultiZoneService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshmultizoneservices':
    get:
      operationId: getMeshMultiZoneServiceList
      summary: Returns a list of MeshMultiZoneService in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshMultiZoneServiceList'
      tags:
        - MeshMultiZoneService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshservices/{name}#create':
    get:
      operationId: getMeshService
      summary: Returns MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshServiceItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshService
    delete:
      operationId: deleteMeshService
      summary: Deletes MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshServiceDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshService
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshService
      summary: Creates or Updates MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshServiceItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshService
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshservices/{name}#update':
    put:
      operationId: updateMeshService
      summary: Creates or Updates MeshService entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshService
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshServiceItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshServiceCreateOrUpdateSuccessResponse'
      tags:
        - MeshService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshservices':
    get:
      operationId: getMeshServiceList
      summary: Returns a list of MeshService in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshServiceList'
      tags:
        - MeshService
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshglobalratelimits/{name}#create':
    get:
      operationId: getMeshGlobalRateLimit
      summary: Returns MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGlobalRateLimitItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGlobalRateLimit
    delete:
      operationId: deleteMeshGlobalRateLimit
      summary: Deletes MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGlobalRateLimitDeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshGlobalRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshGlobalRateLimit
      summary: Creates or Updates MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGlobalRateLimitItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGlobalRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshGlobalRateLimit
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshglobalratelimits/{name}#update':
    put:
      operationId: updateMeshGlobalRateLimit
      summary: Creates or Updates MeshGlobalRateLimit entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshGlobalRateLimit
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshGlobalRateLimitItem'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshGlobalRateLimitCreateOrUpdateSuccessResponse'
      tags:
        - MeshGlobalRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshglobalratelimits':
    get:
      operationId: getMeshGlobalRateLimitList
      summary: Returns a list of MeshGlobalRateLimit in the mesh.
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshGlobalRateLimitList'
      tags:
        - MeshGlobalRateLimit
    parameters:
      - $ref: '#/components/parameters/cpId'
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshopas/{name}#create':
    get:
      operationId: getMeshOPA
      summary: Returns MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/MeshOPAItem'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshOPA
    delete:
      operationId: deleteMeshOPA
      summary: Deletes MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshOPADeleteSuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - MeshOPA
    parameters:
      - $ref: '#/components/parameters/cpId'
    put:
      operationId: createMeshOPA
      summary: Creates or Updates MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshOPAItem'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeshOPACreateOrUpdateSuccessResponse'
      tags:
        - MeshOPA
  '/mesh/control-planes/{cpId}/api/meshes/{mesh}/meshopas/{name}#update':
    put:
      operationId: updateMeshOPA
      summary: Creates or Updates MeshOPA entity
      parameters:
        - name: mesh
          in: path
          description: name of the mesh
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: name of the MeshOPA
          required: true
          schema:
            type: string
      requestBody:
        description: Put request
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeshOPAItem'
      responses:
[...]
