---
title: Kong Community
layout: default
header_title: Community
header_icon: /assets/images/icons/icn-community.svg
header_caption: Be part part of the movement and join the growing Kong community
community_tools:
  - name: Ansible role for Kong on Ubuntu
    website: https://github.com/Getsidecar/ansible-role-kong

  - name: Biplane
    description: "declarative configuration in Crystal"
    website: https://github.com/articulate/biplane

  - name: Bonobo
    description: "key management (with Mashery migration scripts)"
    website: https://github.com/guardian/bonobo

  - name: Chef Cookbook
    website: https://github.com/zuazo/kong-cookbook

  - name: Django Kong Admin
    description: "Admin UI in JavaScript"
    website: https://github.com/vikingco/django-kong-admin

  - name: Jungle
    description: "Admin UI in JavaScript"
    website: https://github.com/rsdevigo/jungle

  - name: Kong Dashboard
    description: "Admin UI in JavaScript"
    website: https://github.com/PGBI/kong-dashboard

  - name: Kong for CanopyCloud
    website: https://github.com/CanopyCloud/cip-kong

  - name: Kong image waiting for Cassandra
    website: https://github.com/articulate/docker-kong-wait

  - name: Kong image for Tatum
    website: https://github.com/Sillelien/docker-kong

  - name: Kong-UI
    description: "Admin UI in JavaScript"
    website: https://github.com/msaraf/kong-ui

  - name: Konga
    description: "CLI Admin tool in JavaScript"
    website: https://github.com/Floby/konga-cli

  - name: Kongfig
    description: "Declarative configuration in JavaScript"
    website: https://github.com/mybuilder/kongfig

  - name: Kongfig on Puppet Forge
    website: https://forge.puppet.com/mybuilder/kongfig

  - name: Puppet receipe
    website: https://github.com/scottefein/puppet-nyt-kong

  - name: Python-Kong
    description: "Admin client library for Python"
    website: https://pypi.python.org/pypi/python-kong/

  - name: .NET-Kong
    description: "Admin client library for .NET"
    website: https://www.nuget.org/packages/Kong/0.0.4

  - name: kong-java-client
    description: "Admin client library for Java"
    website: https://github.com/vaibhav-sinha/kong-java-client

  - name: KongDash
    description: "Cross-platform desktop client for Admin API"
    website: https://ajaysreedhar.github.io/kongdash/

community_meetups:
  - name: Kong Amsterdam
    website: http://www.meetup.com/Kong-AMSTERDAM/

  - name: Kong Beijing
    website: http://www.meetup.com/Kong-BEIJING/

  - name: Kong Bangalore
    website: http://www.meetup.com/Kong-BANGALORE/

  - name: Kong Barcelona
    website: http://www.meetup.com/Kong-BARCELONA/

  - name: Kong Berlin
    website: http://www.meetup.com/Kong-BERLIN/

  - name: Kong Boston
    website: http://www.meetup.com/Kong-BOSTON/

  - name: Kong Chicago
    website: http://www.meetup.com/Kong-CHICAGO/

  - name: Kong Detroit
    website: http://www.meetup.com/Kong-DETROIT/

  - name: Kong Hong Kong
    website: http://www.meetup.com/Kong_Hong_Kong/

  - name: Kong Jakarta
    website: http://www.meetup.com/Kong-JAKARTA/

  - name: Kong London
    website: http://www.meetup.com/Kong-LONDON/

  - name: Kong Miami
    website: http://www.meetup.com/Kong-MIAMI/

  - name: Kong Milano
    website: http://www.meetup.com/Kong-Milano/

  - name: Kong Moscow
    website: http://www.meetup.com/Kong-MOSCOW/

  - name: Kong New York
    website: http://www.meetup.com/Kong-NY/

  - name: Kong Paris
    website: http://www.meetup.com/Kong-PARIS/

  - name: Kong San Francisco
    website: http://www.meetup.com/Kong-SF/

  - name: Kong Sao Paulo
    website: http://www.meetup.com/Kong-SAO-PAULO/

  - name: Kong Seattle
    website: http://www.meetup.com/Kong-SEATTLE/

  - name: Kong Seoul
    website: http://www.meetup.com/Kong-SEOUL/

  - name: Kong Sydney
    website: http://www.meetup.com/Kong-SYDNEY/

  - name: Kong Tel Aviv-Yafo
    website: http://www.meetup.com/Kong-TEL-AVIV/

  - name: Kong Tokyo
    website: http://www.meetup.com/Kong-TOKYO

  - name: Kong Toronto
    website: http://www.meetup.com/Kong-toronto/
---

<div class="page page-community">
  {% include header.html %}

  <div class="container">
    <div class="content">
      <h3>Community Resources</h3>

      <div class="row">
        <div class="community-plate column one-half">
          <div class="community-plate-header">
            <h4>
              <img src="/assets/images/logos/logo-github.svg" width="32" height="32" alt="GitHub"/>
              Github Issues
            </h4>
          </div>
          <div class="community-plate-content">
            <p>If you've come across what you think is a bug, or just want to make a feature request open a ticket in the <a href="{{ site.repos.kong }}/issues">issue queue</a>.</p>
          </div>
        </div>

        <div class="community-plate column one-half">
          <div class="community-plate-header">
            <h4>
              <img src="/assets/images/logos/logo-google.svg" width="32" height="32" alt="Google"/>
              Google Group
            </h4>
          </div>
          <div class="community-plate-content">
            <p>Have an issue or question? <a href="https://groups.google.com/forum/#!forum/konglayer">Join us</a> in the Google Group and browse existing discussions.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="community-plate column one-half">
          <div class="community-plate-header">
            <h4>
              <img src="/assets/images/logos/logo-gitter.svg" width="32" height="32" alt="Gitter"/>
              Gitter
            </h4>
          </div>
          <div class="community-plate-content">
            <p>The Gitter chatroom is a great place for developers interested in everyday discussion related to Kong.</p>
            <p>
              <a href="https://gitter.im/Mashape/kong?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://camo.githubusercontent.com/da2edb525cde1455a622c58c0effc3a90b9a181c/68747470733a2f2f6261646765732e6769747465722e696d2f4a6f696e253230436861742e737667" alt="Gitter" data-canonical-src="https://badges.gitter.im/Join%20Chat.svg" style="max-width:100%;"></a>
            </p>
          </div>
        </div>

        <div class="community-plate column one-half">
          <div class="community-plate-header">
            <h4>
              <img src="/assets/images/icons/icn-enterprise-round.svg" width="32" height="32" alt="Enterprise"/>
              Enterprise Subscription
            </h4>
          </div>
          <div class="community-plate-content">
            <p>Kong offers subscription plans for Kong Manager, Support, Consulting &amp; Training . <br/> <br/><a href="/enterprise">REQUEST INFO &amp; DEMO!</a></p>
          </div>
        </div>
      </div>

      <hr/>

      <!--<h3><img src="/assets/images/logos/logo-meetup.png" width="48" height="32" alt="Meetup"/>Upcoming Meetups</h3>
      <ul>
        <li>
          <a href="http://www.meetup.com/The-Mashape-API-Developer-Community/events/223323734/" target="_blank">
            <strong>July 16th (San Francisco): KONG meetup #2! 0.4 release (OAuth2 support)</strong>
          </a>
        </li>
      </ul>-->

      <!-- Meetups -->
      <h3><img src="/assets/images/logos/logo-meetup.png" width="48" height="32" alt="Meetup"/>Kong Community Meetups</h3>

      <ul>
        <li>Be part of the Kong Community and <a href="http://kong.meetup.com/" target="_blank">start</a> yours or join one of these meetups below!</li>

      {% for community in page.community_meetups %}
        <li><a href="{{ community.website }}" target="_blank">{{ community.name }}</a>
      {% endfor %}
      </ul>


      <!-- Community Tools -->
      <h3><img src="/assets/images/icons/icn-developers-blue.svg" width="48" height="32" alt="Meetup"/>Tools Maintained By The Community</h3>

      <ul>
      {% for tool in page.community_tools %}
        <li><a href="{{ tool.website }}" target="_blank">{{ tool.name }}</a>{% if tool.description %}: {{tool.description}}{% endif %}</li>
      {% endfor %}
      </ul>

    </div>
  </div>
</div>
