---
layout: default
title: Kong Catalog
sitemap: true
breadcrumbs: null
permalink: /catalog/
body_id: page-catalog
---

{% assign catalog = site.catalog %}
{% assign categories = site.extensions.categories %}

<div class="page page-catalog">
  {% include header.html %}

  <div class="container">

    <h2 class="text-center">Kong Catalog</h2>
    <h3 class="text-center">Extend Kong with powerful plugins and integrations.</h3>
    <div class="kong-plugins">
      <div class="row">
        <div class="col-12 col-lg-9 cards-collection" >
          <div class="row mb-2x">
            {% for extn in catalog %}
              {% assign path_array = extn.path | split: "/" %}
              {% assign filename = path_array | last %}
              {% assign extn_slug = path_array[2] %}
              {% assign extn_publisher = path_array[1] %}
              {% capture extn_id %}{{ extn_publisher }}_{{ extn_slug }}{% endcapture %}
              {% if filename == "index.md" and extn.type %}
                {% if page.header_icon %}
                  {% assign header_icon = page.header_icon %}
                {% else %}
                  {% capture header_icon %}/assets/images/icons/catalog/{{ extn_id }}.png{% endcapture %}
                {% endif %}
                {% assign extn_slug_array = extn_slug | split: "-" %}
                <div class="col-12 col-md-6 col-lg-4 my-1x card-group">
                  <div class="card plugin-card align-items-center {{ extn.type }} {% if extn.enterprise %}enterprise{% else %}open-source{% endif %} {{ extn.categories | join: ' ' }} {% if extn_publisher == 'konghq' %}pub-konghq{% else %}pub-not-konghq{% endif %}">
                    <div class="name-desc">
                      <a href="{{ extn.url | remove: '/index' }}">
                        <img class="card-img-top" src="{{ header_icon }}" width="64" height="64"/>
                        <p class="lg mt-1x fw-500">{{ extn.name }}</p>
                        <p class="sm">{{ extn.desc }}</p>
                      </a>
                    </div>
                    <div class="support-by">
                      Support by:<br>
                      {% if extn_publisher == "konghq" %}
                        {% include svgs.html img='team-kong-icon' %}
                      {% else %}
                        {{ extn_publisher }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div><!-- row mb-2x  -->
        </div><!-- col-12  -->
      </div><!-- row -->
    </div><!-- kong-plugins -->
  </div><!-- container -->
</div><!-- page -->
