name: Kong Service Virtualization
api_id: true
dbless_compatible: yes
publisher: Optum

categories:
  - traffic-control

desc: Mock virtual API request and response pairs through Kong Gateway

description: |
  This plugin will enable mocking virtual API request and response pairs through Kong Gateway.

support_url: https://github.com/Optum/kong-service-virtualization/issues

source_code: https://github.com/Optum/kong-service-virtualization

license_type: Apache-2.0

kong_version_compatibility:
  community_edition:
    compatible:
      - 0.14.x
      - 0.13.x

  enterprise_edition:
    compatible:
      - 0.34-x
      - 0.33-x
      - 0.32-x
