.DS_Store

# ignore binstubs
bin

# ignore local install file
install
# don't ignore the install folder
!install/

.env
.che
.vagrant
.buildpath
.project
.bundle
.idea
.ruby-gemset
*.log
.vscode/
yarn.lock

# jekyll
dist
.jekyll-metadata
.jekyll-cache

# deploy
.gh-pages

# package managers
node_modules
vendor

# pdf generation
pdf-generation/pdfs/*.pdf
