.DS_Store
.env
.che
.vagrant
.buildpath
.project
.bundle
.idea
.ruby-version
.ruby-gemset
*.log
.vscode/
yarn.lock

# jekyll
Gemfile.lock
dist
.jekyll-metadata

# deploy
.gh-pages

# package managers
node_modules
vendor
