.DS_Store
install
.env
.che
.vagrant
.buildpath
.project
.bundle
.idea
.ruby-version
.ruby-gemset
*.log
.vscode/
yarn.lock

# jekyll
dist
.jekyll-metadata

# deploy
.gh-pages

# package managers
node_modules
vendor

# pdf generation
pdf-generation/pdfs/*.pdf
