language: node_js
node_js:
  - "4"

sudo: false
notifications:
  email: false

cache:
  bundler: true
  directories:
    - node_modules

before_install:
  - rvm install 2.3.3
install:
  - bundle install
  - npm install -g yarn
  - yarn install

before_script:
  - npm test
script:
  - gulp build
