openapi: 3.0.3
info:
  title: Portal Management
  version: 3.0.8
  description: The management API for Portals
  contact:
    name: Kong
    url: 'https://konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v3'
    description: United-States Production region
  - url: 'https://eu.api.konghq.com/v3'
    description: Europe Production region
  - url: 'https://au.api.konghq.com/v3'
    description: Australia Production region
  - url: 'https://me.api.konghq.com/v3'
    description: Middle-East Production region
  - url: 'https://in.api.konghq.com/v3'
    description: India Production region
paths:
  /portals:
    get:
      operationId: list-portals
      summary: List Portals
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists developer portals defined in this region for this organization.
        Each developer portal is available at a unique address and has isolated
        configuration, customization, developers, and applications.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortals'
        - name: filter
          in: query
          description: Filter portals returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/PortalFilterParameters'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortalsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalsBadRequestExample1'
                ListPortalsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalsBadRequestExample2'
                ListPortalsBadRequestExample3:
                  $ref: '#/components/examples/ListPortalsBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portals
    post:
      operationId: create-portal
      summary: Create Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new developer portal scoped in this region for this
        organization.
      requestBody:
        $ref: '#/components/requestBodies/CreatePortal'
      responses:
        '201':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portals
  '/portals/{portalId}':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal
      summary: Fetch Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration for a single developer portal, including  the
        current visibility, access, and domain settings.
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portals
    patch:
      operationId: update-portal
      summary: Update Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the configuration for a single portal including the visibility,
        access, and custom domain settings.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Portals
    delete:
      operationId: delete-portal
      summary: Delete Portal
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single portal, along with all related entities.
      parameters:
        - name: force
          in: query
          description: >-
            If true, the portal will be deleted, automatically deleting all API
            publications. If the force param is not set, the deletion will only
            succeed if there are no APIs currently published.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portals
  '/portals/{portalId}/custom-domain':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal-custom-domain
      summary: Get Custom Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the custom domain associated to the portal.
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Custom Domains
    post:
      operationId: create-portal-custom-domain
      summary: Create Custom Domain
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates the custom domain associated with the portal. Only one custom
        domain can be associated with a portal at a time.
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalCustomDomain'
      responses:
        '201':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Custom Domains
    patch:
      operationId: update-portal-custom-domain
      summary: Enable or Disable Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the portal domain associated with the portal.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalCustomDomain'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Custom Domains
    delete:
      operationId: delete-portal-custom-domain
      summary: Remove Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes the custom domain associated with the portal.
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Custom Domains
  '/portals/{portalId}/assets/logo':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal-asset-logo
      summary: Get Logo
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the logo of the portal.
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
    put:
      operationId: replace-portal-asset-logo
      summary: Replace Logo
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Replaces the logo of the portal.
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAsset'
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalImageAssetBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
  '/portals/{portalId}/assets/favicon':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal-asset-favicon
      summary: Get Favicon
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the favicon of the portal.
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
    put:
      operationId: replace-portal-asset-favicon
      summary: Replace Favicon
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Replaces the favicon of the portal. The favicon is used in the browser
        tab of the portal.
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAsset'
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalImageAssetBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Assets
  '/portals/{portalId}/customization':
    get:
      operationId: get-portal-customization
      summary: Get Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the portal customization options.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Customization
    put:
      operationId: replace-portal-customization
      summary: Replace Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Replace the portal customization options.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalCustomization'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalCustomizationBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Customization
    patch:
      operationId: update-portal-customization
      summary: Update Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update the portal customization options, merging properties.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalCustomization'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdatePortalCustomizationBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Customization
  '/portals/{portalId}/pages':
    get:
      operationId: list-portal-pages
      summary: List Pages
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the paginated list of custom pages that have been created for
        this portal.
      parameters:
        - $ref: '#/components/parameters/SortPortalPages'
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - name: filter
          in: query
          description: Filter pages returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/PortalPagesFilterParameters'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortalPages'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalPagesBadRequestExample1:
                  $ref: '#/components/examples/ListPortalPagesBadRequestExample1'
                ListPortalPagesBadRequestExample2:
                  $ref: '#/components/examples/ListPortalPagesBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
    post:
      operationId: create-portal-page
      summary: Create Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new custom page for this portal. Custom pages can be used to
        display static content, documentation, or other information to
        developers.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalPage'
      responses:
        '201':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalPageBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample1'
                'UpdatePortalPageBadRequestExample2:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
  '/portals/{portalId}/pages/{pageId}':
    get:
      operationId: get-portal-page
      summary: Fetch Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single custom page for this portal.
        Custom pages can be used to display static content, documentation, or
        other information to developers.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
    patch:
      operationId: update-portal-page
      summary: Update Page
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of a single custom page for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalPage'
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                'UpdatePortalPageBadRequestExample1:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample1'
                'UpdatePortalPageBadRequestExample2:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
    delete:
      operationId: delete-portal-page
      summary: Delete Page
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single custom page for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
  '/portals/{portalId}/pages/{pageId}/move':
    put:
      operationId: move-portal-pages
      summary: Move Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        This api allows the user to move a page within the page tree using the
        parameters parent_page_id and index. If parent_page_id is not provided,
        the page will be placed at the top level of the page tree. index
        represents a zero-indexed page order relative to its siblings under the
        same parent. For example, if we want to put the page at top level in
        first position we would send parent_page_id: null and index: 0. This api
        also supports using a negative index to count backwards from the end of
        the page list, which means you can put the page in last position by
        using index: -1.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      requestBody:
        $ref: '#/components/requestBodies/MovePage'
      responses:
        '200':
          description: The document has been moved
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Pages
  '/portals/{portalId}/snippets':
    get:
      operationId: list-portal-snippets
      summary: List Snippets
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the paginated list of custom snippets that have been created for
        this portal.
      parameters:
        - $ref: '#/components/parameters/SortPortalSnippets'
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - name: filter
          in: query
          description: Filter snippets returned in the response.
          required: false
          schema:
            $ref: '#/components/schemas/PortalSnippetsFilterParameters'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortalSnippets'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalSnippetsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalSnippetsBadRequestExample1'
                ListPortalSnippetsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalSnippetsBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
    post:
      operationId: create-portal-snippet
      summary: Create Snippet
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new custom snippet for this portal. Custom snippets can be
        used to display static content, documentation, or other information to
        developers.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalSnippet'
      responses:
        '201':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalPageBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalSnippetBadRequestExample1'
                UpdatePortalSnippetBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalSnippetBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
  '/portals/{portalId}/snippets/{snippetId}':
    get:
      operationId: get-portal-snippet
      summary: Fetch Snippet
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single custom snippet for this portal.
        Custom snippets can be used to display static content, documentation, or
        other information to developers.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
    patch:
      operationId: update-portal-snippet
      summary: Update Snippet
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of a single custom snippet for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalSnippet'
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                'UpdatePortalPageBadRequestExample1:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample1'
                'UpdatePortalPageBadRequestExample2:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
    delete:
      operationId: delete-portal-snippet
      summary: Delete Snippet
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single custom snippet for this portal.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Snippets
  '/portals/{portalId}/default-content':
    post:
      operationId: create-default-content
      summary: Creates Default Pages
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates the default pages for a portal if they do not already exists.
      parameters:
        - $ref: '#/components/parameters/PortalId'
      responses:
        '201':
          $ref: '#/components/responses/DefaultContentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Pages
  '/portals/{portalId}/applications':
    get:
      operationId: list-applications
      summary: List Applications
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists applications in this portal. Each application can be registered
        for various APIs, issuing credentials for API access. If using DCR, an
        application will be linked to an Identity Provider's application by its
        `client_id`.
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplications'
        - name: filter
          in: query
          description: Filter applications returned in the response.
          required: false
          schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListApplications'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationsBadRequestExample1:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample1'
                ListApplicationsBadRequestExample2:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample2'
                ListApplicationsBadRequestExample3:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample3'
                ListApplicationsBadRequestExample4:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Applications
  '/portals/{portalId}/applications/{applicationId}':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: get-application
      summary: Fetch Application by Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single application in this portal. If an
        application is linked to a DCR Provider, the `dcr_provider.id` and
        `client_id` can be used to correlate it. An application manages a set of
        credentials and registrations for specific APIs.
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Applications
    delete:
      operationId: delete-application
      summary: Delete Application by Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Delete a single application in this portal, along with its registrations
        and credentials.
      responses:
        '204':
          description: The application has been deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Applications
  '/applications/{applicationId}':
    parameters:
      - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: get-application-unscoped
      summary: Fetch Application
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single application in any portal. If an
        application is linked to a DCR Provider, the `dcr_provider.id` and
        `client_id` can be used to correlate it. An application manages a set of
        credentials and registrations for specific APIs.
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Applications
  '/portals/{portalId}/application-registrations':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: list-registrations
      summary: List Registrations by Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists all of the application registrations and their current status
        (e.g., approved or pending) for this portal. Each registration is
        associated with a single API. Access is provided through the credentials
        issued to the application that contains each registration.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortListAllApplicationRegistrations'
        - name: filter
          in: query
          description: Filter application registrations returned in the response.
          required: false
          schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              application_name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationRegistrationsByPortalBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample1
                ListApplicationRegistrationsByPortalBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample2
                ListApplicationRegistrationsByPortalBadRequestExample3:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample3
                ListApplicationRegistrationsByPortalBadRequestExample4:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Application Registrations
  '/portals/{portalId}/applications/{applicationId}/registrations':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
    get:
      operationId: list-registrations-by-application
      summary: List Registrations by Application
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists each API that this application is registered for and their current
        status (e.g., pending, approved, rejected, revoked).
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplicationRegistrations'
        - name: filter
          in: query
          description: Filter application registrations returned in the response.
          required: false
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListRegistrationsByApplicationBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample1
                ListRegistrationsByApplicationBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample2
                ListRegistrationsByApplicationBadRequestExample3:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample3
                ListRegistrationsByApplicationBadRequestExample4:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Application Registrations
  '/portals/{portalId}/applications/{applicationId}/registrations/{registrationId}':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
      - $ref: '#/components/parameters/RegistrationId'
    get:
      operationId: get-application-registration
      summary: Fetch Registration
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns information about an application's registration status for a
        particular API.
      responses:
        '200':
          $ref: '#/components/responses/GetApplicationRegistration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Application Registrations
    patch:
      operationId: update-application-registration
      summary: Update Registration
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the status of a particular application registration to an API.
        Approved application registrations will allow API traffic to the
        corresponding API. Revoked, rejected, or pending will not allow API
        traffic.
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationRegistration'
      responses:
        '200':
          $ref: '#/components/responses/UpdateApplicationRegistration'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateApplicationRegistrationBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdateApplicationRegistrationBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Application Registrations
    delete:
      operationId: delete-application-registration
      summary: Delete Registration
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes an application registration, which if currently approved will
        immediately block API traffic to the API.

        Note: Developers can request a new application registration for the
        given API as long as they have RBAC access to consume.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Application Registrations
  '/portals/{portalId}/authentication-settings':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal-authentication-settings
      summary: Get Auth Settings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the developer authentication configuration for a portal, which
        determines how developers can log in and how they are assigned to teams.
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Portal Auth Settings
    patch:
      operationId: update-portal-authentication-settings
      summary: Update Auth Settings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the developer authentication configuration for a portal.
        Developers can be allowed to login using basic auth (email & password)
        or use Single-Sign-On (SSO) through an OIDC Identity Provider (IdP).
        Developers can be automatically assigned to teams by mapping claims from
        thier IdP account.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateAuthSettingsBadRequestExample1:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample1'
                UpdateAuthSettingsBadRequestExample2:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample2'
                UpdateAuthSettingsBadRequestExample3:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample3'
                UpdateAuthSettingsBadRequestExample4:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample4'
                UpdateAuthSettingsBadRequestExample5:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample5'
                UpdateAuthSettingsBadRequestExample6:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample6'
                UpdateAuthSettingsBadRequestExample7:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample7'
                UpdateAuthSettingsBadRequestExample8:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample8'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
  '/portals/{portalId}/identity-provider/team-group-mappings':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: list-portal-team-group-mappings
      summary: List Team Group Mappings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists mappings between Konnect portal teams and Identity Provider (IdP)
        groups. Returns a 400 error if an IdP has not yet been configured.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListTeamGroupMappingsBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListTeamGroupMappingsBadRequestExample1
                ListTeamGroupMappingsBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListTeamGroupMappingsBadRequestExample2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
    patch:
      operationId: update-portal-team-group-mappings
      summary: Update Team Group Mappings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Allows partial updates to the mappings between Konnect portal teams and
        Identity Provider (IdP) groups. The request body must be keyed on team
        ID. For a given team ID, the given group list is a complete replacement.
        To remove all mappings for a given team, provide an empty group list.

        Returns a 400 error if an IdP has not yet been configured, or if a team
        ID in the request body is not found or is not a UUID.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalTeamGroupMappings'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateTeamGroupMappingsBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdateTeamGroupMappingsBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
  '/portals/{portalId}/teams':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: list-portal-teams
      summary: List Teams
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the developer teams in a portal. Each team can contain any
        developer and developers can be part of multiple teams.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - name: filter
          in: query
          description: Filter teams returned in the response.
          required: false
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    post:
      operationId: create-portal-team
      summary: Create Team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a developer team in a portal. Developers can be added to teams
        to provide RBAC access to API products. Teams can be assigned roles that
        grant permissions to perform an action on a resource.
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      responses:
        '201':
          $ref: '#/components/responses/PortalTeam'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                CreateTeamBadRequestExample1:
                  $ref: '#/components/examples/CreateTeamBadRequestExample1'
                CreateTeamBadRequestExample2:
                  $ref: '#/components/examples/CreateTeamBadRequestExample2'
                CreateTeamBadRequestExample3:
                  $ref: '#/components/examples/CreateTeamBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  '/portals/{portalId}/teams/{teamId}':
    parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal-team
      summary: Get Team
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an individual team.
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    patch:
      operationId: update-portal-team
      summary: Update Team
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates an individual developer team for a portal.
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    delete:
      operationId: delete-portal-team
      summary: Delete Team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes a developer team from a portal. Deleting a team also deletes its
        assigned roles. Members of the team are not deleted, but they will lose
        any access provided through the team.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  '/portals/{portalId}/teams/{teamId}/developers':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
    get:
      operationId: list-portal-team-developers
      summary: List Team Developers
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List a team's developers.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - name: filter
          in: query
          description: Filter developers returned in the response.
          required: false
          schema:
            type: object
            properties:
              email:
                $ref: '#/components/schemas/StringFieldFilter'
              full_name:
                $ref: '#/components/schemas/StringFieldFilter'
              attributes:
                $ref: '#/components/schemas/StringFieldFilter'
              active:
                $ref: '#/components/schemas/BooleanFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListBasicDevelopers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
    post:
      operationId: add-developer-to-portal-team
      summary: Add Developer to Team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Adds a developer to a team. This associates them with all of the roles
        that have been assigned to the team, providing specific permissions to
        perform actions on resources.
      requestBody:
        $ref: '#/components/requestBodies/AddDeveloperToTeam'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AddDeveloperToTeamBadRequestExample1:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample1'
                AddDeveloperToTeamBadRequestExample2:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Portal Team Membership
  '/portals/{portalId}/teams/{teamId}/developers/{developerId}':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/DeveloperId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      operationId: remove-developer-from-portal-team
      summary: Remove Developer from Team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Removes a developer from a team. This removes the association of the
        team's roles from the developer.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  '/portals/{portalId}/teams/{teamId}/assigned-roles':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
    get:
      operationId: list-portal-team-roles
      summary: List Team Roles
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the roles belonging to a developer team. Each role provides
        permissions to perform actions on a specified resource or collection.
      responses:
        '200':
          $ref: '#/components/responses/AssignedPortalRoleCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Roles
    post:
      operationId: assign-role-to-portal-teams
      summary: Assign Role
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Assign a role to a developer team. This associates the set of
        permissions in a role with the team, so that they will be applied to any
        developer who is a member of the team.
      requestBody:
        $ref: '#/components/requestBodies/PortalAssignRole'
      responses:
        '201':
          $ref: '#/components/responses/PortalAssignedRole'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AssignRoleBadRequestExample1:
                  $ref: '#/components/examples/AssignRoleBadRequestExample1'
                AssignRoleBadRequestExample2:
                  $ref: '#/components/examples/AssignRoleBadRequestExample2'
                AssignRoleBadRequestExample3:
                  $ref: '#/components/examples/AssignRoleBadRequestExample3'
                AssignRoleBadRequestExample4:
                  $ref: '#/components/examples/AssignRoleBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Portal Team Roles
  '/portals/{portalId}/teams/{teamId}/assigned-roles/{roleId}':
    parameters:
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      operationId: remove-role-from-portal-team
      summary: Remove Role
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Removes an assigned role from a developer team. This deletes the
        association of the role with team and each of its members.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Roles
  '/portals/{portalId}/developers':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: list-portal-developers
      summary: List Developers
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the developers that have registered for this portal. Each
        developer can be registered to one portal and must be approved to login
        unless using the developer auto-approve setting.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortDevelopers'
        - name: filter
          in: query
          description: Filter developers returned in the response.
          required: false
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
              email:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListDevelopers'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListDevelopersBadRequestExample1:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample1'
                ListDevelopersBadRequestExample2:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample2'
                ListDevelopersBadRequestExample3:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample3'
                ListDevelopersBadRequestExample4:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
  '/portals/{portalId}/developers/{developerId}':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/DeveloperId'
    get:
      operationId: get-developer
      summary: Fetch Developer
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns information about a single developer in this portal. Each
        developer manages a set applications, providing them credentials to
        access registered APIs. Developer registration access can be limited to
        specific APIs using RBAC.
      responses:
        '200':
          $ref: '#/components/responses/GetDeveloper'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
    patch:
      operationId: update-developer
      summary: Update Developer
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the status of a particular developer. Approved developers have
        access to login to the portal. Revoked, rejected, or pending are not
        allowed to login. Even if a developer's status is no longer approved,
        they will still be able to using any existing credentials generated
        while they were approved, until each application registration is revoked
        or deleted.
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeveloper'
      responses:
        '200':
          $ref: '#/components/responses/UpdateDeveloper'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateDeveloperBadRequestExample1:
                  $ref: '#/components/examples/UpdateDeveloperBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
    delete:
      operationId: delete-developer
      summary: Delete Developer
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes a developer, which will discontinue their ability to login, view
        any non-public resources, and delete all applications owned by them. All
        credentials issued to the developer will no longer provide access to any
        APIs. A deleted developer's unique email must be re-registered and
        approved to gain access again.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
  '/portals/{portalId}/developers/{developerId}/teams':
    parameters:
      - $ref: '#/components/parameters/DeveloperId'
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: list-portal-developer-teams
      summary: List Developer Teams
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the teams to which a developer belongs. Each team a developer is a
        member of grants them various roles that provide permissions to perform
        actions on certain resources.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  /portal-roles:
    get:
      operationId: list-portal-roles
      summary: List Portal Roles
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        List roles that can be assigned to teams in a portal. Each role provides
        a set of permissions to perform an action on a resource.
      responses:
        '200':
          $ref: '#/components/responses/ListRoles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Team Roles
  '/portals/{portalId}/identity-providers':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal-identity-providers
      summary: Retrieve Identity Providers
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Retrieves the identity providers available within the portal. This
        operation provides information about

        various identity providers for SAML or OIDC authentication integrations.
      parameters:
        - name: filter
          in: query
          description: Filter identity providers returned in the response.
          required: false
          schema:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/schemas-StringFieldEqualsFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/IdentityProviders'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
    post:
      operationId: create-portal-identity-provider
      summary: Create Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new identity provider. This operation allows the creation of a
        new identity provider for

        authentication purposes.
      requestBody:
        $ref: '#/components/requestBodies/CreateIdentityProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
  '/portals/{portalId}/identity-providers/{id}':
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/IdentityProviderId'
    get:
      operationId: get-portal-identity-provider
      summary: Get Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Retrieves the configuration of a single identity provider. This
        operation returns information about a

        specific identity provider's settings and authentication integration
        details.
      responses:
        '200':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Auth Settings
    patch:
      operationId: update-portal-identity-provider
      summary: Update Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the configuration of an existing identity provider. This
        operation allows modifications to be made

        to an existing identity provider's configuration.
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdentityProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Auth Settings
    delete:
      operationId: delete-portal-identity-provider
      summary: Delete Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes an existing identity provider configuration. This operation
        removes a specific identity provider

        from the portal.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Auth Settings
components:
  parameters:
    ApplicationId:
      name: applicationId
      in: path
      required: true
      description: ID of the application.
      schema:
        type: string
        format: uuid
    DeveloperId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: developerId
      in: path
      required: true
      description: ID of the developer.
    IdentityProviderId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: id
      in: path
      required: true
      description: ID of the identity provider.
    PageId:
      schema:
        type: string
        format: uuid
        example: ebbac5b0-ac89-45c3-9d2e-c4542c657e79
      name: pageId
      in: path
      required: true
      description: ID of the page.
    PageNumber:
      name: 'page[number]'
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PageSize:
      name: 'page[size]'
      description: >-
        The maximum number of items to include per page. The last page of a
        collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
    PortalId:
      schema:
        type: string
        format: uuid
      name: portalId
      in: path
      required: true
      description: ID of the portal.
    RegistrationId:
      name: registrationId
      in: path
      required: true
      description: ID of the application registration.
      schema:
        type: string
        format: uuid
    RoleId:
      schema:
        type: string
        format: uuid
        example: 8350205f-a305-4e39-abe9-bc082a80091a
      name: roleId
      in: path
      required: true
    SnippetId:
      schema:
        type: string
        format: uuid
        example: ebbac5b0-ac89-45c3-9d2e-c4542c657e79
      name: snippetId
      in: path
      required: true
      description: ID of the snippet.
    SortApplicationRegistrations:
      name: sort
      description: >
        Sorts a set of registrations for an application. Supported sort
        attributes are:
          - created_at
          - updated_at
          - status
      in: query
      required: false
      schema:
        type: string
    SortApplications:
      name: sort
      description: |
        Sorts a collection of applications. Supported sort attributes are:
          - created_at
          - developer_id
          - name
      in: query
      required: false
      schema:
        type: string
    SortDevelopers:
      name: sort
      description: |
        Sorts a collection of developers. Supported sort attributes are:
          - created_at
          - updated_at
          - email
          - name
          - status
      in: query
      required: false
      schema:
        type: string
    SortListAllApplicationRegistrations:
      name: sort
      description: >
        Sorts a collection of application registrations. Supported sort
        attributes are:
          - created_at
          - updated_at
          - developer_id
          - status
      in: query
      required: false
      schema:
        type: string
    SortPortalPages:
      name: sort
      description: |
        Sorts a collection of portal pages. Supported sort attributes are:
          - created_at
          - updated_at
          - slug
          - title
          - visibility
      in: query
      required: false
      schema:
        type: string
    SortPortalSnippets:
      name: sort
      description: |
        Sorts a collection of portal snippets. Supported sort attributes are:
          - created_at
          - updated_at
          - name
          - title
          - visibility
      in: query
      required: false
      schema:
        type: string
    SortPortals:
      name: sort
      description: |
        Sorts a collection of portals. Supported sort attributes are:
          - name
          - description
          - authentication_enabled
          - rbac_enabled
          - auto_approve_applications
          - auto_approve_developers
          - default_domain
          - canonical_domain
          - created_at
          - updated_at
      in: query
      required: false
      schema:
        type: string
    TeamId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: teamId
      in: path
      required: true
      description: ID of the team.
  schemas:
    PortalImageAsset:
      type: string
      format: binary
      example: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
      title: PortalImageAsset
    ReplacePortalImageAsset:
      description: >-
        The image data to upload, along with an optional filename. Images must
        be a data URL with binary image data in base 64 format. See
        https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/Data_URLs.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ImageDataUri'
        filename:
          type: string
          maxLength: 512
      example:
        data: 'data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
      additionalProperties: false
      nullable: true
      required:
        - data
      title: ReplacePortalImageAsset
    UpdateDeveloperRequest:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/DeveloperStatus'
      example:
        status: approved
      additionalProperties: false
      title: UpdateDeveloperRequest
    PortalDeveloper:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        email:
          type: string
          format: email
          maxLength: 255
        full_name:
          type: string
          maxLength: 255
        status:
          $ref: '#/components/schemas/DeveloperStatus'
        application_count:
          type: number
          example: 4
          readOnly: true
      example:
        id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
        email: developer@example.com
        full_name: Jane Dev
        status: approved
        application_count: 3
        created_at: '2022-11-15T20:37:41.457Z'
        updated_at: '2022-11-15T20:37:47.456Z'
      additionalProperties: false
      required:
        - id
        - created_at
        - updated_at
        - email
        - full_name
        - status
        - application_count
      title: PortalDeveloper
    BasicDeveloper:
      description: Basic information about a developer.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        email:
          type: string
          format: email
          example: developer@email.com
          maxLength: 250
        full_name:
          type: string
          example: API Developer
          maxLength: 250
          pattern: '^[\w \W]+$'
        active:
          type: boolean
          example: true
          readOnly: true
        created_at:
          type: string
          format: date-time
          example: '2022-02-07T17:46:57.52Z'
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-10-08T17:00:00.52Z'
          readOnly: true
      example:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        email: user@email.com
        full_name: API Developer
        active: true
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
      title: BasicDeveloper
    ListDevelopersResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalDeveloper'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 4
        data:
          - id: 8cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: jane.developer@example.com
            full_name: Jane Dev
            status: approved
            application_count: 8
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 4cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: John Dev
            status: revoked
            application_count: 27
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jim Dev
            status: pending
            application_count: 0
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jan Dev
            status: rejected
            application_count: 1
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
      additionalProperties: false
      required:
        - data
        - meta
    DeveloperStatus:
      description: >-
        The status of a developer in a portal. Approved developers can log in,
        create applications, and view and register for products they have access
        to. Pending, revoked, and rejected developers cannot login or view any
        non-public portal information, or create or modify applications or
        registrations.
      type: string
      example: approved
      enum:
        - approved
        - pending
        - revoked
        - rejected
      title: DeveloperStatus
    MovePageRequestPayload:
      description: move page request payload
      type: object
      properties:
        parent_page_id:
          description: parent page id
          type: string
          format: uuid
          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
        index:
          description: index of the document in the parent document's children
          type: integer
          example: 1
      title: MovePage
    PageSlug:
      description: >-
        The slug of a page in a portal. Is used to compute the full path
        /slug1/slug2/slug3.
      type: string
      example: /my-page
      maxLength: 512
      title: PageSlug
    ParentPageId:
      description: >
        Pages may be rendered as a tree of files.


        Specify the `id` of another page as the `parent_page_id` to add some
        hierarchy to your pages.
      type: string
      format: uuid
      example: null
      nullable: true
    PageTitle:
      description: The title of a page in a portal.
      type: string
      example: My Page
      maxLength: 512
      title: PageTitle
    PageContent:
      description: The renderable markdown content of a page in a portal.
      type: string
      example: '# Welcome to My Page'
      maxLength: 1000000
      title: PageContent
    SnippetName:
      description: The unique name of a snippet in a portal.
      type: string
      example: my-snippet
      maxLength: 512
      title: SnippetName
    SnippetTitle:
      description: The display title of a snippet in a portal.
      type: string
      example: My Snippet
      maxLength: 512
      title: SnippetTitle
    SnippetContent:
      description: The renderable markdown content of a page in a portal.
      type: string
      example: '# Welcome to My Snippet'
      maxLength: 1000000
      title: SnippetContent
    VisibilityStatus:
      description: >-
        Whether the resource is publicly accessible to non-authenticated users.
        Defaults to private.
      type: string
      example: public
      enum:
        - public
        - private
      title: VisibilityStatus
    PublishedStatus:
      description: Whether the resource is visible on a given portal. Defaults to false.
      type: string
      example: published
      enum:
        - published
        - unpublished
      title: PublishedStatus
    Description:
      type: string
      example: A custom page about developer portals
      maxLength: 160
      title: ResourceDescription
    PageVisibilityStatusWithDefault:
      description: Whether a page is publicly accessible to non-authenticated users.
      type: string
      example: public
      default: private
      title: PageVisibilityStatusWithDefault
    SnippetVisibilityStatusWithDefault:
      description: Whether a page is publicly accessible to non-authenticated users.
      type: string
      example: public
      default: private
      title: PageVisibilityStatusWithDefault
    UpdatePortalPageRequest:
      description: Update a page in a portal.
      type: object
      properties:
        slug:
          $ref: '#/components/schemas/PageSlug'
        title:
          $ref: '#/components/schemas/PageTitle'
        content:
          $ref: '#/components/schemas/PageContent'
        visibility:
          $ref: '#/components/schemas/VisibilityStatus'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        parent_page_id:
          $ref: '#/components/schemas/ParentPageId'
      additionalProperties: false
      title: UpdatePortalPageRequest
    CreatePortalPageRequest:
      description: Create a page in a portal.
      type: object
      properties:
        slug:
          $ref: '#/components/schemas/PageSlug'
        title:
          $ref: '#/components/schemas/PageTitle'
        content:
          $ref: '#/components/schemas/PageContent'
        visibility:
          $ref: '#/components/schemas/PageVisibilityStatusWithDefault'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        parent_page_id:
          $ref: '#/components/schemas/ParentPageId'
      additionalProperties: false
      required:
        - slug
        - title
        - content
      title: CreatePortalPageRequest
    PortalPageInfo:
      description: Information about a page in a portal.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        slug:
          $ref: '#/components/schemas/PageSlug'
        title:
          $ref: '#/components/schemas/PageTitle'
        visibility:
          $ref: '#/components/schemas/VisibilityStatus'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        parent_page_id:
          $ref: '#/components/schemas/ParentPageId'
        children:
          description: children of the page
          type: array
          items:
            $ref: '#/components/schemas/PortalPageInfo'
          example:
            - id: d32d905a-ed33-46a3-a093-d8f536af9a8a
              slug: hello-world
              title: Hello world
              visibility: public
              created_at: '2023-01-11T02:30:42.227Z'
              updated_at: '2023-01-11T02:30:42.227Z'
              status: unpublished
              parent_page_id: null
              children: []
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - slug
        - title
        - visibility
        - created_at
        - updated_at
        - status
        - parent_page_id
        - children
      title: PortalPageInfo
    PortalSnippetInfo:
      description: Information about a snippet in a portal.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        visibility:
          $ref: '#/components/schemas/VisibilityStatus'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - title
        - visibility
        - status
        - created_at
        - updated_at
      title: PortalSnippetInfo
    DefaultContent:
      description: Summary of created default content
      type: object
      properties:
        pages:
          type: array
          items:
            type: string
      additionalProperties: false
      required:
        - pages
      title: DefaultContent
    PortalPageResponse:
      description: Details about a page in a portal.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        slug:
          $ref: '#/components/schemas/PageSlug'
        title:
          $ref: '#/components/schemas/PageTitle'
        content:
          $ref: '#/components/schemas/PageContent'
        visibility:
          $ref: '#/components/schemas/VisibilityStatus'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        parent_page_id:
          $ref: '#/components/schemas/ParentPageId'
      additionalProperties: false
      required:
        - id
        - slug
        - title
        - content
        - visibility
        - status
        - created_at
        - updated_at
        - parent_page_id
      title: PortalPageResponse
    ListPortalPagesResponse:
      description: A paginated list of custom pages in a portal.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalPageInfo'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      example:
        data:
          - id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            slug: /my-page
            title: My Page
            visibilit: public
            status: unpublished
            description: A custom page
            created_at: '2021-01-01T00:00:00Z'
            updated_at: '2021-01-01T00:00:00Z'
            parent_page_id: null
            children: []
        meta:
          page:
            number: 1
            size: 10
            total: 1
      additionalProperties: false
      required:
        - data
        - meta
      title: ListPortalPagesResponse
    PortalSnippetResponse:
      description: Details about a page in a portal.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        content:
          $ref: '#/components/schemas/SnippetContent'
        visibility:
          $ref: '#/components/schemas/VisibilityStatus'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - content
        - visibility
        - status
        - created_at
        - updated_at
      title: PortalSnippetResponse
    ListPortalSnippetsResponse:
      description: A paginated list of custom pages in a portal.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalSnippetInfo'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      example:
        data:
          - id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            name: my-snippet
            title: My Snippet
            visibility: public
            status: published
            description: A custom snippet
            created_at: '2021-01-01T00:00:00Z'
            updated_at: '2021-01-01T00:00:00Z'
        meta:
          page:
            number: 1
            size: 10
            total: 1
      additionalProperties: false
      required:
        - data
        - meta
      title: ListPortalPagesResponse
    UpdatePortalSnippetRequest:
      description: Update a snippet in a portal.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        content:
          $ref: '#/components/schemas/SnippetContent'
        visibility:
          $ref: '#/components/schemas/VisibilityStatus'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
      additionalProperties: false
      title: UpdatePortalSnippetRequest
    CreatePortalSnippetRequest:
      description: Create a snippet in a portal.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/SnippetName'
        title:
          $ref: '#/components/schemas/SnippetTitle'
        content:
          $ref: '#/components/schemas/SnippetContent'
        visibility:
          $ref: '#/components/schemas/SnippetVisibilityStatusWithDefault'
        status:
          $ref: '#/components/schemas/PublishedStatus'
        description:
          $ref: '#/components/schemas/Description'
      additionalProperties: false
      required:
        - name
        - title
        - content
      title: CreatePortalSnippetRequest
    ListApplicationsResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Application'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            labels:
              env: test
            name: App 1
            description: An easy to manage app in a Konnect developer portal
            registration_count: 2
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            auth_strategy:
              id: 85606071-49c7-4c2e-ae49-8a86d72a8110
              name: API Key
              credential_type: key_auth
              key_names:
                - apikey
            developers:
              - id: 75606071-49c7-4c2e-ae49-8a86d72a8110
            created_at: '2022-12-22T19:09:30.712Z'
            updated_at: '2022-12-22T19:09:30.712Z'
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            labels:
              env: test
            name: App 1
            description: >-
              A Konnect application that is linked to an Identity Provider
              application using Dynamic Client Registration (DCR)
            client_id: yr1k0d9kj3l0cl01hp4o0
            registration_count: 3
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            auth_strategy:
              id: 65606071-49c7-4c2e-ae49-8a86d72a8110
              name: Client Credentials
              credential_type: client_credentials
              auth_methods:
                - client_credentials
                - bearer
                - session
            dcr_provider:
              id: 7ea06071-49c7-4c2e-ae49-8a86d72a8110
            granted_scopes: null
            developers:
              - id: 75606071-49c7-4c2e-ae49-8a86d72a8110
            created_at: '2022-12-22T19:07:30.712Z'
            updated_at: '2022-12-22T19:07:30.712Z'
      additionalProperties: false
      required:
        - data
        - meta
    GetApplicationResponse:
      $ref: '#/components/schemas/Application'
    ListApplicationRegistrationsResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationRegistration'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: c200cc33-2d33-4754-b086-a98e0fcd36fb
            status: approved
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 1
            api:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Great Stuff
              version: v1
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d200cc33-2d33-4754-b086-a98e0fcd36fb
            status: rejected
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 2
            api:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Great Stuff
              version: v2
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d300cc33-2d33-4754-b086-a98e0fcd36fb
            status: pending
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 3
            api:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Good Stuff
              version: v2
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d300cc33-2d33-4754-b086-a98e0fcd36fb
            status: revoked
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 3
            api:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Good Stuff
              version: v1
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
      additionalProperties: false
      required:
        - data
        - meta
      title: ListApplicationRegistrationsResponse
    GetApplicationRegistrationResponse:
      $ref: '#/components/schemas/ApplicationRegistration'
    UpdateApplicationRegistrationResponse:
      $ref: '#/components/schemas/ApplicationRegistration'
    ApplicationDevelopers:
      description: List of developers that have access to this application.
      type: array
      items:
        type: object
        required:
          - id
        properties:
          id:
            type: string
            format: uuid
      title: ApplicationDevelopers
    Application:
      example:
        id: b15e2460-ba40-431d-9df0-4957fcffacda
        labels:
          env: test
        name: App 1
[...]
