openapi: 3.0.3
info:
  title: Portal Management V3
  version: 3.0.13
  description: The management API for Portals
  contact:
    name: Kong
    url: https://konghq.com
servers:
  - url: https://us.api.konghq.com/v3
    description: United-States Production region
  - url: https://eu.api.konghq.com/v3
    description: Europe Production region
  - url: https://au.api.konghq.com/v3
    description: Australia Production region
  - url: https://me.api.konghq.com/v3
    description: Middle-East Production region
  - url: https://in.api.konghq.com/v3
    description: India Production region
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: Portals
    description: APIs related to configuration of Konnect Developer Portals.
  - name: Portal Custom Domains
    description: APIs related to configuration of Konnect Developer Portals custom domains.
  - name: Portal Customization
    description: APIs related to customization of Konnect Developer Portals.
  - name: Portal Auth Settings
    description: APIs related to configuration of Konnect Developer Portal auth settings.
  - name: Portal Developers
    description: APIs related to Konnect Developer Portal developers.
  - name: Portal Teams
    description: APIs related to configuration of Konnect Developer Portal developer teams.
  - name: Portal Team Membership
    description: APIs related to Konnect Developer Portal developer team membership.
  - name: Portal Team Roles
    description: APIs related to Konnect Developer Portal developer team roles.
  - name: Assets
    description: APIs for managing static assets for Konnect Developer Portals.
  - name: Pages
    description: APIs related to Konnect Developer Portal Custom Pages.
  - name: Snippets
    description: APIs related to Konnect Developer Portal Custom Snippets.
  - name: Applications
    description: APIs related to Konnect Developer Portal Applications.
  - name: Application Registrations
    description: APIs related to Konnect Developer Portal Application Registrations.
  - name: Application Developers
    description: APIs related to Konnect Developer Portal Application Registrations.
  - name: Portal Emails
    description: APIs related to Konnect Developer Portal Emails.
paths:
  /portals:
    get:
      x-unstable: true
      summary: List Portals
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists developer portals defined in this region for this organization.
        Each developer portal is available at a unique address and has isolated
        configuration, customization, developers, and applications.
      operationId: list-portals
      tags:
        - Portals
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortals'
        - in: query
          name: filter
          description: Filter portals returned in the response.
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/PortalFilterParameters'
      responses:
        '200':
          $ref: '#/components/responses/ListPortalsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalsBadRequestExample1'
                ListPortalsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalsBadRequestExample2'
                ListPortalsBadRequestExample3:
                  $ref: '#/components/examples/ListPortalsBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      x-speakeasy-entity-operation: Portal#create
      x-unstable: true
      summary: Create Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new developer portal scoped in this region for this
        organization.
      operationId: create-portal
      tags:
        - Portals
      requestBody:
        $ref: '#/components/requestBodies/CreatePortal'
      responses:
        '201':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/{portalId}:
    parameters:
      - schema:
          type: string
          format: uuid
        name: portalId
        in: path
        required: true
        description: ID of the portal.
        x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation: Portal#read
      x-unstable: true
      summary: Fetch Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration for a single developer portal, including  the
        current visibility, access, and domain settings.
      operationId: get-portal
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: Portal#update
      x-unstable: true
      summary: Update Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the configuration for a single portal including the visibility,
        access, and custom domain settings.
      operationId: update-portal
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/PortalResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      x-speakeasy-entity-operation: Portal#delete
      x-unstable: true
      summary: Delete Portal
      parameters:
        - name: force
          in: query
          description: >-
            If true, the portal will be deleted, automatically deleting all API
            publications. If the force param is not set, the deletion will only
            succeed if there are no APIs currently published.
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single portal, along with all related entities.
      operationId: delete-portal
      tags:
        - Portals
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/custom-domain:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-speakeasy-entity-operation: PortalCustomDomain#read
      x-unstable: true
      summary: Get Custom Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get the custom domain associated to the portal.
      operationId: get-portal-custom-domain
      tags:
        - Portal Custom Domains
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      x-speakeasy-entity-operation: PortalCustomDomain#create
      x-unstable: true
      summary: Create Custom Domain
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates the custom domain associated with the portal. Only one custom
        domain can be associated with a portal at a time.
      operationId: create-portal-custom-domain
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalCustomDomain'
      tags:
        - Portal Custom Domains
      responses:
        '201':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: PortalCustomDomain#update
      x-unstable: true
      summary: Enable or Disable Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the portal domain associated with the portal.
      operationId: update-portal-custom-domain
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalCustomDomain'
      tags:
        - Portal Custom Domains
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      x-speakeasy-entity-operation: PortalCustomDomain#delete
      x-unstable: true
      operationId: delete-portal-custom-domain
      summary: Remove Domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes the custom domain associated with the portal.
      tags:
        - Portal Custom Domains
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/assets/logo:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: Get Logo
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the logo of the portal.
      operationId: get-portal-asset-logo
      tags:
        - Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      x-unstable: true
      summary: Replace Logo
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Replaces the logo of the portal.
      operationId: replace-portal-asset-logo
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAsset'
      tags:
        - Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalImageAssetBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/{portalId}/assets/favicon:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: Get Favicon
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the favicon of the portal.
      operationId: get-portal-asset-favicon
      tags:
        - Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    put:
      x-unstable: true
      summary: Replace Favicon
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Replaces the favicon of the portal. The favicon is used in the browser
        tab of the portal.
      operationId: replace-portal-asset-favicon
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalImageAsset'
      tags:
        - Assets
      responses:
        '200':
          $ref: '#/components/responses/PortalAssetResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalImageAssetBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/{portalId}/customization:
    get:
      x-speakeasy-entity-operation: PortalCustomization#read
      x-unstable: true
      summary: Get Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the portal customization options.
      operationId: get-portal-customization
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portal Customization
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      x-speakeasy-entity-operation: PortalCustomization#create,update
      x-unstable: true
      summary: Replace Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Replace the portal customization options.
      operationId: replace-portal-customization
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portal Customization
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalCustomization'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/ReplacePortalCustomizationBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-unstable: true
      summary: Update Customization
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Update the portal customization options, merging properties.
      operationId: update-portal-customization
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portal Customization
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalCustomization'
      responses:
        '200':
          $ref: '#/components/responses/PortalCustomizationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ReplacePortalImageAssetBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdatePortalCustomizationBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/pages:
    get:
      x-unstable: true
      summary: List Pages
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the paginated list of custom pages that have been created for
        this portal.
      operationId: list-portal-pages
      parameters:
        - $ref: '#/components/parameters/SortPortalPages'
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - in: query
          name: filter
          description: Filter pages returned in the response.
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/PortalPagesFilterParameters'
      tags:
        - Pages
      responses:
        '200':
          $ref: '#/components/responses/ListPortalPages'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalPagesBadRequestExample1:
                  $ref: '#/components/examples/ListPortalPagesBadRequestExample1'
                ListPortalPagesBadRequestExample2:
                  $ref: '#/components/examples/ListPortalPagesBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      x-speakeasy-entity-operation: PortalPage#create
      x-unstable: true
      summary: Create Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new custom page for this portal. Custom pages can be used to
        display static content, documentation, or other information to
        developers. Title and Description properties may be provided in the
        frontmatter section of `content`. If you set values in both the `POST`
        request _and_ in the frontmatter, the values in frontmatter will take
        precedence.
      operationId: create-portal-page
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalPage'
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Pages
      responses:
        '201':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalPageBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample1'
                'UpdatePortalPageBadRequestExample2:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/pages/{pageId}:
    get:
      x-speakeasy-entity-operation: PortalPage#read
      x-unstable: true
      summary: Fetch Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single custom page for this portal.
        Custom pages can be used to display static content, documentation, or
        other information to developers.
      operationId: get-portal-page
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      tags:
        - Pages
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: PortalPage#update
      x-unstable: true
      summary: Update Page
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of a single custom page for this portal.
      operationId: update-portal-page
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalPage'
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      tags:
        - Pages
      responses:
        '200':
          $ref: '#/components/responses/PortalPage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                'UpdatePortalPageBadRequestExample1:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample1'
                'UpdatePortalPageBadRequestExample2:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-speakeasy-entity-operation: PortalPage#delete
      x-unstable: true
      summary: Delete Page
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single custom page for this portal.
      operationId: delete-portal-page
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      tags:
        - Pages
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/pages/{pageId}/move:
    put:
      x-unstable: true
      summary: Move Page
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        This api allows the user to move a page within the page tree using the
        parameters parent_page_id and index. If parent_page_id is not provided,
        the page will be placed at the top level of the page tree. index
        represents a zero-indexed page order relative to its siblings under the
        same parent. For example, if we want to put the page at top level in
        first position we would send parent_page_id: null and index: 0. This api
        also supports using a negative index to count backwards from the end of
        the page list, which means you can put the page in last position by
        using index: -1.
      operationId: move-portal-pages
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageId'
      tags:
        - Pages
      requestBody:
        $ref: '#/components/requestBodies/MovePage'
      responses:
        '200':
          description: The document has been moved
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  /portals/{portalId}/snippets:
    get:
      x-unstable: true
      summary: List Snippets
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the paginated list of custom snippets that have been created for
        this portal.
      operationId: list-portal-snippets
      parameters:
        - $ref: '#/components/parameters/SortPortalSnippets'
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - in: query
          name: filter
          description: Filter snippets returned in the response.
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/PortalSnippetsFilterParameters'
      tags:
        - Snippets
      responses:
        '200':
          $ref: '#/components/responses/ListPortalSnippets'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalSnippetsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalSnippetsBadRequestExample1'
                ListPortalSnippetsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalSnippetsBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      x-speakeasy-entity-operation: PortalSnippet#create
      x-unstable: true
      summary: Create Snippet
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new custom snippet for this portal. Custom snippets can be
        used to display static content, documentation, or other information to
        developers. Title and Description properties may be provided in the
        frontmatter section of `content`. If you set values in both the `POST`
        request _and_ in the frontmatter, the values in the frontmatter will
        take precedence.
      operationId: create-portal-snippet
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalSnippet'
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Snippets
      responses:
        '201':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalPageBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalSnippetBadRequestExample1'
                UpdatePortalSnippetBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalSnippetBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/snippets/{snippetId}:
    get:
      x-speakeasy-entity-operation: PortalSnippet#read
      x-unstable: true
      summary: Fetch Snippet
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single custom snippet for this portal.
        Custom snippets can be used to display static content, documentation, or
        other information to developers.
      operationId: get-portal-snippet
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      tags:
        - Snippets
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-speakeasy-entity-operation: PortalSnippet#update
      x-unstable: true
      summary: Update Snippet
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration of a single custom snippet for this portal.
      operationId: update-portal-snippet
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalSnippet'
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      tags:
        - Snippets
      responses:
        '200':
          $ref: '#/components/responses/PortalSnippet'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                'UpdatePortalPageBadRequestExample1:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample1'
                'UpdatePortalPageBadRequestExample2:':
                  $ref: '#/components/examples/UpdatePortalPageBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-speakeasy-entity-operation: PortalSnippet#delete
      x-unstable: true
      summary: Delete Snippet
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Deletes a single custom snippet for this portal.
      operationId: delete-portal-snippet
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/SnippetId'
      tags:
        - Snippets
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/default-content:
    post:
      x-unstable: true
      summary: Creates Default Pages
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Creates the default pages for a portal if they do not already exists.
      operationId: create-default-content
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Pages
      responses:
        '201':
          $ref: '#/components/responses/DefaultContentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications:
    get:
      x-unstable: true
      summary: List Applications
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists applications in this portal. Each application can be registered
        for various APIs, issuing credentials for API access. If using DCR, an
        application will be linked to an Identity Provider's application by its
        `client_id`.
      operationId: list-applications
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplications'
        - schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter applications returned in the response.
          required: false
          style: deepObject
      tags:
        - Applications
      responses:
        '200':
          $ref: '#/components/responses/ListApplications'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationsBadRequestExample1:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample1'
                ListApplicationsBadRequestExample2:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample2'
                ListApplicationsBadRequestExample3:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample3'
                ListApplicationsBadRequestExample4:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
    get:
      x-unstable: true
      summary: Fetch Application by Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single application in this portal. If an
        application is linked to a DCR Provider, the `dcr_provider.id` and
        `client_id` can be used to correlate it. An application manages a set of
        credentials and registrations for specific APIs.
      operationId: get-application
      tags:
        - Applications
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-unstable: true
      summary: Delete Application by Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Delete a single application in this portal, along with its registrations
        and credentials.
      operationId: delete-application
      tags:
        - Applications
      responses:
        '204':
          description: The application has been deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/developers:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
    get:
      x-unstable: true
      x-internal: true
      summary: List Developers by Application
      description: >-
        Lists each developer that can access the given application for this
        portal.
      operationId: list-developers-by-application
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplicationDevelopers'
        - schema:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter application developers returned in the response.
          required: false
          style: deepObject
      tags:
        - Applications
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationDevelopers'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListDevelopersByApplicationBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListDevelopersByApplicationBadRequestExample1
                ListDevelopersByApplicationBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListDevelopersByApplicationBadRequestExample2
                ListDevelopersByApplicationBadRequestExample3:
                  $ref: >-
                    #/components/examples/ListDevelopersByApplicationBadRequestExample3
                ListDevelopersByApplicationBadRequestExample4:
                  $ref: >-
                    #/components/examples/ListDevelopersByApplicationBadRequestExample4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /applications/{applicationId}:
    parameters:
      - $ref: '#/components/parameters/ApplicationId'
    get:
      x-unstable: true
      summary: Fetch Application
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the configuration of a single application in any portal. If an
        application is linked to a DCR Provider, the `dcr_provider.id` and
        `client_id` can be used to correlate it. An application manages a set of
        credentials and registrations for specific APIs.
      operationId: get-application-unscoped
      tags:
        - Applications
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/application-registrations:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: List Registrations by Portal
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists all of the application registrations and their current status
        (e.g., approved or pending) for this portal. Each registration is
        associated with a single API. Access is provided through the credentials
        issued to the application that contains each registration.
      operationId: list-registrations
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortListAllApplicationRegistrations'
        - schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              application_name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter application registrations returned in the response.
          required: false
          style: deepObject
      tags:
        - Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationRegistrationsByPortalBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample1
                ListApplicationRegistrationsByPortalBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample2
                ListApplicationRegistrationsByPortalBadRequestExample3:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample3
                ListApplicationRegistrationsByPortalBadRequestExample4:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
    get:
      x-unstable: true
      summary: List Registrations by Application
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists each API that this application is registered for and their current
        status (e.g., pending, approved, rejected, revoked).
      operationId: list-registrations-by-application
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplicationRegistrations'
        - schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter application registrations returned in the response.
          required: false
          style: deepObject
      tags:
        - Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListRegistrationsByApplicationBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample1
                ListRegistrationsByApplicationBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample2
                ListRegistrationsByApplicationBadRequestExample3:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample3
                ListRegistrationsByApplicationBadRequestExample4:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations/{registrationId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
      - $ref: '#/components/parameters/RegistrationId'
    get:
      x-unstable: true
      summary: Fetch Registration
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns information about an application's registration status for a
        particular API.
      operationId: get-application-registration
      tags:
        - Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/GetApplicationRegistration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-unstable: true
      summary: Update Registration
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the status of a particular application registration to an API.
        Approved application registrations will allow API traffic to the
        corresponding API. Revoked, rejected, or pending will not allow API
        traffic.
      operationId: update-application-registration
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationRegistration'
      tags:
        - Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/UpdateApplicationRegistration'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateApplicationRegistrationBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdateApplicationRegistrationBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-unstable: true
      summary: Delete Registration
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes an application registration, which if currently approved will
        immediately block API traffic to the API.

        Note: Developers can request a new application registration for the
        given API as long as they have RBAC access to consume.
      operationId: delete-application-registration
      tags:
        - Application Registrations
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/authentication-settings:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      x-speakeasy-entity-operation: PortalAuth#read
      summary: Get Auth Settings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the developer authentication configuration for a portal, which
        determines how developers can log in and how they are assigned to teams.
      operationId: get-portal-authentication-settings
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      x-unstable: true
      x-speakeasy-entity-operation: PortalAuth#create,update
      summary: Update Auth Settings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the developer authentication configuration for a portal.
        Developers can be allowed to login using basic auth (email & password)
        or use Single-Sign-On (SSO) through an OIDC Identity Provider (IdP).
        Developers can be automatically assigned to teams by mapping claims from
        thier IdP account.
      operationId: update-portal-authentication-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateAuthSettingsBadRequestExample1:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample1'
                UpdateAuthSettingsBadRequestExample2:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample2'
                UpdateAuthSettingsBadRequestExample3:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample3'
                UpdateAuthSettingsBadRequestExample4:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample4'
                UpdateAuthSettingsBadRequestExample5:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample5'
                UpdateAuthSettingsBadRequestExample6:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample6'
                UpdateAuthSettingsBadRequestExample7:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample7'
                UpdateAuthSettingsBadRequestExample8:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample8'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/{portalId}/identity-provider/team-group-mappings:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: List Team Group Mappings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists mappings between Konnect portal teams and Identity Provider (IdP)
        groups. Returns a 400 error if an IdP has not yet been configured.
      operationId: list-portal-team-group-mappings
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListTeamGroupMappingsBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListTeamGroupMappingsBadRequestExample1
                ListTeamGroupMappingsBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListTeamGroupMappingsBadRequestExample2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
    patch:
      x-unstable: true
      summary: Update Team Group Mappings
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Allows partial updates to the mappings between Konnect portal teams and
        Identity Provider (IdP) groups. The request body must be keyed on team
        ID. For a given team ID, the given group list is a complete replacement.
        To remove all mappings for a given team, provide an empty group list.

        Returns a 400 error if an IdP has not yet been configured, or if a team
        ID in the request body is not found or is not a UUID.
      operationId: update-portal-team-group-mappings
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateTeamGroupMappingsBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdateTeamGroupMappingsBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalTeamGroupMappings'
  /portals/{portalId}/teams:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: List Teams
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the developer teams in a portal. Each team can contain any
        developer and developers can be part of multiple teams.
      operationId: list-portal-teams
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter teams returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Teams
    post:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#create
      summary: Create Team
      operationId: create-portal-team
      responses:
        '201':
          $ref: '#/components/responses/PortalTeam'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                CreateTeamBadRequestExample1:
                  $ref: '#/components/examples/CreateTeamBadRequestExample1'
                CreateTeamBadRequestExample2:
                  $ref: '#/components/examples/CreateTeamBadRequestExample2'
                CreateTeamBadRequestExample3:
                  $ref: '#/components/examples/CreateTeamBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a developer team in a portal. Developers can be added to teams
        to provide RBAC access to API products. Teams can be assigned roles that
        grant permissions to perform an action on a resource.
  /portals/{portalId}/teams/{teamId}:
    parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#read
      summary: Get Team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-portal-team
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an individual team.
      tags:
        - Portal Teams
    patch:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#update
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates an individual developer team for a portal.
      summary: Update Team
      operationId: update-portal-team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      tags:
        - Portal Teams
    delete:
      x-unstable: true
      x-speakeasy-entity-operation: PortalTeam#delete
      summary: Delete Team
      operationId: delete-portal-team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes a developer team from a portal. Deleting a team also deletes its
        assigned roles. Members of the team are not deleted, but they will lose
        any access provided through the team.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  /portals/{portalId}/teams/{teamId}/developers:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
    get:
      x-unstable: true
      summary: List Team Developers
      responses:
        '200':
          $ref: '#/components/responses/ListBasicDevelopers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: list-portal-team-developers
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List a team's developers.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - schema:
            type: object
            properties:
              email:
                $ref: '#/components/schemas/StringFieldFilter'
              full_name:
                $ref: '#/components/schemas/StringFieldFilter'
              attributes:
                $ref: '#/components/schemas/StringFieldFilter'
              active:
                $ref: '#/components/schemas/BooleanFieldFilter'
          in: query
          name: filter
          description: Filter developers returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Team Membership
    post:
      x-unstable: true
      summary: Add Developer to Team
      operationId: add-developer-to-portal-team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Adds a developer to a team. This associates them with all of the roles
        that have been assigned to the team, providing specific permissions to
        perform actions on resources.
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AddDeveloperToTeamBadRequestExample1:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample1'
                AddDeveloperToTeamBadRequestExample2:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        $ref: '#/components/requestBodies/AddDeveloperToTeam'
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/developers/{developerId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/DeveloperId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      x-unstable: true
      summary: Remove Developer from Team
      operationId: remove-developer-from-portal-team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Removes a developer from a team. This removes the association of the
        team's roles from the developer.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/assigned-roles:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
    get:
      x-unstable: true
      summary: List Team Roles
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the roles belonging to a developer team. Each role provides
        permissions to perform actions on a specified resource or collection.
      tags:
        - Portal Team Roles
      responses:
        '200':
          $ref: '#/components/responses/AssignedPortalRoleCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: list-portal-team-roles
    post:
      x-unstable: true
      summary: Assign Role
      operationId: assign-role-to-portal-teams
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Assign a role to a developer team. This associates the set of
        permissions in a role with the team, so that they will be applied to any
        developer who is a member of the team.
      responses:
        '201':
          $ref: '#/components/responses/PortalAssignedRole'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AssignRoleBadRequestExample1:
                  $ref: '#/components/examples/AssignRoleBadRequestExample1'
                AssignRoleBadRequestExample2:
                  $ref: '#/components/examples/AssignRoleBadRequestExample2'
                AssignRoleBadRequestExample3:
                  $ref: '#/components/examples/AssignRoleBadRequestExample3'
                AssignRoleBadRequestExample4:
                  $ref: '#/components/examples/AssignRoleBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        $ref: '#/components/requestBodies/PortalAssignRole'
      tags:
        - Portal Team Roles
  /portals/{portalId}/teams/{teamId}/assigned-roles/{roleId}:
    parameters:
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      x-unstable: true
      summary: Remove Role
      operationId: remove-role-from-portal-team
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Removes an assigned role from a developer team. This deletes the
        association of the role with team and each of its members.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Roles
  /portals/{portalId}/developers:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: List Developers
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the developers that have registered for this portal. Each
        developer can be registered to one portal and must be approved to login
        unless using the developer auto-approve setting.
      operationId: list-portal-developers
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/ListDevelopers'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListDevelopersBadRequestExample1:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample1'
                ListDevelopersBadRequestExample2:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample2'
                ListDevelopersBadRequestExample3:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample3'
                ListDevelopersBadRequestExample4:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortDevelopers'
        - schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
              email:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter developers returned in the response.
          required: false
          style: deepObject
  /portals/{portalId}/developers/{developerId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/DeveloperId'
    get:
      x-unstable: true
      summary: Fetch Developer
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns information about a single developer in this portal. Each
        developer manages a set applications, providing them credentials to
        access registered APIs. Developer registration access can be limited to
        specific APIs using RBAC.
      operationId: get-developer
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/GetDeveloper'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-unstable: true
      summary: Update Developer
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the status of a particular developer. Approved developers have
        access to login to the portal. Revoked, rejected, or pending are not
        allowed to login. Even if a developer's status is no longer approved,
        they will still be able to using any existing credentials generated
        while they were approved, until each application registration is revoked
        or deleted.
      operationId: update-developer
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeveloper'
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/UpdateDeveloper'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateDeveloperBadRequestExample1:
                  $ref: '#/components/examples/UpdateDeveloperBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-unstable: true
      summary: Delete Developer
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes a developer, which will discontinue their ability to login, view
        any non-public resources, and delete all applications owned by them. All
        credentials issued to the developer will no longer provide access to any
        APIs. A deleted developer's unique email must be re-registered and
        approved to gain access again.
      operationId: delete-developer
      tags:
        - Portal Developers
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/developers/{developerId}/teams:
    parameters:
      - $ref: '#/components/parameters/DeveloperId'
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: List Developer Teams
      operationId: list-portal-developer-teams
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Lists the teams to which a developer belongs. Each team a developer is a
        member of grants them various roles that provide permissions to perform
        actions on certain resources.
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      tags:
        - Portal Team Membership
  /portal-roles:
    get:
      x-unstable: true
      summary: List Portal Roles
      operationId: list-portal-roles
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        List roles that can be assigned to teams in a portal. Each role provides
        a set of permissions to perform an action on a resource.
      responses:
        '200':
          $ref: '#/components/responses/ListRoles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Team Roles
  /portals/{portalId}/identity-providers:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: Retrieve Identity Providers
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Retrieves the identity providers available within the portal. This
        operation provides information about

        various identity providers for SAML or OIDC authentication integrations.
      operationId: get-portal-identity-providers
      parameters:
        - schema:
            type: object
            properties:
              type:
                $ref: '#/components/schemas/schemas-StringFieldEqualsFilter'
          in: query
          name: filter
          description: Filter identity providers returned in the response.
          required: false
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/IdentityProviders'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
    post:
      x-unstable: true
      summary: Create Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Creates a new identity provider. This operation allows the creation of a
        new identity provider for

        authentication purposes.
      operationId: create-portal-identity-provider
      requestBody:
        $ref: '#/components/requestBodies/CreateIdentityProviderRequest'
      responses:
        '201':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
  /portals/{portalId}/identity-providers/{id}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/IdentityProviderId'
    get:
      x-unstable: true
      summary: Get Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Retrieves the configuration of a single identity provider. This
        operation returns information about a

        specific identity provider's settings and authentication integration
        details.
      operationId: get-portal-identity-provider
      responses:
        '200':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Auth Settings
    patch:
      x-unstable: true
      summary: Update Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Updates the configuration of an existing identity provider. This
        operation allows modifications to be made

        to an existing identity provider's configuration.
      operationId: update-portal-identity-provider
      requestBody:
        $ref: '#/components/requestBodies/UpdateIdentityProviderRequest'
      responses:
        '200':
          $ref: '#/components/responses/IdentityProvider'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Auth Settings
    delete:
      x-unstable: true
      summary: Delete Identity Provider
      description: >-
        **Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Deletes an existing identity provider configuration. This operation
        removes a specific identity provider

        from the portal.
      operationId: delete-portal-identity-provider
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Auth Settings
  /portals/{portalId}/audit-log-replay-job:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    put:
      x-unstable: true
      summary: Update Portal Audit Log Replay Job
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates a job to re-send audit logs to an portal's webhook.
      operationId: update-portal-audit-log-replay-job
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalAuditLogReplayJob'
      tags:
        - Portal Audit Logs
      responses:
        '202':
          $ref: '#/components/responses/PortalAuditLogReplayJob'
        '400':
          $ref: '#/components/responses/PortalReplayJobBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PortalReplayJobConflict'
    get:
      x-unstable: true
      summary: Get Portal Audit Log Replay Job
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns the audit log replay job's configuration and status.
      operationId: get-portal-audit-log-replay-job
      tags:
        - Portal Audit Logs
      responses:
        '200':
          $ref: '#/components/responses/PortalAuditLogReplayJob'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/audit-log-webhook:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    patch:
      x-unstable: true
      summary: Update Portal Audit Log Webhook
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Updates the configuration for a webhook to receive audit logs.
      operationId: update-portal-audit-log-webhook
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuditLogWebhook'
      tags:
        - Portal Audit Logs
      responses:
        '200':
          $ref: '#/components/responses/PortalAuditLogWebhook'
        '400':
          $ref: '#/components/responses/PortalWebhookBadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      x-unstable: true
      summary: Get Portal Audit Log Webhook
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns configuration for the audit log webhook.
      operationId: get-portal-audit-log-webhook
      tags:
        - Portal Audit Logs
      responses:
        '200':
          $ref: '#/components/responses/PortalAuditLogWebhook'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/audit-log-webhook/status:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      summary: Get Portal Audit Log Webhook Status
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns status of the audit log webhook.
      operationId: get-portal-audit-log-webhook-status
      tags:
        - Portal Audit Logs
      responses:
        '200':
          $ref: '#/components/responses/PortalAuditLogWebhookStatus'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/email-domains:
    get:
      x-unstable: true
      operationId: list-email-domains
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        List email domains
      summary: List email domains
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortEmailDomains'
        - in: query
          name: filter
          description: Filter email domains returned in the response.
          required: false
          style: deepObject
          schema:
            $ref: '#/components/schemas/EmailDomainFilterParameters'
      tags:
        - Portal Emails
      responses:
        '200':
          description: List of a email domains
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDomains'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      x-unstable: true
      operationId: create-email-domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Create an email domain
      summary: Create an email domain
      tags:
        - Portal Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailDomainPayload'
      responses:
        '201':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDomain'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/email-domains/{emailDomain}:
    parameters:
      - $ref: '#/components/parameters/EmailDomain'
    get:
      x-unstable: true
      operationId: get-email-domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Get an email domain
      summary: Get an email domain
      tags:
        - Portal Emails
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-unstable: true
      operationId: delete-email-domain
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Delete an email domain
      summary: Delete an email domain
      tags:
        - Portal Emails
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/email-delivery:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      operationId: get-email-delivery
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Retrieve the email delivery for the portal
      summary: Retrieve the email delivery for the portal
      deprecated: true
      tags:
        - Portal Emails
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDelivery'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-unstable: true
      operationId: update-email-delivery
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Setup the email delivery for a portal
      summary: Setup the email delivery for a portal
      deprecated: true
      tags:
        - Portal Emails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailDeliveryUpdatePayload'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailDelivery'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-unstable: true
      operationId: delete-email-delivery
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Delete email delivery
      summary: Delete email delivery
      deprecated: true
      tags:
        - Portal Emails
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/email-config:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      x-internal: true
      operationId: get-email-config
      description: Retrieve the email config for the portal
      summary: Retrieve the email config for the portal
      tags:
        - Portal Emails
      responses:
        '200':
          $ref: '#/components/responses/PortalEmailConfigResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-unstable: true
      x-internal: true
      operationId: update-portal-email-config
      description: Setup the email config for a portal
      summary: Setup the email config for a portal
      tags:
        - Portal Emails
      requestBody:
        $ref: '#/components/requestBodies/PatchPortalEmailConfigPayload'
      responses:
        '200':
          $ref: '#/components/responses/PortalEmailConfigResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-unstable: true
      x-internal: true
      operationId: delete-portal-email-config
      description: Delete portal email config
      summary: Delete portal email config
      tags:
        - Portal Emails
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/email-templates:
    get:
      x-unstable: true
      x-internal: true
      operationId: list-default-email-templates
      description: List default email templates
      summary: List default email templates
      tags:
        - Portal Emails
      responses:
        '200':
          $ref: '#/components/responses/ListDefaultEmailTemplates'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/email-templates/variables:
    get:
      x-unstable: true
      x-internal: true
      operationId: list-email-template-variables
      description: List email template variables
      summary: List email template variables
      tags:
        - Portal Emails
      responses:
        '200':
          $ref: '#/components/responses/EmailTemplateVariables'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/email-templates/{templateName}:
    parameters:
      - $ref: '#/components/parameters/EmailTemplateName'
    get:
      x-unstable: true
      x-internal: true
      operationId: get-default-email-template
      description: Get default email template
      summary: Get default email template
      tags:
        - Portal Emails
      responses:
        '200':
          $ref: '#/components/responses/DefaultEmailTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/email-templates:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      x-unstable: true
      x-internal: true
      operationId: list-portal-custom-email-templates
      description: List custom email templates
      summary: List custom email templates for a portal
      tags:
        - Portal Emails
      responses:
        '200':
          $ref: '#/components/responses/ListEmailTemplates'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/email-templates/{templateName}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/EmailTemplateName'
    get:
      x-unstable: true
      x-internal: true
      operationId: get-portal-custom-email-template
      description: Get custom email template
      summary: Get custom email template used in a portal
      tags:
        - Portal Emails
      responses:
        '200':
          $ref: '#/components/responses/EmailTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      x-unstable: true
      x-internal: true
      operationId: update-portal-custom-email-template
      description: Update custom email template
      summary: Update custom email template for a portal
      tags:
        - Portal Emails
      requestBody:
        $ref: '#/components/requestBodies/PatchCustomPortalEmailTemplatePayload'
      responses:
        '200':
          $ref: '#/components/responses/PatchEmailTemplateResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      x-unstable: true
      x-internal: true
      operationId: delete-portal-custom-email-template
      description: Delete custom email template
      summary: >-
        Delete custom email template for a portal. This will revert to using the
        default template
      tags:
        - Portal Emails
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/email-templates/{templateName}/send-test-email:
    post:
      x-unstable: true
      x-internal: true
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/EmailTemplateName'
      operationId: post-portal-custom-email-test-send
      summary: Send a test email based on the portal's email template
      description: >-
        Send a test email based on the portal's email template, using the
        content provided in the request.

        The email will be sent to the Konnect user who triggered the test.
      tags:
        - Portal Emails
      requestBody:
        $ref: '#/components/requestBodies/PostSendTestEmailPayload'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  examples:
    400-request-format-is-invalid:
      value:
        status: 400
        title: Bad Request
        detail: Could not parse request body
        instance: konnect:trace:3674017986744198214
        invalid_parameters:
          - field: body
            reason: request format is invalid
    400-authorization-cannot-be-blank:
      value:
        status: 400
        title: Bad Request
        detail: Required field missing
        instance: konnect:trace:6644808935508571943
        invalid_parameters:
          - field: authorization
            reason: cannot be blank
    400-endpoint-cannot-be-blank:
      value:
        status: 400
        title: Bad Request
        detail: Required field missing
        instance: konnect:trace:6644808935508571943
        invalid_parameters:
          - field: endpoint
            reason: cannot be blank
    400-endpoint-must-be-valid-url:
      value:
        status: 400
        title: Bad Request
        detail: Invalid endpoint
        instance: konnect:trace:6644808935508571943
        invalid_parameters:
          - field: endpoint
            reason: must be a valid URL
    409-job-running:
      value:
        status: 409
        title: Resource Conflict
        instance: konnect:trace:6644808935508571943
        detail: A replay job is currently running
    ListDevelopersExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 4
        data:
          - id: 8cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: jane.developer@example.com
            full_name: Jane Dev
            status: approved
            application_count: 8
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 4cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: John Dev
            status: revoked
            application_count: 27
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jim Dev
            status: pending
            application_count: 0
            created_at: '2022-11-15T20:37:41.457Z'
[...]
