.page-404 {
  
   /* animation */
@keyframes "animate1" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: rotate(360deg);
	}
}
@keyframes "animate2" {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
@keyframes "animate3" {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
		top: 20%;
	}
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: "Poppins" , sans-serif;
	background: #04253b;
}
.container {
	text-align: center;
	user-select: none;
	h1 {
		font-size: 6rem;
		.fas {
			animation: animate1 2s linear infinite alternate;
		}
		.num {
			animation: animate2 2s linear infinite alternate;
		}
	}
	p {
		margin-top: 20px;
		word-spacing: 5px;
	}
}
.spider {
	font-size: 3rem;
	animation: animate3 2s linear infinite alternate;
	position: absolute;
	top: 0;
	transform: rotate(180deg);
	&::after {
		content: "";
		position: fixed;
		top: 20px;
		left: 50%;
		width: 0.5px;
		height: 30vh;
		opacity: 0.5;
		background: #fff;
	}
	&::before {
		content: "404";
		position: fixed;
		top: -50px;
		left: -18px;
		opacity: 0.5;
		transform: rotate(180deg);
	}
}
.anchor-text {
	color: black;
}



}
