.docs-navigation {
  display: flex;
  margin-top: -15px;
  margin-bottom: 6rem;
  border-bottom: 1px solid @black-10;

  > a {
    padding: 0 10px 16px;
    font-size: 16px;
    color: @black-70;

    &.active {
      color: @blue;
      border-bottom: 2px solid @blue;
      margin-bottom: -2px;
      cursor: text;
    }

    &:not(.active) {
      &:hover, &:focus {
        border-bottom: 2px solid @black-40;
        margin-bottom: -2px;
        transition: all 0.1s;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
      }
    }

    &:first-child {
      padding-left: 0;
    }
  }

  & ~ .page-header-title h1 {
    color: @navy-darker;
  }

  &.v2 {
    margin-bottom: 32px;
    position: relative;

    > a {
      padding-bottom: 0;
      vertical-align: middle;
      line-height: 52px;
    }

    @media (max-width: 1100px) {
      margin-bottom: 56px;
    }

    @media (max-width: 768px) {
      > a {
        font-size: 14px;
      }
    }
  }
}

.edit-this-page {
  position: relative;
  right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;

  a {
    padding: 0 0 16px;
    font-size: 14px;

    i {
      padding: 4px;
    }
  }

  &.v2 {
    a {
      padding: 0;
      opacity: 0.3;
      transition: opacity 0.2s;
      margin-left: 8px;

      img {
        padding: 6px 2px 6px 6px;
        margin-top: 4px;
        width: 20px;
        height: 20px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

#documentation {
  .content {
    ol {
      padding-left: 2rem;
      counter-reset: base;

      li {
        p {
          font-size: inherit;
        }
      }
    }

    ol > li::before {
      counter-increment: base;
      content: counter(base);
      font-size: 13px;
    }

    ul {
      // avoid nested lists and lists elements to have smaller and smaller
      // font sizes
      font-size: inherit;
      margin-left: 0.5rem;
      list-style: none;

      li {
        // avoid ridiculously big spaces between lists elements
        margin-bottom: 0.2rem;
        list-style-type: disc;

        p {
          font-size: inherit;
        }
      }

      ul {
        // avoid nested lists to have too much margin
        margin-left: 1.3rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
    }

    .indent {
      margin-left: 2rem;
    }

    table.indent {
      width: -moz-available;
      width: -webkit-stretch;
      width: stretch;
    }

    // titles proportions overridden from base.less

    h2, h3, h4, h5, h6 {
      font-family: @family-display;
      margin-bottom: 1.2rem;
    }

    h2 {
      margin-top: 3.2rem;
      font-size: 2.7rem;
      font-weight: normal;
    }

    h3 {
      margin-top: 2.7rem;
      font-size: 2.1rem;
      font-weight: normal;
    }

    h4 {
      font-size: 1.7rem;
      font-weight: bold;
    }

    h5 {
      font-size: 1.4rem;
      font-weight: normal;
    }

    h6 {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  &.v2 {
    .content {
      .breadcrumbs {
        margin-left: -0.1rem;

        @media screen and (max-width: 800px) {
          display: flex;
          margin-left: 0;
          overflow-x: auto;
          white-space: nowrap;
          align-items: center;
          justify-content: flex-start;
        }
      }

      .page-content-title {
        color: #062e4d;
        margin-bottom: 0.4em;
        font: lighter 34px/40px Roboto;
        scroll-margin-top: 100px;

        &::before {
          display: none;
        }
      }

      .page-content-subtitle {
        max-width: 800px;
        margin-top: 16px;
        margin-bottom: 2rem;
        opacity: 0.6;
        font: lighter 16px/20px Roboto;

        &::before {
          display: none;
        }
      }
    }

    .docs-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .docs-grid-section-title {
        margin: 8px 0 8px;
        font-size: 28px;
        font-weight: lighter;
        font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        color: rgba(0, 0, 0, 0.7);
        grid-column: 1 / span 2;

        &:not(:first-of-type) {
          margin-top: 40px;
        }
      }

      a {
        color: @blue;
      }

      .docs-grid-block {
        float: none;
        width: auto;
        height: auto;
        border-bottom: 1px solid #eee;
        padding: 24px 32px 24px 0;

        h3 {
          font-size: 24px !important;
        }

        > a {
          font-size: 16px;
        }
      }

      @media (max-width: 1200px) {
        grid-template-columns: 1fr;

        .docs-grid-section-title {
          grid-column: 1;
        }
      }
    }
  }
}

#getkong-algolia-search {
  input {
    vertical-align: inherit !important;
    height: 40px;
    margin-bottom: 0;
  }

  float: right;
  /* auto complete */

  .algolia-autocomplete {
    width: 220px;
  }

  /* Bottom border of each suggestion */

  .algolia-docsearch-suggestion {
    border-bottom-color: @blue-light;
  }

  /* Highlighted search terms */

  .algolia-docsearch-suggestion--highlight {
    color: @blue-light;
  }

  /* Currently selected suggestion */

  .aa-cursor .algolia-docsearch-suggestion--content {
    color: @blue-light;
  }

  @media (max-width: 800px) {
    float: initial;
    display: inline-block;
    margin-right: 5px;
    .algolia-docsearch-suggestion--subcategory-column {
      display: none !important;
    }
  }
  @media (max-width: 476px) {
    margin: 10px 0 0;
    float: left;
    clear: both;
  }
}

.search-input {
  i,
  .icon {
    position: absolute;
    z-index: 1;
    padding: 11px 0 0 12px;
  }

  .icon {
    width: 16px;
    height: 16px;
    padding-top: 13px;
  }

  input {
    width: 100%;
    padding-left: 34px;
  }

  &.v2 {
    input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.search-version-row {
  display: flex;
  justify-content: center;
}

.docs-sidebar {
  float: left;
  width: 280px;
  position: sticky;
  top: 54px;
  height: ~"calc(100vh - 56px)";
  border-right: 1px solid @gray;
  overflow-y: auto;

  .sidebar-title-container {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .sidebar-title {
      margin: 8px 0;
      color: @navy-text;
      font: bold 20px/28px Roboto;
    }

    .dropdown-button {
      height: 32px;
      color: @gray-dark;
      text-transform: uppercase;
      font: bold 12px/16px Roboto;
      padding: 0 8px;
      font-size: 12px;
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-color: @gray-border;
      background-color: @gray-background;

      em {
        font-style: normal;
      }

      &#module-dropdown {
        height: auto;
        min-height: 50px;
        padding: 8px;
        color: #043558;
        background: transparent;
        border: 1px solid #e7ebee;
        text-transform: none;
        font: 500 15.5px/26px Roboto;

        &:hover {
          background-image: linear-gradient(to bottom,rgba(255,255,255,.15),rgba(189,230,207,.15))
        }

        span {
          max-width: 100%;
          white-space: normal;
        }
      }
    }
  }

  .close-sidebar {
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.20);
    font-size: 20px;
    text-align: right;

    &:before {
      cursor: pointer;
      -webkit-text-stroke: 2px white;
    }
  }

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @blue-200;
    outline: 1px solid @blue-200;
  }

  ul.items {
    margin: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 9px 0;

      &.accordion-item {
        padding: 0;

        label {
          padding: 9px 0;
        }
      }

      ul {
        margin: 0;
        padding-left: 0.6em;
      }

      a {
        color: #043558;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        padding-right: 8px;

        &:hover {
          color: #1155cb;
        }

        &.active {
          color: @blue-text;
          font-weight: 600;
        }
      }
    }
  }

  .accordion-container {

    #accordion-opened {
      display: none;
    }

    > li.accordion-item > div > ul.items {
      padding: 0 0 8px 0;
    }
  }

  @media screen and (max-width: 800px) {
    position: fixed;
    left: 0;
    padding: 0;
    height: ~"calc(100% - 56px)";
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
    border: 0 none;
    background: #fff;
    overflow-y: auto;
    z-index: 100;
    transform: translateX(-105%);
    -webkit-transform: translateX(-105%);
    transition: all 300ms ease-in-out;

    .close-sidebar {
      height: auto;
      padding: 16px;
    }

    &.sidebar-open {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }
}

.knowledge-base-section {
  margin-top: 32px;

  .knowledge-base-section-title {
    text-align: center;
    font-size: 28px;
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: lighter;
  }

  .knowledge-base-links {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    .knowledge-base-link {
      margin: 0 80px 32px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;

      .knowledge-base-link-title {
        text-align: center;
        color: @blue;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        text-decoration: none;
      }

      img {
        margin-top: 16px;
      }
    }

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
}

.docs-toc {
  float: right;
  width: 250px;
  padding: 32px 16px;
  position: sticky;
  top: 54px;
  height: ~"calc(100vh - 120px)";
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  .close-sidebar {
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 0;
    padding: 16px;
    color: rgba(0, 0, 0, 0.20);
    font-size: 20px;
  }

  .collapse-toc,
  .expand-toc {
    position: absolute;
    right: 0;
    top: 24px;
    padding: 8px;
    color: rgba(0, 0, 0, .35);
    font-size: 22px;
    cursor: pointer;
  }

  .collapse-toc {
    top: 28px;
    font-size: 16px;
  }

  .expand-toc {
    visibility: hidden;
  }

  .docs-toc-title {
    margin-bottom: 4px;
    text-transform: uppercase;
    font: normal 14px/16px Roboto;

    a {
    color: @black-90;
    opacity: 0.6;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
      }
    }
  }

  .github-links {
    margin-bottom: 1.5em;

    p {
      padding: 0;
      position: relative;
      margin: 0;
      border: none;
      padding-bottom: 6px;
      vertical-align: text-top;

        a {
          font: normal 14px/22px Roboto;
          color: #043558;

            img, i {
              float: left;
              padding-right: 12px;
              display: inline-block;
              width: 16px;
              opacity: 0.4;
              position: relative;
              top: 6px;
              }

            i {
              opacity: 1;
              font-size: 14px;
              left: 1.5px;
            }

            &:hover {
            color: @blue-500;
            text-decoration: underline;
            }
          }
        }
      }

  ul {
    margin: 0 0 0 4px;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      margin: 0;
      padding-left: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-left: 1px solid transparent;

      a {
        img {
          display: none;
        }

        font-size: 16px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.8);
        opacity: 0.6;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }

        &.active {
          font-weight: 600;
          opacity: 1;
        }
      }

      &:before {
        content: "";
        width: 8px;
        height: 20px;
        position: absolute;
        left: -1px;
        top: 0;
        border: solid #e1eaf4;
        border-width: 0 0 1px 1px;
      }

      &:not(:last-child) {
        border-left-color: #e1eaf4;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @blue-200;
    outline: 1px solid @blue-200;
  }

  @media screen and (min-width: 1301px) {
    &.collapsed {
      width: 50px;
      overflow-y: hidden;

      .github-links {
        visibility: hidden;
      }

      .docs-toc-title,
      > ul {
        transform: translateX(200%);
        opacity: 0;
      }

      .collapse-toc {
        visibility: hidden;
      }

      .expand-toc {
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: 1300px) {
    position: fixed;
    right: 0;
    padding: 16px 24px;
    height: ~"calc(100% - 56px)";
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.15);
    border: 0 none;
    background: #fff;
    overflow-y: auto;
    z-index: 100;
    transform: translateX(-100%);
    -webkit-transform: translateX(100%);
    transition: all 300ms ease-in-out;

    .close-sidebar {
      cursor: pointer;
      visibility: visible;
      -webkit-text-stroke: 2px white;
    }

    .collapse-toc,
    .expand-toc {
      visibility: hidden;
    }

    &.sidebar-open {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }
}
