.docs-navigation {
  display: flex;
  margin-top: -15px;
  margin-bottom: 6rem;
  border-bottom: 1px solid @black-10;
  a {
    padding: 0 10px 16px;
    font-size: 16px;
    color: @black-70;
    &.active {
      color: @blue;
      border-bottom: 2px solid @blue;
    }
    &:hover {
      border-bottom: 2px solid @black-40;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  &~.page-header-title h1 {
    color: @navy-darker;
  }
}



#documentation {
  .content {

    ol {
      padding-left: 2rem;
    }

    ul {
      // avoid nested lists and lists elements to have smaller and smaller
      // font sizes
      font-size: inherit;

      li {
        // avoid ridiculously big spaces between lists elements
        margin-bottom: 0.2rem;
      }

      ul {
        // avoid nested lists to have too much margin
        margin-left: 1.3rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
    }

    // titles proportions overriden from base.less

    h1 {
      font-size: 33px;
      font-weight: 400;
    }

    h2 {
      margin-top: 1.2em;
      margin-bottom: .8em;
      font-size: 28px;
      font-weight: 400;
    }

    h3 {
      font-size: 26px;
      font-weight: 300;
    }

    h4 {
      font-size: 24px;
      font-weight: 300;
    }

    h5 {
      font-size: 22px;
      font-weight: 300;
    }

    h6 {
      font-size: 20px;
      font-weight: 200;
    }

    // anchor links for titles
    h1, h2, h3, h4, h5, h6 {
      a.header-link {
        margin-left: -.9em;
        padding-right: .2em;
        color: inherit;

        i {
          font-size: 70%;
          visibility: hidden;
        }
      }

      &:hover {
        .header-link i {
          visibility: visible;
        }
      }
    }

  }
}

#getkong-algolia-search {
  input{
    vertical-align: inherit !important;
    height: 40px;
    margin-bottom: 0;
  }
  float: right;
  margin-left: 10px;
  @media (min-width: @grid-width-md) and (max-width: @navbar-collapse-point) {
    float: initial;
    margin: 10px -3px 0;
  }
}

.search-input {
  i {
    position: absolute;
    z-index: 1;
    padding: 11px 0 0 12px;
  }
  input {
    padding-left: 34px;
  }
}
