// Stylesheet for all pages under /hub/ (except the landing page;
// for the hub landing page, see hub-landing-page.less)

// Plugin version dropdown button
.page-extension-profile .container .dropdown.page-header-right {
  position: absolute;
  z-index: 10;
  top: 30px;
  margin-left: -10px;
  width: 220px;
}

.page-extension-profile .container {
  .page-content-container {
    padding-right: 230px;

    .page-content {
      padding-right: 75px;
      margin-right: 25px;
    }
  }
}

@media (min-width: 1601px) {
  .page-extension-profile {
    .container {
      max-width: 1366px;
    }
  }
}

@media (max-width: 1600px) {
  .page-extension-profile {
    .container {
      max-width: 95%;
      min-width: 85%;
    }
  }
}

@media (max-width: 1100px) {
  .page-extension-profile .container {
    .page-content-container {
      padding-left: 0;
      padding-right: 0;

      .page-content {
        padding: 0;
        border-right: none;
        border-left: none;
        margin-right: 0;
        margin-left: 0;
      }
    }

    .dropdown.page-header-right {
      position: relative;
      text-align: left;
      margin-top: 5px;
      left: 0;
      right: none;
      top: 0;

      ul {
        right: unset;
      }
    }
  }
}

.fa-check:before {
  color: #21a959;
}

.fa-minus-square {
  color: #ffdc73;
}

.page-extension-profile {
  > .container {
    border: none;
    border-top: 1px solid @gray;
  }

  .content {
    padding-top: 37px;

    ol {
      padding-left: 2rem;
      counter-reset: base;

      li {
        p {
          font-size: inherit;
        }
      }
    }

    ol > li::before {
      counter-increment: base;
      content: counter(base);
      font-size: 13px;
    }

    ul {
      margin-left: 0.5rem;

      li {
        list-style-type: disc;

        p {
          font-size: inherit;
        }
      }
    }

    hr {
      border-top: 1px solid #ebebeb;
      margin-top: 2em;
      margin-bottom: 2em;
    }
  }

  .alert-info {
    color: #757575;
    border-color: #e0e0e0;
    background-color: #f9f9f9;

    &.blue {
      color: #004a80;
      border-left: 3px solid #004b80;
      background-color: #edf7ff;
    }
  }
}

// Plugin sidebar; based on sidebar classes used in the rest of the docs, see
// definitions for .docs-toc in docs.less for the base styles
.docs-toc {
  &.with-dropdown {
    padding: 80px 0 0 10px;
  }

  &#plugin-toc {
    padding-left: 15px;
    padding-right: 20px;
    width: 250px;

    // "On this page" title
    .docs-toc-title {
      a {
        color: #494e50;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        padding-left: 0px;
      }
    }

    .github-links {
      margin-top: 0.2rem;
      margin-top: 0.2rem;

      a,
      i {
        &:hover,
        &:focus {
          opacity: 0.6;
        }
      }
      i {
        color: #aaa;
      }
    }

    .about-extn-table {
      position: relative;

      #about-extn {
        // Kong logo
        img {
          width: 20px;
          margin-right: 3px;
          vertical-align: middle;
        }

        th {
          font-size: 15px;
          letter-spacing: 0.5px;
          line-height: 20px;
          text-transform: uppercase;
          padding-top: 25px;
        }
        td {
          padding-top: 1em;

          .protocol {
            margin-right: 3px;
            padding-bottom: 3px;

            code {
              white-space: pre-wrap;
            }
          }

          a {
            &:not(.badge) {
              color: #1456cb;
              opacity: 1;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          ul {
            margin-bottom: 0;
            padding-left: 0;
            margin-left: 0;

            li {
              padding-top: none;
              list-style: none;
              border: none;

              &:before {
                border-left: none;
                display: none;
              }
            }

            // "Version Compatibility" lists
            &.compat-list {
              li {
                text-align: center;
              }

              .compat-label {
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 0.4px;
                font-size: 14px;
                margin-bottom: 2px;
                margin-top: 8px;
              }
            }

            // "Category" links
            &.categories {
              li {
                margin-bottom: 3px;
                line-height: 1.1em;
                padding-left: 0;
                margin-left: 0;
              }
            }
          }
        }
      }
    }

    @media (max-width: 1100px) {
      position: fixed;
      top: 56px;
      right: 0;
      padding: 25px;
      height: ~"calc(100% - 80px)";
      box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
      border: 0 none;
      background: #fff;
      overflow: scroll;
      z-index: 100;
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transition: all 300ms ease-in-out;

      .close-sidebar {
        display: block;
        z-index: 100;
      }

      &.sidebar-open {
        transform: translateX(0);
      }

      nav {
        h5,
        a {
          font-size: 15px;
        }
      }
    }
  }
}

.old-version-banner {
  padding: 10px 20px;
  display: block;
  background-color: #fff3d8;
  border: none;
  border-radius: 4px;
  margin-bottom: -20px;
  margin-top: 20px;
  .font-source-sans();

  @media (max-width: 1100px) {
    margin-bottom: -25px;
  }
}

table {
  &.table-sticky {
    max-height: calc(100vh - 60px);

    thead tr {
      position: sticky;
      background-color: #fff;
      border-collapse: separate;
      top: 0;
      z-index: 1;
      box-shadow: inset 0 2px 0 @steel-200, inset 0 -2px 0 @steel-200;
    }
  }
}

.hub {
  .content {
    padding-top: 37px;

    ol {
      padding-left: 2rem;
      counter-reset: base;

      li {
        p {
          font-size: inherit;
        }
      }
    }
    ol > li::before {
      counter-increment: base;
      content: counter(base);
      font-size: 13px;
    }
  }
}
