.page-extension-profile .container .dropdown.page-header-right {
  z-index: 10;
  right: 20px;
  top: 37px;
  position: absolute;

  button {
    width: 200px;
  }

  ul {
    right: 0;
  }
}

@media (min-width: 1601px) {
  .page-extension-profile {
    .container {
      max-width: 1366px;
    }
  }
}

@media (max-width: 1600px) {
  .page-extension-profile {
    .container {
      max-width: 95%;
    }
  }
}

@media (max-width: 800px) {
  .page-extension-profile .container .dropdown.page-header-right {
    position: relative;
    text-align: left;
    margin-top: 25px;
    left: 0;
    right: none;
    top: 0;

    ul {
      right: unset;
    }
  }
}

.fa-check:before {
    color: #21A959
  }

.fa-minus-square {
    color: #ffdc73
  }

.page-extension-profile {
  >.container {
    border: none;
    border-top: 1px solid @gray;
  }

  .content {
    padding-top: 37px;

    h2, h3, h4, h5, h6 {
      font-family: @family-display;
      margin-bottom: 1.2rem;
    }

    h2 {
      font-size: 2.7rem;
      font-weight: normal;
    }

    h3 {
      margin-top: 2.7rem;
      font-size: 2.1rem;
      font-weight: normal;
    }

    h4 {
      font-size: 1.7rem;
      font-weight: bold;
    }

    h5 {
      font-size: 1.4rem;
      font-weight: bold;
    }

    h6 {
      font-size: 1.2rem;
      font-weight: bold;
    }

    ol {
        padding-left: 2rem;
        counter-reset: base;

      li {
        p {
          font-size: inherit;
        }
      }
    }

    ol > li::before {
      counter-increment: base;
      content: counter(base);
      font-size: 13px;
    }

    ul {
      margin-left: 0.5rem;

      li {
        list-style-type: disc;

        p {
          font-size: inherit;
        }
      }
    }

    hr {
        border-top: 1px solid #ebebeb;
        margin-top: 2em;
        margin-bottom: 2em;
    }
  }

  .alert-info {
    color: #757575;
    border-color: #e0e0e0;
    background-color: #f9f9f9;

    &.blue {
      color: #004A80;
      border-left: 3px solid #004b80;
      background-color: #EDF7FF;
    }
  }

  #about-extn {
    th {
      font-size: 15px;
      color: rgba(0,0,0,0.70);
      letter-spacing: 0.5px;
      line-height: 20px;
    }
    td {
      padding-top: 1em;
      &:first-child {
        vertical-align: text-top;
      }
      ul {
        margin-bottom: 0;
        padding-left: 0;
        li {
          list-style: none;
        }
        &.compat-list {
          li {
            text-align: center;
          }
        }
        &.categories {
          li {
            margin-bottom: 3px;
            line-height: 1.1em;
          }
        }
      }
    }
  }
}
