.section {
  padding: 80px 0;

  @media (max-width: 550px) {
    padding: 20px 0;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 45px;

  h2 {
    margin: 0;
    color: #45494d;
  }

  p {
    color: #74777a;
    margin: 5px 0 0;
  }
}

.section-buttons {
  margin-top: 20px;
  text-align: center;
}

.intro-section {
  background-color: @navy-darker;
  color: rgba(255, 255, 255, .5);
  font-size: 18px;
  line-height: 32px;
  padding: 100px 0 85px 0;

  h2 {
    color: #fff;
    font-size: 34px;
    margin: 50px 0 12px 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .button {
    margin-right: 5px;
  }
}

.features-section {
  text-align: center;

  h3 {
    margin-bottom: 40px;
    color: @blue;
  }

  img {
    width: 100%;
    height: auto;
  }
  
  p {
    margin: 25px 0 0;
    line-height: 25px;
  }

  .columns {
    position: relative;
    padding: 0 35px;

    + .columns:after {
      content: "";
      position: absolute;
      top: 45px;
      left: -20px;
      width: 2px;
      height: 210px;
      background-color: #f2f2f2;
    }
  }
}