.page-install-method {
  nav {
    ul {
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: left;

          &:before {
            width: 16px;
            height: 16px;
            margin-right: 10px;
          }
        }

        &.active {
          a {
            color: @blue;
          }
        }
      }

      &.packages {
        a:before {
          content: url('/assets/images/icons/icn-package-default.svg');
        }

        li.active {
          a:before {
            content: url('/assets/images/icons/icn-package-active.svg');
          }
        }
      }

      &.cloud {
        a:before {
          content: url('/assets/images/icons/icn-cloud-default.svg');
        }

        li.active {
          a:before {
            content: url('/assets/images/icons/icn-cloud-active.svg');
          }
        }
      }
    }
  }

  .content {
    padding: 50px 0;

    h3 {
      font-size: 22px;
      margin-bottom: 1em;
    }

    pre {
      margin: 1em 0;
    }

   
    ol {
      &:extend(.instructions-steps);
      padding-left: 19px;

      & > li {
        &:extend(.instructions-steps .instructions-step-item all);
        padding: 7px 0 15px 35px;

        &:last-child {
          padding-bottom: 15px;
        }

        &:before {
          color: @font-color;
          font-size: 13px;
          width: 36px;
          height: 36px;
          line-height: 36px;
          left: -19px;
        }
      }
    }

    .update-subscribe {
      display: flex;
      .icon {
        box-sizing: border-box;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ebebeb;
        background-color: #fff;
        font-weight: 600;
        position: relative;
        display: inline-flex;
        justify-content: center;
      }
      .update-content {
        display: inline-block;
        margin-left: 20px;
      }
    }

  }
}

.page-install-method.aws-cloudformation {
  .content {
    ul {
      li {
        a {
          min-width: 154px;
        }

        &:nth-of-type(4):after {
          display: none;
        }
      }
    }
  }
}
