.oas-landing {
  .feature-title {
    color: #262e33;
    font-size: 30px;
  }

  .card.default {
    .title {
      align-self: start;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      align-items: flex-start;
      text-align: left;
      font-size: inherit;
    }

    .links-container {
      align-items: flex-start;
    }

    .link-text {
      padding: 8px 0px;

      &:hover {
        background-color: inherit;
      }
    }
  }
}
