.page-plugins {
  p {
    font-weight: 500;
  }

  hr {
    margin: 20px 0;
  }

  .plugins-list {
    margin: 60px 0;
  }

  .page-plugins-title {
    h2 {
      font-size: 22px;
      font-weight: 600;
      margin: 0 0 20px 0;
      padding-bottom: 20px;
      border-bottom: 1px solid @gray;
    }

    p {
      margin: 0;
    }
  }

  .plugins-container {
    &:extend(.u-cf);
    width: 100%;
    margin-top: 45px;
  }

  .plugins-container + .page-plugins-title {
    margin-top: 15px;
  }

  .plugin-plate {
    &:extend(.columns all, .four.columns);
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    position: relative;
    transition: border-color .2s;
    
    &:hover {
      border-color: #80caff;
    }
  }

  .plugin-plate-header {
    padding: 16px 16px 16px 95px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;

    h3 {
      font-size: 14px;
      margin: 0;
      font-weight: 600;
    }
  }

  .plugin-icon {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  .plugin-plate-content {
    font-size: 13px;
    padding: 16px 16px 16px 95px;

    @media (max-width: 900px) {
      padding: 50px 16px 16px;
    }

    p {
      margin: 0;

      + p {
        margin-top: 10px;
      }
    }
  }

  .plugin-plate-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .faq-section {
    margin-top: 60px;
  }
}