---
title: Kong Download and Installation
layout: default
---

<div class="page page-downloads">

  {% include header.html %}

  <section class="content-section">
    <div class="container">
      <h2>Install Kong {{ site.data.kong_latest.release }}</h2>
      <p>See <a href="">Changelog</a></p>

      <!-- <div class="box">
        <p>
          <img class="icon" src="/assets/images/icons/icn-script.svg"/>
          <strong>Kong Installation Script:</strong> Run this script in your server and automatically download the package you need.
        </p>
      </div> -->

      <h6>installation methods</h6>

      <div class="distributions">
        {% for method in site.data.distributions %}
          {% capture mod %}{{ forloop.index0 | modulo:4 }}{% endcapture %}

          {% if mod == '0' or forloop.first %}
            <div class="row">
          {% endif %}

          <a href="{% if method.soon %}#{% else %}/download/{{ method.id }}/{% endif %}" class="box three columns {% if method.soon %}soon{% endif %}" title="{{ method.name }}">
            <img src="/assets/images/logos/logo-{{ method.id }}.svg" alt="{{ method.name }}"/>
          </a>

          {% if mod == '3' or forloop.last %}
            </div>
          {% endif %}
        {% endfor %}
      </div>


      <p>Updating from an older version? Check the <a href="{{ site.repos.kong }}/blob/master/UPDATE.md">update guide</a>.</p>

    </div>
  </section>
</div>
