---
layout: default
title: Kong Hub | Plugins and Integrations
breadcrumbs: null
permalink: /hub/
body_id: page-hub

---

{% assign hub = site.hub %}
{% assign kong_extns = hub | where: "publisher", "Kong Inc." %}
{% assign third_extns = hub | where_exp: "extn", "extn.publisher != 'Kong Inc.'" %}
{% assign categories = site.extensions.categories %}
{% assign types = site.extensions.types %}

<div class="page page-hub">
  <header class="page-header">
    <h2 class="text-center" id="main" tabindex="-1">Kong Plugin Hub</h2>
    <h3 class="text-center">Extend {{site.konnect_product_name}} with powerful plugins and easy integrations</h3>
  </header>
  <div class="container kong-plugins">
    <div class="row">
      <div class="col col-lg-3 hidden-md-down sidebar">
        <div class="sticky-top" style="top: 135px;">
          <h5 class="my-1x">Introduction</h5>
          <ul class="nav flex-column" id="introduction">
            <li class="nav-item">
              <a class="nav-link" href="/hub/plugins/overview">
                Plugin Overview
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/konnect-platform/compatibility/plugins">
                Compatibility
              </a>
            </li>
          </ul>
          <h5 class="my-1x">Filters</h5>
          <ul class="nav flex-column" id="facet-filters">
            <li class="nav-item">
              <a class="nav-link active" data-filter="">
                All Plugins
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter="pub-not-konghq">
                Third-Party
              </a>
            </li>
            <p class="cta-description sm font-weight-bold">{{site.konnect_short_name}} license tiers</p>
            <li class="nav-item">
              <a class="nav-link" data-filter="open-source">
                Free
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter="plus">
                Plus
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-filter="ee-compat">
                Enterprise
              </a>
            </li>
          </ul>
          <h5 class="my-1x">Functionality</h5>
          <ul class="nav flex-column" id="scroll-sidebar">
            {% for cat in categories %}
              <li class="nav-item">
                <a class="nav-link" data-link="scroll" href="#{{ cat.slug }}">
                  {{ cat.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="cta-container">
            <a class="nav-link" href="/contributing/plugin-docs" target="_blank">List your plugin here</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-9 hub-cards">
        <div class="row mb-2x">
          {% for cat in categories %}
            <div class="row category" id="{{cat.slug}}">
              <h5>{{ cat.name }}</h5>
              {% assign extns = kong_extns | where_exp: "extn","extn.categories contains cat.slug" %}
              {% for extn in extns  %}
                {% include hub_cards.html %}
              {% endfor %}
              {% assign extns = third_extns | where_exp: "extn","extn.categories contains cat.slug" %}
              {% for extn in extns  %}
                {% include hub_cards.html %}
              {% endfor %}
            </div>
          {% endfor %}
        </div><!-- row mb-2x  -->
      </div><!-- col-12  -->
    </div><!-- row -->
  </div><!-- kong-plugins -->
</div><!-- page -->
