<div class="form-wrapper">
  <span>
    <form class="form-horizontal">
      <input name="utm_content"  value="key" type="hidden" />
      <input name="utm_medium"   value="key" type="hidden" />
      <input name="utm_source"   value="key" type="hidden" />
      <input name="utm_campaign" value="key" type="hidden" />
      <input name="utm_term"     value="key" type="hidden" />
      <input name="utm_ad_group" value="key" type="hidden" />

      <input type="hidden" name="pardot-link" value="{{ site.pardot.communityCallFormEndpoint }}">
      <label for="input_email" class="sr-only">Email</label>

      <span>
        <input id="email" name="email" type="email" placeholder="Email" required="required"/>
      </span>

      <button type="submit" name="submit" class="btn" >
        <span class="spinner hidden">
          {% include spinner.html %}
        </span>
        <span class="submit_text">Register Now</span>
      </button>
    </form>

    <div class="form-success tip custom-block hidden">
      <p class="custom-block-title">Thank you!</p>
      <p>
      We've received your request to register for the upcoming Community Call.
      Thank you for your interest in {{ site.title }}!
      </p>
      <ul class="inline-list">
        <li>
          <a href="{{ site.pardot.communityCallInvite }}" target="_blank">
            <span class="icon">📅</span> Add to Your Calendar
          </a>
        </li>
      </ul>
    </div>

    <div class="form-error danger custom-block hidden">
      <p class="custom-block-title">Whoops!</p>
      <p>Something went wrong! Please try again later.</p>
    </div>
  </span>
</div>
