<div class="toast">
  <div class="toast__inner">
    <button class="toast__close-button">
      <span class="sr-only">Close Popup</span>
      <span class="toast__close-icon">
        &times;
      </span>
    </button>
    <header class="toast__header">
      <h3>Ready to get started?</h3>
    </header>

    <div class="toast__content">
      <p>Receive a step-by-step onboarding guide delivered directly to your inbox</p>
    </div>

    {% capture success %}
      Please check your inbox for more info on our {{ site.title }} onboarding guide.
    {% endcapture %}

    {% include newsletter_form.html submit_text="Register Now" success=success compact=true %}
  </div>
</div>
