<div class="form-wrapper">
  <form class="form-vertical" method="post">

    <input name="utm_content" type="hidden">
    <input name="utm_medium" type="hidden">
    <input name="utm_source" type="hidden" value="kuma-website">
    <input name="utm_campaign" type="hidden">
    <input name="utm_term" type="hidden">
    <input name="utm_ad_group" type="hidden">
    <input type="hidden" name="pardot-link" value="{{ site.pardot.serviceMeshConFormEndpoint }}" />

     <!-- first, last name -->
    <div class="field-group lg:flex lg:-mx-2">
      <!-- first name -->
      <div class="form-stack w-full lg:w-1/2 m-2">
        <label for="first_name" class="sr-only">First Name</label>
        <span class="form-note-wrapper">
          <input id="first_name" name="first_name" type="text" placeholder="First Name" required="required" />
        </span>
      </div>

      <!-- last name -->
      <div class="form-stack w-full lg:w-1/2 m-2">
        <label for="last_name" class="sr-only">Last Name</label>
        <span class="form-note-wrapper">
          <input id="last_name" name="last_name" type="text" placeholder="Last Name" required="required" />
        </span>
      </div>
    </div>

    <div class="field-group lg:flex lg:-mx-2">
      <!-- company -->
      <div class="form-stack w-full lg:w-1/2 m-2">
        <label for="Company" class="sr-only">Company</label>
        <input id="Company" name="Company" type="text" placeholder="Company"/>
      </div>

      <!-- email -->
      <div class="form-stack w-full lg:w-1/2 m-2">
        <label for="email" class="sr-only">Email</label>
        <span class="form-note-wrapper">
          <input id="email" name="email" type="email" placeholder="Work Email" required="required" />
        </span>
      </div>
    </div>

    <div class="button-wrapper">
      <button type="submit" name="submit" class="btn">
        <span class="spinner hidden">
          {% include spinner.html %}
        </span>
        <span class="submit_text">Register Now</span>
      </button>
    </div>
  </form>

  <div class="form-success tip custom-block hidden">
    <p class="custom-block-title">Thank you!</p>
    <p>Please check your inbox for your exclusive ServiceMeshCon offers.</p>
  </div>

  <div class="form-error danger custom-block hidden">
    <p class="custom-block-title">Whoops!</p>
    <p>Something went wrong! Please try again later.</p>
  </div>
</div>
