{% assign current_version = page.version %}
{% assign latest_version = site.data.latest_version.release %}

{% if current_version != site.data.latest_version.release %}
  <div>
    <div class="version-alert">
      <div class="warning custom-block">
        <p class="custom-block-title">Careful!</p>
        {% if current_version == 'dev' %}
          <p>You are browsing documentation for the next version of {{ site.title }}. Use this version at your own risk.</p>
        {% else %}
          <p>You are browsing documentation for a version of {{ site.title }} that is not the latest release.</p>
        {% endif %}
        <p>
          <a href="/docs/{{ latest_version }}/">Go here</a> to browse the documentation for the latest version.
        </p>
        {% if current_version != 'dev' %}
          <p>Looking for even older versions? <a href="{% post_url 2021-04-16-website-reorg %}">Learn more</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
