// 
// General page styles
// 

.page {
  padding-left: 0;
}

.inner {
  @include content-container;
}

.inner--bordered {
  @include content-container($bordered: true);
}

// this is hidden for now unless we make the masthead logo
// just the icon itself, and then unhide this to use as the title
.site-name {
  @include sr-only;
}

.page-container {
  padding-top: $navbarHeight;
}

.page-header {
  overflow: hidden;
  padding: 2rem 0;
  // padding: 4.063rem 0;
}

.page-header--has-divider {
  border-bottom: 1px solid $navy-alt;
  margin-bottom: 2rem;
}

.page-container--compact {
  max-width: $container-width-compact;
  margin-left: auto;
  margin-right: auto;
}

// general use page styles
main.page {

  .theme-default-content {
    padding-top: 4.063rem;
    padding-bottom: 4.063rem;
  }
}

@media (min-width: $MQMobile + 1) {
  .page {
    flex: 1;
  }
}