openapi: 3.0.2
info:
  title: Konnect API Request Analytics
  version: 2.0.0
  description: The API to query detailed records for every API request proxied by Kong
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v2'
    description: US Region Konnect Platform Base URL
  - url: 'https://eu.api.konghq.com/v2'
    description: EU Region Konnect Platform Base URL
  - url: 'https://au.api.konghq.com/v2'
    description: AU Region Konnect Platform Base URL
paths:
  /api-requests:
    post:
      operationId: query-requests
      summary: Query API Requests
      description: Returns API requests that were proxied through the Kong Gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsRequestsQuery'
            examples:
              Query Control Plane filter and relative time range:
                $ref: '#/components/examples/ExampleControlPlaneFilter'
              Query Gateway Service filter and absolute time range:
                $ref: '#/components/examples/ExampleGatewayServiceFilter'
              Query API Product filter and offset:
                $ref: '#/components/examples/ExampleOffsetPagination'
      responses:
        '200':
          $ref: '#/components/responses/AnalyticsRequestsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              examples:
                BadRequestExample:
                  $ref: '#/components/examples/BadRequestExample'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - API Requests
components:
  schemas:
    AnalyticsRequestsQuery:
      type: object
      properties:
        filters:
          type: array
          items:
            discriminator:
              propertyName: dimension
              mapping:
                api_product: '#/components/schemas/RequestsApiProductFilter'
                api_product_version: '#/components/schemas/RequestsApiProductVersionFilter'
                application: '#/components/schemas/RequestsApplicationFilter'
                consumer: '#/components/schemas/RequestsConsumerFilter'
                control_plane: '#/components/schemas/RequestsControlPlaneFilter'
                control_plane_group: '#/components/schemas/RequestsControlPlaneGroupFilter'
                data_plane_node: '#/components/schemas/RequestsDataPlaneNodeFilter'
                gateway_service: '#/components/schemas/RequestsGatewayServiceFilter'
                route: '#/components/schemas/RequestsRouteFilter'
                status_code: '#/components/schemas/RequestsStatusCodeFilter'
                status_code_grouped: '#/components/schemas/RequestsStatusCodeGroupedFilter'
            oneOf:
              - $ref: '#/components/schemas/RequestsApiProductFilter'
              - $ref: '#/components/schemas/RequestsApiProductVersionFilter'
              - $ref: '#/components/schemas/RequestsApplicationFilter'
              - $ref: '#/components/schemas/RequestsConsumerFilter'
              - $ref: '#/components/schemas/RequestsControlPlaneFilter'
              - $ref: '#/components/schemas/RequestsControlPlaneGroupFilter'
              - $ref: '#/components/schemas/RequestsDataPlaneNodeFilter'
              - $ref: '#/components/schemas/RequestsGatewayServiceFilter'
              - $ref: '#/components/schemas/RequestsRouteFilter'
              - $ref: '#/components/schemas/RequestsStatusCodeFilter'
              - $ref: '#/components/schemas/RequestsStatusCodeGroupedFilter'
          default: []
        time_range:
          description: 'The period of time to return data. Relative time ranges are relative to the current moment. Absolute time ranges specify an unchanging period of time. If not specified, a default relative timeframe of 1 hour will be chosen.'
          default:
            type: relative
            time_range: 1H
          discriminator:
            propertyName: type
            mapping:
              relative: '#/components/schemas/RequestsRelativeTimeRange'
              absolute: '#/components/schemas/RequestsAbsoluteTimeRange'
          oneOf:
            - $ref: '#/components/schemas/RequestsRelativeTimeRange'
            - $ref: '#/components/schemas/RequestsAbsoluteTimeRange'
        order:
          description: Order of results sorted by time.
          type: string
          default: descending
          enum:
            - ascending
            - descending
        size:
          description: Number of requests to be returned.
          type: integer
          default: 100
        offset:
          description: Number of requests to be skipped when returning results.
          type: integer
          default: 0
      additionalProperties: false
    RequestsFilterType:
      description: 'The type of filter to apply.  `in` filters will limit results to only the specified values, while `not_in` filters will exclude the specified values.'
      type: string
      enum:
        - in
        - not_in
    RequestsApiProductFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - api_product
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The UUIDs of the API products to include in the results.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsApiProductVersionFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - api_product_version
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The UUIDs of the API product versions to include in the results.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsConsumerFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - consumer
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The consumers to include in the results. Because consumer UUIDs are only unique within a given control plane, the filter values must be of the form `CONTROL_PLANE_UUID:CONSUMER_UUID`.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsRouteFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - route
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The routes to include in the results. Because route UUIDs are only unique within a given control plane, the filter values must be of the form `CONTROL_PLANE_UUID:ROUTE_UUID`.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsApplicationFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - application
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The UUIDs of the dev portal applications to include in the results.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsStatusCodeFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - status_code
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            Only include requests with specific status codes in the results.
          type: array
          items:
            type: integer
            minimum: 100
            maximum: 999
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsStatusCodeGroupedFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - status_code_grouped
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            Only include the given groups of status codes in the results.
          type: array
          items:
            type: string
            pattern: '^\d[xX][xX]$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsGatewayServiceFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - gateway_service
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The gateway services to include in the results. Because gateway service UUIDs are only unique within a given control plane, the filter values must be of the form `CONTROL_PLANE_UUID:`.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsControlPlaneFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - control_plane
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: The UUIDs of the control planes to include in the results.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsControlPlaneGroupFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - control_plane_group
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: The UUIDs of the control plane groups to include in the results.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsDataPlaneNodeFilter:
      type: object
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - data_plane_node
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The data plane nodes to include in the results. Because data plane node UUIDs are only unique within a given control plane or control plane group, the filter values must be of the form `CONTROL_PLANE_UUID:DATA_PLANE_NODE_UUID` if the node belongs to a control plane or `CONTROL_PLANE_GROUP_UUID:DATA_PLANE_NODE_UUID` if the node belongs to a control plane group.
          type: array
          items:
            type: string
            pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
      additionalProperties: false
      required:
        - dimension
        - type
        - values
    RequestsRelativeTimeRange:
      type: object
      properties:
        tz:
          description: |
            The time zone of the requestor, provided as a string matching the
            tz database.  This helps determine day boundaries for relative time
            ranges spanning more than 24 hours: for example, submitting a request
            for data from the last 7 days on `2020-01-08T00:00:00` in timezone
            US/Eastern will find results starting from `2020-01-01T05:00:00Z` (UTC).
          type: string
          example: US/Eastern
          default: Etc/UTC
        type:
          description: |
            Request data from a time relative to the current time.
          type: string
          enum:
            - relative
        time_range:
          description: |
            Return results from the last fifteen minutes, one hour, six hours, etc.
          type: string
          default: 12H
          enum:
            - 15M
            - 1H
            - 6H
            - 12H
            - 24H
            - 7D
      additionalProperties: false
      required:
        - type
        - time_range
    RequestsAbsoluteTimeRange:
      type: object
      properties:
        tz:
          description: |
            The time zone of the requestor.  This is used to localize the start
            and end times, if desired: for example, requesting a start time of
            `2020-01-01T00:00:00` in timezone US/Eastern will find results
            starting from `2020-01-01T05:00:00Z` (UTC).
          type: string
          example: US/Eastern
          default: Etc/UTC
        type:
          description: |
            Request data from a specific time range.  Note that the requested
            times must be within the data retention period for your organization.
          type: string
          enum:
            - absolute
        start:
          description: The start time in the given timezone.
          type: string
          format: date-time
          example: '2020-01-01T00:00:00'
        end:
          description: The end time in the given timezone.
          type: string
          format: date-time
          example: '2020-01-01T00:00:00'
      additionalProperties: false
      required:
        - type
        - start
        - end
    ResponseMeta:
      description: Meta information about the returned query response.
      type: object
      properties:
        time_range:
          description: Period of time data is returned for.
          type: object
          additionalProperties: false
          properties:
            start:
              description: Timestamp specifying the lower bound of the query's time range.
              type: string
              format: date-time
            end:
              description: Timestamp specifying the upper bound of the query's time range.
              type: string
              format: date-time
        query_id:
          description: Unique identifier for the query; can be used to debug issues.
          type: string
        size:
          description: Number of requests returned.
          type: integer
          default: 100
        offset:
          description: Number of requests skipped when returning results.
          type: integer
          default: 0
      additionalProperties: false
      required:
        - time_range
        - query_id
        - size
        - offset
    ResponseResults:
      description: Mapping of the columns to values.
      type: array
      items:
        type: object
        additionalProperties: false
        properties:
          request_start:
            description: The time the gateway started processing the request.
            type: string
          application:
            description: Application ID associated with the request.
            type: string
            nullable: true
          api_product:
            description: API Product ID associated with the request.
            type: string
            nullable: true
          api_product_version:
            description: API Product Version ID associated with the request.
            type: string
            nullable: true
          auth_type:
            description: Type of authorization plugin associated with the request. Values are `key-auth` or `openid-connect`.
            type: string
            nullable: true
          client_ip:
            description: Client IP associated with the request.
            type: string
            nullable: true
          consumer:
            description: 'Consumer ID associated with the request. In the format `control_plane_uuid:consumer_uuid`.'
            type: string
            nullable: true
          control_plane:
            description: Control Plane ID associated with the request.
            type: string
          control_plane_group:
            description: Control Plane Group ID associated with the request.
            type: string
            nullable: true
          data_plane_node:
            description: 'Data Plane Node ID associated with the request. In the format `control_plane_uuid:data_plane_node_uuid` if the node belongs to a control plane or `control_plane_group_uuid:data_plane_node_uuid` if the node belongs to a control plane group.'
            type: string
          gateway_service:
            description: 'Gateway Service ID associated with the request. In the format `control_plane_uuid:gateway_service_uuid`.'
            type: string
            nullable: true
          header_host:
            description: Header host associated with the request.
            type: string
            nullable: true
          header_user_agent:
            description: Header user agent associated with the request.
            type: string
            nullable: true
          http_method:
            description: HTTP method associated with the request.
            type: string
            nullable: true
          latencies_kong_gateway_ms:
            description: Kong Gateway latency of the request in milliseconds.
            type: integer
            nullable: true
          latencies_response_ms:
            description: Response latency of the request in milliseconds.
            type: integer
            nullable: true
          latencies_upstream_ms:
            description: Upstream latency of the request in milliseconds.
            type: integer
            nullable: true
          ratelimit_enabled:
            description: 'True if rate limiting is enabled for at least one of the intervals second, minute, hour, day, year.'
            type: integer
          ratelimit_enabled_day:
            description: True if rate limiting is enabled for the day interval.
            type: integer
          ratelimit_enabled_hour:
            description: True if rate limiting is enabled for the hour interval.
            type: integer
          ratelimit_enabled_minute:
            description: True if rate limiting is enabled for the minute interval.
            type: integer
          ratelimit_enabled_month:
            description: True if rate limiting is enabled for the month interval.
            type: integer
          ratelimit_enabled_second:
            description: True if rate limiting is enabled for the second interval.
            type: integer
          ratelimit_enabled_year:
            description: True if rate limiting is enabled for the year interval.
            type: integer
          ratelimit_limit:
            description: Rate limit value.
            type: integer
          ratelimit_limit_day:
            description: Rate limit value for requests per day.
            type: integer
          ratelimit_limit_hour:
            description: Rate limit value for requests per hour.
            type: integer
          ratelimit_limit_minute:
            description: Rate limit value for requests per minute.
            type: integer
          ratelimit_limit_month:
            description: Rate limit value for requests per month.
            type: integer
          ratelimit_limit_second:
            description: Rate limit value for requests per second.
            type: integer
          ratelimit_limit_year:
            description: Rate limit value for requests per year.
            type: integer
          ratelimit_remaining:
            description: Number of requests remaining until the limit is hit.
            type: integer
          ratelimit_remaining_day:
            description: Number of requests remaining until the limit is hit for requests per day.
            type: integer
          ratelimit_remaining_hour:
            description: Number of requests remaining until the limit is hit for requests per hour.
            type: integer
          ratelimit_remaining_minute:
            description: Number of requests remaining until the limit is hit for requests per minute.
            type: integer
          ratelimit_remaining_month:
            description: Number of requests remaining until the limit is hit for requests per month.
            type: integer
          ratelimit_remaining_second:
            description: Number of requests remaining until the limit is hit for requests per second.
            type: integer
          ratelimit_remaining_year:
            description: Number of requests remaining until the limit is hit for requests per year.
            type: integer
          ratelimit_reset:
            description: 'The time, in seconds, until the quota is reset.'
            type: integer
          request_body_size:
            description: Request body size of the request in bytes.
            type: integer
            nullable: true
          request_uri:
            description: Request URI associated with the request.
            type: string
            nullable: true
          response_body_size:
            description: Response body size of the request in bytes.
            type: integer
            nullable: true
          response_header_content_length:
            description: Response header content length in bytes.
            type: integer
            nullable: true
          response_header_content_type:
            description: The content type for the returned response.
            type: string
            nullable: true
          response_http_status:
            description: Response HTTP status code returned from the request.
            type: string
            nullable: true
          route:
            description: 'Route ID associated with the request. In the format `control_plane_uuid:route_uuid`.'
            type: string
            nullable: true
          service_port:
            description: Service port associated with the request.
            type: string
            nullable: true
          service_protocol:
            description: Service protocol associated with the request.
            type: string
            nullable: true
          trace_id:
            description: ID used to trace the query.
            type: string
            nullable: true
          upstream_uri:
            description: Upstream URI associated with the request.
            type: string
            nullable: true
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: |
            The HTTP status code of the error. Useful when passing the response
            body to child properties in a frontend UI. Must be returned as an integer.
          type: integer
          readOnly: true
        title:
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          type: string
          readOnly: true
        detail:
          description: |
            A human readable explanation specific to this occurence of the problem.
            This field may contain request/entity data to help the user understand
            what went wrong. Enclose variable values in square brackets. Should be
            provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
      required:
        - status
        - title
        - instance
        - detail
      title: Error
    UnauthorizedError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 401
            title:
              example: Unauthorized
            type:
              example: 'https://httpstatuses.com/401'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Invalid credentials
    ForbiddenError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 403
            title:
              example: Forbidden
            type:
              example: 'https://httpstatuses.com/403'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Forbidden
  examples:
    BadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'kong:trace:6591723055278037644'
        detail: Invalid Parameters
        invalid_parameters:
          - field: time_range.time_range
            rule: unknown_property
            choices: []
            reason: property time_range should not exist
          - field: time_range.start_date
            rule: is_date
            choices: []
            reason: start must be a valid date in ISO format
          - field: time_range.end_date
            rule: is_date
            choices: []
            reason: end must be a valid date in ISO format
    ExampleControlPlaneFilter:
      value:
        time_range:
          type: relative
          time_range: 24H
          tz: EST
        filters:
          - type: in
            dimension: control_plane
            values:
              - d5ac5d88-efed-4e10-9dfe-0b0a6646c219
    ExampleGatewayServiceFilter:
      value:
        time_range:
          type: absolute
          start: '2023-08-12T00:00:00'
          end: '2023-08-13T00:00:00'
          tz: America/Denver
        filters:
          - type: not_in
            dimension: gateway_service
            values:
              - 'd5ac5d88-efed-4e10-9dfe-0b0a6646c219:bf16907c-8673-4f9d-aa83-1f2ea9215055'
    ExampleOffsetPagination:
      value:
        time_range:
          type: relative
          time_range: 1H
        filters:
          - type: in
            dimension: api_product
            values:
              - 97fdea2e-ed40-4560-b2da-8aa3a3dfa349
        size: 10
        offset: 100
    ResponseExample:
      value:
        results:
          - request_start: '2020-02-02T01:00:00.000Z'
            api_product: 523468b1-2e74-4b58-b30e-6f904e99e4d0
            api_product_version: d40a6dd7-37e8-4937-8dfd-9fa988c7fc3e
            application: bc2587ae-a35e-4a34-b6b2-f4ca5ae06dc9
            auth_type: key-auth
            client_ip: 131.174.120.249
            consumer: 'd5ac5d88-efed-4e10-9dfe-0b0a6646c219:d69557ff-277c-4579-a821-4f8d158ae070'
            control_plane: d5ac5d88-efed-4e10-9dfe-0b0a6646c219
            control_plane_group: cafe2d4f-95ec-458c-8c88-62417018678d
            data_plane_node: 'cafe2d4f-95ec-458c-8c88-62417018678d:122a0f86-029c-4292-82fd-f3b38e1cfa60'
            gateway_service: 'd5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0'
            header_host: google.com
            header_user_agent: Mozilla/4.0 (compatible; Flight Explorer)
            http_method: OPTIONS
            latencies_kong_gateway_ms: 2
            latencies_response_ms: 117
            latencies_upstream_ms: 115
            ratelimit_enabled: 1
            ratelimit_enabled_day: 0
            ratelimit_enabled_hour: 0
            ratelimit_enabled_minute: 1
            ratelimit_enabled_month: 0
            ratelimit_enabled_second: 0
            ratelimit_enabled_year: 0
            ratelimit_limit: 0
            ratelimit_limit_day: 0
            ratelimit_limit_hour: 0
            ratelimit_limit_minute: 2000
            ratelimit_limit_month: 0
            ratelimit_limit_second: 0
            ratelimit_limit_year: 0
            ratelimit_remaining: 498
            ratelimit_remaining_day: 0
            ratelimit_remaining_hour: 0
            ratelimit_remaining_minute: 1997
            ratelimit_remaining_month: 0
            ratelimit_remaining_second: 0
            ratelimit_remaining_year: 0
            ratelimit_reset: 0
            request_body_size: 182
            request_uri: /notifications/graphql
            response_body_size: 431
            response_header_content_length: 41
            response_header_content_type: application/json; charset=utf-8
            response_http_status: '204'
            route: 'd5ac5d88-efed-4e10-9dfe-0b0a6646c219:2a3e9d21-804b-4b3b-ab7e-c6f002dadbf4'
            service_port: '4000'
            service_protocol: http
            trace_id: 36b95ea3a6be443d11866fb5d2a8ba6b
            upstream_uri: /graphql
          - request_start: '2020-02-02T01:00:01.050Z'
            api_product: b866c867-60e6-4258-adb3-e136cc26388b
            api_product_version: 3807c200-3d10-445d-85b2-7afe07ca3932
            application: null
            auth_type: null
            client_ip: 131.174.120.249
            consumer: null
            control_plane: d5ac5d88-efed-4e10-9dfe-0b0a6646c219
            control_plane_group: null
            data_plane_node: 'd5ac5d88-efed-4e10-9dfe-0b0a6646c219:a3e0692c-2351-4c8e-acbe-e7a5185147de'
            gateway_service: 'd5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0'
            header_host: proxy-zyq.com
            header_user_agent: python-works
            http_method: GET
            latencies_kong_gateway_ms: 2
            latencies_response_ms: 12
            latencies_upstream_ms: 10
            ratelimit_enabled: 1
            ratelimit_enabled_day: 0
            ratelimit_enabled_hour: 1
            ratelimit_enabled_minute: 0
            ratelimit_enabled_month: 0
            ratelimit_enabled_second: 1
            ratelimit_enabled_year: 0
            ratelimit_limit: 100
            ratelimit_limit_day: 0
            ratelimit_limit_hour: 30000
            ratelimit_limit_minute: 0
            ratelimit_limit_month: 0
            ratelimit_limit_second: 100
            ratelimit_limit_year: 0
            ratelimit_remaining: 99
            ratelimit_remaining_day: 0
            ratelimit_remaining_hour: 29981
            ratelimit_remaining_minute: 0
            ratelimit_remaining_month: 0
            ratelimit_remaining_second: 99
            ratelimit_remaining_year: 0
            ratelimit_reset: 0
            request_body_size: 258
            request_uri: /users
            response_body_size: 390
            response_header_content_length: 102
            response_header_content_type: text/html
            response_http_status: '200'
            route: 'd5ac5d88-efed-4e10-9dfe-0b0a6646c219:2a3e9d21-804b-4b3b-ab7e-c6f002dadbf4'
            service_port: '443'
            service_protocol: https
            trace_id: 77ea76d5f4e24fcae336d3ec2c9c92e3
            upstream_uri: /users
        meta:
          size: 15
          offset: 0
          query_id: apilog-11AF3891-C638-43E6-A85A-4EBCCAF0E690
          time_range:
            start: '2020-02-02T00:00:00.000Z'
            end: '2020-02-03T00:00:00.000Z'
    UnauthorizedExample:
      value:
        status: 401
        title: Unauthorized
        instance: 'kong:trace:8347343766220159418'
        detail: Unauthorized
    ForbiddenExample:
      value:
        status: 403
        title: Forbidden
        instance: 'kong:trace:2723154947768991354'
        detail: You do not have permission to perform this action
  responses:
    AnalyticsRequestsResponse:
      description: Response from the Analytics Requests API.
      content:
        application/json:
          schema:
            type: object
            properties:
              results:
                $ref: '#/components/schemas/ResponseResults'
              meta:
                $ref: '#/components/schemas/ResponseMeta'
            additionalProperties: false
            required:
              - results
              - meta
          examples:
            Response example:
              $ref: '#/components/examples/ResponseExample'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/ForbiddenExample'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs.
        You can generate a Personal Access Token (PAT) from the [personal access token page](https://cloud.konghq.com/global/tokens/) in the Konnect dashboard.
        The PAT token must be passed in the header of a request, for example:
        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer kpat_xgfT...'`
tags:
  - name: API Requests
security:
  - personalAccessToken: []
