openapi: 3.0.2
info:
  title: Konnect API Requests
  version: 2.0.0
  description: The API for querying API Requests.
  contact:
    name: Kong
    url: https://cloud.konghq.com
servers:
  - url: https://us.api.konghq.com/v2
    description: US Region Konnect Platform Base URL
  - url: https://eu.api.konghq.com/v2
    description: EU Region Konnect Platform Base URL
  - url: https://au.api.konghq.com/v2
    description: AU Region Konnect Platform Base URL
security:
  - personalAccessToken: []
tags:
  - name: API Requests
paths:
  /api-requests:
    post:
      x-unstable: true
      summary: Query API Requests
      operationId: query-requests
      description: |-
        **Pre-release Endpoint**
        This endpoint is currently in beta and is subject to change.

        Returns API requests that were proxied through the Kong Gateway.
      tags:
        - API Requests
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsRequestsQuery'
            examples:
              Query Control Plane filter and relative time range:
                $ref: '#/components/examples/ExampleControlPlaneFilter'
              Query Gateway Service filter and absolute time range:
                $ref: '#/components/examples/ExampleGatewayServiceFilter'
              Query API Product filter and offset:
                $ref: '#/components/examples/ExampleOffsetPagination'
      responses:
        '200':
          $ref: '#/components/responses/AnalyticsRequestsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              examples:
                BadRequestExample:
                  $ref: '#/components/examples/BadRequestExample'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    AnalyticsRequestsQuery:
      type: object
      additionalProperties: false
      properties:
        filters:
          type: array
          items:
            discriminator:
              propertyName: dimension
              mapping:
                api_product: '#/components/schemas/RequestsApiProductFilter'
                api_product_version: '#/components/schemas/RequestsApiProductVersionFilter'
                application: '#/components/schemas/RequestsApplicationFilter'
                consumer: '#/components/schemas/RequestsConsumerFilter'
                control_plane: '#/components/schemas/RequestsControlPlaneFilter'
                control_plane_group: '#/components/schemas/RequestsControlPlaneGroupFilter'
                data_plane_node: '#/components/schemas/RequestsDataPlaneNodeFilter'
                gateway_service: '#/components/schemas/RequestsGatewayServiceFilter'
                route: '#/components/schemas/RequestsRouteFilter'
                status_code: '#/components/schemas/RequestsStatusCodeFilter'
                status_code_grouped: '#/components/schemas/RequestsStatusCodeGroupedFilter'
            oneOf:
              - $ref: '#/components/schemas/RequestsApiProductFilter'
              - $ref: '#/components/schemas/RequestsApiProductVersionFilter'
              - $ref: '#/components/schemas/RequestsApplicationFilter'
              - $ref: '#/components/schemas/RequestsConsumerFilter'
              - $ref: '#/components/schemas/RequestsControlPlaneFilter'
              - $ref: '#/components/schemas/RequestsControlPlaneGroupFilter'
              - $ref: '#/components/schemas/RequestsDataPlaneNodeFilter'
              - $ref: '#/components/schemas/RequestsGatewayServiceFilter'
              - $ref: '#/components/schemas/RequestsRouteFilter'
              - $ref: '#/components/schemas/RequestsStatusCodeFilter'
              - $ref: '#/components/schemas/RequestsStatusCodeGroupedFilter'
          default: []
        time_range:
          description: >-
            The period of time to return data. Relative time ranges are relative
            to the current moment. Absolute time ranges specify an unchanging
            period of time. If not specified, a default relative timeframe of 1
            hour will be chosen.
          oneOf:
            - $ref: '#/components/schemas/RequestsRelativeTimeRange'
            - $ref: '#/components/schemas/RequestsAbsoluteTimeRange'
          discriminator:
            propertyName: type
            mapping:
              relative: '#/components/schemas/RequestsRelativeTimeRange'
              absolute: '#/components/schemas/RequestsAbsoluteTimeRange'
          default:
            type: relative
            time_range: 1H
        order:
          type: string
          description: Order of results sorted by time.
          enum:
            - ascending
            - descending
          default: descending
        size:
          type: integer
          description: Number of requests to be returned.
          default: 100
        offset:
          type: integer
          description: Number of requests to be skipped when returning results.
          default: 0
    RequestsFilterType:
      type: string
      description: >-
        The type of filter to apply.  `in` filters will limit results to only
        the specified values, while `not_in` filters will exclude the specified
        values.
      enum:
        - in
        - not_in
    RequestsApiProductFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - api_product
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The UUIDs of the API products to include in the results.
          type: array
          items:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsApiProductVersionFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - api_product_version
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The UUIDs of the API product versions to include in the results.
          type: array
          items:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsConsumerFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - consumer
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: >
            The consumers to include in the results. Because consumer UUIDs are
            only unique within a given control plane, the filter values must be
            of the form `CONTROL_PLANE_UUID:CONSUMER_UUID`.
          type: array
          items:
            type: string
            pattern: >-
              ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsRouteFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - route
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: >
            The routes to include in the results. Because route UUIDs are only
            unique within a given control plane, the filter values must be of
            the form `CONTROL_PLANE_UUID:ROUTE_UUID`.
          type: array
          items:
            type: string
            pattern: >-
              ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsApplicationFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - application
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            The UUIDs of the dev portal applications to include in the results.
          type: array
          items:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsStatusCodeFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - status_code
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            Only include requests with specific status codes in the results.
          type: array
          items:
            type: integer
            minimum: 100
            maximum: 999
      required:
        - dimension
        - type
        - values
    RequestsStatusCodeGroupedFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - status_code_grouped
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: |
            Only include the given groups of status codes in the results.
          type: array
          items:
            type: string
            pattern: ^\d[xX][xX]$
      required:
        - dimension
        - type
        - values
    RequestsGatewayServiceFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - gateway_service
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: >
            The gateway services to include in the results. Because gateway
            service UUIDs are only unique within a given control plane, the
            filter values must be of the form `CONTROL_PLANE_UUID:`.
          type: array
          items:
            type: string
            pattern: >-
              ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsControlPlaneFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - control_plane
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: The UUIDs of the control planes to include in the results.
          type: array
          items:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsControlPlaneGroupFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - control_plane_group
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: The UUIDs of the control plane groups to include in the results.
          type: array
          items:
            type: string
            pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsDataPlaneNodeFilter:
      type: object
      additionalProperties: false
      properties:
        dimension:
          description: The dimension to filter.
          type: string
          enum:
            - data_plane_node
        type:
          $ref: '#/components/schemas/RequestsFilterType'
        values:
          description: >
            The data plane nodes to include in the results. Because data plane
            node UUIDs are only unique within a given control plane or control
            plane group, the filter values must be of the form
            `CONTROL_PLANE_UUID:DATA_PLANE_NODE_UUID` if the node belongs to a
            control plane or `CONTROL_PLANE_GROUP_UUID:DATA_PLANE_NODE_UUID` if
            the node belongs to a control plane group.
          type: array
          items:
            type: string
            pattern: >-
              ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
      required:
        - dimension
        - type
        - values
    RequestsRelativeTimeRange:
      type: object
      additionalProperties: false
      properties:
        tz:
          type: string
          default: Etc/UTC
          example: US/Eastern
          description: >
            The time zone of the requestor, provided as a string matching the

            tz database.  This helps determine day boundaries for relative time

            ranges spanning more than 24 hours: for example, submitting a
            request

            for data from the last 7 days on `2020-01-08T00:00:00` in timezone

            US/Eastern will find results starting from `2020-01-01T05:00:00Z`
            (UTC).
        type:
          type: string
          enum:
            - relative
          description: |
            Request data from a time relative to the current time.
        time_range:
          type: string
          enum:
            - 15M
            - 1H
            - 6H
            - 12H
            - 24H
            - 7D
          default: 12H
          description: >
            Return results from the last fifteen minutes, one hour, six hours,
            etc.
      required:
        - type
        - time_range
    RequestsAbsoluteTimeRange:
      type: object
      additionalProperties: false
      properties:
        tz:
          type: string
          default: Etc/UTC
          example: US/Eastern
          description: |
            The time zone of the requestor.  This is used to localize the start
            and end times, if desired: for example, requesting a start time of
            `2020-01-01T00:00:00` in timezone US/Eastern will find results
            starting from `2020-01-01T05:00:00Z` (UTC).
        type:
          type: string
          enum:
            - absolute
          description: >
            Request data from a specific time range.  Note that the requested

            times must be within the data retention period for your
            organization.
        start:
          format: date-time
          type: string
          example: '2020-01-01T00:00:00'
          description: The start time in the given timezone.
        end:
          format: date-time
          type: string
          example: '2020-01-01T00:00:00'
          description: The end time in the given timezone.
      required:
        - type
        - start
        - end
    ResponseMeta:
      type: object
      additionalProperties: false
      description: Meta information about the returned query response.
      properties:
        time_range:
          type: object
          description: Period of time data is returned for.
          additionalProperties: false
          properties:
            start:
              type: string
              format: date-time
              description: Timestamp specifying the lower bound of the query's time range.
            end:
              type: string
              format: date-time
              description: Timestamp specifying the upper bound of the query's time range.
        query_id:
          type: string
          description: Unique identifier for the query; can be used to debug issues.
        size:
          type: integer
          description: Number of requests returned.
          default: 100
        offset:
          type: integer
          description: Number of requests skipped when returning results.
          default: 0
      required:
        - time_range
        - query_id
        - size
        - offset
    ResponseResults:
      type: array
      description: Mapping of the columns to values.
      items:
        type: object
        additionalProperties: false
        properties:
          request_start:
            type: string
            description: The time the gateway started processing the request.
          application:
            type: string
            description: Application ID associated with the request.
            nullable: true
          api_product:
            type: string
            description: API Product ID associated with the request.
            nullable: true
          api_product_version:
            type: string
            description: API Product Version ID associated with the request.
            nullable: true
          auth_type:
            type: string
            description: >-
              Type of authorization plugin associated with the request. Values
              are `key-auth` or `openid-connect`.
            nullable: true
          client_ip:
            type: string
            description: Client IP associated with the request.
            nullable: true
          consumer:
            type: string
            description: >-
              Consumer ID associated with the request. In the format
              `control_plane_uuid:consumer_uuid`.
            nullable: true
          control_plane:
            type: string
            description: Control Plane ID associated with the request.
          control_plane_group:
            type: string
            description: Control Plane Group ID associated with the request.
            nullable: true
          data_plane_node:
            type: string
            description: >-
              Data Plane Node ID associated with the request. In the format
              `control_plane_uuid:data_plane_node_uuid` if the node belongs to a
              control plane or `control_plane_group_uuid:data_plane_node_uuid`
              if the node belongs to a control plane group.
          gateway_service:
            type: string
            description: >-
              Gateway Service ID associated with the request. In the format
              `control_plane_uuid:gateway_service_uuid`.
            nullable: true
          header_host:
            type: string
            description: Header host associated with the request.
            nullable: true
          header_user_agent:
            type: string
            description: Header user agent associated with the request.
            nullable: true
          http_method:
            type: string
            description: HTTP method associated with the request.
            nullable: true
          latencies_kong_gateway_ms:
            type: integer
            description: Kong Gateway latency of the request in milliseconds.
            nullable: true
          latencies_response_ms:
            type: integer
            description: Response latency of the request in milliseconds.
            nullable: true
          latencies_upstream_ms:
            type: integer
            description: Upstream latency of the request in milliseconds.
            nullable: true
          ratelimit_enabled:
            type: integer
            description: >-
              True if rate limiting is enabled for at least one of the intervals
              second, minute, hour, day, year.
          ratelimit_enabled_day:
            type: integer
            description: True if rate limiting is enabled for the day interval.
          ratelimit_enabled_hour:
            type: integer
            description: True if rate limiting is enabled for the hour interval.
          ratelimit_enabled_minute:
            type: integer
            description: True if rate limiting is enabled for the minute interval.
          ratelimit_enabled_month:
            type: integer
            description: True if rate limiting is enabled for the month interval.
          ratelimit_enabled_second:
            type: integer
            description: True if rate limiting is enabled for the second interval.
          ratelimit_enabled_year:
            type: integer
            description: True if rate limiting is enabled for the year interval.
          ratelimit_limit:
            type: integer
            description: Rate limit value.
          ratelimit_limit_day:
            type: integer
            description: Rate limit value for requests per day.
          ratelimit_limit_hour:
            type: integer
            description: Rate limit value for requests per hour.
          ratelimit_limit_minute:
            type: integer
            description: Rate limit value for requests per minute.
          ratelimit_limit_month:
            type: integer
            description: Rate limit value for requests per month.
          ratelimit_limit_second:
            type: integer
            description: Rate limit value for requests per second.
          ratelimit_limit_year:
            type: integer
            description: Rate limit value for requests per year.
          ratelimit_remaining:
            type: integer
            description: Number of requests remaining until the limit is hit.
          ratelimit_remaining_day:
            type: integer
            description: >-
              Number of requests remaining until the limit is hit for requests
              per day.
          ratelimit_remaining_hour:
            type: integer
            description: >-
              Number of requests remaining until the limit is hit for requests
              per hour.
          ratelimit_remaining_minute:
            type: integer
            description: >-
              Number of requests remaining until the limit is hit for requests
              per minute.
          ratelimit_remaining_month:
            type: integer
            description: >-
              Number of requests remaining until the limit is hit for requests
              per month.
          ratelimit_remaining_second:
            type: integer
            description: >-
              Number of requests remaining until the limit is hit for requests
              per second.
          ratelimit_remaining_year:
            type: integer
            description: >-
              Number of requests remaining until the limit is hit for requests
              per year.
          ratelimit_reset:
            type: integer
            description: The time, in seconds, until the quota is reset.
          request_body_size:
            type: integer
            description: Request body size of the request in bytes.
            nullable: true
          request_uri:
            type: string
            description: Request URI associated with the request.
            nullable: true
          response_body_size:
            type: integer
            description: Response body size of the request in bytes.
            nullable: true
          response_header_content_length:
            type: integer
            description: Response header content length in bytes.
            nullable: true
          response_header_content_type:
            type: string
            description: The content type for the returned response.
            nullable: true
          response_http_status:
            type: string
            description: Response HTTP status code returned from the request.
            nullable: true
          route:
            type: string
            description: >-
              Route ID associated with the request. In the format
              `control_plane_uuid:route_uuid`.
            nullable: true
          service_port:
            type: string
            description: Service port associated with the request.
            nullable: true
          service_protocol:
            type: string
            description: Service protocol associated with the request.
            nullable: true
          trace_id:
            type: string
            description: ID used to trace the query.
            nullable: true
          upstream_uri:
            type: string
            description: Upstream URI associated with the request.
            nullable: true
    BaseError:
      type: object
      title: Error
      description: standard error
      required:
        - status
        - title
        - instance
        - detail
      properties:
        status:
          type: integer
          description: >
            The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an
            integer.
          readOnly: true
        title:
          type: string
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          readOnly: true
        type:
          type: string
          description: The error type.
          readOnly: true
        instance:
          type: string
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          readOnly: true
        detail:
          type: string
          description: >
            A human readable explanation specific to this occurence of the
            problem.

            This field may contain request/entity data to help the user
            understand

            what went wrong. Enclose variable values in square brackets. Should
            be

            provided as "Sentence case" for direct use in the UI.
          readOnly: true
    UnauthorizedError:
      type: object
      properties:
        status:
          example: 401
        title:
          example: Unauthorized
        type:
          example: https://httpstatuses.com/401
        instance:
          example: kong:trace:1234567890
        detail:
          example: Invalid credentials
      allOf:
        - $ref: '#/components/schemas/BaseError'
    ForbiddenError:
      type: object
      properties:
        status:
          example: 403
        title:
          example: Forbidden
        type:
          example: https://httpstatuses.com/403
        instance:
          example: kong:trace:1234567890
        detail:
          example: Forbidden
      allOf:
        - $ref: '#/components/schemas/BaseError'
  responses:
    AnalyticsRequestsResponse:
      description: Response from the Analytics Requests API.
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              results:
                $ref: '#/components/schemas/ResponseResults'
              meta:
                $ref: '#/components/schemas/ResponseMeta'
            required:
              - results
              - meta
          examples:
            Response example:
              $ref: '#/components/examples/ResponseExample'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/ForbiddenExample'
  examples:
    BadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:6591723055278037644
        detail: Invalid Parameters
        invalid_parameters:
          - field: time_range.time_range
            rule: unknown_property
            choices: []
            reason: property time_range should not exist
          - field: time_range.start_date
            rule: is_date
            choices: []
            reason: start must be a valid date in ISO format
          - field: time_range.end_date
            rule: is_date
            choices: []
            reason: end must be a valid date in ISO format
    ExampleControlPlaneFilter:
      value:
        time_range:
          type: relative
          time_range: 24H
          tz: EST
        filters:
          - type: in
            dimension: control_plane
            values:
              - d5ac5d88-efed-4e10-9dfe-0b0a6646c219
    ExampleGatewayServiceFilter:
      value:
        time_range:
          type: absolute
          start: '2023-08-12T00:00:00'
          end: '2023-08-13T00:00:00'
          tz: America/Denver
        filters:
          - type: not_in
            dimension: gateway_service
            values:
              - >-
                d5ac5d88-efed-4e10-9dfe-0b0a6646c219:bf16907c-8673-4f9d-aa83-1f2ea9215055
    ExampleOffsetPagination:
      value:
        time_range:
          type: relative
          time_range: 1H
        filters:
          - type: in
            dimension: api_product
            values:
              - 97fdea2e-ed40-4560-b2da-8aa3a3dfa349
        size: 10
        offset: 100
    ResponseExample:
      value:
        results:
          - request_start: '2020-02-02T01:00:00.000Z'
            api_product: 523468b1-2e74-4b58-b30e-6f904e99e4d0
            api_product_version: d40a6dd7-37e8-4937-8dfd-9fa988c7fc3e
            application: bc2587ae-a35e-4a34-b6b2-f4ca5ae06dc9
            auth_type: key-auth
            client_ip: 131.174.120.249
            consumer: >-
              d5ac5d88-efed-4e10-9dfe-0b0a6646c219:d69557ff-277c-4579-a821-4f8d158ae070
            control_plane: d5ac5d88-efed-4e10-9dfe-0b0a6646c219
            control_plane_group: cafe2d4f-95ec-458c-8c88-62417018678d
            data_plane_node: >-
              cafe2d4f-95ec-458c-8c88-62417018678d:122a0f86-029c-4292-82fd-f3b38e1cfa60
            gateway_service: >-
              d5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0
            header_host: google.com
            header_user_agent: Mozilla/4.0 (compatible; Flight Explorer)
            http_method: OPTIONS
            latencies_kong_gateway_ms: 2
            latencies_response_ms: 117
            latencies_upstream_ms: 115
            ratelimit_enabled: 1
            ratelimit_enabled_day: 0
            ratelimit_enabled_hour: 0
            ratelimit_enabled_minute: 1
            ratelimit_enabled_month: 0
            ratelimit_enabled_second: 0
            ratelimit_enabled_year: 0
            ratelimit_limit: 0
            ratelimit_limit_day: 0
            ratelimit_limit_hour: 0
            ratelimit_limit_minute: 2000
            ratelimit_limit_month: 0
            ratelimit_limit_second: 0
            ratelimit_limit_year: 0
            ratelimit_remaining: 498
            ratelimit_remaining_day: 0
            ratelimit_remaining_hour: 0
            ratelimit_remaining_minute: 1997
            ratelimit_remaining_month: 0
            ratelimit_remaining_second: 0
            ratelimit_remaining_year: 0
            ratelimit_reset: 0
            request_body_size: 182
            request_uri: /notifications/graphql
            response_body_size: 431
            response_header_content_length: 41
            response_header_content_type: application/json; charset=utf-8
            response_http_status: '204'
            route: >-
              d5ac5d88-efed-4e10-9dfe-0b0a6646c219:2a3e9d21-804b-4b3b-ab7e-c6f002dadbf4
            service_port: '4000'
            service_protocol: http
            trace_id: 36b95ea3a6be443d11866fb5d2a8ba6b
            upstream_uri: /graphql
          - request_start: '2020-02-02T01:00:01.050Z'
            api_product: b866c867-60e6-4258-adb3-e136cc26388b
            api_product_version: 3807c200-3d10-445d-85b2-7afe07ca3932
            application: null
            auth_type: null
            client_ip: 131.174.120.249
            consumer: null
            control_plane: d5ac5d88-efed-4e10-9dfe-0b0a6646c219
            control_plane_group: null
            data_plane_node: >-
              d5ac5d88-efed-4e10-9dfe-0b0a6646c219:a3e0692c-2351-4c8e-acbe-e7a5185147de
            gateway_service: >-
              d5ac5d88-efed-4e10-9dfe-0b0a6646c219:523468b1-2e74-4b58-b30e-6f904e99e4d0
            header_host: proxy-zyq.com
            header_user_agent: python-works
            http_method: GET
            latencies_kong_gateway_ms: 2
            latencies_response_ms: 12
            latencies_upstream_ms: 10
            ratelimit_enabled: 1
            ratelimit_enabled_day: 0
            ratelimit_enabled_hour: 1
            ratelimit_enabled_minute: 0
            ratelimit_enabled_month: 0
            ratelimit_enabled_second: 1
            ratelimit_enabled_year: 0
            ratelimit_limit: 100
            ratelimit_limit_day: 0
            ratelimit_limit_hour: 30000
            ratelimit_limit_minute: 0
            ratelimit_limit_month: 0
            ratelimit_limit_second: 100
            ratelimit_limit_year: 0
            ratelimit_remaining: 99
            ratelimit_remaining_day: 0
            ratelimit_remaining_hour: 29981
            ratelimit_remaining_minute: 0
            ratelimit_remaining_month: 0
            ratelimit_remaining_second: 99
            ratelimit_remaining_year: 0
            ratelimit_reset: 0
            request_body_size: 258
            request_uri: /users
            response_body_size: 390
            response_header_content_length: 102
            response_header_content_type: text/html
            response_http_status: '200'
            route: >-
              d5ac5d88-efed-4e10-9dfe-0b0a6646c219:2a3e9d21-804b-4b3b-ab7e-c6f002dadbf4
            service_port: '443'
            service_protocol: https
            trace_id: 77ea76d5f4e24fcae336d3ec2c9c92e3
            upstream_uri: /users
        meta:
          size: 15
          offset: 0
          query_id: apilog-11AF3891-C638-43E6-A85A-4EBCCAF0E690
          time_range:
            start: '2020-02-02T00:00:00.000Z'
            end: '2020-02-03T00:00:00.000Z'
    UnauthorizedExample:
      value:
        status: 401
        title: Unauthorized
        instance: kong:trace:8347343766220159418
        detail: Unauthorized
    ForbiddenExample:
      value:
        status: 403
        title: Forbidden
        instance: kong:trace:2723154947768991354
        detail: You do not have permission to perform this action
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: >
        The personal access token is meant to be used as an alternative to
        basic-auth when accessing Konnect via APIs.

        You can generate a Personal Access Token (PAT) from the [personal access
        token page](https://cloud.konghq.com/global/tokens/) in the Konnect
        dashboard.

        The PAT token must be passed in the header of a request, for example:

        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header
        'Authorization: Bearer kpat_xgfT...'`
