openapi: 3.0.3
info:
  title: Konnect API Products
  version: 2.0.0
  description: The API for Kong Konnect API Products.
  contact:
    name: Kong
    url: 'https://cloud.konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v2'
    description: US Region Base URL
  - url: 'https://eu.api.konghq.com/v2'
    description: EU Region Base URL
  - url: 'https://au.api.konghq.com/v2'
    description: AU Region Base URL
paths:
  /api-products:
    post:
      operationId: create-api-product
      summary: Create API Product
      description: |
        An API Product packages together associated APIs and their operations, backed by thorough documentation,
        with the objective of making API consumption straightforward for developers.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
    get:
      operationId: get-many-api-product
      summary: List API Products
      description: Returns a collection of API products.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/APIProductFilters'
        - $ref: '#/components/parameters/APIProductSort'
        - $ref: '#/components/parameters/LabelsFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListAPIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                InvalidSortQueryBadRequestExample:
                  $ref: '#/components/examples/InvalidSortQueryNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
  '/api-products/{id}':
    parameters:
      - name: id
        in: path
        description: API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
    get:
      operationId: get-api-product
      summary: Fetch API product
      description: Returns an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
    patch:
      operationId: update-api-product
      summary: Update an individual API product
      description: Updates an API product.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Products
    delete:
      operationId: delete-api-product
      summary: Delete API Product
      description: Removes an individual API product.
      responses:
        '204':
          description: API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Products
  '/api-products/{apiProductId}/documents':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
    post:
      operationId: create-api-product-document
      summary: Create API Product Document
      description: Creates a document for an API product.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductDocumentRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductNameBadRequestExample:
                  $ref: '#/components/examples/APIProductDocumentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/SlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Documentation
    get:
      operationId: get-many-api-product-document
      summary: List API Product Documents
      description: Returns a collection of all documents for an API product.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListAPIProductDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                InvalidSortQueryBadRequestExample:
                  $ref: '#/components/examples/InvalidSortQueryBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Documentation
  '/api-products/{apiProductId}/documents/{id}':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: id
        in: path
        description: The document identifier related to the API product
        required: true
        schema:
          type: string
          format: uuid
          example: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
    get:
      operationId: get-api-product-document
      summary: Fetch API Product Document
      description: Returns a document for the API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Documentation
    patch:
      operationId: update-api-product-document
      summary: Update an API Product Document
      description: Updates a document for an API product.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductDocumentRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductNameBadRequestExample:
                  $ref: '#/components/examples/APIProductDocumentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/SlugConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Documentation
    delete:
      operationId: delete-api-product-document
      summary: Delete API Product Documentation
      description: Removes a document from an API product.
      responses:
        '204':
          description: Document for the API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Documentation
  '/api-products/{apiProductId}/product-versions':
    parameters:
      - name: apiProductId
        in: path
        description: The API Product ID
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
    post:
      operationId: create-api-product-version
      summary: Create API Product Version
      description: Creates a version of an API product.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductVersionNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
    get:
      operationId: get-many-api-product-version
      summary: List API Product Versions
      description: Returns a collection of all versions for an API product.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/APIProductVersionFilters'
        - $ref: '#/components/parameters/APIProductVersionSort'
      responses:
        '200':
          $ref: '#/components/responses/ListAPIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                InvalidSortQueryBadRequestExample:
                  $ref: '#/components/examples/InvalidSortQueryNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
  '/api-products/{apiProductId}/product-versions/{id}':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: id
        in: path
        description: The API product version identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    get:
      operationId: get-api-product-version
      summary: Fetch API Product Version
      description: Returns a version of an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
    patch:
      operationId: update-api-product-version
      summary: Update an API Product Version
      description: Updates an API product version.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductVersionNameBadRequestExample:
                  $ref: '#/components/examples/APIProductNameBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Versions
    delete:
      operationId: delete-api-product-version
      summary: Delete API Product Version
      description: Removes an API product version.
      responses:
        '204':
          description: API product version was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Versions
  '/api-products/{apiProductId}/product-versions/{apiProductVersionId}/specifications':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: apiProductVersionId
        in: path
        description: The API product version identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
    post:
      operationId: create-api-product-version-spec
      summary: Create API Product Version Specification
      description: |
        Creates a specification for a version of an API product.
        **Note:** You can only have one specification for a product version.
      requestBody:
        $ref: '#/components/requestBodies/CreateAPIProductVersionSpecRequest'
      responses:
        '201':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductVersionSpecContentBadRequestExample:
                  $ref: '#/components/examples/APIProductVersionSpecContentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/VersionSpecConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Version Specification
    get:
      operationId: get-many-api-product-version-spec
      summary: Fetch API Product Version Specifications
      description: |
        Returns a list of specification for the version of an API product.
        **Note:** You can only have one specification for a product version.
      responses:
        '200':
          $ref: '#/components/responses/ListAPIProductVersionSpecResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Version Specification
  '/api-products/{apiProductId}/product-versions/{apiProductVersionId}/specifications/{specificationId}':
    parameters:
      - name: apiProductId
        in: path
        description: The API product identifier
        required: true
        schema:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      - name: apiProductVersionId
        in: path
        description: The API product version identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      - name: specificationId
        in: path
        description: The API product version specification identifier
        required: true
        schema:
          type: string
          format: uuid
          example: 742ff9f1-fb89-4aeb-a599-f0e278c7aeaa
    get:
      operationId: get-api-product-version-spec
      summary: Fetch API Product Version Specification
      description: Returns a specification for the version of an API product.
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Version Specification
    patch:
      operationId: update-api-product-version-spec
      summary: Update an API Product Version Specification
      description: Updates a specification from an API product version.
      requestBody:
        $ref: '#/components/requestBodies/UpdateAPIProductVersionSpecRequest'
      responses:
        '200':
          $ref: '#/components/responses/APIProductVersionSpecResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                APIProductVersionSpecContentBadRequestExample:
                  $ref: '#/components/examples/APIProductVersionSpecContentBadRequestExample'
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
        '409':
          $ref: '#/components/responses/VersionSpecHiddenConflict'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
      tags:
        - API Product Version Specification
    delete:
      operationId: delete-api-product-version-spec
      summary: Delete API Product Version Specification
      description: Removes a specification from a verion of an API product.
      responses:
        '204':
          description: Specification for the version of an API product was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiProductUnauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ApiProductNotFound'
      tags:
        - API Product Version Specification
components:
  parameters:
    APIProductFilters:
      name: filter
      description: Filters API Products in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/APIProductFilterParameters'
      style: deepObject
    APIProductSort:
      name: sort
      description: |
        Sorts a collection of API products. Supported sort attributes are:
          - name
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    APIProductVersionFilters:
      name: filter
      description: Filters API Product Versions in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/APIProductVersionFilterParameters'
      style: deepObject
    APIProductVersionSort:
      name: sort
      description: |
        Sorts a collection of API products versions. Supported sort attributes are:
          - name
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    LabelsFilter:
      name: labels
      description: Filters requested resource by associated labels.
      required: false
      in: query
      schema:
        type: string
        example: 'key:value,keyExists'
    PageNumber:
      name: 'page[number]'
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PageSize:
      name: 'page[size]'
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
  schemas:
    APIProductFilterParameters:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
      title: APIProductFilterParameters
    APIProductVersionFilterParameters:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        publish_status:
          $ref: '#/components/schemas/StringFieldFilter'
      title: APIProductVersionFilterParameters
    SortQuery:
      description: |
        The `asc` suffix is optional as the default sort order is ascending.
        The `desc` suffix is used to specify a descending order.
        Multiple sort attributes may be provided via a comma separated list.
        JSONPath notation may be used to specify a sub-attribute (eg: 'foo.bar desc').
      type: string
      example: name desc
      title: SortQuery
    APIProductPortals:
      description: The list of portals which this API product is published to
      type: array
      items:
        $ref: '#/components/schemas/APIProductPortal'
      minItems: 0
      title: APIProductPortals
    APIProductPortal:
      type: object
      properties:
        portal_id:
          type: string
          format: uuid
          example: 35a2624c-49fc-4764-99e1-224ed819f200
        portal_name:
          type: string
          example: Developer Portal
      additionalProperties: false
      required:
        - portal_id
        - portal_name
      title: APIProductPortal
    APIProductVersionPublishStatus:
      type: string
      example: published
      enum:
        - published
        - unpublished
      title: APIProductVersionPublishStatus
    APIProductVersionPortals:
      description: The list of portals which this API product version is configured for
      type: array
      items:
        $ref: '#/components/schemas/APIProductVersionPortal'
      minItems: 0
      title: APIProductVersionPortals
    APIProductVersionPortal:
      type: object
      properties:
        portal_id:
          type: string
          format: uuid
          example: 35a2624c-49fc-4764-99e1-224ed819f200
        portal_name:
          type: string
          example: Developer Portal
        portal_product_version_id:
          type: string
          format: uuid
          example: 35a2624c-49fc-4764-99e1-224ed819f200
        publish_status:
          $ref: '#/components/schemas/APIProductVersionPublishStatus'
        deprecated:
          type: boolean
          example: false
        application_registration_enabled:
          type: boolean
          example: true
        auto_approve_registration:
          type: boolean
          example: false
        auth_strategies:
          type: array
          items:
            $ref: '#/components/schemas/APIProductVersionAuthStrategy'
      additionalProperties: false
      required:
        - portal_id
        - portal_name
        - portal_product_version_id
        - publish_status
        - deprecated
        - application_registration_enabled
        - auto_approve_registration
        - auth_strategies
      title: APIProductVersionPortal
    APIProductVersionAuthStrategy:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        name:
          type: string
          example: Key Auth
      example:
        id: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        name: Key Auth
      additionalProperties: false
      required:
        - id
        - name
      title: APIProductVersionAuthStrategy
    APIProduct:
      type: object
      properties:
        id:
          description: The API product ID.
          type: string
          format: uuid
          example: b9e81174-b5bb-4638-a3c3-8afe61a0abf8
          readOnly: true
        name:
          description: The name of the API product
          type: string
          example: My Name
        description:
          description: The description of the API product
          type: string
          example: MyDescription
          nullable: true
        portal_ids:
          description: |
            The list of portal identifiers which this API product is published to.
            This property is deprecated and will be removed in a future version. Use the `portals` property instead.
          type: array
          items:
            type: string
            format: uuid
            example: 25a2624c-49fc-4764-99e1-224ed819f200
          deprecated: true
          minItems: 0
          nullable: false
          uniqueItems: true
        portals:
          $ref: '#/components/schemas/APIProductPortals'
        version_count:
          description: The number of product versions attached to this API product
          type: number
          example: 10
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        labels:
          $ref: '#/components/schemas/Labels'
      additionalProperties: false
      required:
        - id
        - name
        - description
        - portal_ids
        - portals
        - created_at
        - updated_at
        - labels
        - version_count
      title: API Product
    APIProductDocumentSummary:
      type: object
      properties:
        id:
          description: The API product document identifier.
          type: string
          format: uuid
          example: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
          readOnly: true
        parent_document_id:
          description: The parent API product document identifier.
          type: string
          format: uuid
          example: null
          nullable: true
        slug:
          description: API product document slug
          type: string
          example: api-product-document
          pattern: '^[\w-]+$'
        status:
          $ref: '#/components/schemas/PublishStatus'
        title:
          description: API product document title
          type: string
          example: API Product Document
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - parent_document_id
        - slug
        - title
        - status
        - created_at
        - updated_at
      title: API Product Document Summary
    APIProductDocument:
      description: an api product document
      type: object
      properties:
        id:
          type: string
          format: uuid
        parent_document_id:
          type: string
          format: uuid
          nullable: true
        title:
          type: string
        slug:
          type: string
        status:
          type: string
          enum:
            - unpublished
            - published
        metadata:
          type: object
        content:
          description: The unencoded markdown string of the api product document.
          type: string
        ast:
          type: array
          items:
            $ref: '#/components/schemas/ChildNode'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
        - id
        - parent_document_id
        - title
        - slug
        - status
        - metadata
        - content
        - ast
        - updated_at
        - created_at
      title: ApiProductDocument
    AuthStrategySyncError:
      type: object
      properties:
        plugin_name:
          type: string
        value:
          type: string
          enum:
            - plugin_sync_error_comm
            - plugin_sync_error_unknown
            - plugin_sync_error_fatal
            - plugin_sync_error_updating_plugin_refs
        message:
          type: string
        info:
          type: object
          additionalProperties: true
          properties:
            details:
              type: array
              items:
                type: object
                additionalProperties: true
                properties:
                  type:
                    type: string
                  message:
                    type: array
                    items:
                      type: string
      example:
        plugin_name: konnect-application-auth
        value: plugin_sync_error_comm
        message: Unable to connect to the control plane to update plugin
      additionalProperties: false
      required:
        - message
    AuthStrategySyncErrors:
      description: The set of errors encountered when trying to sync the auth strategies on the version
      type: array
      items:
        $ref: '#/components/schemas/AuthStrategySyncError'
      example:
        - plugin_name: konnect-application-auth
          value: plugin_sync_error_comm
          message: Unable to connect to the control plane to update plugin
      nullable: true
      readOnly: true
    APIProductVersion:
      type: object
      properties:
        id:
          description: The API product version identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        name:
          description: The version of the API product
          type: string
          example: FirstVersion
        gateway_service:
          type: object
          additionalProperties: false
          nullable: true
          properties:
            id:
              description: The identifier of a gateway service associated with the version of the API product.
              type: string
              format: uuid
              example: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
              nullable: true
            runtime_group_id:
              description: 'This field is deprecated, please use `control_plane_id` instead. The identifier of the control plane that the gateway service resides in'
              type: string
              format: uuid
              example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
              deprecated: true
            control_plane_id:
              description: The identifier of the control plane that the gateway service resides in
              type: string
              format: uuid
              example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
          required:
            - id
            - control_plane_id
        publish_status:
          description: 'This field is published if the API product version is published to at least one portal. This field is deprecated: Use [PortalProductVersion.publish_status](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead.'
          type: string
          example: unpublished
          enum:
            - unpublished
            - published
          deprecated: true
        deprecated:
          description: 'Whether this API product version is deprecated in at least one portal. This field is deprecated: Use [PortalProductVersion.deprecated](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead'
          type: boolean
          example: false
          deprecated: true
        labels:
          $ref: '#/components/schemas/Labels'
        auth_strategy_sync_errors:
          $ref: '#/components/schemas/AuthStrategySyncErrors'
        portals:
          $ref: '#/components/schemas/APIProductVersionPortals'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - gateway_service
        - publish_status
        - deprecated
        - labels
        - portals
        - created_at
        - updated_at
      title: API Product Version
    APIProductVersionSpec:
      type: object
      properties:
        id:
          description: The API product version specification identifier.
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
          readOnly: true
        name:
          description: The name of the API product version specification
          type: string
          example: oas.yaml
          pattern: .+(\.yaml|\.yml|\.json)
        content:
          description: The contents of the API product version specification
          example: My YAML or JSON formatted OAS content
          type: string
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
        - id
        - name
        - content
        - created_at
        - updated_at
      title: API Product Version Spec
    CreateAPIProductDTO:
      description: The request schema to create an API product.
      type: object
      properties:
        name:
          description: The name of the API product.
          type: string
          example: API Product
          maxLength: 100
          minLength: 1
        description:
          description: The description of the API product.
          type: string
          example: Text describing the API product
          default: null
          nullable: true
        labels:
          $ref: '#/components/schemas/Labels'
        portal_ids:
          description: The list of portal identifiers which this API product should be published to
          type: array
          items:
            type: string
            format: uuid
            example: 25a2624c-49fc-4764-99e1-224ed819f200
          minItems: 0
          nullable: false
          uniqueItems: true
      additionalProperties: false
      required:
        - name
      title: Create API Product Request
    UpdateAPIProductDTO:
      description: The request schema for updating an API product.
      type: object
      properties:
        name:
          description: The name for the API product.
          type: string
          example: API Product
          maxLength: 100
          minLength: 1
        description:
          description: The description of the API product.
          type: string
          example: Text describing the API product
          nullable: true
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
        portal_ids:
          description: The list of portal identifiers which this API product should be published to
          type: array
          items:
            type: string
            format: uuid
            example: 25a2624c-49fc-4764-99e1-224ed819f200
          minItems: 0
          nullable: false
          uniqueItems: true
      additionalProperties: false
      title: Update API Product Request
    CreateAPIProductVersionDTO:
      description: |
        The request schema to create a version of an API product.
        Note that the `publish_status` and `deprecated` fields are deprecated:  Use [PortalProductVersion.publish_status](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead.
      type: object
      properties:
        name:
          description: The version name of the API product version.
          type: string
          example: v1
          minLength: 1
          nullable: false
        publish_status:
          description: 'The publish status of the API product version. Applies publish status to all related portal product versions. This field is deprecated: Use [PortalProductVersion.publish_status](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead.'
          type: string
          example: unpublished
          default: unpublished
          enum:
            - unpublished
            - published
          deprecated: true
          nullable: false
        deprecated:
          description: 'Indicates if the version of the API product is deprecated. Applies deprecation or removes deprecation from all related portal product versions. This field is deprecated: Use [PortalProductVersion.deprecated](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead.'
          type: boolean
          example: false
          default: false
          deprecated: true
          nullable: false
        labels:
          $ref: '#/components/schemas/Labels'
        gateway_service:
          oneOf:
            - $ref: '#/components/schemas/GatewayServicePayload'
            - $ref: '#/components/schemas/LegacyGatewayServicePayload'
      additionalProperties: false
      required:
        - name
      title: Create API Product Version Request
    CreateAPIProductVersionSpecDTO:
      description: The request schema to create a specification for a version of an API product.
      type: object
      properties:
        name:
          description: The name of the API product version specification
          type: string
          example: oas.yaml
          maxLength: 255
          minLength: 1
          nullable: false
          pattern: '^.+(?:\.yaml|\.yml|\.json)$'
        content:
          description: The base64 encoded contents of the API product version specification
          example: TXkgWUFNTCBvciBKU09OIGZvcm1hdHRlZCBPQVMgY29udGVudA==
          format: byte
          minLength: 1
          type: string
      additionalProperties: false
      required:
        - name
        - content
      title: Create API Product Version Specification Request
    CreateAPIProductDocumentDTO:
      description: a document payload
      type: object
      properties:
        parent_document_id:
          description: parent document id
          type: string
          format: uuid
          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
          default: null
          nullable: true
        slug:
          description: document slug. must be unique accross documents belonging to an api product
          type: string
          example: path-for-seo
          maxLength: 80
          pattern: '^[\w-]+$'
        status:
          $ref: '#/components/schemas/PublishStatus'
        title:
          description: document title
          type: string
          example: How to create a document in Konnect DocumentHub
          minLength: 1
        content:
          description: Can be markdown string content or base64 encoded string
          example: '## My Markdown'
          type: string
        metadata:
          description: metadata of the document
          type: object
          example:
            author: John Doe
          default: {}
          nullable: false
      required:
        - slug
        - status
        - title
      title: CreateDocumentPayload
    UpdateAPIProductDocumentDTO:
      description: a document payload
      type: object
      properties:
        parent_document_id:
          description: |
            Parent document Id. If this value is explicitly set to null, the
            document will be put as a top level document at the bottom of the tree.
          type: string
          format: uuid
          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
          nullable: true
        slug:
          description: document slug. must be unique accross documents belonging to an api product
          type: string
          example: path-for-seo
          maxLength: 80
          pattern: '^[\w-]+$'
        status:
          $ref: '#/components/schemas/PublishStatus'
        title:
          description: document title
          type: string
          example: How to update a document in Konnect DocumentHub
          minLength: 1
        content:
          description: Can be markdown string content or base64 encoded string
          example: YmFzZTY0LWVuY29kZWQgdGV4dCBzdHJpbmc=
          type: string
        metadata:
          type: object
          nullable: false
      title: UpdateDocumentAttributesAndContentPayload
    UpdateAPIProductVersionDTO:
      description: |
        The request schema for updating a version of an API product.
        Note that the `publish_status` and `deprecated` fields are deprecated:  Use [PortalProductVersion.publish_status](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead.
      type: object
      properties:
        name:
          description: The version name of the API product version.
          type: string
          example: v1
          minLength: 1
        publish_status:
          description: 'The publish status of the API product version. Applies publish status to all related portal product versions. This field is deprecated: Use [PortalProductVersion.publish_status](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead.'
          type: string
          example: unpublished
          enum:
            - unpublished
            - published
          deprecated: true
        deprecated:
          description: 'Indicates if the version of the API product is deprecated. Applies deprecation or removes deprecation from all related portal product versions. This field is deprecated: Use [PortalProductVersion.deprecated](https://docs.konghq.com/konnect/api/portal-management/latest/#/Portal%20Product%20Versions/create-portal-product-version) instead.'
          type: boolean
          example: false
          deprecated: true
        notify:
          description: |
            When set to `true`, and all the following conditions are true:
            - version of the API product deprecation has changed from `false` -> `true`
            - version of the API product is published

            then consumers of the now deprecated verion of the API product will be notified.
          type: boolean
          example: true
        gateway_service:
          anyOf:
            - $ref: '#/components/schemas/GatewayServicePayload'
            - $ref: '#/components/schemas/LegacyGatewayServicePayload'
        labels:
          $ref: '#/components/schemas/LabelsUpdate'
      additionalProperties: false
      title: Update API Product Version Request
    UpdateAPIProductVersionSpecDTO:
      description: The request schema for updating a specification for a version of an API product.
      type: object
      properties:
        name:
          description: The name of the API product version specification
          type: string
          example: oas.yaml
          maxLength: 255
          minLength: 1
          nullable: false
          pattern: '^.+(?:\.yaml|\.yml|\.json)$'
        content:
          description: The base64 encoded contents of the API product version specification
          example: TXkgWUFNTCBvciBKU09OIGZvcm1hdHRlZCBPQVMgY29udGVudA==
          format: byte
          minLength: 1
          type: string
      additionalProperties: false
      title: Update API Product Version Specification Request
    LegacyGatewayServicePayload:
      type: object
      properties:
        id:
          description: The identifier of a gateway service associated with the version of the API product.
          type: string
          format: uuid
          example: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
        runtime_group_id:
          description: The identifier of the control plane that the gateway service resides in
          type: string
          format: uuid
          example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
          deprecated: true
      additionalProperties: false
      nullable: true
      required:
        - id
        - runtime_group_id
    GatewayServicePayload:
      type: object
      properties:
        id:
          description: The identifier of a gateway service associated with the version of the API product.
          type: string
          format: uuid
          example: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
        control_plane_id:
          description: The identifier of the control plane that the gateway service resides in
          type: string
          format: uuid
          example: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
      additionalProperties: false
      nullable: true
      required:
        - id
        - control_plane_id
    StringFieldEqualsFilter:
      description: Filters on the given string field value by exact match.
      oneOf:
        - type: string
        - type: object
          title: StringFieldEqualsComparison
          additionalProperties: false
          properties:
            eq:
              type: string
          required:
            - eq
      title: StringFieldEqualsFilter
      x-examples:
        example-1: equals-some-value
        example-2:
          eq: some-value
    StringFieldContainsFilter:
      description: Filters on the given string field value by fuzzy match.
      type: object
      properties:
        contains:
          type: string
      additionalProperties: false
      required:
        - contains
      title: StringFieldContainsFilter
      x-examples:
        example-1:
          contains: some-value
    StringFieldOContainsFilter:
      description: Returns entities that fuzzy-match any of the comma-delimited phrases in the filter string.
      type: object
      properties:
        ocontains:
          type: string
      additionalProperties: false
      required:
        - ocontains
      title: StringFieldOContainsFilter
      x-examples:
        example-1:
          ocontains: 'this-value,or-that-value'
    StringFieldOEQFilter:
      description: Returns entities that exact match any of the comma-delimited phrases in the filter string.
      type: object
      properties:
        oeq:
          type: string
      additionalProperties: false
      required:
        - oeq
      title: StringFieldOEQFilter
      x-examples:
        example-1:
          oeq: 'some-value,some-other-value'
    StringFieldNEQFilter:
      description: Filters on the given string field value by exact match inequality.
      type: object
      properties:
        neq:
          type: string
      additionalProperties: false
      required:
        - neq
      title: StringFieldNEQFilter
      x-examples:
        example-1:
          neq: not-this-value
    StringFieldFilter:
      description: Filters on the given string field value by either exact or fuzzy match.
      oneOf:
        - $ref: '#/components/schemas/StringFieldEqualsFilter'
        - $ref: '#/components/schemas/StringFieldContainsFilter'
        - $ref: '#/components/schemas/StringFieldOContainsFilter'
        - $ref: '#/components/schemas/StringFieldOEQFilter'
        - $ref: '#/components/schemas/StringFieldNEQFilter'
      title: StringFieldFilter
      x-examples:
        example-1: equals-some-value
        example-2:
          eq: some-value
        example-3:
          contains: some-value
        example-4:
          ocontains: 'some-potential,value'
        example-5:
          oeq: 'some-potential,value'
        example-6:
          neq: not-this-value
    PageMeta:
      description: Contains pagination query parameters and the total number of objects returned.
      type: object
      properties:
        number:
          type: number
          example: 1
        size:
          type: number
          example: 10
        total:
          type: number
          example: 100
      required:
        - number
        - size
        - total
    PaginatedMeta:
      description: returns the pagination information
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
        - page
      title: PaginatedMeta
    CreatedAt:
      description: An ISO-8601 timestamp representation of entity creation date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
    UpdatedAt:
      description: An ISO-8601 timestamp representation of entity update date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
    Labels:
      description: |
        Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. 

        Keys must be of length 1-63 characters, and cannot start with "kong", "konnect", "mesh", "kic", or "_".
      type: object
      example:
        env: test
      additionalProperties:
        type: string
        pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$'
        minLength: 1
        maxLength: 63
      maxProperties: 50
      title: Labels
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: |
            The HTTP status code of the error. Useful when passing the response
            body to child properties in a frontend UI. Must be returned as an integer.
          type: integer
          readOnly: true
        title:
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          type: string
          readOnly: true
        detail:
          description: |
            A human readable explanation specific to this occurence of the problem.
            This field may contain request/entity data to help the user understand
            what went wrong. Enclose variable values in square brackets. Should be
            provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
      required:
        - status
        - title
        - instance
        - detail
      title: Error
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
        - required
        - max_length
        - is_array
        - is_base64
        - is_boolean
        - is_date_time
        - is_integer
        - is_null
        - is_number
        - is_object
        - is_string
        - is_uuid
        - is_fqdn
        - is_arn
        - unknown_property
        - is_label
        - matches_regex
        - invalid
        - is_supported_network_availability_zone_list
        - is_supported_network_cidr_block
        - is_supported_provider_region
      nullable: true
      readOnly: true
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - min_length
            - min_digits
            - min_lowercase
            - min_uppercase
            - min_symbols
          nullable: false
          readOnly: true
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - minimum
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - choices
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - rule
        - reason
        - dependents
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/InvalidParameterStandard'
          - $ref: '#/components/schemas/InvalidParameterMinimumLength'
          - $ref: '#/components/schemas/InvalidParameterChoiceItem'
          - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    BadRequestError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          required:
            - invalid_parameters
          properties:
            invalid_parameters:
              $ref: '#/components/schemas/InvalidParameters'
    UnauthorizedError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 401
            title:
              example: Unauthorized
            type:
              example: 'https://httpstatuses.com/401'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Invalid credentials
    ForbiddenError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 403
            title:
              example: Forbidden
            type:
              example: 'https://httpstatuses.com/403'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Forbidden
    NotFoundError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 404
            title:
              example: Not Found
            type:
              example: 'https://httpstatuses.com/404'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Not found
    UnsupportedMediaTypeError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 415
            title:
              example: UnsupportedMediaType
            type:
              example: 'https://httpstatuses.com/415'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: UnsupportedMediaType
    LabelsUpdate:
      description: |
        Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. 

        Labels are intended to store **INTERNAL** metadata.

        Keys must be of length 1-63 characters, and cannot start with "kong", "konnect", "mesh", "kic", or "_".
      type: object
      example:
        env: test
      additionalProperties:
        type: string
        pattern: '^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$'
        minLength: 1
        maxLength: 63
        nullable: true
      maxProperties: 50
      nullable: true
      writeOnly: true
    PublishStatus:
      type: string
      enum:
        - published
        - unpublished
    DocumentTree:
      description: a document tree
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        parent_document_id:
          type: string
          format: uuid
          example: dd4e1b98-3629-4dd3-acc0-759a726ffee2
          nullable: true
        title:
          type: string
        slug:
          description: document slug
          type: string
          example: path-for-seo
        metadata:
          description: metadata of the document
          type: object
          example:
            author: John Doe
        status:
          $ref: '#/components/schemas/PublishStatus'
        children:
          description: children of the document
          type: array
          items:
            $ref: '#/components/schemas/DocumentTree'
          example:
            - id: d32d905a-ed33-46a3-a093-d8f536af9a8a
              title: Hello world
              status: published
              slug: hello-world
              metadata:
                author: John Doe
              children: []
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
        - id
        - title
        - slug
        - metadata
        - children
        - status
        - created_at
        - updated_at
      title: DocumentTree
    ChildNode:
      type: object
      discriminator:
        propertyName: type
      oneOf:
        - $ref: '#/components/schemas/HeadingBlock'
        - $ref: '#/components/schemas/BlockQuoteBlock'
        - $ref: '#/components/schemas/ParagraphBlock'
        - $ref: '#/components/schemas/TextBlock'
        - $ref: '#/components/schemas/BreakBlock'
        - $ref: '#/components/schemas/CodeBlock'
        - $ref: '#/components/schemas/ListBlock'
        - $ref: '#/components/schemas/ListItemBlock'
        - $ref: '#/components/schemas/Text'
        - $ref: '#/components/schemas/Emphasis'
        - $ref: '#/components/schemas/Code'
        - $ref: '#/components/schemas/Link'
        - $ref: '#/components/schemas/Image'
        - $ref: '#/components/schemas/StrikeThrough'
        - $ref: '#/components/schemas/TableBlock'
        - $ref: '#/components/schemas/TableHeaderBlock'
        - $ref: '#/components/schemas/TableCellBlock'
        - $ref: '#/components/schemas/TableRowBlock'
        - $ref: '#/components/schemas/TaskCheckbox'
    NodeChildren:
      description: List of children nodes of the current node
      type: array
      items:
        $ref: '#/components/schemas/ChildNode'
    HeadingBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - heading
        level:
          description: Level of the heading which maps to HTML <h> tag
          type: number
          maximum: 6
          minimum: 1
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    BlockQuoteBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - blockquote
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    ParagraphBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - paragraph
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    TextBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - text_block
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    BreakBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - break
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    CodeBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - code_block
        lang:
          type: string
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    ListBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - list
        isOrdered:
          description: Defines if the list is ordered or not
          type: boolean
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    ListItemBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - list_item
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    Text:
      type: object
      properties:
        type:
          type: string
          enum:
            - text
        text:
          type: string
        hardBreak:
          description: |
            If this property is true the end of this block should
            be a carriage return and not concatenated to the next Text block.
          type: boolean
        softBreak:
          description: |
            If this property is true the end of this block should should be
            concatenated with a space caracter before the next block. This is
            the flag showing that the parsed markdown block was at the end of
            the line.
          type: boolean
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    Emphasis:
      type: object
      properties:
        type:
          type: string
          enum:
            - emphasis
        level:
          description: |
            Level of emphasis
            1 - italic
            2 - bold
          type: number
          maximum: 2
          minimum: 1
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    Code:
      type: object
      properties:
        type:
          type: string
          enum:
            - code
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    Link:
      type: object
      properties:
        type:
          type: string
          enum:
            - link
        href:
          description: Target url of the link
          type: string
        title:
          description: Title of the link
          type: string
      required:
        - type
    Image:
      type: object
      properties:
        type:
          type: string
          enum:
            - image
        url:
          description: Url of the image
          type: string
        alt:
          description: Alternate tag of the image
          type: string
        title:
          description: Title of the image
          type: string
      required:
        - type
    StrikeThrough:
      type: object
      properties:
        type:
          type: string
          enum:
            - strikethrough
      required:
        - type
    AlignmentKind:
      type: string
      enum:
        - left
        - right
        - center
        - none
    TableAlignments:
      type: array
      items:
        $ref: '#/components/schemas/AlignmentKind'
      nullable: true
    TableBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - table
        alignments:
          $ref: '#/components/schemas/TableAlignments'
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
        - alignments
    TableHeaderBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - table_header
        alignments:
          $ref: '#/components/schemas/TableAlignments'
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
        - alignments
    TableCellBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - table_cell
        alignment:
          $ref: '#/components/schemas/AlignmentKind'
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
    TableRowBlock:
      type: object
      properties:
        type:
          type: string
          enum:
            - table_row
        alignments:
          $ref: '#/components/schemas/TableAlignments'
        children:
          $ref: '#/components/schemas/NodeChildren'
      required:
        - type
        - alignments
    TaskCheckbox:
      type: object
      properties:
        type:
          type: string
          enum:
            - task_checkbox
        checked:
          description: State of the checkbox
          type: boolean
      required:
        - checked
        - type
    ConflictError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          properties:
            status:
              example: 409
            title:
              example: Conflict
            type:
              example: 'https://httpstatuses.com/409'
            instance:
              example: 'kong:trace:1234567890'
            detail:
              example: Conflict
  examples:
    APIProductExample:
      value:
        id: e7a4f6c0-5777-4a37-bcb9-2d37d3b362ee
        name: API Product
        description: Text describing the API product
        portal_ids: []
        portals: []
        created_at: '2023-01-01T00:00:00.000Z'
        updated_at: '2023-01-01T00:00:00.000Z'
        version_count: 10
        labels:
          env: test
    APIProductVersionExample:
      value:
        id: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        name: v1
        gateway_service:
          runtime_group_id: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
          control_plane_id: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
          id: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
        publish_status: unpublished
        deprecated: false
        labels:
          env: test
        portals:
          - portal_id: 35a2624c-49fc-4764-99e1-224ed819f200
            portal_name: Developer Portal
            portal_product_version_id: 35a2624c-49fc-4764-99e1-224ed819f200
            publish_status: published
            deprecated: false
            application_registration_enabled: true
            auto_approve_registration: false
            auth_strategies:
              - id: 9f5061ce-78f6-4452-9108-ad7c02821fd5
                name: Key Auth
        created_at: '2023-01-01T00:00:00.000Z'
        updated_at: '2023-01-01T00:00:00.000Z'
    APIProductVersionSpecExample:
      value:
        id: 7710d5c4-d902-410b-992f-18b814155b53
        name: oas.yaml
        content: My YAML or JSON formatted OAS content
        created_at: '2023-01-01T00:00:00.000Z'
        updated_at: '2023-01-01T00:00:00.000Z'
    ListAPIProductVersionSpecExample:
      value:
        data:
          - id: 7710d5c4-d902-410b-992f-18b814155b53
            name: oas.yaml
            content: My YAML or JSON formatted OAS content
            created_at: '2023-01-01T00:00:00.000Z'
            updated_at: '2023-01-01T00:00:00.000Z'
        meta:
          page:
            number: 1
            size: 1
            total: 1
    CreateAPIProductRequestExample:
      summary: Create API Product Request
      value:
        name: API Product
        description: Text describing the API product
        labels:
          env: test
    CreateAPIProductRequestMinimalExample:
      summary: Create API Product Request (Minimal)
      value:
        name: API Product
    CreateAPIProductAndPublishToPortalsRequestExample:
      summary: Create API Product Request
      value:
        name: API Product
        description: Text describing the API product
        labels:
          env: test
        portal_ids:
          - 07087c41-495a-4599-bc98-4904f1b46654
    UpdateAPIProductRequestExample:
      summary: Update API Product Request
      value:
        name: API Product with Update Name
        description: Updated text describing the API product
    PublishAPIProductToPortalExample:
      summary: Publish API Product to Portal
      value:
        portal_ids:
          - 07087c41-495a-4599-bc98-4904f1b46654
    CreateAPIProductVersionRequestMinimalExample:
      summary: Create API Product Request (Minimal)
      value:
        name: v1
    CreateLinkedAPIProductVersionRequestExample:
      summary: Create API Product Request
      value:
        name: v1
        publish_status: unpublished
        deprecated: false
        gateway_service:
          control_plane_id: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
          id: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
    CreateAPIProductVersionSpecificationRequestExample:
      summary: Create API Product Version Specification Request
      value:
        name: oas.yaml
        content: TXkgWUFNTCBvciBKU09OIGZvcm1hdHRlZCBPQVMgY29udGVudA==
    LinkAPIProductVersionRequestExample:
      summary: Link API Product Version
      value:
        gateway_service:
          control_plane_id: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
          id: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
    UnlinkAPIProductVersionRequestExample:
      summary: Unlink API Product Version
      value:
        gateway_service: null
    DeprecateAPIProductVersionRequestExample:
      summary: Deprecate API Product Version and Notify Developers
      value:
        deprecated: true
        notify: true
    UpdateAPIProductVersionSpecNameRequestExample:
      summary: Update API Product Version Name
      value:
        name: oas.yaml
    UpdateAPIProductVersionSpecContentRequestExample:
      summary: Update API Product Version Content
      value:
        content: TXkgWUFNTCBvciBKU09OIGZvcm1hdHRlZCBPQVMgY29udGVudA==
    UpdateAPIProductVersionSpecRequestExample:
      summary: Update API Product Version Name and Content
      value:
        name: oas.yaml
        content: TXkgWUFNTCBvciBKU09OIGZvcm1hdHRlZCBPQVMgY29udGVudA==
    APIProductDocumentExample:
      value:
        id: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
        parent_document_id: null
        title: API Product Document
        slug: api-product-document
        status: published
        content: '# API Product Document Header'
        ast:
          - children:
              - text: API Product Document Header
                type: text
            level: 1
            type: heading
          - children:
              - children:
                  - text: API product document content
                    type: text
                type: paragraph
        metadata: {}
        created_at: '2023-01-01T00:00:00.000Z'
        updated_at: '2023-01-01T00:00:00.000Z'
    APIProductDocumentTreeExample:
      value:
        data:
          - id: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
            parent_document_id: null
            slug: api-product-document
            status: published
            title: API Product Document
            created_at: '2022-11-04T20:10:06.927Z'
            updated_at: '2022-11-04T20:10:06.927Z'
            metadata: {}
            children:
              - children: []
                id: d1da26c9-02a8-4492-868e-b069e2efa221
                metadata: {}
                parent_document_id: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
                slug: api-product-document-child
                status: published
                title: API Product Document Child
                created_at: '2022-11-04T20:10:06.927Z'
                updated_at: '2022-11-04T20:10:06.927Z'
        meta:
          page:
            number: 1
            size: 1
            total: 10
    ListAPIProductDocumentSummaryExample:
      value:
        data:
          - id: de5c9818-be5c-42e6-b514-e3d4bc30ddeb
            parent_document_id: null
            slug: api-product-document
            status: published
            title: API Product Document
            created_at: '2022-11-04T20:10:06.927Z'
            updated_at: '2022-11-04T20:10:06.927Z'
        meta:
          page:
            number: 1
            size: 1
            total: 10
    CreateAPIProductDocumentRequestExample:
      summary: Create API Product Document Request
      value:
        slug: api-product-document
        status: published
        title: API Product Document
        content: IyBBUEkgUHJvZHVjdCBEb2N1bWVudCBIZWFkZXIKQVBJIHByb2R1Y3QgZG9jdW1lbnQgY29udGVudA==
        parent_document_id: 417a2aed-9a75-4eca-a943-fa7d88ed6a73
        metadata:
          author: John Doe
    CreateAPIProductDocumentRequestMinimalExample:
      summary: Create API Product Document Request (Minimal)
      value:
        slug: api-product-document
        status: published
        title: API Product Document
        content: IyBBUEkgUHJvZHVjdCBEb2N1bWVudCBIZWFkZXIKQVBJIHByb2R1Y3QgZG9jdW1lbnQgY29udGVudA==
    UpdateAPIProductDocumentAttributesRequestExample:
      summary: Update API Product Document Attributes Request
      value:
        parent_document_id: dd4e1b98-3629-4dd3-acc0-759a726ffee2
        slug: api-product-document
        status: published
        title: API Product Document
        metadata:
          author: Jane Doe
    UpdateAPIProductDocumentContentRequestExample:
      summary: Update API Product Document Content Request
      value:
        content: IyBBUEkgUHJvZHVjdCBEb2N1bWVudCBIZWFkZXIKQVBJIHByb2R1Y3QgZG9jdW1lbnQgY29udGVudCB1cGRhdGVk
    UpdateAPIProductDocumentAttributesAndContentRequestExample:
      summary: Update API Product Document Attributes and Content Request
      value:
        parent_document_id: dd4e1b98-3629-4dd3-acc0-759a726ffee2
        slug: api-product-document
        status: published
        title: API Product Document
        content: IyBBUEkgUHJvZHVjdCBEb2N1bWVudCBIZWFkZXIKQVBJIHByb2R1Y3QgZG9jdW1lbnQgY29udGVudCB1cGRhdGVk
        metadata:
          author: Jane Doe
    APIProductNameBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'kong:trace:8405749052424858251'
        detail: Invalid Parameters
        invalid_parameters:
          - field: name
            rule: min_length
            minimum: 1
            reason: name must be longer than or equal to 1 characters
    APIProductDocumentBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'kong:trace:5832302153563197721'
        detail: Invalid Parameters
        invalid_parameters:
          - field: slug
            rule: matches_regex
            reason: 'slug must match /^[\w-]+$/ regular expression'
    APIProductVersionSpecContentBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'kong:trace:1433447772874964729'
        detail: Invalid Parameters
        invalid_parameters:
          - field: content
            rule: min_length
            minimum: 1
            reason: content must be longer than or equal to 1 characters
    UnauthorizedExample:
      value:
        status: 401
        title: Unauthorized
        instance: 'kong:trace:8347343766220159418'
        detail: Unauthorized
    NotFoundExample:
      value:
        status: 404
        title: Not Found
        instance: 'kong:trace:6816496025408232265'
        detail: Not Found
    ForbiddenExample:
      value:
        status: 403
        title: Forbidden
        instance: 'kong:trace:2723154947768991354'
        detail: You do not have permission to perform this action
    SlugConflictExample:
      value:
        status: 409
        title: Conflict
        instance: 'kong:trace:3169213858331814220'
    VersionSpecConflictExample:
      value:
        status: 409
        title: Conflict
        instance: 'kong:trace:3169213858331814220'
        detail: Specification for API product version '9f5061ce-78f6-4452-9108-ad7c02821fd5' already exists
    VersionSpecHiddenConflictExample:
      value:
        status: 409
        title: Conflict
        instance: 'kong:trace:9039922446017540182'
        detail: 'Key (service_version_id, path)=(23380be0-c15e-4ca8-bcf7-43aadddc91b1, hidden.yaml) already exists.'
    InvalidSortQueryBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'kong:trace:4725061142075238974'
        detail: Invalid Parameters
        invalid_parameters:
          - field: sort
            rule: enum
            choices:
              - name
            reason: '"sort" field must contain any of: [name]'
    InvalidSortQueryNameBadRequestExample:
      value:
        status: 400
        title: Invalid Request
        instance: 'kong:trace:4725061142075238974'
        detail: Invalid Parameters
        invalid_parameters:
          - field: sort
            rule: enum
            choices:
              - name
            reason: '"sort" field must contain any of: [name]'
    UnsupportedMediaTypeExample:
      value:
        status: 415
        title: Unsupported Media Type
        instance: 'kong:trace:8347343766220159418'
        detail: 'This API only supports requests with `Content-Type: application/json`'
  requestBodies:
    CreateAPIProductRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateAPIProductDTO'
          examples:
            CreateAPIProductRequestMinimalExample:
              $ref: '#/components/examples/CreateAPIProductRequestMinimalExample'
            CreateAPIProductRequestExample:
              $ref: '#/components/examples/CreateAPIProductRequestExample'
            CreateAPIProductAndPublishToPortalsRequestExample:
              $ref: '#/components/examples/CreateAPIProductAndPublishToPortalsRequestExample'
    UpdateAPIProductRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAPIProductDTO'
          examples:
            UpdateAPIProductRequestExample:
              $ref: '#/components/examples/UpdateAPIProductRequestExample'
            PublishAPIProductToPortalExample:
              $ref: '#/components/examples/PublishAPIProductToPortalExample'
    CreateAPIProductVersionRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateAPIProductVersionDTO'
          examples:
            UnlinkedAPIProductVersion:
              $ref: '#/components/examples/CreateAPIProductVersionRequestMinimalExample'
            LinkedAPIProductVersion:
              $ref: '#/components/examples/CreateLinkedAPIProductVersionRequestExample'
    CreateAPIProductVersionSpecRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateAPIProductVersionSpecDTO'
          examples:
            CreateAPIProductVersionSpecificationRequestExample:
              $ref: '#/components/examples/CreateAPIProductVersionSpecificationRequestExample'
    CreateAPIProductDocumentRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateAPIProductDocumentDTO'
          examples:
            CreateAPIProductDocumentRequestMinimalExample:
              $ref: '#/components/examples/CreateAPIProductDocumentRequestMinimalExample'
            CreateAPIProductDocumentRequestExample:
              $ref: '#/components/examples/CreateAPIProductDocumentRequestExample'
    UpdateAPIProductVersionRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAPIProductVersionDTO'
          examples:
            LinkAPIProductVersionRequest:
              $ref: '#/components/examples/LinkAPIProductVersionRequestExample'
            UnlinkAPIProductVersionRequest:
              $ref: '#/components/examples/UnlinkAPIProductVersionRequestExample'
            DeprecateAPIProductVersionRequest:
              $ref: '#/components/examples/DeprecateAPIProductVersionRequestExample'
    UpdateAPIProductDocumentRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAPIProductDocumentDTO'
          examples:
            UpdateAPIProductDocumentAttributes:
              $ref: '#/components/examples/UpdateAPIProductDocumentAttributesRequestExample'
            UpdateAPIProductDocumentContent:
              $ref: '#/components/examples/UpdateAPIProductDocumentContentRequestExample'
            UpdateAPIProductDocumentAttributesAndContent:
              $ref: '#/components/examples/UpdateAPIProductDocumentAttributesAndContentRequestExample'
    UpdateAPIProductVersionSpecRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateAPIProductVersionSpecDTO'
          examples:
            UpdateAPIProductVersionSpecContentRequest:
              $ref: '#/components/examples/UpdateAPIProductVersionSpecContentRequestExample'
            UpdateAPIProductVersionSpecNameRequest:
              $ref: '#/components/examples/UpdateAPIProductVersionSpecNameRequestExample'
            UpdateAPIProductVersionSpecRequest:
              $ref: '#/components/examples/UpdateAPIProductVersionSpecRequestExample'
  responses:
    SlugConflict:
      description: Conflict - `slug` property must be unique
      content:
        application/problem+json:
          schema:
            type: object
            properties:
              status:
                type: number
              title:
                type: string
              type:
                type: string
              instance:
                type: string
            required:
              - status
              - title
              - instance
          examples:
            SlugConflictExample:
              $ref: '#/components/examples/SlugConflictExample'
    VersionSpecConflict:
      description: Conflict - only one version specification can exist
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
          examples:
            VersionSpecConflictExample:
              $ref: '#/components/examples/VersionSpecConflictExample'
    VersionSpecHiddenConflict:
      description: Conflict - name attribute must be unique accross legacy version specifications
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
          examples:
            VersionSpecConflictExample:
              $ref: '#/components/examples/VersionSpecHiddenConflictExample'
    ApiProductUnauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    ApiProductNotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
          examples:
            NotFoundExample:
              $ref: '#/components/examples/NotFoundExample'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            ForbiddenExample:
              $ref: '#/components/examples/ForbiddenExample'
    APIProductResponse:
      description: API product
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIProduct'
          examples:
            Create API Product Response:
              $ref: '#/components/examples/APIProductExample'
    ListAPIProductResponse:
      description: List of API products
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/APIProduct'
            required:
              - data
              - meta
            title: ListAPIProductsResponse
          examples:
            API Product Collection:
              value:
                data:
                  - id: e7a4f6c0-5777-4a37-bcb9-2d37d3b362ee
                    name: API Product
                    description: Text describing the API product
                    portal_ids: []
                    portals: []
                    created_at: '2023-01-01T00:00:00.000Z'
                    updated_at: '2023-01-01T00:00:00.000Z'
                    version_count: 10
                    labels:
                      env: test
                meta:
                  page:
                    number: 1
                    size: 1
                    total: 10
    APIProductVersionResponse:
      description: API product
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIProductVersion'
          examples:
            Create API Product Response:
              $ref: '#/components/examples/APIProductVersionExample'
    ListAPIProductVersionResponse:
      description: List of API products
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/APIProductVersion'
            required:
              - data
              - meta
            title: ListAPIProductVersionsResponse
          examples:
            API Product Version Collection:
              value:
                data:
                  - id: 9f5061ce-78f6-4452-9108-ad7c02821fd5
                    name: v1
                    gateway_service:
                      runtime_group_id: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
                      control_plane_id: e4d9ebb1-26b4-426a-b00e-cb67044f3baf
                      id: 09b4786a-3e48-4631-8f6b-62d1d8e1a7f3
                    publish_status: unpublished
                    deprecated: false
                    labels:
                      env: test
                    portals:
                      - portal_id: 35a2624c-49fc-4764-99e1-224ed819f200
                        portal_name: Developer Portal
                        portal_product_version_id: 35a2624c-49fc-4764-99e1-224ed819f200
                        publish_status: published
                        deprecated: false
                        application_registration_enabled: true
                        auto_approve_registration: false
                        auth_strategies:
                          - id: 35a2624c-49fc-4764-99e1-224ed819f200
                            name: OIDC
                    created_at: '2023-01-01T00:00:00.000Z'
                    updated_at: '2023-01-01T00:00:00.000Z'
                meta:
                  page:
                    number: 1
                    size: 1
                    total: 10
    APIProductDocumentResponse:
      description: API product document
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIProductDocument'
          examples:
            Create API Product Document Response:
              $ref: '#/components/examples/APIProductDocumentExample'
    ListAPIProductDocumentResponse:
      description: List of API product documents
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/APIProductDocumentSummary'
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
            required:
              - data
              - meta
          examples:
            List API Product Document Response:
              $ref: '#/components/examples/ListAPIProductDocumentSummaryExample'
        application/vnd.konnect.document-tree+json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentTree'
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
            required:
              - data
              - meta
          examples:
            List API Product Document Response:
              $ref: '#/components/examples/APIProductDocumentTreeExample'
    ListAPIProductVersionSpecResponse:
      description: List of API product version specification
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/APIProductVersionSpec'
            required:
              - data
              - meta
            title: ListAPIProductVersionSpecResponse
          examples:
            List API Product Version Document Response:
              $ref: '#/components/examples/ListAPIProductVersionSpecExample'
    APIProductVersionSpecResponse:
      description: API product version specification
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIProductVersionSpec'
          examples:
            API Product Version Document Response:
              $ref: '#/components/examples/APIProductVersionSpecExample'
    UnsupportedMediaType:
      description: Unsupported Media Type
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnsupportedMediaTypeError'
          examples:
            UnsupportedMediaTypeExample:
              $ref: '#/components/examples/UnsupportedMediaTypeExample'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs.
        You can generate a Personal Access Token (PAT) from the [personal access token page](https://cloud.konghq.com/global/tokens/) in the Konnect dashboard.
        The PAT token must be passed in the header of a request, for example:
        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer kpat_xgfT...'`
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The system account access token is meant for automations and integrations that are not directly associated with a human identity.
        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.
        The access token must be passed in the header of a request, for example:
        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer spat_i2Ej...'`
tags:
  - name: API Products
  - name: API Product Documentation
  - name: API Product Versions
  - name: API Product Version Specification
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
