openapi: 3.0.3
info:
  title: Portal Management
  version: 2.2.0
  description: The management API for Portals
  contact:
    name: Kong
    url: 'https://konghq.com'
servers:
  - url: 'https://us.api.konghq.com/v2'
    description: US Region Base URL
  - url: 'https://eu.api.konghq.com/v2'
    description: EU Region Base URL
  - url: 'https://au.api.konghq.com/v2'
    description: AU Region Base URL
paths:
  /portals:
    get:
      operationId: list-portals
      summary: List Portals
      description: 'Lists developer portals defined in this region for this organization. Each developer portal is available at a unique address and has isolated appearance, configuration, developers, and applications.'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortals'
        - name: filter
          in: query
          description: Filter portals returned in the response.
          required: false
          schema:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/UuidFieldFilter'
              name:
                $ref: '#/components/schemas/StringFieldFilter'
              description:
                $ref: '#/components/schemas/StringFieldFilter'
              is_public:
                $ref: '#/components/schemas/BooleanFieldFilter'
              rbac_enabled:
                $ref: '#/components/schemas/BooleanFieldFilter'
              auto_approve_developers:
                $ref: '#/components/schemas/BooleanFieldFilter'
              auto_approve_applications:
                $ref: '#/components/schemas/BooleanFieldFilter'
              default_domain:
                $ref: '#/components/schemas/StringFieldFilter'
              custom_domain:
                $ref: '#/components/schemas/StringFieldFilter'
              custom_client_domain:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortals'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalsBadRequestExample1'
                ListPortalsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalsBadRequestExample2'
                ListPortalsBadRequestExample3:
                  $ref: '#/components/examples/ListPortalsBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portals
    post:
      operationId: create-portal
      summary: Create Portal
      description: Creates a new developer portal scoped in this region for this organization.
      requestBody:
        $ref: '#/components/requestBodies/CreatePortal'
      responses:
        '201':
          $ref: '#/components/responses/CreatePortal'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
                UpdatePortalBadRequestExample6:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample6'
                UpdatePortalBadRequestExample7:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample7'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portals
  '/portals/{portalId}':
    parameters:
      - name: portalId
        in: path
        description: ID of the portal.
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: get-portal
      summary: Get Portal
      description: 'Returns the configuration for a single developer portal. This allows you to understand the current visibility, access, and domain settings.'
      responses:
        '200':
          $ref: '#/components/responses/GetPortal'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portals
    patch:
      operationId: update-portal
      summary: Update Portal
      description: 'Updates the configuration for a single portal including the visibility, access, and custom domain settings.'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortal'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
                UpdatePortalBadRequestExample6:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample6'
                UpdatePortalBadRequestExample7:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample7'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Portals
    delete:
      operationId: delete-portal
      summary: Delete Portal
      description: 'Deletes a single portal, along with all related entities. Will not allow deletion if there are developers registered to portal or if there are portal product versions with application registration enabled, unless force=true query param is included in the request.'
      parameters:
        - name: force
          in: query
          description: 'If true, delete specified portal and all related entities, even if there are developers registered to portal or if there are portal product versions with application registration enabled. If false, do not allow deletion if there are developers registered to portal or if there are portal product versions with application registration enabled.'
          schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                DeletePortalBadRequestExample1:
                  $ref: '#/components/examples/DeletePortalBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portals
  '/portals/{portalId}/publish':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    post:
      operationId: publish-api-products
      summary: Publish Multiples Products
      description: Publish or Unpublish multiple API Products to this developer portal.
      requestBody:
        $ref: '#/components/requestBodies/PublishAPIProducts'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - API Products
  '/portals/{portalId}/products':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      operationId: list-portal-products
      summary: List Portal Products
      description: 'Lists the API products that are published to this developer portal. An API product packages together multiple versions of each API, displaying each version with its set of operations and documentation. Developers can browse API Products to learn about and register for them. API Products access can be limited to certain developers using RBAC and developer teams.'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortalProducts'
        - $ref: '#/components/parameters/PortalProductFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPortalProducts'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalProductsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalProductsBadRequestExample1'
                ListPortalProductsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalProductsBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Products
  '/portals/{portalId}/product-versions':
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: list-portal-product-versions
      summary: List portal product versions
      description: List portal product versions
      parameters:
        - $ref: '#/components/parameters/SortPortalProductVersions'
        - $ref: '#/components/parameters/PortalProductVersionFilter'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListPortalProductVersions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    post:
      operationId: create-portal-product-version
      summary: Create a portal product version
      description: Create a portal product version
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalProductVersion'
      responses:
        '201':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
  '/portals/{portalId}/product-versions/{productVersionId}':
    parameters:
      - $ref: '#/components/parameters/ProductVersionId'
      - $ref: '#/components/parameters/PortalId'
    get:
      operationId: get-portal-product-version
      summary: Get a portal product version
      description: Get a portal product version
      responses:
        '200':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    patch:
      operationId: update-portal-product-version
      summary: Update a portal product version
      description: Update a portal product version
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalProductVersion'
      responses:
        '200':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    put:
      operationId: replace-portal-product-version
      summary: Replace a portal product version
      description: Replace a portal product version
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalProductVersion'
      responses:
        '200':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    delete:
      operationId: delete-portal-product-version
      summary: Delete a portal product version
      description: Delete a portal product version
      responses:
        '204':
          description: No Content.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
  '/portals/{portalId}/developers/{developerId}':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/DeveloperId'
    get:
      operationId: get-developer
      summary: Get Developer
      description: 'Returns information about a single developer in this portal. Each developer manages a set applications, providing them credentials to access registered API product versions. Developer registration access can be limited to specific API products using RBAC.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/DeveloperId'
      responses:
        '200':
          $ref: '#/components/responses/GetDeveloper'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
    patch:
      operationId: update-developer
      summary: Update Developer
      description: 'Updates the status of a particular developer. Approved developers have access to login to the portal. Revoked, rejected, or pending are not allowed to login. Even if a developer''s status is no longer approved, they will still be able to using any existing credentials generated while they were approved, until each application registration is revoked or deleted.'
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeveloper'
      responses:
        '200':
          $ref: '#/components/responses/UpdateDeveloper'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateDeveloperBadRequestExample1:
                  $ref: '#/components/examples/UpdateDeveloperBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
    delete:
      operationId: delete-developer
      summary: Delete Developer
      description: 'Deletes a developer, which will discontinue their ability to login, view any non-public resources, and delete all applications owned by them. All credentials issued to the developer will no longer provide access to any API Products. A deleted developer''s unique email must be re-registered and approved to gain access again.'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
  '/portals/{portalId}/applications':
    get:
      operationId: list-applications
      summary: List Applications
      description: 'Lists applications created by developers in this portal. Each application can be registered for various API Products (by version), issuing credentials for API request access. If using DCR, an application will be linked to an Identity Provider''s application by its `reference_id`.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplications'
        - name: filter
          in: query
          description: Filter applications returned in the response.
          required: false
          schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              developer_name:
                $ref: '#/components/schemas/StringFieldFilter'
              developer_email:
                $ref: '#/components/schemas/StringFieldFilter'
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListApplications'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationsBadRequestExample1:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample1'
                ListApplicationsBadRequestExample2:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample2'
                ListApplicationsBadRequestExample3:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample3'
                ListApplicationsBadRequestExample4:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Applications
  '/portals/{portalId}/applications/{applicationId}':
    get:
      operationId: get-application
      summary: Get Application by Portal
      description: 'Returns the configuration of a single application in this portal. If an application is linked to a DCR Provider, the `dcr_provider.id` and `reference_id` can be used to correlate it. An application manages a set of credentials and registrations for specific API product versions.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Applications
    delete:
      operationId: delete-application
      summary: Delete Application by Portal
      description: 'Delete a single application in this portal, along with its registrations and credentials.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        '204':
          description: The application has been deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Applications
  '/applications/{applicationId}':
    get:
      operationId: get-application-unscoped
      summary: Get Application
      description: 'Returns the configuration of a single application in any portal. If an application is linked to a DCR Provider, the `dcr_provider.id` and `reference_id` can be used to correlate it. An application manages a set of credentials and registrations for specific API product versions.'
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Applications
  '/portals/{portalId}/application-registrations':
    get:
      operationId: list-registrations
      summary: List Application Registrations by Portal
      description: 'Lists all of the application registrations and their current status (e.g., approved or pending) for this portal. Each registration is associated with a single API product version. Access is provided through the credentials issued to the application that contains each registration.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortListAllApplicationRegistrations'
        - name: filter
          in: query
          description: Filter application registrations returned in the response.
          required: false
          schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              developer_name:
                $ref: '#/components/schemas/StringFieldFilter'
              application_name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationRegistrationsByPortalBadRequestExample1:
                  $ref: '#/components/examples/ListApplicationRegistrationsByPortalBadRequestExample1'
                ListApplicationRegistrationsByPortalBadRequestExample2:
                  $ref: '#/components/examples/ListApplicationRegistrationsByPortalBadRequestExample2'
                ListApplicationRegistrationsByPortalBadRequestExample3:
                  $ref: '#/components/examples/ListApplicationRegistrationsByPortalBadRequestExample3'
                ListApplicationRegistrationsByPortalBadRequestExample4:
                  $ref: '#/components/examples/ListApplicationRegistrationsByPortalBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Application Registrations
  '/portals/{portalId}/applications/{applicationId}/registrations':
    get:
      operationId: list-registrations-by-application
      summary: List Registrations by Application
      description: 'Lists each API product version that this application is registered for and their current status (e.g., pending, approved, rejected, revoked).'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplicationRegistrations'
        - name: filter
          in: query
          description: Filter application registrations returned in the response.
          required: false
          schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListRegistrationsByApplicationBadRequestExample1:
                  $ref: '#/components/examples/ListRegistrationsByApplicationBadRequestExample1'
                ListRegistrationsByApplicationBadRequestExample2:
                  $ref: '#/components/examples/ListRegistrationsByApplicationBadRequestExample2'
                ListRegistrationsByApplicationBadRequestExample3:
                  $ref: '#/components/examples/ListRegistrationsByApplicationBadRequestExample3'
                ListRegistrationsByApplicationBadRequestExample4:
                  $ref: '#/components/examples/ListRegistrationsByApplicationBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Application Registrations
  '/portals/{portalId}/applications/{applicationId}/registrations/{registrationId}':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/ApplicationId'
      - $ref: '#/components/parameters/RegistrationId'
    get:
      operationId: get-application-registration
      summary: Get Application Registration
      description: Returns information about an application's registration status for a particular API product version.
      responses:
        '200':
          $ref: '#/components/responses/GetApplicationRegistration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Application Registrations
    patch:
      operationId: update-application-registration
      summary: Update Application Registration
      description: 'Updates the status of a particular application registration to an API Product Version. Approved application registrations will allow API traffic to the corresponding API. Revoked, rejected, or pending will not allow API traffic.'
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationRegistration'
      responses:
        '200':
          $ref: '#/components/responses/UpdateApplicationRegistration'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateApplicationRegistrationBadRequestExample1:
                  $ref: '#/components/examples/UpdateApplicationRegistrationBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Application Registrations
    delete:
      operationId: delete-application-registration
      summary: Delete Application Registration
      description: |-
        Deletes an application registration, which if currently approved will immediately block API traffic to the API product version.
        Note: Developers can request a new application registration for the given API product version as long as they have RBAC access to consume.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Application Registrations
  '/portals/{portalId}/applications/{applicationId}/registrations/{registrationId}/granted-scopes':
    get:
      operationId: list-granted-scopes
      summary: List Granted Scopes
      description: Lists the granted scopes for this application registration. This is the list of scopes that will be sent to the API when making requests.
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/RegistrationId'
      responses:
        '200':
          $ref: '#/components/responses/ListGrantedScopes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Application Registrations
  /portals/appearance-defaults:
    get:
      operationId: get-portal-appearance-defaults
      summary: Get Default Appearance Configurations
      description: 'Returns the built-in portal appearance configurations including pre-defined themes, colors, and font settings.'
      responses:
        '200':
          $ref: '#/components/responses/GetAppearanceDefaults'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Appearance
  '/portals/{portalId}/appearance':
    get:
      operationId: get-portal-appearance
      summary: Get Appearance Configuration
      description: 'Returns the current portal appearance configuration including any custom theme, colors, fonts, and image settings. Portals using the fully-customizable portal client may override or ignore these settings by disregarding them in the code.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      responses:
        '200':
          $ref: '#/components/responses/GetPortalAppearance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Appearance
    patch:
      operationId: update-portal-appearance
      summary: Update Appearance Configuration
      description: 'Updates the current appearance configuration for this portal including setting pre-defined or custom themes, fonts, colors, and images. Note that portals using the fully-customizable portal client may override or ignore these settings by disregarding them in the code.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAppearance'
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortalAppearance'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateAppearanceConfigurationBadRequestExample1:
                  $ref: '#/components/examples/UpdateAppearanceConfigurationBadRequestExample1'
                UpdateAppearanceConfigurationBadRequestExample2:
                  $ref: '#/components/examples/UpdateAppearanceConfigurationBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Appearance
  '/portals/{portalId}/appearance/logo':
    get:
      operationId: get-portal-logo
      summary: Get Portal Logo
      description: Returns the portal logo or returns the default
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      responses:
        '200':
          $ref: '#/components/responses/GetPortalLogoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Appearance
  '/portals/{portalId}/appearance/catalog-cover':
    get:
      operationId: get-portal-catalog-cover
      summary: Get Portal Catalog Cover
      description: Returns the portal catalog cover or returns the default
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      responses:
        '200':
          $ref: '#/components/responses/GetPortalCatalogCoverResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Appearance
  '/portals/{portalId}/verify-domain':
    post:
      operationId: verify-portal-domains
      summary: Verify Custom Domains
      description: 'Verifies the current status of the custom hosted domain for this portal, indicating whether the appropriate CNAME properties have propagated and if a corresponding SSL certificate has been generated.'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      responses:
        '200':
          $ref: '#/components/responses/VerifyPortalDomains'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                VerifyPortalDomainsBadRequestExample1:
                  $ref: '#/components/examples/VerifyPortalDomainsBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portals
  '/portals/{portalId}/authentication-settings':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      operationId: get-portal-authentication-settings
      summary: Get Auth Settings
      description: 'Returns the developer authentication configuration for a portal, which determines how developers can log in and how they are assigned to teams.'
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
      tags:
        - Portal Auth Settings
    patch:
      operationId: update-portal-authentication-settings
      summary: Update Auth Settings
      description: Updates the developer authentication configuration for a portal. Developers can be allowed to login using basic auth (email & password) or use Single-Sign-On (SSO) through an OIDC Identity Provider (IdP). Developers can be automatically assigned to teams by mapping claims from thier IdP account.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateAuthSettingsBadRequestExample1:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample1'
                UpdateAuthSettingsBadRequestExample2:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample2'
                UpdateAuthSettingsBadRequestExample3:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample3'
                UpdateAuthSettingsBadRequestExample4:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample4'
                UpdateAuthSettingsBadRequestExample5:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample5'
                UpdateAuthSettingsBadRequestExample6:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample6'
                UpdateAuthSettingsBadRequestExample7:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample7'
                UpdateAuthSettingsBadRequestExample8:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample8'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
  '/portals/{portalId}/identity-provider/team-group-mappings':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      operationId: list-portal-team-group-mappings
      summary: List Team Group Mappings
      description: Lists mappings between Konnect portal teams and Identity Provider (IdP) groups. Returns a 400 error if an IdP has not yet been configured.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListTeamGroupMappingsBadRequestExample1:
                  $ref: '#/components/examples/ListTeamGroupMappingsBadRequestExample1'
                ListTeamGroupMappingsBadRequestExample2:
                  $ref: '#/components/examples/ListTeamGroupMappingsBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
    patch:
      operationId: update-portal-team-group-mappings
      summary: Update Team Group Mappings
      description: |-
        Allows partial updates to the mappings between Konnect portal teams and Identity Provider (IdP) groups. The request body must be keyed on team ID. For a given team ID, the given group list is a complete replacement. To remove all mappings for a given team, provide an empty group list.
        Returns a 400 error if an IdP has not yet been configured, or if a team ID in the request body is not found or is not a UUID.
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalTeamGroupMappings'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateTeamGroupMappingsBadRequestExample1:
                  $ref: '#/components/examples/UpdateTeamGroupMappingsBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
  '/portals/{portalId}/teams':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      operationId: list-portal-teams
      summary: List Teams
      description: Lists the developer teams in a portal. Each team can contain any developer and developers can be part of multiple teams.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - name: filter
          in: query
          description: Filter teams returned in the response.
          required: false
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    post:
      operationId: create-portal-team
      summary: Create Team
      description: Creates a developer team in a portal. Developers can be added to teams to provide RBAC access to API products. Teams can be assigned roles that grant permissions to perform an action on a resource.
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      responses:
        '201':
          $ref: '#/components/responses/PortalTeam'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                CreateTeamBadRequestExample1:
                  $ref: '#/components/examples/CreateTeamBadRequestExample1'
                CreateTeamBadRequestExample2:
                  $ref: '#/components/examples/CreateTeamBadRequestExample2'
                CreateTeamBadRequestExample3:
                  $ref: '#/components/examples/CreateTeamBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  '/portals/{portalId}/teams/{teamId}':
    parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      operationId: get-portal-team
      summary: Get Team
      description: Get an individual team.
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    patch:
      operationId: update-portal-team
      summary: Update Team
      description: Updates an individual developer team for a portal.
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
    delete:
      operationId: delete-portal-team
      summary: Delete Team
      description: 'Deletes a developer team from a portal. Deleting a team also deletes its assigned roles. Members of the team are not deleted, but they will lose any access provided through the team.'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  '/portals/{portalId}/teams/{teamId}/developers':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/TeamId'
    get:
      operationId: list-portal-team-developers
      summary: List Team Developers
      description: List a team's developers.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListBasicDevelopers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
    post:
      operationId: add-developer-to-portal-team
      summary: Add Developer to Team
      description: 'Adds a developer to a team. This associates them with all of the roles that have been assigned to the team, providing specific permissions to perform actions on resources.'
      requestBody:
        $ref: '#/components/requestBodies/AddDeveloperToTeam'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AddDeveloperToTeamBadRequestExample1:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample1'
                AddDeveloperToTeamBadRequestExample2:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  '/portals/{portalId}/teams/{teamId}/developers/{developerId}':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/parameters-DeveloperId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      operationId: remove-developer-from-portal-team
      summary: Remove Developer from Team
      description: Removes a developer from a team. This removes the association of the team's roles from the developer.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  '/portals/{portalId}/teams/{teamId}/assigned-roles':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
    get:
      operationId: list-portal-team-roles
      summary: List Team Roles
      description: Lists the roles belonging to a developer team. Each role provides permissions to perform actions on a specified resource or collection.
      responses:
        '200':
          $ref: '#/components/responses/AssignedPortalRoleCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Roles
    post:
      operationId: assign-role-to-portal-teams
      summary: Assign Role
      description: 'Assign a role to a developer team. This associates the set of permissions in a role with the team, so that they will be applied to any developer who is a member of the team.'
      requestBody:
        $ref: '#/components/requestBodies/PortalAssignRole'
      responses:
        '201':
          $ref: '#/components/responses/PortalAssignedRole'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AssignRoleBadRequestExample1:
                  $ref: '#/components/examples/AssignRoleBadRequestExample1'
                AssignRoleBadRequestExample2:
                  $ref: '#/components/examples/AssignRoleBadRequestExample2'
                AssignRoleBadRequestExample3:
                  $ref: '#/components/examples/AssignRoleBadRequestExample3'
                AssignRoleBadRequestExample4:
                  $ref: '#/components/examples/AssignRoleBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
        - Portal Team Roles
  '/portals/{portalId}/teams/{teamId}/assigned-roles/{roleId}':
    parameters:
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      operationId: remove-role-from-portal-team
      summary: Remove Role
      description: Removes an assigned role from a developer team. This deletes the association of the role with team and each of its members.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Roles
  '/portals/{portalId}/developers':
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      operationId: list-portal-developers
      summary: List Developers
      description: Lists the developers that have registered for this portal. Each developer can be registered to one portal and must be approved to login unless using the developer auto-approve setting.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortDevelopers'
        - name: filter
          in: query
          description: Filter developers returned in the response.
          required: false
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
              email:
                $ref: '#/components/schemas/StringFieldFilter'
          style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/ListDevelopers'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListDevelopersBadRequestExample1:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample1'
                ListDevelopersBadRequestExample2:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample2'
                ListDevelopersBadRequestExample3:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample3'
                ListDevelopersBadRequestExample4:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Developers
  '/portals/{portalId}/developers/{developerId}/teams':
    parameters:
      - $ref: '#/components/parameters/parameters-DeveloperId'
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      operationId: list-portal-developer-teams
      summary: List Developer Teams
      description: Lists the teams to which a developer belongs. Each team a developer is a member of grants them various roles that provide permissions to perform actions on certain resources.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  /portal-roles:
    get:
      operationId: list-portal-roles
      summary: List Portal Roles
      description: List roles that can be assigned to teams in a portal. Each role provides a set of permissions to perform an action on a resource.
      responses:
        '200':
          $ref: '#/components/responses/ListRoles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Team Roles
components:
  parameters:
    ApplicationId:
      name: applicationId
      in: path
      required: true
      description: The application ID
      schema:
        $ref: '#/components/schemas/UUID'
    DeveloperId:
      name: developerId
      in: path
      required: true
      description: The developer ID
      schema:
        $ref: '#/components/schemas/UUID'
    PageNumber:
      name: 'page[number]'
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PageSize:
      name: 'page[size]'
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
    PortalId:
      name: portalId
      description: portal identifier
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/schemas-UUID'
    PortalProductFilter:
      name: filter
      description: Filters a collection of Portal Products.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/PortalProductFilters'
    PortalProductVersionFilter:
      name: filter
      description: Filters a collection of Portal Product Versions.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/PortalProductVersionFilters'
    ProductVersionId:
      name: productVersionId
      description: API product version identifier
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/schemas-UUID'
    RegistrationId:
      name: registrationId
      in: path
      required: true
      description: The application registration ID
      schema:
        $ref: '#/components/schemas/UUID'
    RoleId:
      schema:
        type: string
        format: uuid
        example: 8350205f-a305-4e39-abe9-bc082a80091a
      name: roleId
      in: path
      required: true
    SortApplicationRegistrations:
      name: sort
      description: |
        Sorts a set of registrations for an application. Supported sort attributes are:
          - created_at
          - updated_at
          - status
      in: query
      required: false
      schema:
        type: string
    SortApplications:
      name: sort
      description: |
        Sorts a collection of applications. Supported sort attributes are:
          - created_at
          - developer_id
          - name
      in: query
      required: false
      schema:
        type: string
    SortDevelopers:
      name: sort
      description: |
        Sorts a collection of developers. Supported sort attributes are:
          - created_at
          - updated_at
          - email
          - name
          - status
      in: query
      required: false
      schema:
        type: string
    SortListAllApplicationRegistrations:
      name: sort
      description: |
        Sorts a collection of application registrations. Supported sort attributes are:
          - created_at
          - updated_at
          - developer_id
          - status
      in: query
      required: false
      schema:
        type: string
    SortPortalProductVersions:
      name: sort
      description: |
        Sorts a collection of Portal Product Versions. Supported sort attributes are:
          - created_at
          - updated_at
          - publish_status
          - product_version_id
          - auth_strategy_ids
          - application_registration_enabled
          - auto_approve_registration
          - deprecated
      in: query
      required: false
      schema:
        type: string
    SortPortalProducts:
      name: sort
      description: |
        Sorts a collection of Portal Products. Supported sort attributes are:
          - created_at
          - name
          - description
      in: query
      required: false
      schema:
        type: string
    SortPortals:
      name: sort
      description: |
        Sorts a collection of portals. Supported sort attributes are:
          - name
          - description
          - is_public
          - rbac_enabled
          - auto_approve_applications
          - auto_approve_developers
          - default_domain
          - custom_domain
          - custom_client_domain
          - created_at
          - updated_at
      in: query
      required: false
      schema:
        type: string
    TeamId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: teamId
      in: path
      required: true
      description: ID of the team.
    parameters-DeveloperId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: developerId
      in: path
      required: true
      description: ID of the developer.
    parameters-PortalId:
      schema:
        type: string
        format: uuid
      name: portalId
      in: path
      required: true
      description: ID of the portal.
  schemas:
    AuthStrategy:
      type: object
      discriminator:
        propertyName: credential_type
      oneOf:
        - $ref: '#/components/schemas/AuthStrategyKeyAuth'
        - $ref: '#/components/schemas/AuthStrategyClientCredentials'
    PortalClaimMappings:
      description: Mappings from a portal developer atribute to an Identity Provider claim.
      type: object
      properties:
        name:
          type: string
          example: name
          default: name
        email:
          type: string
          example: email
          default: email
        groups:
          type: string
          example: custom-group-claim
          default: groups
      example:
        name: name
        email: email
        groups: custom-group-claim
      maxProperties: 3
      minProperties: 0
      title: PortalClaimMappings
    PortalOIDCConfig:
      description: Configuration properties for an OpenID Connect Identity Provider.
      type: object
      properties:
        issuer:
          type: string
          example: 'https://identity.example.com/v2'
        client_id:
          type: string
          example: x7id0o42lklas0blidl2
        scopes:
          type: array
          items:
            type: string
            default: openid
          example:
            - email
            - openid
            - profile
          default:
            - email
            - openid
            - profile
        claim_mappings:
          $ref: '#/components/schemas/PortalClaimMappings'
      example:
        issuer: 'https://identity.example.com/v2'
        client_id: x7id0o42lklas0blidl2
        scopes:
          - email
          - openid
          - profile
        claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
      required:
        - issuer
        - client_id
      title: PortalOIDCConfig
    PortalAuthenticationSettingsResponse:
      description: The developer authentication settings for a portal.
      type: object
      properties:
        basic_auth_enabled:
          description: The portal has basic auth enabled or disabled.
          type: boolean
          example: true
        oidc_auth_enabled:
          description: The portal has OIDC enabled or disabled.
          type: boolean
          example: false
        oidc_team_mapping_enabled:
          description: IdP groups determine the Portal Teams a developer has.
          type: boolean
          example: true
        konnect_mapping_enabled:
          description: A Konnect Identity Admin assigns teams to a developer.
          type: boolean
          example: false
        oidc_config:
          $ref: '#/components/schemas/PortalOIDCConfig'
      example:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: false
        oidc_config:
          issuer: 'https://identity.example.com/v2'
          client_id: x7id0o42lklas0blidl2
          scopes:
            - email
            - openid
            - profile
          claim_mappings:
            name: name
            email: email
            groups: custom-group-claim
      required:
        - basic_auth_enabled
        - konnect_mapping_enabled
        - oidc_auth_enabled
        - oidc_team_mapping_enabled
      title: PortalAuthenticationSettingsResponse
    AssignedPortalRoleCollectionResponse:
      description: A paginated list of roles assigned to a team.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalAssignedRoleResponse'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Viewer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type_name: Services
            entity_region: us
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Consumer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type: Services
            entity_region: us
          - id: 869d9402-f117-4f9a-840f-69acaf70a81a
            role_name: API Viewer
            entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
            entity_type_name: Services
            entity_region: us
      required:
        - meta
        - data
      title: AssignedPortalRoleCollectionResponse
    ListPortalTeamsResponse:
      description: A paginated list of teams in a portal.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalTeamResponse'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Partner
            description: Team with access to Partner APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: af9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Internal
            description: Team with access to Internal APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Root
            description: Team with access to Internal Systems
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
      required:
        - data
        - meta
      title: ListPortalTeamsResponse
    ListRolesResponse:
      description: The set of roles available to associate with resources and assign to teams.
      type: object
      properties:
        services:
          type: object
          properties:
            name:
              type: string
              enum:
                - Services
            roles:
              type: object
              properties:
                apiviewer:
                  type: object
                  properties:
                    name:
                      type: string
                      enum:
                        - API Viewer
                    description:
                      type: string
                      enum:
                        - API Viewers have read-only access to the documentation of a service in a portal
                  required:
                    - name
                    - description
                apiconsumer:
                  type: object
                  properties:
                    name:
                      type: string
                      enum:
                        - API Consumer
                    description:
                      type: string
                      enum:
                        - API Consumers can make calls to the given service
                  required:
                    - name
                    - description
              required:
                - apiviewer
                - apiconsumer
          required:
            - name
            - roles
      example:
        services:
          name: Services
          roles:
            apiviewer:
              name: API Viewer
              description: API Viewers have read-only access to the documentation of a service in a portal
            apiconsumer:
              name: API Consumer
              description: API Consumers can make calls to the given service
      required:
        - services
      title: ListRolesResponse
    ListBasicDevelopersResponse:
      description: A paginated list of basic information about a set of developers.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/BasicDeveloper'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: james.woods@email.com
            full_name: James Woods
            active: true
            created_at: '2022-08-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: jill.stone@email.com
            full_name: Jill Stone
            active: false
            created_at: '2022-07-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
      title: ListBasicDevelopersResponse
    AddDeveloperToTeamRequest:
      description: Add a developer to a team by specifying the developer ID.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: df120cb4-f60b-47bc-a2f8-6a28e6a3c63b
          writeOnly: true
      example:
        id: df120cb4-f60b-47bc-a2f8-6a28e6a3c63b
      required:
        - id
      title: AddDeveloperToTeamRequest
    PortalAssignRoleRequest:
      description: An assigned role associates a service and an action to a team.
      type: object
      properties:
        role_name:
          type: string
          example: API Viewer
        entity_id:
          type: string
          format: uuid
          example: e67490ce-44dc-4cbd-b65e-b52c746fc26a
        entity_type_name:
          type: string
          example: Services
        entity_region:
          type: string
          example: eu
          enum:
            - us
            - eu
            - au
            - '*'
      example:
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
      title: PortalAssignRoleRequest
    PortalAuthenticationSettingsUpdateRequest:
      description: Properties to update a portal's developer auth settings.
      type: object
      properties:
        basic_auth_enabled:
          description: The organization has basic auth enabled.
          type: boolean
          example: true
        oidc_auth_enabled:
          description: The organization has OIDC disabled.
          type: boolean
          example: false
        oidc_team_mapping_enabled:
          description: Whether IdP groups determine the Konnect Portal teams a developer has.
          type: boolean
          example: true
        konnect_mapping_enabled:
          description: Whether a Konnect Identity Admin assigns teams to a developer.
          type: boolean
          example: false
        oidc_issuer:
          type: string
        oidc_client_id:
          type: string
        oidc_client_secret:
          type: string
        oidc_scopes:
          type: array
          items:
            type: string
            default: openid
          default:
            - email
            - openid
            - profile
        oidc_claim_mappings:
          $ref: '#/components/schemas/PortalClaimMappings'
      example:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: false
        oidc_issuer: 'https://identity.example.com/v2'
        oidc_client_id: x7id0o42lklas0blidl2
        oidc_scopes:
          - email
          - openid
          - profile
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
      title: PortalAuthenticationSettingsUpdateRequest
    PortalTeamGroupMappingsUpdateRequest:
      description: A set of mappings to update from a team to their groups.
      type: object
      properties:
        data:
          description: The IdP groups to map to the given team.
          type: array
          items:
            type: object
            properties:
              team_id:
                type: string
                format: uuid
              groups:
                type: array
                items:
                  type: string
      example:
        data:
          - team_id: af91db4c-6e51-403e-a2bf-33d27ae50c0a
            groups:
              - Service Developer
      title: PortalTeamGroupMappingsUpdateRequest
    PortalUpdateTeamRequest:
      description: Properties to update on a team.
      type: object
      properties:
        name:
          type: string
          example: IDM - Developers
          pattern: '^[\w \W]+$'
          writeOnly: true
        description:
          type: string
          example: The Identity Management (IDM) API team.
          maxLength: 250
          writeOnly: true
      example:
        name: IDM - Developers
        description: The Identity Management (IDM) API team.
      title: PortalUpdateTeamRequest
    PortalCreateTeamRequest:
      description: Details about a team to create.
      type: object
      properties:
        name:
          type: string
          example: IDM - Developers
          pattern: '^[\w \W]+$'
          writeOnly: true
        description:
          type: string
          example: The Identity Management (IDM) team.
          maxLength: 250
          writeOnly: true
      example:
        name: IDM - Developers
        description: The Identity Management (IDM) team.
      required:
        - name
      title: PortalCreateTeamRequest
    PortalTeamResponse:
      description: Details about a developer team.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        name:
          type: string
          example: IDM - Developers
          maxLength: 250
          pattern: '^[\w \W]+$'
        description:
          type: string
          example: The developers for the IDM API.
          maxLength: 250
        created_at:
          type: string
          format: date-time
          example: '1992-02-07T17:46:57.52Z'
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-02-07T17:00:00.52Z'
          readOnly: true
      example:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: IDM - Developers
        description: The developers for the IDM API.
        created_at: '1992-02-07T17:46:57.52Z'
        updated_at: '2022-08-31T17:00:00.52Z'
      title: PortalTeamResponse
    PortalTeamGroupMappingResponse:
      description: A paginated list of portal team group mappings.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalTeamGroupMapping'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - team_id: 6801e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Tech Leads
              - API Engineers
          - team_id: 7301e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Managers
              - Directors
      title: PortalTeamGroupMappingResponse
    PortalTeamGroupMapping:
      description: A map of portal teams to Identity Provider groups.
      type: object
      properties:
        team_id:
          description: The Konnect team ID.
          type: string
          format: uuid
          example: 6801e673-cc10-498a-94cd-4271de07a0d3
        groups:
          description: The IdP groups that are mapped to the specified team.
          type: array
          items:
            type: string
            example: API Engineers
          uniqueItems: true
      example:
        team_id: 6801e673-cc10-498a-94cd-4271de07a0d3
        groups:
          - Tech Leads
          - API Engineers
      title: PortalTeamGroupMapping
    PortalAssignedRoleResponse:
      description: An assigned role associates a service and an action to a team.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: eaf7adf1-32c8-4bbf-b960-d1f8456afe67
        role_name:
          type: string
          example: API Viewer
        entity_id:
          type: string
          format: uuid
          example: 817d0422-45c9-4d88-8d64-45aef05c1ae7
        entity_type_name:
          type: string
          example: Services
        entity_region:
          type: string
          example: eu
          enum:
            - us
            - eu
            - au
            - '*'
      example:
        id: 1a3c2169-27f8-4594-926b-41df3432d5dc
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
      title: PortalAssignedRoleResponse
    ListPortalsResponse:
      description: A paginated list of portals in the current region in the organization.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Portal'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 1
        data:
          - id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-10-08T17:00:00.52Z'
            name: Portal A
            display_name: Developer Portal A
            description: The Portal A
            default_domain: 123455678abcd.us.portal.konghq.com
            is_public: false
            rbac_enabled: true
            auto_approve_applications: false
            auto_approve_developers: true
            custom_domain: api.example.com
            custom_client_domain: portal.example.com
            application_count: 0
            developer_count: 0
            published_product_count: 0
      additionalProperties: false
      required:
        - data
        - meta
    ListPortalProductsResponse:
      description: A paginated list of API products published to a portal.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PublishedAPIProduct'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: 9cdcba18-5bdf-4936-81de-d76da02cb99b
            name: Excellent API
            description: Excellent for serving
            created_at: '2022-05-24T18:40:35.500Z'
            updated_at: '2022-05-24T18:40:35.500Z'
            portal_ids:
              - 83f1733c-862c-43e5-a005-acfb0addfcfb
            labels:
              department: marketing
            version_count: 4
          - id: 6d8cba18-5bdf-4936-81de-d76da02cb99b
            name: Utility API
            description: Useful for helping with progress
            created_at: '2022-04-24T18:40:35.500Z'
            updated_at: '2022-09-24T18:40:35.500Z'
            portal_ids:
              - 83f1733c-862c-43e5-a005-acfb0addfcfb
            labels:
              department: engineering
              location: cyberspace
            version_count: 21
      additionalProperties: false
      required:
        - data
        - meta
    PortalProductFilters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        description:
          $ref: '#/components/schemas/StringFieldFilter'
      additionalProperties: false
      title: PortalProductFilters
    PortalProductVersionFilters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        publish_status:
          $ref: '#/components/schemas/PublishStatusFilter'
        product_version_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        auth_strategy_ids:
          $ref: '#/components/schemas/UuidFieldFilter'
        application_registration_enabled:
          $ref: '#/components/schemas/BooleanFieldFilter'
        auto_approve_registration:
          $ref: '#/components/schemas/BooleanFieldFilter'
        deprecated:
          $ref: '#/components/schemas/BooleanFieldFilter'
      additionalProperties: false
      title: PortalProductVersionFilters
    PortalProductVersionPublishStatus:
      description: Publication status of the API product version on the portal
      type: string
      enum:
        - published
        - unpublished
    PortalProductVersionDeprecated:
      description: Whether the api product version on the portal is deprecated
      type: boolean
    NotifyDevelopers:
      description: Whether to notify developers who are affected by this change
      type: boolean
      title: NotifyDevelopers
    PublishStatusFilter:
      description: Filters on the given publish status
      oneOf:
        - $ref: '#/components/schemas/StringFieldEqualsFilter'
        - $ref: '#/components/schemas/StringFieldOEQFilter'
        - $ref: '#/components/schemas/StringFieldNEQFilter'
      title: PublishStatusFilter
      x-examples:
        example-1: published
        example-2:
          eq: unpublished
        example-3:
          neq: unpublished
    ApplicationRegistrationEnabled:
      description: Whether the application registration on this portal for the api product version is enabled
      type: boolean
    AutoApproveRegistration:
      description: Whether the application registration auto approval on this portal for the api product version is enabled
      type: boolean
    AuthStrategies:
      description: A list of authentication strategies
      type: array
      items:
        $ref: '#/components/schemas/AuthStrategy'
      maxItems: 1
      minItems: 0
    AuthStrategyIDs:
      description: A list of authentication strategy IDs
      type: array
      items:
        $ref: '#/components/schemas/UUID_RW'
      maxItems: 1
      minItems: 0
    PublishAPIProductPayload:
      description: Payload to publish/unpublish multiple API products
      type: object
      properties:
        api_products:
          type: object
          additionalProperties:
            type: object
            nullable: true
            properties:
              publish_status:
                type: string
                enum:
                  - published
                  - unpublished
            required:
              - publish_status
          nullable: false
      additionalProperties: false
      required:
        - api_products
      title: 'PublishAPIProductPayload,'
    CreatePortalProductVersionPayload:
      description: Payload to create a Portal Product Version
      type: object
      properties:
        publish_status:
          $ref: '#/components/schemas/PortalProductVersionPublishStatus'
        product_version_id:
          $ref: '#/components/schemas/UUID_RW'
        auth_strategy_ids:
          $ref: '#/components/schemas/AuthStrategyIDs'
        application_registration_enabled:
          $ref: '#/components/schemas/ApplicationRegistrationEnabled'
        auto_approve_registration:
          $ref: '#/components/schemas/AutoApproveRegistration'
        deprecated:
          $ref: '#/components/schemas/PortalProductVersionDeprecated'
      additionalProperties: false
      required:
        - publish_status
        - application_registration_enabled
        - auto_approve_registration
        - product_version_id
        - deprecated
        - auth_strategy_ids
      title: CreatePortalProductVersionPayload
    ReplacePortalProductVersionPayload:
      description: Payload to update a Portal Product Version
      type: object
      properties:
        publish_status:
          $ref: '#/components/schemas/PortalProductVersionPublishStatus'
        auth_strategy_ids:
          $ref: '#/components/schemas/AuthStrategyIDs'
        application_registration_enabled:
          $ref: '#/components/schemas/ApplicationRegistrationEnabled'
        auto_approve_registration:
          $ref: '#/components/schemas/AutoApproveRegistration'
        deprecated:
          $ref: '#/components/schemas/PortalProductVersionDeprecated'
        notify_developers:
          $ref: '#/components/schemas/NotifyDevelopers'
      additionalProperties: false
      required:
        - publish_status
        - application_registration_enabled
        - auto_approve_registration
        - deprecated
        - auth_strategy_ids
      title: ReplacePortalProductVersionPayload
    UpdatePortalProductVersionPayload:
      description: Payload to update a Portal Product Version
      type: object
      properties:
        publish_status:
          $ref: '#/components/schemas/PortalProductVersionPublishStatus'
        auth_strategy_ids:
          $ref: '#/components/schemas/AuthStrategyIDs'
        application_registration_enabled:
          $ref: '#/components/schemas/ApplicationRegistrationEnabled'
        auto_approve_registration:
          $ref: '#/components/schemas/AutoApproveRegistration'
        deprecated:
          $ref: '#/components/schemas/PortalProductVersionDeprecated'
        notify_developers:
          $ref: '#/components/schemas/NotifyDevelopers'
      additionalProperties: false
      title: UpdatePortalProductVersionPayload
    PortalProductVersion:
      description: |
        A Portal Product Version holds metadata that describes how a Product Version is configured for a specific portal.

        It contains:
        - Lifecyle and deprecation statuses
        - Application registration settings like auto approve or whether application registration is enabled
        - The Authentication Strategy (if present) that is enabled for Application Registration
      type: object
      properties:
        id:
          $ref: '#/components/schemas/schemas-UUID'
        publish_status:
          $ref: '#/components/schemas/PortalProductVersionPublishStatus'
        product_version_id:
          $ref: '#/components/schemas/UUID_RW'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        auth_strategies:
          $ref: '#/components/schemas/AuthStrategies'
        application_registration_enabled:
          $ref: '#/components/schemas/ApplicationRegistrationEnabled'
        auto_approve_registration:
          $ref: '#/components/schemas/AutoApproveRegistration'
        deprecated:
          $ref: '#/components/schemas/PortalProductVersionDeprecated'
      additionalProperties: false
      required:
        - id
        - publish_status
        - application_registration_enabled
        - auto_approve_registration
        - product_version_id
        - deprecated
        - auth_strategies
        - created_at
        - updated_at
      title: PortalProductVersion
    ListPortalProductVersions:
      description: A paginated list response for a collection of portal product versions
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalProductVersion'
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
      additionalProperties: false
      required:
        - data
        - meta
      title: ListPortalProductVersions
    PublishedAPIProduct:
      type: object
      properties:
        id:
          description: The API product ID.
          type: string
          format: uuid
          example: b9e81174-b5bb-4638-a3c3-8afe61a0abf8
          readOnly: true
        name:
          description: The name of the API product
          type: string
          example: My Name
        description:
          description: The description of the API product
          type: string
          example: MyDescription
          nullable: true
        portal_ids:
          description: The list of portal identifiers which this API product is published to
          type: array
          items:
            type: string
            format: uuid
            example: 25a2624c-49fc-4764-99e1-224ed819f200
          minItems: 0
          nullable: false
          uniqueItems: true
        version_count:
          description: The number of published product versions attached to this API product
          type: number
          example: 10
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        labels:
          $ref: '#/components/schemas/Labels'
      example:
        id: 7cdcba18-5bdf-4936-81de-d76da02cb99b
        name: Excellent API
        description: Excellent for serving
        created_at: '2022-05-24T18:40:35.500Z'
        updated_at: '2022-05-24T18:40:35.500Z'
        portal_ids:
          - 83f1733c-862c-43e5-a005-acfb0addfcfb
        labels:
          department: marketing
        version_count: 4
      additionalProperties: false
      required:
        - id
        - name
        - description
        - portal_ids
        - created_at
        - updated_at
        - labels
        - version_count
      title: PublishedApiProduct
    GetPortalResponse:
      $ref: '#/components/schemas/Portal'
    UpdatePortalResponse:
      $ref: '#/components/schemas/Portal'
    CreatePortalResponse:
      $ref: '#/components/schemas/Portal'
    GetAppearanceDefaultsResponse:
      $ref: '#/components/schemas/AppearanceDefaults'
    GetPortalAppearanceResponse:
      example:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: 'rgba(0,0,0,0.1)'
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: 'rgba(0,0,0,0.8)'
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: 'rgba(0,0,0,0.8)'
                description: Headings text
              primary:
                value: 'rgba(0,0,0,0.8)'
                description: Main content text
              secondary:
                value: 'rgba(0,0,0,0.8)'
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come on in!
        images:
          favicon:
            data: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
            filename: favicon.ico
          logo:
            data: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
            filename: logo.png
          catalog_cover:
            data: 'data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
      allOf:
        - $ref: '#/components/schemas/PortalAppearance'
        - type: object
          required:
            - theme_name
            - use_custom_fonts
            - custom_theme
            - custom_fonts
            - text
            - images
    UpdatePortalAppearanceResponse:
      example:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: 'rgba(0,0,0,0.1)'
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: 'rgba(0,0,0,0.8)'
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: 'rgba(0,0,0,0.8)'
                description: Headings text
              primary:
                value: 'rgba(0,0,0,0.8)'
                description: Main content text
              secondary:
                value: 'rgba(0,0,0,0.8)'
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come on in!
        images:
          favicon:
            data: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
            filename: favicon.ico
          logo:
            data: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
            filename: logo.png
          catalog_cover:
            data: 'data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
      allOf:
        - $ref: '#/components/schemas/PortalAppearance'
        - type: object
          required:
            - theme_name
            - use_custom_fonts
            - custom_theme
            - custom_fonts
            - text
            - images
    GetPortalAppearanceLogoResponse:
      type: string
      format: binary
      example: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
      title: GetPortalAppearanceLogoResponse
    GetPortalAppearanceCatalogCoverResponse:
      type: string
      format: binary
      example: 'data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU='
      title: GetPortalAppearanceLogoResponse
    ListDevelopersResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalDeveloper'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 4
        data:
          - id: 8cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: jane.developer@example.com
            full_name: Jane Dev
            status: approved
            application_count: 8
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 4cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: John Dev
            status: revoked
            application_count: 27
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jim Dev
            status: pending
            application_count: 0
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jan Dev
            status: rejected
            application_count: 1
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
      additionalProperties: false
      required:
        - data
        - meta
    ListApplicationsResponse:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Application'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            labels:
              env: test
            name: App 1
            description: An easy to manage app in a Konnect developer portal
            reference_id: df66b180-97df-4ddb-8b45-8b7d5eac56da
            registration_count: 2
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            dcr_provider: null
            granted_scopes: null
            developer:
              id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
              email: jane.developer@example.com
            created_at: '2022-12-22T19:09:30.712Z'
            updated_at: '2022-12-22T19:09:30.712Z'
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            labels:
              env: test
            name: App 1
            description: A Konnect application that is linked to an Identity Provider application using Dynamic Client Registration (DCR)
            reference_id: yr1k0d9kj3l0cl01hp4o0
            registration_count: 3
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            dcr_provider:
              id: 7ea06071-49c7-4c2e-ae49-8a86d72a8110
            granted_scopes:
              - openid
            developer:
              id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: John Dev
              email: john.developer@example.com
            created_at: '2022-12-22T19:07:30.712Z'
            updated_at: '2022-12-22T19:07:30.712Z'
      additionalProperties: false
      required:
        - data
        - meta
    UpdateDeveloperResponse:
      $ref: '#/components/schemas/PortalDeveloper'
    GetDeveloperResponse:
      $ref: '#/components/schemas/PortalDeveloper'
    GetApplicationResponse:
      $ref: '#/components/schemas/Application'
[...]
