openapi: 3.0.3
info:
  title: Portal Management
  version: 2.0.0
  description: The management API for Portals
  contact:
    name: Kong
    url: https://konghq.com
servers:
  - url: https://us.api.konghq.com/v2
    description: US Region Base URL
  - url: https://eu.api.konghq.com/v2
    description: EU Region Base URL
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: Portals
    description: APIs related to Configuration of Konnect Developer Portals.
  - name: Portal Developers
    description: APIs related to Konnect Developer Portal Developers.
  - name: Portal Teams
    description: APIs related to Konnect Developer Portal Developer Teams.
  - name: Portal Team Membership
    description: >-
      APIs related to Developer Membership in Konnect Developer Portal Developer
      Teams.
  - name: Portal Team Roles
    description: APIs related to Team Roles in Konnect Developer Portal.
  - name: Portal Applications
    description: APIs related to Konnect Developer Portal Applications.
  - name: Portal Application Registrations
    description: APIs related to Konnect Developer Portal Application Registrations.
  - name: Portal Products
    description: APIs related to API Products Published to Konnect Developer Portals.
  - name: Portal Auth Settings
    description: APIs related to Konnect Developer Portal Authentication Settings.
  - name: Portal Appearance
    description: APIs related to Konnect Developer Portal Appearance Settings.
  - name: Portal Categories
    description: APIs related to Portal Products Categories.
paths:
  /portals:
    get:
      summary: List Portals
      description: >-
        Lists developer portals defined in this region for this organization.
        Each developer portal is available at a unique address

        and has isolated appearance, configuration, developers, and
        applications.
      operationId: list-portals
      tags:
        - Portals
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortals'
      responses:
        '200':
          $ref: '#/components/responses/ListPortals'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/categories/{categoryId}:
    parameters:
      - $ref: '#/components/parameters/CategoryId'
    delete:
      summary: Delete a category by ID
      description: Delete a category by its unique ID.
      operationId: delete-category-by-id
      tags:
        - Portal Categories
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: Get Portal
      description: >-
        Returns the configuration for a single developer portal. This allows you
        to understand the current visibility, access,

        and domain settings.
      operationId: get-portal
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetPortal'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/products:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: List Portal Products
      operationId: list-portal-products
      description: >-
        Lists the API products that are published to this developer portal. An
        API product packages together multiple versions of each API, displaying 

        each version with its set of operations and documentation. Developers
        can browse API Products to learn about and register for them. API
        Products

        access can be limited to certain developers using RBAC and developer
        teams.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      tags:
        - Portal Products
      responses:
        '200':
          $ref: '#/components/responses/ListPortalProducts'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/developers/{developerId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/DeveloperId'
    get:
      summary: Get Developer
      description: >-
        Returns information about a single developer in this portal. Each
        developer manages a set applications, providing

        them credentials to access registered API product versions. Developer
        registration access can be limited to

        specific API products using RBAC.
      operationId: get-developer
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/DeveloperId'
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/GetDeveloper'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update Developer
      description: >-
        Updates the status of a particular developer. Approved developers have
        access to login to the portal. Revoked, rejected, or pending are not
        allowed to login.

        Even if a developer's status is no longer approved, they will still be
        able to using any existing credentials generated while they were
        approved, until each 

        application registration is revoked or deleted.
      operationId: update-developer
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeveloper'
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/UpdateDeveloper'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Developer
      description: >-
        Deletes a developer, which will discontinue their ability to login, view
        any non-public resources, and delete all applications owned by them.

        All credentials issued to the developer will no longer provide access to
        any API Products.

        A deleted developer's unique email must be re-registered and approved to
        gain access again.
      operationId: delete-developer
      tags:
        - Portal Developers
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications:
    get:
      summary: List Applications
      description: >-
        Lists applications created by developers in this portal. Each
        application can be registered for various API Products (by version),

        issuing credentials for API request access. If using DCR, an application
        will be linked to an Identity Provider's application by

        its `reference_id`.
      operationId: list-applications
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplications'
        - schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              developer_name:
                $ref: '#/components/schemas/StringFieldFilter'
              developer_email:
                $ref: '#/components/schemas/StringFieldFilter'
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter applications returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Applications
      responses:
        '200':
          $ref: '#/components/responses/ListApplications'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}:
    get:
      summary: Get Application
      description: >-
        Returns the configuration of a single application in this portal. If an
        application is linked to a DCR Provider,

        the `dcr_provider.id` and `reference_id` can be used to correlate it. An
        application manages a set of credentials

        and registrations for specific API product versions.
      operationId: get-application
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/ApplicationId'
      tags:
        - Portal Applications
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/application-registrations:
    get:
      summary: List Application Registrations by Portal
      description: >-
        Lists all of the application registrations and their current status
        (e.g., approved or pending) for this portal. 

        Each registration is associated with a single API product version.
        Access is provided through the credentials issued

        to the application that contains each registration.
      operationId: list-registrations
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortListAllApplicationRegistrations'
        - schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              developer_name:
                $ref: '#/components/schemas/StringFieldFilter'
              application_name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter application registrations returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations:
    get:
      summary: List Registrations by Application
      description: >-
        Lists each API product version that this application is registered for
        and their current status (e.g., pending, approved, rejected, revoked).
      operationId: list-registrations-by-application
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplicationRegistrations'
        - schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter application registrations returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations/{registrationId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/ApplicationId'
      - $ref: '#/components/parameters/RegistrationId'
    get:
      summary: Get Application Registration
      description: >-
        Returns information about an application's registration status for a
        particular API product version.
      operationId: get-application-registration
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/GetApplicationRegistration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update Application Registration
      description: >-
        Updates the status of a particular application registration to an API
        Product Version. Approved application registrations

        will allow API traffic to the corresponding API. Revoked, rejected, or
        pending will not allow API traffic.
      operationId: update-application-registration
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationRegistration'
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/UpdateApplicationRegistration'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Application Registration
      description: >-
        Deletes an application registration, which if currently approved will
        immediately block API traffic to the API product version.

        Note: Developers can request a new application registration for the
        given API product version as long as they have RBAC access to consume.
      operationId: delete-application-registration
      tags:
        - Portal Application Registrations
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations/{registrationId}/granted-scopes:
    get:
      summary: List Granted Scopes
      description: >-
        Lists the granted scopes for this application registration. This is the
        list of scopes that will be sent to the API when making requests.
      operationId: list-granted-scopes
      tags:
        - Portal Application Registrations
      parameters:
        - $ref: '#/components/parameters/PortalId'
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/RegistrationId'
      responses:
        '200':
          $ref: '#/components/responses/ListGrantedScopes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/appearance-defaults:
    get:
      summary: Get Default Appearance Configurations
      description: >-
        Returns the built-in portal appearance configurations including
        pre-defined themes, colors, and font settings.
      operationId: get-portal-appearance-defaults
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/GetAppearanceDefaults'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/appearance:
    get:
      summary: Get Appearance Configuration
      description: >-
        Returns the current portal appearance configuration including any custom
        theme, colors, fonts, and image settings.

        Portals using the fully-customizable portal client may override or
        ignore these settings by disregarding them in the code.
      operationId: get-portal-appearance
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/GetPortalAppearance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update Appearance Configuration
      description: >-
        Updates the current appearance configuration for this portal including
        setting pre-defined or custom themes, fonts, colors, and images.

        Note that portals using the fully-customizable portal client may
        override or ignore these settings by disregarding them in the code.
      operationId: update-portal-appearance
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAppearance'
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortalAppearance'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/verify-domain:
    post:
      summary: Verify Custom Domains
      description: >-
        Verifies the current status of the custom hosted domain for this portal,
        indicating whether the appropriate CNAME properties

        have propagated and if a corresponding SSL certificate has been
        generated.
      operationId: verify-portal-domains
      parameters:
        - $ref: '#/components/parameters/PortalId'
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/VerifyPortalDomains'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/authentication-settings:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: Get Auth Settings
      description: >-
        Returns the developer authentication configuration for a portal, which
        determines how developers can log in and how they are assigned to teams.
      operationId: get-portal-authentication-settings
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      summary: Update Auth Settings
      description: >-
        Updates the developer authentication configuration for a portal.
        Developers can be allowed to login using basic auth (email & password)
        or use

        Single-Sign-On (SSO) through an OIDC Identity Provider (IdP). Developers
        can be automatically assigned to teams by mapping claims from thier

        IdP account.
      operationId: update-portal-authentication-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/{portalId}/identity-provider/team-group-mappings:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: List Team Group Mappings
      description: >-
        Lists mappings between Konnect portal teams and Identity Provider (IdP)
        groups.

        Returns a 400 error if an IdP has not yet been configured.
      operationId: list-portal-team-group-mappings
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
    patch:
      summary: Update Team Group Mappings
      description: >-
        Allows partial updates to the mappings between Konnect portal teams and
        Identity Provider (IdP) groups.

        The request body must be keyed on team ID. For a given team ID, the
        given group list is a

        complete replacement. To remove all mappings for a given team, provide
        an empty group list.


        Returns a 400 error if an IdP has not yet been configured, or if a team
        ID in

        the request body is not found or is not a UUID.
      operationId: update-portal-team-group-mappings
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalTeamGroupMappings'
  /portals/{portalId}/teams:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: List Teams
      description: >-
        Lists the developer teams in a portal. Each team can contain any
        developer and developers can be part of multiple teams.
      operationId: list-portal-teams
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter teams returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Teams
    post:
      summary: Create Team
      operationId: create-portal-team
      responses:
        '201':
          $ref: '#/components/responses/PortalTeam'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      description: >-
        Creates a developer team in a portal. Developers can be added to teams
        to provide RBAC access to API products.

        Teams can be assigned roles that grant permissions to perform an action
        on a resource.
  /portals/{portalId}/teams/{teamId}:
    parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: Get Team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-portal-team
      description: Get an individual team.
      tags:
        - Portal Teams
    patch:
      description: Updates an individual developer team for a portal.
      summary: Update Team
      operationId: update-portal-team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      tags:
        - Portal Teams
    delete:
      summary: Delete Team
      operationId: delete-portal-team
      description: >-
        Deletes a developer team from a portal. Deleting a team also deletes its
        assigned roles.

        Members of the team are not deleted, but they will lose any access
        provided through the team.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  /portals/{portalId}/teams/{teamId}/developers:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
    get:
      summary: List Team Developers
      responses:
        '200':
          $ref: '#/components/responses/ListBasicDevelopers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: list-portal-team-developers
      description: List a team's developers.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      tags:
        - Portal Team Membership
    post:
      summary: Add Developer to Team
      operationId: add-developer-to-portal-team
      description: >-
        Adds a developer to a team. This associates them with all of the roles
        that have been assigned to the team,

        providing specific permissions to perform actions on resources.
      responses:
        '201':
          description: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        $ref: '#/components/requestBodies/AddDeveloperToTeam'
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/developers/{developerId}:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/parameters-DeveloperId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      summary: Remove Developer from Team
      operationId: remove-developer-from-portal-team
      description: >-
        Removes a developer from a team. This removes the association of the
        team's roles from the developer.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/assigned-roles:
    parameters:
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
    get:
      summary: List Team Roles
      description: >-
        Lists the roles belonging to a developer team. Each role provides
        permissions to perform actions

        on a specified resource or collection.
      tags:
        - Portal Team Roles
      responses:
        '200':
          $ref: '#/components/responses/AssignedPortalRoleCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: list-portal-team-roles
    post:
      summary: Assign Role
      operationId: assign-role-to-portal-teams
      description: >-
        Assign a role to a developer team. This associates the set of
        permissions in a role with the team,

        so that they will be applied to any developer who is a member of the
        team.
      responses:
        '201':
          $ref: '#/components/responses/PortalAssignedRole'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        $ref: '#/components/requestBodies/PortalAssignRole'
      tags:
        - Portal Team Roles
  /portals/{portalId}/teams/{teamId}/assigned-roles/{roleId}:
    parameters:
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/PortalId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      summary: Remove Role
      operationId: remove-role-from-portal-team
      description: >-
        Removes an assigned role from a developer team. This deletes the
        association of the role with team and each

        of its members.
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Roles
  /portals/{portalId}/developers:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: List Developers
      description: >-
        Lists the developers that have registered for this portal. Each
        developer can be registered to one portal and must be approved to login

        unless using the developer auto-approve setting.
      operationId: list-portal-developers
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/ListDevelopers'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortDevelopers'
        - schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
              email:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter developers returned in the response.
          required: false
          style: deepObject
  /portals/{portalId}/developers/{developerId}/teams:
    parameters:
      - $ref: '#/components/parameters/parameters-DeveloperId'
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: List Developer Teams
      operationId: list-portal-developer-teams
      description: >-
        Lists the teams to which a developer belongs. Each team a developer is a
        member of grants them various roles

        that provide permissions to perform actions on certain resources.
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      tags:
        - Portal Team Membership
  /portal-roles:
    get:
      summary: List Portal Roles
      operationId: list-portal-roles
      description: >-
        List roles that can be assigned to teams in a portal. Each role provides
        a set of permissions to perform

        an action on a resource.
      responses:
        '200':
          $ref: '#/components/responses/ListRoles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Team Roles
components:
  examples:
    UpdateTeamExample1:
      value:
        name: IDM - Developers
        description: The Identity Management (IDM) API team.
    CreateTeamExample1:
      value:
        name: IDM - Developers
        description: The Identity Management (IDM) API team.
    AddDeveloperToTeamExample1:
      value:
        id: df120cb4-f60b-47bc-a2f8-6a28e6a3c63b
    UpdatePortalTeamGroupMappingsExample1:
      value:
        data:
          - team_id: af91db4c-6e51-403e-a2bf-33d27ae50c0a
            groups:
              - Service Developer
          - team_id: bc11db4c-6e51-403e-a2bf-33d27ae50c0a
            groups:
              - Service Owner
    UpdatePortalAuthenticationSettingsExample1:
      value:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: false
        oidc_issuer: https://identity.example.com/v2
        oidc_client_id: x7id0o42lklas0blidl2
        oidc_scopes:
          - email
          - openid
          - profile
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    UpdatePortalAuthenticationSettingsExampleDisableBasicAuth:
      value:
        basic_auth_enabled: false
    UpdatePortalAuthenticationSettingsExampleEnableOIDC:
      value:
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: false
        konnect_mapping_enabled: true
        oidc_issuer: https://identity.example.com/v2
        oidc_client_id: x7id0o42lklas0blidl2
        oidc_scopes:
          - email
          - openid
          - profile
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    UpdatePortalAuthenticationSettingsExampleEnableOIDCTeamMapping:
      value:
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: true
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    PortalAssignRoleExampleViewer:
      value:
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    PortalAssignRoleExampleConsumer:
      value:
        role_name: API Consumer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    UpdatePortalExampleRbacEnabled:
      value:
        rbac_enabled: true
    UpdatePortalExamplePublic:
      value:
        is_public: true
    UpdatePortalExampleAutoApprove:
      value:
        auto_approve_applications: false
        auto_approve_developers: false
    UpdatePortalExampleCustomDomains:
      value:
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    UpdatePortalExample1:
      value:
        is_public: false
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: false
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    UpdateApplicationRegistrationApproved:
      value:
        status: approved
    UpdateApplicationRegistrationPending:
      value:
        status: pending
    UpdateApplicationRegistrationRejected:
      value:
        status: rejected
    UpdateApplicationRegistrationRevoked:
      value:
        status: revoked
    UpdatePortalAppearanceExampleMintRocketTheme:
      value:
        theme_name: mint_rocket
        use_custom_fonts: false
        custom_theme: null
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come one in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdatePortalAppearanceExampleDarkModeTheme:
      value:
        theme_name: dark_mode
        use_custom_fonts: true
        custom_theme: null
        custom_fonts:
          base: Lato
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Say Hello To Our APIs
            primary_header: Say goodbye to your problems
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdatePortalAppearanceExampleCustomTheme:
      value:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: rgba(0,0,0,0.1)
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: rgba(0,0,0,0.8)
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: rgba(0,0,0,0.8)
                description: Headings text
              primary:
                value: rgba(0,0,0,0.8)
                description: Main content text
              secondary:
                value: rgba(0,0,0,0.8)
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come one in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: favicon.ico
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: logo.png
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdateDeveloperExampleApproved:
      value:
        status: approved
    UpdateDeveloperExamplePending:
      value:
        status: pending
    UpdateDeveloperExampleRejected:
      value:
        status: rejected
    UpdateDeveloperExampleRevoked:
      value:
        status: revoked
    PortalTeamGroupMappingCollectionExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - team_id: 6801e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Tech Leads
              - API Engineers
          - team_id: 7301e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Managers
              - Directors
    PortalAuthenticationSettingsExample1:
      value:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: true
        oidc_config:
          issuer: https://identity.example.com/v2
          client_id: x7id0o42lklas0blidl2
          scopes:
            - email
            - openid
            - profile
          claim_mappings:
            name: name
            email: email
            groups: custom-group-claim
    PortalAssignedRoleUSExample:
      value:
        id: 1a3c2169-27f8-4594-926b-41df3432d5dc
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    PortalAssignedRoleAllRegionsExample:
      value:
        id: 034cb810-1f2d-40d2-a1ce-31944144668e
        role_name: API Consumer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: '*'
    PortalTeamExample1:
      value:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: Gold Tier
        description: Team with access to APIs in the Gold tier
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-09-25T13:00:00.00Z'
    AssignedPortalRoleCollectionExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Viewer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type_name: Services
            entity_region: us
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Consumer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type: Services
            entity_region: us
          - id: 869d9402-f117-4f9a-840f-69acaf70a81a
            role_name: API Viewer
            entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
            entity_type_name: Services
            entity_region: us
    ListPortalTeamsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Partner
            description: Team with access to Partner APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: af9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Internal
            description: Team with access to Internal APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Root
            description: Team with access to Internal Systems
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
    ListRolesExample1:
      value:
        services:
          name: Services
          roles:
            apiviewer:
              name: API Viewer
              description: >-
                API Viewers have read-only access to the documentation of a
                service in a portal
            apiconsumer:
              name: API Consumer
              description: API Consumers can make calls to the given service
    ListBasicDevelopersExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: james.woods@email.com
            full_name: James Woods
            active: true
            created_at: '2022-08-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: jill.stone@email.com
            full_name: Jill Stone
            active: false
            created_at: '2022-07-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
    ListPortalsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 1
        data:
          - id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-10-08T17:00:00.52Z'
            name: Portal A
            default_domain: 123455678abcd.us.portal.konghq.com
            is_public: false
            rbac_enabled: true
            auto_approve_applications: false
            auto_approve_developers: true
            custom_domain: api.example.com
            custom_client_domain: portal.example.com
    ListPortalProductsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: 9cdcba18-5bdf-4936-81de-d76da02cb99b
            name: Excellent API
            description: Excellent for serving
            created_at: '2022-05-24T18:40:35.500Z'
            updated_at: '2022-05-24T18:40:35.500Z'
            portal_ids:
              - 83f1733c-862c-43e5-a005-acfb0addfcfb
            labels:
              department: marketing
            version_count: 4
          - id: 6d8cba18-5bdf-4936-81de-d76da02cb99b
            name: Utility API
            description: Useful for helping with progress
            created_at: '2022-04-24T18:40:35.500Z'
            updated_at: '2022-09-24T18:40:35.500Z'
            portal_ids:
              - 83f1733c-862c-43e5-a005-acfb0addfcfb
            labels:
              department: engineering
              location: cyberspace
            version_count: 21
    GetPortalExample1:
      value:
        id: 9f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
        name: Portal A
        default_domain: 123455678abcd.us.portal.konghq.com
        is_public: false
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: true
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    UpdatePortalResponseExample1:
      value:
        id: 9f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
        name: Portal A
        default_domain: 123455678abcd.us.portal.konghq.com
        is_public: false
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: true
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    VerifyPortalDomainsExample1:
      value:
        is_cname_verified: true
        is_ssl_issued: false
    ListDevelopersExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 4
        data:
          - id: 8cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: jane.developer@example.com
            full_name: Jane Dev
            status: approved
            application_count: 8
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 4cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: John Dev
            status: revoked
            application_count: 27
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jim Dev
            status: pending
            application_count: 0
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jan Dev
            status: rejected
            application_count: 1
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
    GetDeveloperExample1:
      value:
        id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
        email: developer@example.com
        full_name: Jane Dev
        status: approved
        application_count: 3
        created_at: '2022-11-15T20:37:41.457Z'
        updated_at: '2022-11-15T20:37:47.456Z'
    UpdateDeveloperResponseExample1:
      value:
        id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
        email: developer@example.com
        full_name: Jane Dev
        status: approved
        application_count: 3
        created_at: '2022-11-15T20:37:41.457Z'
        updated_at: '2022-11-15T20:37:47.456Z'
    ListApplicationsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            name: App 1
            description: An easy to manage app in a Konnect developer portal
            reference_id: df66b180-97df-4ddb-8b45-8b7d5eac56da
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            dcr_provider: null
            developer:
              id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
              email: jane.developer@example.com
            created_at: '2022-12-22T19:09:30.712Z'
            updated_at: '2022-12-22T19:09:30.712Z'
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            name: App 1
            description: >-
              A Konnect application that is linked to an Identity Provider
              application using Dynamic Client Registration (DCR)
            reference_id: yr1k0d9kj3l0cl01hp4o0
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            dcr_provider:
              id: 7ea06071-49c7-4c2e-ae49-8a86d72a8110
            developer:
              id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: John Dev
              email: john.developer@example.com
            created_at: '2022-12-22T19:07:30.712Z'
            updated_at: '2022-12-22T19:07:30.712Z'
    GetApplicationExampleBasic:
      value:
        id: b15e2460-ba40-431d-9df0-4957fcffacda
        name: App 1
        description: An easy to manage app in a Konnect developer portal
        reference_id: df66b180-97df-4ddb-8b45-8b7d5eac56da
        portal:
          id: 95606071-49c7-4c2e-ae49-8a86d72a8110
        dcr_provider: null
        developer:
          id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: Jane Dev
          email: jane.developer@example.com
        created_at: '2022-12-22T19:09:30.712Z'
        updated_at: '2022-12-22T19:09:30.712Z'
    GetApplicationExampleDcr:
      value:
        id: b15e2460-ba40-431d-9df0-4957fcffacda
        name: App 1
        description: >-
          A Konnect application that is linked to an Identity Provider
          application using Dynamic Client Registration (DCR)
        reference_id: yr1k0d9kj3l0cl01hp4o0
        portal:
          id: 95606071-49c7-4c2e-ae49-8a86d72a8110
        dcr_provider:
          id: 7ea06071-49c7-4c2e-ae49-8a86d72a8110
        developer:
          id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: John Dev
          email: john.developer@example.com
        created_at: '2022-12-22T19:07:30.712Z'
        updated_at: '2022-12-22T19:07:30.712Z'
    ListApplicationRegistrationsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: c200cc33-2d33-4754-b086-a98e0fcd36fb
            status: approved
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 1
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Great Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v1
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d200cc33-2d33-4754-b086-a98e0fcd36fb
            status: rejected
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 2
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Great Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v0
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d300cc33-2d33-4754-b086-a98e0fcd36fb
            status: pending
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 3
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Good Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v2
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d300cc33-2d33-4754-b086-a98e0fcd36fb
            status: revoked
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 3
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Good Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v1
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
    GetApplicationRegistrationExample1:
      value:
        id: c300cc33-2d33-4754-b086-a98e0fcd36fb
        status: approved
        application:
          id: c15e2460-ba40-431d-9df0-4957fcff7cda
          name: App 1
        product:
          id: 86f637b7-cd95-478b-9b02-d770618f641c
          name: Great Product
        product_version:
          id: 74e54925-20a0-4788-9873-d24db33f1495
          name: v1
        developer:
          id: ecd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: Jane Dev
        created_at: '2022-12-22T20:13:07.305Z'
        updated_at: '2022-12-22T20:13:36.710Z'
    UpdateApplicationRegistrationResponseExample1:
      value:
        id: c300cc33-2d33-4754-b086-a98e0fcd36fb
        status: approved
        application:
          id: c15e2460-ba40-431d-9df0-4957fcff7cda
          name: App 1
        product:
          id: 86f637b7-cd95-478b-9b02-d770618f641c
          name: Great Product
        product_version:
          id: 74e54925-20a0-4788-9873-d24db33f1495
          name: v1
        developer:
          id: ecd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: Jane Dev
        created_at: '2022-12-22T20:13:07.305Z'
        updated_at: '2022-12-22T20:13:36.710Z'
    ListGrantedScopesExample1:
      value:
        data:
          - profile
          - vault
    GetAppearanceDefaultsExample1:
      value:
        themes:
          mint_rocket:
            $ref: '#/components/examples/PortalThemeMintRocket/value'
          dark_mode:
            $ref: '#/components/examples/PortalThemeDarkMode/value'
        fonts:
          base: Roboto
          code: Roboto Mono
          headings: Lato
        text:
          catalog:
            welcome_message: Welcome to our service catalog
            primary_header: Find All of Our Services in a Single Place
    GetPortalAppearanceExample1:
      value:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: rgba(0,0,0,0.1)
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: rgba(0,0,0,0.8)
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: rgba(0,0,0,0.8)
                description: Headings text
              primary:
                value: rgba(0,0,0,0.8)
                description: Main content text
              secondary:
                value: rgba(0,0,0,0.8)
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come on in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: favicon.ico
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: logo.png
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdatePortalAppearanceResponseExample1:
      value:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: rgba(0,0,0,0.1)
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: rgba(0,0,0,0.8)
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: rgba(0,0,0,0.8)
                description: Headings text
              primary:
                value: rgba(0,0,0,0.8)
                description: Main content text
              secondary:
                value: rgba(0,0,0,0.8)
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come on in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: favicon.ico
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: logo.png
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UnauthorizedExample:
      value:
        status: 401
        title: Unauthorized
        instance: kong:trace:8347343766220159418
        detail: Unauthorized
    ForbiddenExample:
      value:
        status: 403
        title: Forbidden
        instance: kong:trace:2723154947768991354
        detail: You do not have permission to perform this action
    NotFoundExample:
      value:
        status: 404
        title: Not Found
        instance: kong:trace:6816496025408232265
        detail: Not Found
  requestBodies:
    PortalUpdateTeam:
      description: Update a team in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalUpdateTeamRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdateTeamExample1'
    PortalCreateTeam:
      description: Create a team in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalCreateTeamRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/CreateTeamExample1'
    UpdatePortalTeamGroupMappings:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalTeamGroupMappingsUpdateRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdatePortalTeamGroupMappingsExample1'
    UpdatePortalAuthenticationSettings:
      description: Update a portal's developer authentication settings.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAuthenticationSettingsUpdateRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdatePortalAuthenticationSettingsExample1'
            Disable Basic Developer Auth:
              $ref: >-
                #/components/examples/UpdatePortalAuthenticationSettingsExampleDisableBasicAuth
            Enable OIDC Developer Auth:
              $ref: >-
                #/components/examples/UpdatePortalAuthenticationSettingsExampleEnableOIDC
            Enable OIDC Team Mapping:
              $ref: >-
                #/components/examples/UpdatePortalAuthenticationSettingsExampleEnableOIDCTeamMapping
    PortalAssignRole:
      description: Assign a role to a team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAssignRoleRequest'
          examples:
            API Viewer:
              $ref: '#/components/examples/PortalAssignRoleExampleViewer'
            API Consumer:
              $ref: '#/components/examples/PortalAssignRoleExampleConsumer'
    AddDeveloperToTeam:
      description: Add a developer to a team.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddDeveloperToTeamRequest'
          examples:
            Example 1:
              $ref: '#/components/examples/AddDeveloperToTeamExample1'
    UpdateApplicationRegistration:
      description: Update an application registration.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateApplicationRegistrationRequest'
          examples:
            Approved:
              $ref: '#/components/examples/UpdateApplicationRegistrationApproved'
            Pending:
              $ref: '#/components/examples/UpdateApplicationRegistrationPending'
            Rejected:
              $ref: '#/components/examples/UpdateApplicationRegistrationRejected'
            Revoked:
              $ref: '#/components/examples/UpdateApplicationRegistrationRevoked'
    UpdatePortalAppearance:
      description: Update a portal's appearance settings
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalAppearanceRequest'
          examples:
            Custom Theme:
              $ref: '#/components/examples/UpdatePortalAppearanceExampleCustomTheme'
            Mint Rocket Theme:
              $ref: >-
                #/components/examples/UpdatePortalAppearanceExampleMintRocketTheme
            Dark Mode Theme:
              $ref: '#/components/examples/UpdatePortalAppearanceExampleDarkModeTheme'
    UpdateDeveloper:
      description: Update a developer.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateDeveloperRequest'
          examples:
            Approved:
              $ref: '#/components/examples/UpdateDeveloperExampleApproved'
            Pending:
              $ref: '#/components/examples/UpdateDeveloperExamplePending'
            Rejected:
              $ref: '#/components/examples/UpdateDeveloperExampleRejected'
            Revoked:
              $ref: '#/components/examples/UpdateDeveloperExampleRevoked'
  parameters:
    DeveloperId:
      name: developerId
      in: path
      required: true
      description: The developer ID
      schema:
        $ref: '#/components/schemas/UUID'
    ApplicationId:
      name: applicationId
      in: path
      required: true
      description: The application ID
      schema:
        $ref: '#/components/schemas/UUID'
    RegistrationId:
      name: registrationId
      in: path
      required: true
      description: The application registration ID
      schema:
        $ref: '#/components/schemas/UUID'
    SortPortals:
      name: sort
      description: |
        Sorts a collection of portals. Supported sort attributes are:
          - created_at
          - updated_at
          - category
      in: query
      required: false
      schema:
        type: string
    SortDevelopers:
      name: sort
      description: |
        Sorts a collection of developers. Supported sort attributes are:
          - created_at
          - updated_at
          - email
          - name
          - status
      in: query
      required: false
      schema:
        type: string
    SortApplications:
      name: sort
      description: |
        Sorts a collection of applications. Supported sort attributes are:
          - created_at
          - developer_id
          - name
      in: query
      required: false
      schema:
        type: string
    SortApplicationRegistrations:
      name: sort
      description: >
        Sorts a set of registrations for an application. Supported sort
        attributes are:
          - created_at
          - updated_at
          - status
      in: query
      required: false
      schema:
        type: string
    SortListAllApplicationRegistrations:
      name: sort
      description: >
        Sorts a collection of application registrations. Supported sort
        attributes are:
          - created_at
          - updated_at
          - developer_id
          - status
      in: query
      required: false
      schema:
        type: string
    CategoryId:
      schema:
        type: string
        format: uuid
      name: categoryId
      in: path
      required: true
      description: ID of the category.
    PageSize:
      name: page[size]
      description: >-
        The maximum number of items to include per page. The last page of a
        collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
    PageNumber:
      name: page[number]
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
    PortalId:
      schema:
        type: string
        format: uuid
      name: portalId
      in: path
      required: true
      description: ID of the portal.
    TeamId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: teamId
      in: path
      required: true
      description: ID of the team.
    parameters-DeveloperId:
      schema:
        type: string
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
        format: uuid
      name: developerId
      in: path
      required: true
      description: ID of the developer.
    RoleId:
      schema:
        type: string
        example: 8350205f-a305-4e39-abe9-bc082a80091a
        format: uuid
      name: roleId
      in: path
      required: true
  responses:
    PortalTeamGroupMappingCollection:
      description: A paginated collection of mappings grouped by team ID.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalTeamGroupMappingResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/PortalTeamGroupMappingCollectionExample1'
    PortalAuthenticationSettings:
      description: Details about a portal's authentication settings.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAuthenticationSettingsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/PortalAuthenticationSettingsExample1'
    PortalAssignedRole:
      description: Details about the role assignment.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalAssignedRoleResponse'
          examples:
            US Example:
              $ref: '#/components/examples/PortalAssignedRoleUSExample'
            All Regions Example:
              $ref: '#/components/examples/PortalAssignedRoleAllRegionsExample'
    PortalTeam:
      description: Details about a team of developers in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalTeamResponse'
          examples:
            PortalTeamExample1:
              $ref: '#/components/examples/PortalTeamExample1'
    AssignedPortalRoleCollection:
      description: A paginated collection of assigned roles.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssignedPortalRoleCollectionResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/AssignedPortalRoleCollectionExample1'
    ListPortalTeams:
      description: A paginated list of teams in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPortalTeamsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListPortalTeamsExample1'
    ListRoles:
      description: A set of roles available in portals.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRolesResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListRolesExample1'
    ListBasicDevelopers:
      description: A paginated list of basic developer information.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListBasicDevelopersResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListBasicDevelopersExample1'
    ListPortals:
      description: A paginated list of portals in the current region of an organization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPortalsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListPortalsExample1'
    ListPortalProducts:
      description: A paginated list of API products published to a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPortalProductsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListPortalProductsExample1'
    GetPortal:
      description: Details about a portal and its current settings.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetPortalResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/GetPortalExample1'
    VerifyPortalDomains:
      description: Details about the status of a portal's custom domain.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/VerifyPortalDomainsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/VerifyPortalDomainsExample1'
    ListDevelopers:
      description: A paginated list of developers in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListDevelopersResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListDevelopersExample1'
    GetDeveloper:
      description: Details about a developer in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetDeveloperResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/GetDeveloperExample1'
    UpdateDeveloper:
      description: Details about the developer being updated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateDeveloperResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdateDeveloperResponseExample1'
    ListApplications:
      description: A paginated list of applications in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListApplicationsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListApplicationsExample1'
    GetApplication:
      description: Details about an application in a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetApplicationResponse'
          examples:
            Basic Application (No DCR with Identity Provider):
              $ref: '#/components/examples/GetApplicationExampleBasic'
            Using DCR with Identity Provider:
              $ref: '#/components/examples/GetApplicationExampleDcr'
    ListApplicationRegistrations:
      description: A paginated list of application registrations.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListApplicationRegistrationsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListApplicationRegistrationsExample1'
    ListGrantedScopes:
      description: A list of granted scopes for an application registration.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListGrantedScopesResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/ListGrantedScopesExample1'
    GetApplicationRegistration:
      description: Details about an application registration.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetApplicationRegistrationResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/GetApplicationRegistrationExample1'
    UpdateApplicationRegistration:
      description: Details about the application registration being updated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateApplicationRegistrationResponse'
          examples:
            Example 1:
              $ref: >-
                #/components/examples/UpdateApplicationRegistrationResponseExample1
    GetAppearanceDefaults:
      description: A set of built-in appearance settings for developer portals.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetAppearanceDefaultsResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/GetAppearanceDefaultsExample1'
    GetPortalAppearance:
      description: Details about a portal's current appearance settings.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GetPortalAppearanceResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/GetPortalAppearanceExample1'
    UpdatePortalAppearance:
      description: Details about the appearance settings being updated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalAppearanceResponse'
          examples:
            Example 1:
              $ref: '#/components/examples/UpdatePortalAppearanceResponseExample1'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/UnauthorizedExample'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            UnauthorizedExample:
              $ref: '#/components/examples/ForbiddenExample'
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
          examples:
            NotFoundExample:
              $ref: '#/components/examples/NotFoundExample'
    Conflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
  schemas:
    PortalClaimMappings:
      title: PortalClaimMappings
      description: Mappings from a portal developer atribute to an Identity Provider claim.
      type: object
      minProperties: 0
      maxProperties: 3
      properties:
        name:
          type: string
          example: name
          default: name
        email:
          type: string
          example: email
          default: email
        groups:
          type: string
          default: groups
          example: custom-group-claim
      example:
        name: name
        email: email
        groups: custom-group-claim
    PortalOIDCConfig:
      title: PortalOIDCConfig
      description: Configuration properties for an OpenID Connect Identity Provider.
      type: object
      properties:
        issuer:
          type: string
          example: https://identity.example.com/v2
        client_id:
          type: string
          example: x7id0o42lklas0blidl2
        scopes:
          type: array
          default:
            - email
            - openid
            - profile
          items:
            type: string
            default: openid
          example:
            - email
            - openid
            - profile
        claim_mappings:
          $ref: '#/components/schemas/PortalClaimMappings'
      required:
        - issuer
        - client_id
      example:
        issuer: https://identity.example.com/v2
        client_id: x7id0o42lklas0blidl2
        scopes:
          - email
          - openid
          - profile
        claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    PortalAuthenticationSettingsResponse:
      title: PortalAuthenticationSettingsResponse
      description: The developer authentication settings for a portal.
      type: object
      properties:
        basic_auth_enabled:
          type: boolean
          example: true
          description: The organization has basic auth enabled.
        oidc_auth_enabled:
          type: boolean
          example: false
          description: The organization has OIDC disabled.
        oidc_team_mapping_enabled:
          type: boolean
          example: true
          description: IdP groups determine the Portal Teams a developer has.
        konnect_mapping_enabled:
          type: boolean
          example: false
          description: A Konnect Identity Admin assigns teams to a developer.
        oidc_config:
          $ref: '#/components/schemas/PortalOIDCConfig'
      required:
        - basic_auth_enabled
        - konnect_mapping_enabled
        - oidc_auth_enabled
        - oidc_team_mapping_enabled
      example:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: false
        oidc_config:
          issuer: https://identity.example.com/v2
          client_id: x7id0o42lklas0blidl2
          scopes:
            - email
            - openid
            - profile
          claim_mappings:
            name: name
            email: email
            groups: custom-group-claim
    AssignedPortalRoleCollectionResponse:
      title: AssignedPortalRoleCollectionResponse
      description: A paginated list of roles assigned to a team.
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalAssignedRoleResponse'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Viewer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type_name: Services
            entity_region: us
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Consumer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type: Services
            entity_region: us
          - id: 869d9402-f117-4f9a-840f-69acaf70a81a
            role_name: API Viewer
            entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
            entity_type_name: Services
            entity_region: us
    ListPortalTeamsResponse:
      title: ListPortalTeamsResponse
      description: A paginated list of teams in a portal.
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalTeamResponse'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Partner
            description: Team with access to Partner APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: af9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Internal
            description: Team with access to Internal APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Root
            description: Team with access to Internal Systems
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
    ListRolesResponse:
      title: ListRolesResponse
      description: >-
        The set of roles available to associate with resources and assign to
        teams.
      type: object
      properties:
        services:
          type: object
          required:
            - name
            - roles
          properties:
            name:
              type: string
              enum:
                - Services
            roles:
              type: object
              required:
                - apiviewer
                - apiconsumer
              properties:
                apiviewer:
                  type: object
                  required:
                    - name
                    - description
                  properties:
                    name:
                      type: string
                      enum:
                        - API Viewer
                    description:
                      type: string
                      enum:
                        - >-
                          API Viewers have read-only access to the documentation
                          of a service in a portal
                apiconsumer:
                  type: object
                  required:
                    - name
                    - description
                  properties:
                    name:
                      type: string
                      enum:
                        - API Consumer
                    description:
                      type: string
                      enum:
                        - API Consumers can make calls to the given service
      required:
        - services
      example:
        services:
          name: Services
          roles:
            apiviewer:
              name: API Viewer
              description: >-
                API Viewers have read-only access to the documentation of a
                service in a portal
            apiconsumer:
              name: API Consumer
              description: API Consumers can make calls to the given service
    ListBasicDevelopersResponse:
      title: ListBasicDevelopersResponse
      description: A paginated list of basic information about a set of developers.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/BasicDeveloper'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: james.woods@email.com
            full_name: James Woods
            active: true
            created_at: '2022-08-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: jill.stone@email.com
            full_name: Jill Stone
            active: false
            created_at: '2022-07-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
    AddDeveloperToTeamRequest:
      title: AddDeveloperToTeamRequest
      description: Add a developer to a team by specifying the developer ID.
      type: object
      properties:
        id:
          type: string
          example: df120cb4-f60b-47bc-a2f8-6a28e6a3c63b
          format: uuid
          writeOnly: true
      required:
        - id
      example:
        id: df120cb4-f60b-47bc-a2f8-6a28e6a3c63b
    PortalAssignRoleRequest:
      title: PortalAssignRoleRequest
      description: An assigned role associates a service and an action to a team.
      type: object
      properties:
        role_name:
          type: string
          example: API Viewer
        entity_id:
          type: string
          format: uuid
          example: e67490ce-44dc-4cbd-b65e-b52c746fc26a
        entity_type_name:
          type: string
          example: Services
        entity_region:
          type: string
          enum:
            - us
            - eu
            - '*'
          example: eu
      example:
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    PortalAuthenticationSettingsUpdateRequest:
      title: PortalAuthenticationSettingsUpdateRequest
      description: Properties to update a portal's developer auth settings.
      type: object
      properties:
        basic_auth_enabled:
          type: boolean
          example: true
          description: The organization has basic auth enabled.
        oidc_auth_enabled:
          type: boolean
          example: false
          description: The organization has OIDC disabled.
        oidc_team_mapping_enabled:
          type: boolean
          example: true
          description: >-
            Whether IdP groups determine the Konnect Portal teams a developer
            has.
        konnect_mapping_enabled:
          type: boolean
          example: false
          description: Whether a Konnect Identity Admin assigns teams to a developer.
        oidc_issuer:
          type: string
        oidc_client_id:
          type: string
        oidc_client_secret:
          type: string
        oidc_scopes:
          type: array
          default:
            - email
            - openid
            - profile
          items:
            type: string
            default: openid
        oidc_claim_mappings:
          $ref: '#/components/schemas/PortalClaimMappings'
      example:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: false
        oidc_issuer: https://identity.example.com/v2
        oidc_client_id: x7id0o42lklas0blidl2
        oidc_scopes:
          - email
          - openid
          - profile
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    PortalTeamGroupMappingsUpdateRequest:
      title: PortalTeamGroupMappingsUpdateRequest
      description: A set of mappings to update from a team to their groups.
      type: object
      properties:
        data:
          type: array
          description: The IdP groups to map to the given team.
          items:
            type: object
            properties:
              team_id:
                type: string
                format: uuid
              groups:
                type: array
                items:
                  type: string
      example:
        data:
          - team_id: af91db4c-6e51-403e-a2bf-33d27ae50c0a
            groups:
              - Service Developer
    PortalUpdateTeamRequest:
      title: PortalUpdateTeamRequest
      description: Properties to update on a team.
      type: object
      properties:
        name:
          type: string
          example: IDM - Developers
          pattern: ^[\w \W]+$
          writeOnly: true
        description:
          type: string
          maxLength: 250
          example: The Identity Management (IDM) API team.
          writeOnly: true
      example:
        name: IDM - Developers
        description: The Identity Management (IDM) API team.
    PortalCreateTeamRequest:
      title: PortalCreateTeamRequest
      description: Details about a team to create.
      type: object
      properties:
        name:
          type: string
          example: IDM - Developers
          pattern: ^[\w \W]+$
          writeOnly: true
        description:
          type: string
          maxLength: 250
          example: The Identity Management (IDM) team.
          writeOnly: true
      required:
        - name
      example:
        name: IDM - Developers
        description: The Identity Management (IDM) team.
    PortalTeamResponse:
      title: PortalTeamResponse
      description: Details about a developer team.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        name:
          type: string
          pattern: ^[\w \W]+$
          example: IDM - Developers
          maxLength: 250
        description:
          type: string
          example: The developers for the IDM API.
          maxLength: 250
        created_at:
          type: string
          format: date-time
          example: '1992-02-07T17:46:57.52Z'
          readOnly: true
        updated_at:
          type: string
          format: date-time
          example: '2022-02-07T17:00:00.52Z'
          readOnly: true
      example:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: IDM - Developers
        description: The developers for the IDM API.
        created_at: '1992-02-07T17:46:57.52Z'
        updated_at: '2022-08-31T17:00:00.52Z'
    PortalTeamGroupMappingResponse:
      title: PortalTeamGroupMappingResponse
      description: A paginated list of portal team group mappings.
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/PortalTeamGroupMapping'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - team_id: 6801e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Tech Leads
              - API Engineers
          - team_id: 7301e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Managers
              - Directors
    PortalTeamGroupMapping:
      title: PortalTeamGroupMapping
      description: A map of portal teams to Identity Provider groups.
      type: object
      properties:
        team_id:
          type: string
          format: uuid
          example: 6801e673-cc10-498a-94cd-4271de07a0d3
          description: The Konnect team ID.
        groups:
          type: array
          uniqueItems: true
          description: The IdP groups that are mapped to the specified team.
          items:
            type: string
            example: API Engineers
      example:
        team_id: 6801e673-cc10-498a-94cd-4271de07a0d3
        groups:
          - Tech Leads
          - API Engineers
    PortalAssignedRoleResponse:
      title: PortalAssignedRoleResponse
      description: An assigned role associates a service and an action to a team.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: eaf7adf1-32c8-4bbf-b960-d1f8456afe67
        role_name:
          type: string
          example: API Viewer
        entity_id:
          type: string
          format: uuid
          example: 817d0422-45c9-4d88-8d64-45aef05c1ae7
        entity_type_name:
          type: string
          example: Services
        entity_region:
          type: string
          enum:
            - us
            - eu
            - '*'
          example: eu
      example:
        id: 1a3c2169-27f8-4594-926b-41df3432d5dc
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    ListPortalsResponse:
      additionalProperties: false
      description: A paginated list of portals in the current region in the organization.
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Portal'
      example:
        meta:
          page:
            number: 1
            size: 10
            total: 1
        data:
          - id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-10-08T17:00:00.52Z'
            name: Portal A
            default_domain: 123455678abcd.us.portal.konghq.com
            is_public: false
            rbac_enabled: true
            auto_approve_applications: false
            auto_approve_developers: true
            custom_domain: api.example.com
            custom_client_domain: portal.example.com
    ListCategoriesResponse:
      additionalProperties: false
      type: object
      required:
        - data
        - meta
      properties:
        meta:
          $ref: '#/components/schemas/PaginatedMeta'
        data:
          type: array
          items:
            $ref: '#/components/schemas/CategoryResponseList'
    ListPortalProductsResponse:
[...]
