openapi: 3.0.3
info:
  title: Portal Management
  version: 2.2.0
  description: The management API for Portals
  contact:
    name: Kong
    url: https://konghq.com
servers:
  - url: https://us.api.konghq.com/v2
    description: US Region Base URL
  - url: https://eu.api.konghq.com/v2
    description: EU Region Base URL
  - url: https://au.api.konghq.com/v2
    description: AU Region Base URL
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
tags:
  - name: Portals
    description: APIs related to Configuration of Konnect Developer Portals.
  - name: Portal Developers
    description: APIs related to Konnect Developer Portal Developers.
  - name: Portal Teams
    description: APIs related to Konnect Developer Portal Developer Teams.
  - name: Portal Team Membership
    description: >-
      APIs related to Developer Membership in Konnect Developer Portal Developer
      Teams.
  - name: Portal Team Roles
    description: APIs related to Team Roles in Konnect Developer Portal.
  - name: Portal Applications
    description: APIs related to Konnect Developer Portal Applications.
  - name: Portal Application Registrations
    description: APIs related to Konnect Developer Portal Application Registrations.
  - name: Portal Products
    description: APIs related to API Products Published to Konnect Developer Portals.
  - name: Portal Auth Settings
    description: APIs related to Konnect Developer Portal Authentication Settings.
  - name: Portal Appearance
    description: APIs related to Konnect Developer Portal Appearance Settings.
  - name: Portal Product Versions
    description: >
      Portal Product Versions hold metadata that describes how a Product Version
      is configured for a specific portal.
        
        They contain:
        - Lifecyle and deprecation statuses
        - Application registration settings like auto approve or whether application registration is enabled
        - The authentication strategy that is enabled for Application Registration
paths:
  /portals:
    get:
      summary: List Portals
      description: >-
        Lists developer portals defined in this region for this organization.
        Each developer portal is available at a unique address and has isolated
        appearance, configuration, developers, and applications.
      operationId: list-portals
      tags:
        - Portals
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortals'
        - in: query
          name: filter
          description: Filter portals returned in the response.
          required: false
          style: deepObject
          schema:
            type: object
            properties:
              id:
                $ref: '#/components/schemas/UuidFieldFilter'
              name:
                $ref: '#/components/schemas/StringFieldFilter'
              description:
                $ref: '#/components/schemas/StringFieldFilter'
              is_public:
                $ref: '#/components/schemas/BooleanFieldFilter'
              rbac_enabled:
                $ref: '#/components/schemas/BooleanFieldFilter'
              auto_approve_developers:
                $ref: '#/components/schemas/BooleanFieldFilter'
              auto_approve_applications:
                $ref: '#/components/schemas/BooleanFieldFilter'
              default_domain:
                $ref: '#/components/schemas/StringFieldFilter'
              custom_domain:
                $ref: '#/components/schemas/StringFieldFilter'
              custom_client_domain:
                $ref: '#/components/schemas/StringFieldFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListPortals'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalsBadRequestExample1'
                ListPortalsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalsBadRequestExample2'
                ListPortalsBadRequestExample3:
                  $ref: '#/components/examples/ListPortalsBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create Portal
      description: >-
        Creates a new developer portal scoped in this region for this
        organization.
      operationId: create-portal
      tags:
        - Portals
      requestBody:
        $ref: '#/components/requestBodies/CreatePortal'
      responses:
        '201':
          $ref: '#/components/responses/CreatePortal'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
                UpdatePortalBadRequestExample6:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample6'
                UpdatePortalBadRequestExample7:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample7'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/{portalId}:
    parameters:
      - name: portalId
        in: path
        schema:
          type: string
          format: uuid
        required: true
        description: ID of the portal.
    get:
      summary: Get Portal
      description: >-
        Returns the configuration for a single developer portal. This allows you
        to understand the current visibility, access, and domain settings.
      operationId: get-portal
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/GetPortal'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update Portal
      description: >-
        Updates the configuration for a single portal including the visibility,
        access, and custom domain settings.
      operationId: update-portal
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortal'
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortal'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdatePortalBadRequestExample1:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample1'
                UpdatePortalBadRequestExample2:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample2'
                UpdatePortalBadRequestExample3:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample3'
                UpdatePortalBadRequestExample4:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample4'
                UpdatePortalBadRequestExample5:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample5'
                UpdatePortalBadRequestExample6:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample6'
                UpdatePortalBadRequestExample7:
                  $ref: '#/components/examples/UpdatePortalBadRequestExample7'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    delete:
      summary: Delete Portal
      description: >-
        Deletes a single portal, along with all related entities. Will not allow
        deletion if there are developers registered to portal or if there are
        portal product versions with application registration enabled, unless
        force=true query param is included in the request.
      operationId: delete-portal
      tags:
        - Portals
      parameters:
        - schema:
            type: string
            default: 'false'
            enum:
              - 'true'
              - 'false'
          name: force
          in: query
          description: >-
            If true, delete specified portal and all related entities, even if
            there are developers registered to portal or if there are portal
            product versions with application registration enabled. If false, do
            not allow deletion if there are developers registered to portal or
            if there are portal product versions with application registration
            enabled.
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                DeletePortalBadRequestExample1:
                  $ref: '#/components/examples/DeletePortalBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/publish:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    post:
      summary: Publish Multiples Products
      operationId: publish-api-products
      description: Publish or Unpublish multiple API Products to this developer portal.
      requestBody:
        $ref: '#/components/requestBodies/PublishAPIProducts'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - API Products
  /portals/{portalId}/products:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      summary: List Portal Products
      operationId: list-portal-products
      description: >-
        Lists the API products that are published to this developer portal. An
        API product packages together multiple versions of each API, displaying
        each version with its set of operations and documentation. Developers
        can browse API Products to learn about and register for them. API
        Products access can be limited to certain developers using RBAC and
        developer teams.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortPortalProducts'
        - $ref: '#/components/parameters/PortalProductFilter'
      tags:
        - Portal Products
      responses:
        '200':
          $ref: '#/components/responses/ListPortalProducts'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListPortalProductsBadRequestExample1:
                  $ref: '#/components/examples/ListPortalProductsBadRequestExample1'
                ListPortalProductsBadRequestExample2:
                  $ref: '#/components/examples/ListPortalProductsBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/product-versions:
    parameters:
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: List portal product versions
      operationId: list-portal-product-versions
      description: List portal product versions
      parameters:
        - $ref: '#/components/parameters/SortPortalProductVersions'
        - $ref: '#/components/parameters/PortalProductVersionFilter'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/ListPortalProductVersions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    post:
      summary: Create a portal product version
      operationId: create-portal-product-version
      description: Create a portal product version
      requestBody:
        $ref: '#/components/requestBodies/CreatePortalProductVersion'
      responses:
        '201':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
  /portals/{portalId}/product-versions/{productVersionId}:
    parameters:
      - $ref: '#/components/parameters/ProductVersionId'
      - $ref: '#/components/parameters/PortalId'
    get:
      summary: Get a portal product version
      operationId: get-portal-product-version
      description: Get a portal product version
      responses:
        '200':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    patch:
      summary: Update a portal product version
      operationId: update-portal-product-version
      description: Update a portal product version
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalProductVersion'
      responses:
        '200':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    put:
      summary: Replace a portal product version
      operationId: replace-portal-product-version
      description: Replace a portal product version
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalProductVersion'
      responses:
        '200':
          $ref: '#/components/responses/PortalProductVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
    delete:
      summary: Delete a portal product version
      operationId: delete-portal-product-version
      description: Delete a portal product version
      responses:
        '204':
          description: No Content.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Product Versions
  /portals/{portalId}/developers/{developerId}:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/DeveloperId'
    get:
      summary: Get Developer
      description: >-
        Returns information about a single developer in this portal. Each
        developer manages a set applications, providing them credentials to
        access registered API product versions. Developer registration access
        can be limited to specific API products using RBAC.
      operationId: get-developer
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/DeveloperId'
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/GetDeveloper'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update Developer
      description: >-
        Updates the status of a particular developer. Approved developers have
        access to login to the portal. Revoked, rejected, or pending are not
        allowed to login. Even if a developer's status is no longer approved,
        they will still be able to using any existing credentials generated
        while they were approved, until each application registration is revoked
        or deleted.
      operationId: update-developer
      requestBody:
        $ref: '#/components/requestBodies/UpdateDeveloper'
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/UpdateDeveloper'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateDeveloperBadRequestExample1:
                  $ref: '#/components/examples/UpdateDeveloperBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Developer
      description: >-
        Deletes a developer, which will discontinue their ability to login, view
        any non-public resources, and delete all applications owned by them. All
        credentials issued to the developer will no longer provide access to any
        API Products. A deleted developer's unique email must be re-registered
        and approved to gain access again.
      operationId: delete-developer
      tags:
        - Portal Developers
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications:
    get:
      summary: List Applications
      description: >-
        Lists applications created by developers in this portal. Each
        application can be registered for various API Products (by version),
        issuing credentials for API request access. If using DCR, an application
        will be linked to an Identity Provider's application by its
        `reference_id`.
      operationId: list-applications
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplications'
        - schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              developer_name:
                $ref: '#/components/schemas/StringFieldFilter'
              developer_email:
                $ref: '#/components/schemas/StringFieldFilter'
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter applications returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Applications
      responses:
        '200':
          $ref: '#/components/responses/ListApplications'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationsBadRequestExample1:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample1'
                ListApplicationsBadRequestExample2:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample2'
                ListApplicationsBadRequestExample3:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample3'
                ListApplicationsBadRequestExample4:
                  $ref: '#/components/examples/ListApplicationsBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}:
    get:
      summary: Get Application by Portal
      description: >-
        Returns the configuration of a single application in this portal. If an
        application is linked to a DCR Provider, the `dcr_provider.id` and
        `reference_id` can be used to correlate it. An application manages a set
        of credentials and registrations for specific API product versions.
      operationId: get-application
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
      tags:
        - Portal Applications
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Application by Portal
      description: >-
        Delete a single application in this portal, along with its registrations
        and credentials.
      operationId: delete-application
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
      tags:
        - Portal Applications
      responses:
        '204':
          description: The application has been deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /applications/{applicationId}:
    get:
      summary: Get Application
      description: >-
        Returns the configuration of a single application in any portal. If an
        application is linked to a DCR Provider, the `dcr_provider.id` and
        `reference_id` can be used to correlate it. An application manages a set
        of credentials and registrations for specific API product versions.
      operationId: get-application-unscoped
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      tags:
        - Portal Applications
      responses:
        '200':
          $ref: '#/components/responses/GetApplication'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/application-registrations:
    get:
      summary: List Application Registrations by Portal
      description: >-
        Lists all of the application registrations and their current status
        (e.g., approved or pending) for this portal. Each registration is
        associated with a single API product version. Access is provided through
        the credentials issued to the application that contains each
        registration.
      operationId: list-registrations
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortListAllApplicationRegistrations'
        - schema:
            type: object
            properties:
              developer_id:
                $ref: '#/components/schemas/UuidFieldFilter'
              developer_name:
                $ref: '#/components/schemas/StringFieldFilter'
              application_name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter application registrations returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListApplicationRegistrationsByPortalBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample1
                ListApplicationRegistrationsByPortalBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample2
                ListApplicationRegistrationsByPortalBadRequestExample3:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample3
                ListApplicationRegistrationsByPortalBadRequestExample4:
                  $ref: >-
                    #/components/examples/ListApplicationRegistrationsByPortalBadRequestExample4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations:
    get:
      summary: List Registrations by Application
      description: >-
        Lists each API product version that this application is registered for
        and their current status (e.g., pending, approved, rejected, revoked).
      operationId: list-registrations-by-application
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortApplicationRegistrations'
        - schema:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter application registrations returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/ListApplicationRegistrations'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListRegistrationsByApplicationBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample1
                ListRegistrationsByApplicationBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample2
                ListRegistrationsByApplicationBadRequestExample3:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample3
                ListRegistrationsByApplicationBadRequestExample4:
                  $ref: >-
                    #/components/examples/ListRegistrationsByApplicationBadRequestExample4
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations/{registrationId}:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/ApplicationId'
      - $ref: '#/components/parameters/RegistrationId'
    get:
      summary: Get Application Registration
      description: >-
        Returns information about an application's registration status for a
        particular API product version.
      operationId: get-application-registration
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/GetApplicationRegistration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update Application Registration
      description: >-
        Updates the status of a particular application registration to an API
        Product Version. Approved application registrations will allow API
        traffic to the corresponding API. Revoked, rejected, or pending will not
        allow API traffic.
      operationId: update-application-registration
      requestBody:
        $ref: '#/components/requestBodies/UpdateApplicationRegistration'
      tags:
        - Portal Application Registrations
      responses:
        '200':
          $ref: '#/components/responses/UpdateApplicationRegistration'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateApplicationRegistrationBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdateApplicationRegistrationBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete Application Registration
      description: >-
        Deletes an application registration, which if currently approved will
        immediately block API traffic to the API product version.

        Note: Developers can request a new application registration for the
        given API product version as long as they have RBAC access to consume.
      operationId: delete-application-registration
      tags:
        - Portal Application Registrations
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/applications/{applicationId}/registrations/{registrationId}/granted-scopes:
    get:
      summary: List Granted Scopes
      description: >-
        Lists the granted scopes for this application registration. This is the
        list of scopes that will be sent to the API when making requests.
      operationId: list-granted-scopes
      tags:
        - Portal Application Registrations
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/RegistrationId'
      responses:
        '200':
          $ref: '#/components/responses/ListGrantedScopes'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/appearance-defaults:
    get:
      summary: Get Default Appearance Configurations
      description: >-
        Returns the built-in portal appearance configurations including
        pre-defined themes, colors, and font settings.
      operationId: get-portal-appearance-defaults
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/GetAppearanceDefaults'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/appearance:
    get:
      summary: Get Appearance Configuration
      description: >-
        Returns the current portal appearance configuration including any custom
        theme, colors, fonts, and image settings. Portals using the
        fully-customizable portal client may override or ignore these settings
        by disregarding them in the code.
      operationId: get-portal-appearance
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/GetPortalAppearance'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update Appearance Configuration
      description: >-
        Updates the current appearance configuration for this portal including
        setting pre-defined or custom themes, fonts, colors, and images. Note
        that portals using the fully-customizable portal client may override or
        ignore these settings by disregarding them in the code.
      operationId: update-portal-appearance
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAppearance'
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/UpdatePortalAppearance'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateAppearanceConfigurationBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdateAppearanceConfigurationBadRequestExample1
                UpdateAppearanceConfigurationBadRequestExample2:
                  $ref: >-
                    #/components/examples/UpdateAppearanceConfigurationBadRequestExample2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/appearance/logo:
    get:
      summary: Get Portal Logo
      description: Returns the portal logo or returns the default
      operationId: get-portal-logo
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/GetPortalLogoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/appearance/catalog-cover:
    get:
      summary: Get Portal Catalog Cover
      description: Returns the portal catalog cover or returns the default
      operationId: get-portal-catalog-cover
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      tags:
        - Portal Appearance
      responses:
        '200':
          $ref: '#/components/responses/GetPortalCatalogCoverResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/verify-domain:
    post:
      summary: Verify Custom Domains
      description: >-
        Verifies the current status of the custom hosted domain for this portal,
        indicating whether the appropriate CNAME properties have propagated and
        if a corresponding SSL certificate has been generated.
      operationId: verify-portal-domains
      parameters:
        - $ref: '#/components/parameters/parameters-PortalId'
      tags:
        - Portals
      responses:
        '200':
          $ref: '#/components/responses/VerifyPortalDomains'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                VerifyPortalDomainsBadRequestExample1:
                  $ref: '#/components/examples/VerifyPortalDomainsBadRequestExample1'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /portals/{portalId}/authentication-settings:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      summary: Get Auth Settings
      description: >-
        Returns the developer authentication configuration for a portal, which
        determines how developers can log in and how they are assigned to teams.
      operationId: get-portal-authentication-settings
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      summary: Update Auth Settings
      description: >-
        Updates the developer authentication configuration for a portal.
        Developers can be allowed to login using basic auth (email & password)
        or use Single-Sign-On (SSO) through an OIDC Identity Provider (IdP).
        Developers can be automatically assigned to teams by mapping claims from
        thier IdP account.
      operationId: update-portal-authentication-settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalAuthenticationSettings'
      tags:
        - Portal Auth Settings
      responses:
        '200':
          $ref: '#/components/responses/PortalAuthenticationSettings'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateAuthSettingsBadRequestExample1:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample1'
                UpdateAuthSettingsBadRequestExample2:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample2'
                UpdateAuthSettingsBadRequestExample3:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample3'
                UpdateAuthSettingsBadRequestExample4:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample4'
                UpdateAuthSettingsBadRequestExample5:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample5'
                UpdateAuthSettingsBadRequestExample6:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample6'
                UpdateAuthSettingsBadRequestExample7:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample7'
                UpdateAuthSettingsBadRequestExample8:
                  $ref: '#/components/examples/UpdateAuthSettingsBadRequestExample8'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /portals/{portalId}/identity-provider/team-group-mappings:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      summary: List Team Group Mappings
      description: >-
        Lists mappings between Konnect portal teams and Identity Provider (IdP)
        groups. Returns a 400 error if an IdP has not yet been configured.
      operationId: list-portal-team-group-mappings
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListTeamGroupMappingsBadRequestExample1:
                  $ref: >-
                    #/components/examples/ListTeamGroupMappingsBadRequestExample1
                ListTeamGroupMappingsBadRequestExample2:
                  $ref: >-
                    #/components/examples/ListTeamGroupMappingsBadRequestExample2
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
    patch:
      summary: Update Team Group Mappings
      description: >-
        Allows partial updates to the mappings between Konnect portal teams and
        Identity Provider (IdP) groups. The request body must be keyed on team
        ID. For a given team ID, the given group list is a complete replacement.
        To remove all mappings for a given team, provide an empty group list.

        Returns a 400 error if an IdP has not yet been configured, or if a team
        ID in the request body is not found or is not a UUID.
      operationId: update-portal-team-group-mappings
      responses:
        '200':
          $ref: '#/components/responses/PortalTeamGroupMappingCollection'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                UpdateTeamGroupMappingsBadRequestExample1:
                  $ref: >-
                    #/components/examples/UpdateTeamGroupMappingsBadRequestExample1
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Auth Settings
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalTeamGroupMappings'
  /portals/{portalId}/teams:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      summary: List Teams
      description: >-
        Lists the developer teams in a portal. Each team can contain any
        developer and developers can be part of multiple teams.
      operationId: list-portal-teams
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter teams returned in the response.
          required: false
          style: deepObject
      tags:
        - Portal Teams
    post:
      summary: Create Team
      operationId: create-portal-team
      responses:
        '201':
          $ref: '#/components/responses/PortalTeam'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                CreateTeamBadRequestExample1:
                  $ref: '#/components/examples/CreateTeamBadRequestExample1'
                CreateTeamBadRequestExample2:
                  $ref: '#/components/examples/CreateTeamBadRequestExample2'
                CreateTeamBadRequestExample3:
                  $ref: '#/components/examples/CreateTeamBadRequestExample3'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
      requestBody:
        $ref: '#/components/requestBodies/PortalCreateTeam'
      description: >-
        Creates a developer team in a portal. Developers can be added to teams
        to provide RBAC access to API products. Teams can be assigned roles that
        grant permissions to perform an action on a resource.
  /portals/{portalId}/teams/{teamId}:
    parameters:
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      summary: Get Team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: get-portal-team
      description: Get an individual team.
      tags:
        - Portal Teams
    patch:
      description: Updates an individual developer team for a portal.
      summary: Update Team
      operationId: update-portal-team
      responses:
        '200':
          $ref: '#/components/responses/PortalTeam'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        $ref: '#/components/requestBodies/PortalUpdateTeam'
      tags:
        - Portal Teams
    delete:
      summary: Delete Team
      operationId: delete-portal-team
      description: >-
        Deletes a developer team from a portal. Deleting a team also deletes its
        assigned roles. Members of the team are not deleted, but they will lose
        any access provided through the team.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Teams
  /portals/{portalId}/teams/{teamId}/developers:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/TeamId'
    get:
      summary: List Team Developers
      responses:
        '200':
          $ref: '#/components/responses/ListBasicDevelopers'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: list-portal-team-developers
      description: List a team's developers.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      tags:
        - Portal Team Membership
    post:
      summary: Add Developer to Team
      operationId: add-developer-to-portal-team
      description: >-
        Adds a developer to a team. This associates them with all of the roles
        that have been assigned to the team, providing specific permissions to
        perform actions on resources.
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AddDeveloperToTeamBadRequestExample1:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample1'
                AddDeveloperToTeamBadRequestExample2:
                  $ref: '#/components/examples/AddDeveloperToTeamBadRequestExample2'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      requestBody:
        $ref: '#/components/requestBodies/AddDeveloperToTeam'
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/developers/{developerId}:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/parameters-DeveloperId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      summary: Remove Developer from Team
      operationId: remove-developer-from-portal-team
      description: >-
        Removes a developer from a team. This removes the association of the
        team's roles from the developer.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Membership
  /portals/{portalId}/teams/{teamId}/assigned-roles:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/TeamId'
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
    get:
      summary: List Team Roles
      description: >-
        Lists the roles belonging to a developer team. Each role provides
        permissions to perform actions on a specified resource or collection.
      tags:
        - Portal Team Roles
      responses:
        '200':
          $ref: '#/components/responses/AssignedPortalRoleCollection'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: list-portal-team-roles
    post:
      summary: Assign Role
      operationId: assign-role-to-portal-teams
      description: >-
        Assign a role to a developer team. This associates the set of
        permissions in a role with the team, so that they will be applied to any
        developer who is a member of the team.
      responses:
        '201':
          $ref: '#/components/responses/PortalAssignedRole'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                AssignRoleBadRequestExample1:
                  $ref: '#/components/examples/AssignRoleBadRequestExample1'
                AssignRoleBadRequestExample2:
                  $ref: '#/components/examples/AssignRoleBadRequestExample2'
                AssignRoleBadRequestExample3:
                  $ref: '#/components/examples/AssignRoleBadRequestExample3'
                AssignRoleBadRequestExample4:
                  $ref: '#/components/examples/AssignRoleBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      requestBody:
        $ref: '#/components/requestBodies/PortalAssignRole'
      tags:
        - Portal Team Roles
  /portals/{portalId}/teams/{teamId}/assigned-roles/{roleId}:
    parameters:
      - $ref: '#/components/parameters/RoleId'
      - $ref: '#/components/parameters/parameters-PortalId'
      - $ref: '#/components/parameters/TeamId'
    delete:
      summary: Remove Role
      operationId: remove-role-from-portal-team
      description: >-
        Removes an assigned role from a developer team. This deletes the
        association of the role with team and each of its members.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - Portal Team Roles
  /portals/{portalId}/developers:
    parameters:
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      summary: List Developers
      description: >-
        Lists the developers that have registered for this portal. Each
        developer can be registered to one portal and must be approved to login
        unless using the developer auto-approve setting.
      operationId: list-portal-developers
      tags:
        - Portal Developers
      responses:
        '200':
          $ref: '#/components/responses/ListDevelopers'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
              examples:
                ListDevelopersBadRequestExample1:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample1'
                ListDevelopersBadRequestExample2:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample2'
                ListDevelopersBadRequestExample3:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample3'
                ListDevelopersBadRequestExample4:
                  $ref: '#/components/examples/ListDevelopersBadRequestExample4'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/SortDevelopers'
        - schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/StringFieldFilter'
              status:
                $ref: '#/components/schemas/StringFieldFilter'
              email:
                $ref: '#/components/schemas/StringFieldFilter'
          in: query
          name: filter
          description: Filter developers returned in the response.
          required: false
          style: deepObject
  /portals/{portalId}/developers/{developerId}/teams:
    parameters:
      - $ref: '#/components/parameters/parameters-DeveloperId'
      - $ref: '#/components/parameters/parameters-PortalId'
    get:
      summary: List Developer Teams
      operationId: list-portal-developer-teams
      description: >-
        Lists the teams to which a developer belongs. Each team a developer is a
        member of grants them various roles that provide permissions to perform
        actions on certain resources.
      responses:
        '200':
          $ref: '#/components/responses/ListPortalTeams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageNumber'
      tags:
        - Portal Team Membership
  /portal-roles:
    get:
      summary: List Portal Roles
      operationId: list-portal-roles
      description: >-
        List roles that can be assigned to teams in a portal. Each role provides
        a set of permissions to perform an action on a resource.
      responses:
        '200':
          $ref: '#/components/responses/ListRoles'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
        - Portal Team Roles
components:
  examples:
    UpdateTeamExample1:
      value:
        name: IDM - Developers
        description: The Identity Management (IDM) API team.
    CreateTeamExample1:
      value:
        name: IDM - Developers
        description: The Identity Management (IDM) API team.
    AddDeveloperToTeamExample1:
      value:
        id: df120cb4-f60b-47bc-a2f8-6a28e6a3c63b
    UpdatePortalTeamGroupMappingsExample1:
      value:
        data:
          - team_id: af91db4c-6e51-403e-a2bf-33d27ae50c0a
            groups:
              - Service Developer
          - team_id: bc11db4c-6e51-403e-a2bf-33d27ae50c0a
            groups:
              - Service Owner
    UpdatePortalAuthenticationSettingsExample1:
      value:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: false
        oidc_issuer: https://identity.example.com/v2
        oidc_client_id: x7id0o42lklas0blidl2
        oidc_scopes:
          - email
          - openid
          - profile
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    UpdatePortalAuthenticationSettingsExampleDisableBasicAuth:
      value:
        basic_auth_enabled: false
    UpdatePortalAuthenticationSettingsExampleEnableOIDC:
      value:
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: false
        konnect_mapping_enabled: true
        oidc_issuer: https://identity.example.com/v2
        oidc_client_id: x7id0o42lklas0blidl2
        oidc_scopes:
          - email
          - openid
          - profile
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    UpdatePortalAuthenticationSettingsExampleEnableOIDCTeamMapping:
      value:
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: true
        oidc_claim_mappings:
          name: name
          email: email
          groups: custom-group-claim
    PortalAssignRoleExampleViewer:
      value:
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    PortalAssignRoleExampleConsumer:
      value:
        role_name: API Consumer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    UpdatePortalExampleRbacEnabled:
      value:
        rbac_enabled: true
    UpdatePortalExamplePublic:
      value:
        is_public: true
    UpdatePortalExampleAutoApprove:
      value:
        auto_approve_applications: false
        auto_approve_developers: false
    UpdatePortalExampleCustomDomains:
      value:
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    UpdatePortalExample1:
      value:
        is_public: false
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: false
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    CreatePortalExampleRbacEnabled:
      value:
        name: MyDevPortal
        rbac_enabled: true
    CreatePortalExamplePublic:
      value:
        name: MyDevPortal
        is_public: true
    CreatePortalExampleAutoApprove:
      value:
        name: MyDevPortal
        auto_approve_applications: false
        auto_approve_developers: false
    CreatePortalExampleCustomDomains:
      value:
        name: MyDevPortal
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    CreatePortalExample1:
      value:
        name: MyDevPortal
        is_public: false
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: false
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
    UpdateApplicationRegistrationApproved:
      value:
        status: approved
    UpdateApplicationRegistrationPending:
      value:
        status: pending
    UpdateApplicationRegistrationRejected:
      value:
        status: rejected
    UpdateApplicationRegistrationRevoked:
      value:
        status: revoked
    UpdatePortalAppearanceExampleMintRocketTheme:
      value:
        theme_name: mint_rocket
        use_custom_fonts: false
        custom_theme: null
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come one in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdatePortalAppearanceExampleDarkModeTheme:
      value:
        theme_name: dark_mode
        use_custom_fonts: true
        custom_theme: null
        custom_fonts:
          base: Lato
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Say Hello To Our APIs
            primary_header: Say goodbye to your problems
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdatePortalAppearanceExampleCustomTheme:
      value:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: rgba(0,0,0,0.1)
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: rgba(0,0,0,0.8)
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: rgba(0,0,0,0.8)
                description: Headings text
              primary:
                value: rgba(0,0,0,0.8)
                description: Main content text
              secondary:
                value: rgba(0,0,0,0.8)
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come one in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: favicon.ico
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: logo.png
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdateDeveloperExampleApproved:
      value:
        status: approved
    UpdateDeveloperExamplePending:
      value:
        status: pending
    UpdateDeveloperExampleRejected:
      value:
        status: rejected
    UpdateDeveloperExampleRevoked:
      value:
        status: revoked
    PortalTeamGroupMappingCollectionExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - team_id: 6801e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Tech Leads
              - API Engineers
          - team_id: 7301e673-cc10-498a-94cd-4271de07a0d3
            groups:
              - Managers
              - Directors
    PortalAuthenticationSettingsExample1:
      value:
        basic_auth_enabled: true
        oidc_auth_enabled: true
        oidc_team_mapping_enabled: true
        konnect_mapping_enabled: true
        oidc_config:
          issuer: https://identity.example.com/v2
          client_id: x7id0o42lklas0blidl2
          scopes:
            - email
            - openid
            - profile
          claim_mappings:
            name: name
            email: email
            groups: custom-group-claim
    PortalAssignedRoleUSExample:
      value:
        id: 1a3c2169-27f8-4594-926b-41df3432d5dc
        role_name: API Viewer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: us
    PortalAssignedRoleAllRegionsExample:
      value:
        id: 034cb810-1f2d-40d2-a1ce-31944144668e
        role_name: API Consumer
        entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
        entity_type_name: Services
        entity_region: '*'
    PortalTeamExample1:
      value:
        id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name: Gold Tier
        description: Team with access to APIs in the Gold tier
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-09-25T13:00:00.00Z'
    AssignedPortalRoleCollectionExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Viewer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type_name: Services
            entity_region: us
          - id: b02e23c5-8ee4-4e5a-99f4-43329923adce
            role_name: API Consumer
            entity_id: 437c7192-fea0-4f35-8478-c8d57783f8c1
            entity_type: Services
            entity_region: us
          - id: 869d9402-f117-4f9a-840f-69acaf70a81a
            role_name: API Viewer
            entity_id: 18ee2573-dec0-4b83-be99-fa7700bcdc61
            entity_type_name: Services
            entity_region: us
    ListPortalTeamsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 3
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Partner
            description: Team with access to Partner APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: af9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Internal
            description: Team with access to Internal APIs
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            name: Root
            description: Team with access to Internal Systems
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-09-25T13:00:00.00Z'
    ListRolesExample1:
      value:
        services:
          name: Services
          roles:
            apiviewer:
              name: API Viewer
              description: >-
                API Viewers have read-only access to the documentation of a
                service in a portal
            apiconsumer:
              name: API Consumer
              description: API Consumers can make calls to the given service
    ListBasicDevelopersExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: james.woods@email.com
            full_name: James Woods
            active: true
            created_at: '2022-08-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
          - id: 4f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            email: jill.stone@email.com
            full_name: Jill Stone
            active: false
            created_at: '2022-07-17T17:46:57.52Z'
            updated_at: '2022-10-03T17:00:00.00Z'
    ListPortalsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 1
        data:
          - id: 8f9fd312-a987-4628-b4c5-bb4f4fddd5f7
            created_at: '2022-02-07T17:46:57.52Z'
            updated_at: '2022-10-08T17:00:00.52Z'
            name: Portal A
            display_name: Developer Portal A
            description: The Portal A
            default_domain: 123455678abcd.us.portal.konghq.com
            is_public: false
            rbac_enabled: true
            auto_approve_applications: false
            auto_approve_developers: true
            custom_domain: api.example.com
            custom_client_domain: portal.example.com
            application_count: 0
            developer_count: 0
            published_product_count: 0
    ListPortalProductsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: 9cdcba18-5bdf-4936-81de-d76da02cb99b
            name: Excellent API
            description: Excellent for serving
            created_at: '2022-05-24T18:40:35.500Z'
            updated_at: '2022-05-24T18:40:35.500Z'
            portal_ids:
              - 83f1733c-862c-43e5-a005-acfb0addfcfb
            labels:
              department: marketing
            version_count: 4
          - id: 6d8cba18-5bdf-4936-81de-d76da02cb99b
            name: Utility API
            description: Useful for helping with progress
            created_at: '2022-04-24T18:40:35.500Z'
            updated_at: '2022-09-24T18:40:35.500Z'
            portal_ids:
              - 83f1733c-862c-43e5-a005-acfb0addfcfb
            labels:
              department: engineering
              location: cyberspace
            version_count: 21
    PortalProductVersionExample1:
      value:
        id: 22f8380e-7798-4566-99e3-2edf2b57d289
        publish_status: published
        product_version_id: 33f8380e-7798-4566-99e3-2edf2b57d289
        auth_strategies:
          - id: 44f8380e-7798-4566-99e3-2edf2b57d289
            name: key auth strategy
            credential_type: key_auth
        application_registration_enabled: true
        auto_approve_registration: true
        deprecated: false
        created_at: '2023-01-01T00:00:00.000Z'
        updated_at: '2023-01-01T00:00:00.000Z'
    ListPortalProductVersionsExample1:
      value:
        data:
          - id: 22f8380e-7798-4566-99e3-2edf2b57d289
            publish_status: published
            product_version_id: 33f8380e-7798-4566-99e3-2edf2b57d289
            auth_strategies:
              - id: 44f8380e-7798-4566-99e3-2edf2b57d289
                name: key auth strategy
                credential_type: key_auth
            application_registration_enabled: true
            auto_approve_registration: true
            deprecated: false
            created_at: '2023-01-01T00:00:00.000Z'
            updated_at: '2023-01-01T00:00:00.000Z'
        meta:
          page:
            number: 1
            size: 1
            total: 10
    PortalProductVersionCreateRequestExample1:
      value:
        product_version_id: 33f8380e-7798-4566-99e3-2edf2b57d289
        auth_strategy_ids:
          - 44f8380e-7798-4566-99e3-2edf2b57d289
        publish_status: published
        application_registration_enabled: true
        auto_approve_registration: true
        deprecated: false
    PortalProductVersionUpdateRequestExample1:
      value:
        auto_approve_registration: false
    PortalProductVersionReplaceRequestExample1:
      value:
        auth_strategy_ids:
          - 44f8380e-7798-4566-99e3-2edf2b57d289
        publish_status: published
        application_registration_enabled: true
        auto_approve_registration: true
        deprecated: false
    PortalProductVersionUpdateAuthStrategyExample:
      value:
        auth_strategy_ids:
          - 44f8380e-7798-4566-99e3-2edf2b57d289
    GetPortalExample1:
      value:
        id: 9f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
        name: Portal A
        display_name: Developer Portal A
        description: The Portal A
        default_domain: 123455678abcd.us.portal.konghq.com
        is_public: false
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: true
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
        application_count: 0
        developer_count: 0
        published_product_count: 0
    UpdatePortalResponseExample1:
      value:
        id: 9f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        created_at: '2022-02-07T17:46:57.52Z'
        updated_at: '2022-10-08T17:00:00.52Z'
        name: Portal A
        display_name: Developer Portal A
        description: The Portal A
        default_domain: 123455678abcd.us.portal.konghq.com
        is_public: false
        rbac_enabled: true
        auto_approve_applications: false
        auto_approve_developers: true
        custom_domain: api.example.com
        custom_client_domain: portal.example.com
        application_count: 0
        developer_count: 0
        published_product_count: 0
    VerifyPortalDomainsExample1:
      value:
        is_cname_verified: true
        is_ssl_issued: false
    ListDevelopersExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 4
        data:
          - id: 8cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: jane.developer@example.com
            full_name: Jane Dev
            status: approved
            application_count: 8
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 4cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: John Dev
            status: revoked
            application_count: 27
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jim Dev
            status: pending
            application_count: 0
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
          - id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
            email: john.developer@example.com
            full_name: Jan Dev
            status: rejected
            application_count: 1
            created_at: '2022-11-15T20:37:41.457Z'
            updated_at: '2022-11-15T20:37:47.456Z'
    GetDeveloperExample1:
      value:
        id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
        email: developer@example.com
        full_name: Jane Dev
        status: approved
        application_count: 3
        created_at: '2022-11-15T20:37:41.457Z'
        updated_at: '2022-11-15T20:37:47.456Z'
    UpdateDeveloperResponseExample1:
      value:
        id: 7cd9feff-b4da-4a9f-ba49-cbe83c75ff22
        email: developer@example.com
        full_name: Jane Dev
        status: approved
        application_count: 3
        created_at: '2022-11-15T20:37:41.457Z'
        updated_at: '2022-11-15T20:37:47.456Z'
    ListApplicationsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            labels:
              env: test
            name: App 1
            description: An easy to manage app in a Konnect developer portal
            reference_id: df66b180-97df-4ddb-8b45-8b7d5eac56da
            registration_count: 2
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            dcr_provider: null
            developer:
              id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
              email: jane.developer@example.com
            created_at: '2022-12-22T19:09:30.712Z'
            updated_at: '2022-12-22T19:09:30.712Z'
          - id: b15e2460-ba40-431d-9df0-4957fcffacda
            labels:
              env: test
            name: App 1
            description: >-
              A Konnect application that is linked to an Identity Provider
              application using Dynamic Client Registration (DCR)
            reference_id: yr1k0d9kj3l0cl01hp4o0
            registration_count: 3
            portal:
              id: 95606071-49c7-4c2e-ae49-8a86d72a8110
            dcr_provider:
              id: 7ea06071-49c7-4c2e-ae49-8a86d72a8110
            developer:
              id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: John Dev
              email: john.developer@example.com
            created_at: '2022-12-22T19:07:30.712Z'
            updated_at: '2022-12-22T19:07:30.712Z'
    GetApplicationExampleBasic:
      value:
        id: b15e2460-ba40-431d-9df0-4957fcffacda
        labels:
          env: test
        name: App 1
        description: An easy to manage app in a Konnect developer portal
        reference_id: df66b180-97df-4ddb-8b45-8b7d5eac56da
        registration_count: 4
        portal:
          id: 95606071-49c7-4c2e-ae49-8a86d72a8110
        dcr_provider: null
        developer:
          id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: Jane Dev
          email: jane.developer@example.com
        created_at: '2022-12-22T19:09:30.712Z'
        updated_at: '2022-12-22T19:09:30.712Z'
    GetApplicationExampleDcr:
      value:
        id: b15e2460-ba40-431d-9df0-4957fcffacda
        labels:
          env: test
        name: App 1
        description: >-
          A Konnect application that is linked to an Identity Provider
          application using Dynamic Client Registration (DCR)
        reference_id: yr1k0d9kj3l0cl01hp4o0
        registration_count: 1
        portal:
          id: 95606071-49c7-4c2e-ae49-8a86d72a8110
        dcr_provider:
          id: 7ea06071-49c7-4c2e-ae49-8a86d72a8110
        developer:
          id: 9cd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: John Dev
          email: john.developer@example.com
        created_at: '2022-12-22T19:07:30.712Z'
        updated_at: '2022-12-22T19:07:30.712Z'
    ListApplicationRegistrationsExample1:
      value:
        meta:
          page:
            number: 1
            size: 10
            total: 2
        data:
          - id: c200cc33-2d33-4754-b086-a98e0fcd36fb
            status: approved
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 1
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Great Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v1
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            granted_scopes:
              - openid
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d200cc33-2d33-4754-b086-a98e0fcd36fb
            status: rejected
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 2
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Great Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v0
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            granted_scopes: null
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d300cc33-2d33-4754-b086-a98e0fcd36fb
            status: pending
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 3
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Good Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v2
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            granted_scopes:
              - openid
              - read:myscope
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
          - id: d300cc33-2d33-4754-b086-a98e0fcd36fb
            status: revoked
            application:
              id: e15e2460-ba40-431d-9df0-4957fcff7cda
              name: App 3
            product:
              id: 56f637b7-cd95-478b-9b02-d770618f641c
              name: Good Product
            product_version:
              id: 64e54925-20a0-4788-9873-d24db33f1495
              name: v1
            developer:
              id: 6cd9feff-b4da-4a9f-ba49-cbe83c75ff22
              name: Jane Dev
            granted_scopes: []
            created_at: '2022-12-22T20:13:07.305Z'
            updated_at: '2022-12-22T20:13:36.710Z'
    GetApplicationRegistrationExample1:
      value:
        id: c300cc33-2d33-4754-b086-a98e0fcd36fb
        status: approved
        application:
          id: c15e2460-ba40-431d-9df0-4957fcff7cda
          name: App 1
        product:
          id: 86f637b7-cd95-478b-9b02-d770618f641c
          name: Great Product
        product_version:
          id: 74e54925-20a0-4788-9873-d24db33f1495
          name: v1
        developer:
          id: ecd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: Jane Dev
        granted_scopes:
          - openid
        created_at: '2022-12-22T20:13:07.305Z'
        updated_at: '2022-12-22T20:13:36.710Z'
    UpdateApplicationRegistrationResponseExample1:
      value:
        id: c300cc33-2d33-4754-b086-a98e0fcd36fb
        status: approved
        application:
          id: c15e2460-ba40-431d-9df0-4957fcff7cda
          name: App 1
        product:
          id: 86f637b7-cd95-478b-9b02-d770618f641c
          name: Great Product
        product_version:
          id: 74e54925-20a0-4788-9873-d24db33f1495
          name: v1
        developer:
          id: ecd9feff-b4da-4a9f-ba49-cbe83c75ff22
          name: Jane Dev
        granted_scopes:
          - openid
        created_at: '2022-12-22T20:13:07.305Z'
        updated_at: '2022-12-22T20:13:36.710Z'
    ListGrantedScopesExample1:
      value:
        data:
          - profile
          - vault
    GetAppearanceDefaultsExample1:
      value:
        themes:
          mint_rocket:
            colors:
              section:
                header:
                  value: '#F8F8F8'
                  description: Background for header
                body:
                  value: '#FFFFFF'
                  description: Background for main content
                hero:
                  value: '#F8F8F8'
                  description: Background for hero section
                accent:
                  value: '#F8F8F8'
                  description: Subtle background
                tertiary:
                  value: '#FFFFFF'
                  description: Tertiary background
                stroke:
                  value: rgba(0,0,0,0.1)
                  description: Border color
                footer:
                  value: '#07A88D'
                  description: Background for footer
              text:
                header:
                  value: rgba(0,0,0,0.8)
                  description: Header text
                hero:
                  value: '#FFFFFF'
                  description: Hero text
                headings:
                  value: rgba(0,0,0,0.8)
                  description: Headings text
                primary:
                  value: rgba(0,0,0,0.8)
                  description: Main content text
                secondary:
                  value: rgba(0,0,0,0.8)
                  description: Supporting text
                accent:
                  value: '#07A88D'
                  description: Subtle text
                link:
                  value: '#07A88D'
                  description: Link text
                footer:
                  value: '#FFFFFF'
                  description: Footer text
              button:
                primary_fill:
                  value: '#1155CB'
                  description: Background for Primary Button
                primary_text:
                  value: '#FFFFFF'
                  description: Text for Primary Button
          dark_mode:
            colors:
              section:
                header:
                  value: '#0A161E'
                  description: Background for header
                body:
                  value: '#0C0C0C'
                  description: Background for main content
                hero:
                  value: '#1A1D21'
                  description: Background for hero section
                accent:
                  value: '#1F1F1F'
                  description: Subtle background
                tertiary:
                  value: '#222529'
                  description: Tertiary background
                stroke:
                  value: '#34393F'
                  description: Border color
                footer:
                  value: '#212429'
                  description: Background for footer
              text:
                header:
                  value: '#FFFFFF'
                  description: Header text
                hero:
                  value: rgba(255,255,255,0.8)
                  description: Hero text
                headings:
                  value: '#FFFFFF'
                  description: Headings text
                primary:
                  value: '#C8C8C9'
                  description: Main content text
                secondary:
                  value: '#919294'
                  description: Supporting text
                accent:
                  value: '#FFFFFF'
                  description: Subtle text
                link:
                  value: '#2977FF'
                  description: Link text
                footer:
                  value: '#FFFFFF'
                  description: Footer text
              button:
                primary_fill:
                  value: '#1155CB'
                  description: Background for Primary Button
                primary_text:
                  value: '#FFFFFF'
                  description: Text for Primary Button
        fonts:
          base: Roboto
          code: Roboto Mono
          headings: Lato
        text:
          catalog:
            welcome_message: Welcome to our service catalog
            primary_header: Find All of Our Services in a Single Place
    GetPortalAppearanceExample1:
      value:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: rgba(0,0,0,0.1)
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: rgba(0,0,0,0.8)
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: rgba(0,0,0,0.8)
                description: Headings text
              primary:
                value: rgba(0,0,0,0.8)
                description: Main content text
              secondary:
                value: rgba(0,0,0,0.8)
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come on in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: favicon.ico
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: logo.png
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    UpdatePortalAppearanceResponseExample1:
      value:
        theme_name: custom
        use_custom_fonts: true
        custom_theme:
          colors:
            section:
              header:
                value: '#F8F8F8'
                description: Background for header
              body:
                value: '#FFFFFF'
                description: Background for main content
              hero:
                value: '#F8F8F8'
                description: Background for hero section
              accent:
                value: '#F8F8F8'
                description: Subtle background
              tertiary:
                value: '#FFFFFF'
                description: Tertiary background
              stroke:
                value: rgba(0,0,0,0.1)
                description: Border color
              footer:
                value: '#07A88D'
                description: Background for footer
            text:
              header:
                value: rgba(0,0,0,0.8)
                description: Header text
              hero:
                value: '#FFFFFF'
                description: Hero text
              headings:
                value: rgba(0,0,0,0.8)
                description: Headings text
              primary:
                value: rgba(0,0,0,0.8)
                description: Main content text
              secondary:
                value: rgba(0,0,0,0.8)
                description: Supporting text
              accent:
                value: '#07A88D'
                description: Subtle text
              link:
                value: '#07A88D'
                description: Link text
              footer:
                value: '#FFFFFF'
                description: Footer text
            button:
              primary_fill:
                value: '#1155CB'
                description: Background for Primary Button
              primary_text:
                value: '#FFFFFF'
                description: Text for Primary Button
        custom_fonts:
          base: Roboto
          code: Roboto
          headings: Roboto
        text:
          catalog:
            welcome_message: Welcome
            primary_header: Come on in!
        images:
          favicon:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: favicon.ico
          logo:
            data: data:image/png;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
            filename: logo.png
          catalog_cover:
            data: data:image/jpeg;base64,bmljZV9sb29raW5nX3BpY3R1cmU=
    VerifyPortalDomainsBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: custom_domain
            reason: portal needs a custom_domain to be verified
    UpdatePortalBadRequestExample1:
      summary: Unknown property
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: my_property
            rule: unknown_property
            reason: '"my_property" is not allowed'
            source: body
    UpdatePortalBadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: is_public
            rule: is_boolean
            reason: value of "is_public" must be true or false
            source: body
    UpdatePortalBadRequestExample3:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: rbac_enabled
            rule: is_boolean
            reason: value of "rbac_enabled" must be true or false
            source: body
    UpdatePortalBadRequestExample4:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: auto_approve_applications
            rule: is_boolean
            reason: value of "auto_approve_applications" must be true or false
            source: body
    UpdatePortalBadRequestExample5:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: auto_approve_developers
            rule: is_boolean
            reason: value of "auto_approve_developers" must be true or false
            source: body
    UpdatePortalBadRequestExample6:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: custom_domain
            rule: max_length
            reason: value of "custom_domain" must not exceed 1024 characters
            source: body
    UpdatePortalBadRequestExample7:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: custom_client_domain
            rule: max_length
            reason: value of "custom_client_domain" must not exceed 1024 characters
            source: body
    DeletePortalBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: force
            rule: required
            reason: >-
              This Portal has 30 developers, 10 gateway-linked API product
              versions with active auth strategies. These must be individually
              removed before deletion or the force=true query param can be used
              to automatically delete associated entities.”
            source: query
    ListPortalProductsBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: page[size]
            rule: is_number
            reason: '"page[size]" must be a number'
            source: query
    ListPortalProductsBadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: page[number]
            rule: is_number
            reason: '"page[number]" must be a number'
            source: query
    UpdateDeveloperBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: my_property
            rule: unknown_property
            reason: '"my_property" is not allowed'
            source: body
    ListApplicationsBadRequestExample1:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
          - field: page[size]
            rule: is_number
            reason: '"page[size]" must be a number'
            source: query
    ListApplicationsBadRequestExample2:
      value:
        status: 400
        title: Invalid Request
        instance: kong:trace:1433447772874964729
        detail: Invalid Parameters
        invalid_parameters:
[...]
