{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["plugin:vue/recommended", "plugin:jest/recommended", "standard"],
  "rules": {
    "curly": "error",
    "arrow-parens": 0,
    "generator-star-spacing": 0,
    "object-property-newline": "error",
    "lines-between-class-members": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["block", "block-like"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var", "if"]
      },
      { "blankLine": "always", "prev": "directive", "next": "*" },
      { "blankLine": "any", "prev": "directive", "next": "directive" }
    ],
    "jest/valid-expect": "error"
  }
}
