<li class="accordion-item">
  <input id="accordion-{{ include.id }}" type="checkbox" />
  <label for="accordion-{{ include.id }}">
    {% if include.item.icon %}
      <img src="{{ include.item.icon }}" alt="{{ include.item.label }}">
    {% endif %}
    {% if include.item.url %}
      <a
        href="{{ include.item.url }}"
        class="accordion-link"
        role="menuitem"
        tabindex="0"
        {% if include.item.target_blank %} target="_blank" {% endif %}
      >
        {{ include.item.label }}
      </a>
    {% else %}
      {{ include.item.label }}
    {% endif %}
    {% if include.item.items.size > 0 %}
      <i class="fa fa-chevron-down"></i>
    {% endif %}
  </label>
  {% if include.item.items.size > 0 %}
    <div>
      <ul class="items">
        {% for sub_item in include.item.items %}
          {% assign id = include.id | append: '-' | append: forloop.index %}
          {% include accordion_item.html item=sub_item id=id %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</li>
