{% assign id_str = include.id | split: '-' %}
<li class="accordion-item">
  {% if include.content %}
  <input id="accordion-{{ include.id }}" type="checkbox" {% if id_str.size == 1 %}onclick="accordionItemClick('{{ include.id }}')"{% endif %} {% if include.active == true %}checked{% endif %}/>
  {% endif %}
  <label for="accordion-{{ include.id }}">
    {% if include.icon %}
    <img src="{{ include.icon }}" alt="">
    {% endif %}
    {% if include.url %}
    <a href="{{ include.url }}">{{ include.label }}</a>
    {% else %}
    {{ include.label }}
    {% endif %}
    {% if include.content %}
    <i class="fa fa-chevron-down"></i>
    {% endif %}
  </label>
  <div>
    {{ include.content }}
  </div>
</li>

{% if id_str.size == 1 %}
<script type="text/javascript">
  function accordionItemClick (id) {
    var value = $('#accordion-opened').val();
    if (value === '') {
      if ($('.accordion-item.active')[0]) {
        value = $('.accordion-item.active')[0].firstElementChild.id.split('-')[1];
      } else {
        $('#accordion-opened').val(id.toString());
        return;
      }
    }
    if (value !== id.toString()) {
      $('#accordion-' + value).prop('checked', false);
      $('#accordion-opened').val(id.toString());
    }
  }
</script>
{% endif %}
