<li {% if include.active == true %}class="active"{% endif %}>
  <input id="accordion{{ include.index }}" type="checkbox" {% if include.active == true %}checked{% endif %}/>
  <label for="accordion{{ include.index }}">
    {% if include.icon %}
    <img src="{{include.icon}}" alt="icon">
    {% endif %}
    {% if include.url %}
    <a href="{{ include.url }}">{{ include.label }}</a>
    {% else %}
    {{ include.label }}
    {% endif %}
    <i class="fa fa-chevron-down"></i>
  </label>
  <div>
    {{ include.content }}
  </div>
</li>
