{% assign id_str = include.id | split: '-' %}
<li class="accordion-item">
  {% if include.content %}
  <input id="accordion-{{ include.id }}" type="checkbox" {% if id_str.size == 1 %}onclick="accordionItemClick('{{ include.id }}')"{% endif %} {% if include.active == true %}checked{% endif %}/>
  {% endif %}
  <label for="accordion-{{ include.id }}">
    {% if include.icon %}
    <img src="{{ include.icon }}" alt="">
    {% endif %}
    {% if include.url %}
    <a href="{{ include.url }}" class="accordion-link" role="menuitem" tabindex="0">{{ include.label }}</a>
    {% else %}
    {{ include.label }}
    {% endif %}
    {% if include.content %}
    <i class="fa fa-chevron-down"></i>
    {% endif %}
  </label>
  <div>
    {{ include.content }}
  </div>
</li>
