<div id="breadcrumbs">
  {% assign crumbs = include.dir | split: '/' %}
  <ul class="breadcrumbs">
    {% if include.no_version == false or include.has_version == true %}
      <i class="sidebar-toggle"></i>
    {% endif %}
    <li class="breadcrumb-item">
      {% if include.edition =='enterprise' or include.edition =='konnect' or include.edition =='konnect-platform' or include.edition == 'mesh' or page.edition == 'gateway' %}
        Kong Konnect Platform
      {% elsif include.edition == 'contributing' %}
        Contribute to the docs
      {% else %}
        Open Source
      {% endif %}
    </li>
    <li class="breadcrumb-item">
      {% if include.edition == 'enterprise' %}<a href="/enterprise/{% unless include.no_version == true %}{{include.kong_version}}/{% endunless %}">{{site.ee_product_name}}</a>
      {% elsif include.edition == 'konnect-platform' %}<a href="/konnect-platform/">Overview</a>
      {% elsif include.edition == 'konnect' %}<a href="/konnect/">{{site.konnect_saas}}</a>
      {% elsif include.edition == 'mesh' %}<a href="/mesh/{% unless include.no_version == true %}{{include.kong_version}}/{% endunless %}">{{site.mesh_product_name}}</a>
      {% elsif include.edition == 'deck' %}<a href="/deck/">decK</a>
      {% elsif include.edition == 'kubernetes-ingress-controller' %}<a href="/kubernetes-ingress-controller/{{include.kong_version}}/">{{site.kic_product_name}}</a>
      {% elsif include.edition == 'gateway-oss' %}<a href="/gateway-oss/{{include.kong_version}}/">{{site.ce_product_name}}</a>
      {% elsif page.edition == 'gateway' %}<a href="/gateway/{{page.kong_version}}/">{{site.base_gateway}}</a>
      {% elsif include.edition == 'getting-started-guide' %}<a href="/getting-started-guide/{{include.kong_version}}/overview">Get Started with Kong Gateway</a>
      {% elsif include.edition == 'contributing' %}<a href="/contributing/">Style guide and contribution guidelines</a>
      {% endif %}
    </li>
    {% if include.no_version == true %}
      {% if include.url contains '/konnect/servicehub' %}
      <li class="breadcrumb-item">ServiceHub</li>
        {% for crumb in crumbs offset: 3 %}
          {% unless forloop.last %}
            <li class="breadcrumb-item">
              {% assign crumb_limit = forloop.index | plus: 3 %}{{ crumb | replace:'-',' ' | remove:'.md' | capitalize }}
            </li>
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for crumb in crumbs offset: 2 %}
          {% unless forloop.last %}
            <li class="breadcrumb-item">
              {% assign crumb_limit = forloop.index | plus: 2 %}{{ crumb | replace:'-',' ' | remove:'.md' | capitalize }}
            </li>
          {% endunless %}
        {% endfor %}
      {% endif %}
    {% else %}
      {% for crumb in crumbs offset: 3 %}
        {% unless forloop.last %}
        <li class="breadcrumb-item">
          {% assign crumb_limit = forloop.index | plus: 3 %}{{ crumb | replace:'-',' ' | remove:'.md' | capitalize }}
        </li>
        {% endunless %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
