{% assign crumbs = include.url | split : '/' %}

{% assign version = include.release %}
{% if include.is_latest %}
  {% assign version = "latest" %}
{% endif %}

{% assign offset = 3 %}
{% if include.no_version == true %}
  {% assign offset = 2 %}
{% endif %}

{% if include.edition == 'konnect' %}
  {% capture product_url %}/konnect/{% endcapture %}
  {% capture product_title %}{{site.konnect_saas}}{% endcapture %}
{% elsif include.edition == 'mesh' %}
  {% capture product_url %}/mesh/{% unless include.no_version == true %}{{version}}/{% endunless %}{% endcapture %}
  {% capture product_title %}{{site.mesh_product_name}}{% endcapture %}
{% elsif include.edition == 'deck' %}
  {% capture product_url %}/deck/{% endcapture %}
  {% capture product_title %}decK{% endcapture %}
{% elsif include.edition == 'kubernetes-ingress-controller' %}
  {% capture product_url %}/kubernetes-ingress-controller/{{version}}/{% endcapture %}
  {% capture product_title %}{{site.kic_product_name}}{% endcapture %}
{% elsif include.edition == 'gateway' %}
  {% capture product_url %}/gateway/{{version}}/{% endcapture %}
  {% capture product_title %}{{ site.base_gateway }}{% endcapture %}
{% elsif include.edition == 'gateway-operator' %}
  {% capture product_url %}/gateway-operator/{{version}}/{% endcapture %}
  {% capture product_title %}{{ site.kgo_product_name }}{% endcapture %}
{% elsif include.edition == 'contributing' %}
  {% capture product_url %}/contributing/{% endcapture %}
  {% capture product_title %}Style guide and contribution guidelines{% endcapture %}
{% endif %}

  <ul class="breadcrumbs">
    <li class="breadcrumb-item">
      <a href="/">
        <img src="/assets/images/icons/hub-layout/icn-breadcrumbs.svg" alt="Home icon">
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="{{ product_url }}">{{ product_title }}</a>
    </li>

    {% assign breadcrumb_url = product_url %}
    {% for crumb in crumbs offset: offset %}
      {% assign title = crumb | strip | remove:'.md' | titleize %}

      {% if title == "Servicehub" %}{% assign title = "Service Hub" %}{% endif %}

      {% capture breadcrumb_url %}{{ breadcrumb_url }}{{ crumb }}/{% endcapture %}
      {% capture breadcrumb_exists %}{% page_exists {{breadcrumb_url}} %}{% endcapture %}

      {% assign bc_title = breadcrumb_url | breadcrumb_title %}
      {% if bc_title %}
        {% assign title = bc_title %}
      {% endif %}

      {% if breadcrumb_url != page.url or page.is_dir_index %}
        <li class="breadcrumb-item">
          {% if breadcrumb_exists == 'true' %}
          <a href="{{ breadcrumb_url }}">{{ title }}</a>
          {% else %}
          {{ title }}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}

    {% assign page_title = page.title %}
    {% if page.breadcrumb %}
      {% assign page_title = page.breadcrumb %}
    {% endif %}
    <li class="breadcrumb-item">
      <a href="{{ page.url }}">{{ page_title }}</a>
    </li>
  </ul>
