<aside class="docs-sidebar">
  <i class="fa fa-times close-sidebar"></i>
  {% if page.edition == 'enterprise' %}
  {% assign docs_url = '/enterprise/' | append: page.kong_version %}
  {% elsif page.edition == 'studio' %}
  {% assign docs_url = '/studio/' | append: page.kong_version %}
  {% elsif page.edition == 'getting-started-guide' %}
  {% assign docs_url = '/getting-started-guide/' | append: page.kong_version %}
  {% elsif page.edition == 'mesh' %}
  {% assign docs_url = '/mesh/' | append: page.kong_version %}
  {% elsif page.edition == 'konnect' %}
  {% assign docs_url = '/konnect' %}
  {% elsif page.edition == 'kubernetes-ingress-controller' %}
  {% assign docs_url = '/kubernetes-ingress-controller/' | append: page.kong_version %}
  {% elsif page.edition == 'deck' %}
  {% assign docs_url = '/deck' %}
  {% else %}
  {% assign docs_url = '/' | append: page.kong_version %}
  {% endif %}

  <ul class="accordion-container">
    {% for nav in page.nav_items %}
    {% include docs-sidebar-item.html id=forloop.index docs_url=docs_url items=nav.items url=nav.url absolute_url=nav.absolute_url icon=nav.icon title=nav.title %}
    {% endfor %}
  </ul>
</aside>
