{% assign keys = '' | split: '' %}

<table class="features-table">
  <thead>
    <tr>
      <th></th>
      {% for c in include.config.columns %}
      {% assign key = c.key | split: ' ' %}
      {% assign keys = keys | concat: key %}
        <th class="product-name">
          <span class="mobile-label">{{ c.name }}</span>
          {% if c.image %}
          <img src="{{ c.image }}" alt="{{ c.name }}"/>
          {% else %}
          <strong class="product-title">{{ c.name }}</strong>
          {% endif %}
          {% if c.cta_link %}
          <a class="feature-cta" href="{{ c.cta_link }}" target="_blank">{{ c.cta }}</a>
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for f in include.config.features %}
      {% if f.name != "Observability" %}
      <tr>
        <td class="header-row">
          <span>{{ f.name }}</span>
        </td>
        <td class="no-mobile"></td>
        {% unless include.columns == "2" %}
          <td class="no-mobile"></td>
        {% endunless %}
      </tr>
      {% for i in f.items %}
        <tr>
          <td>
            {% if i.url %}
              <a href="{{ i.url | replace: 'VERSION', page.kong_version}}"> {{ i.name }}</a>
            {% else %}
              {{ i.name }}
            {% endif %}
            {% if i.tooltip %}
              {% info_tooltip %}
              {{ i.tooltip }}
              {% endinfo_tooltip %}
            {% endif %}
          </td>
          {% for k in keys %}
          {% assign k_text = k | append: "_text" %}
          <td>
            {% if i[k_text] %}
              {{ i[k_text] }}
            {% else %}
            <i class="fa fa-{% if i[k] %}check{% else %}times{% endif %}"></i>
            {% endif %}
          </td>
          {% endfor %}
        </tr>
      {% endfor %}
      {% endif %}
    {% endfor %}
  </tbody>
</table>
