<div class="feedback-widget-container">
  <input id="feedback-widget-checkbox" type="checkbox">
  <label for="feedback-widget-checkbox">
    <img src="/assets/images/icons/feedback-widget.svg" alt="Feedback widget"/>
  </label>
  <div class="feedback-container">
    <div class="feedback-thankyou">
      Thank you for your feedback.
    </div>
    <div class="feedback-comment">
      <textarea id="feedback-comment-text" rows="3" placeholder="Please let us know what we can improve on this page..."></textarea>
      <div class="feedback-comment-buttons">
        <button id="feedback-comment-button-back">Back</button>
        <button id="feedback-comment-button-submit" class="button-primary">Submit</button>
      </div>
    </div>
    <div class="feedback-options">
      <div class="feedback-options-title">Was this page useful?</div>
      <div class="feedback-options-buttons">
        <i data-feedback-result="yes" class="feedback-options-button far fa-thumbs-up"></i>
        <i data-feedback-result="no" class="feedback-options-button far fa-thumbs-down"></i>
      </div>
    </div>
  </div>
</div>
