<footer class="footer">
  {% if page.hide_subscribe == null %}
    {% include subscribe.html %}
  {% endif %}

  <div class="footer-bar">
    <div class="container">
      <ul class="footer-social">
        <li>
          <a class="github-button" href="{{ site.repos.kong }}" data-icon="octicon-star" data-count-href="/mashape/kong/stargazers" data-count-api="/repos/mashape/kong#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star mashape/kong on GitHub">Star</a>
        </li>
        <li>
          <div class="fb-share-button" data-href="{{ site.links.share }}" data-layout="button_count"></div>
        </li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.links.share }}" data-text="KONG - the open-source management layer for APIs and Microservices" data-hashtags="opensource,API,management">Tweet</a>
        </li>
        <li>
          <iframe src="//www.yvoschaap.com/producthunt/counter.html#href={{site.links.share }}&amp;layout=wide" width="120" height="25" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </li>
      </ul>
    <span>
      <a href="https://mashape.com">
        <img src="/assets/images/branding-footer.svg" alt="Mashape" width="22" height="26"/>
        &copy; <strong>2015 Mashape Inc</strong>
      </a>
    </span>
      <span class="footer-separator"></span>
      <span class="footer-nav">
        <a href="/license">License</a>
        <a href="/terms">Terms</a>
        <a href="/privacy">Privacy</a>
        <a href="/enterprise">Enterprise</a>
        <a href="http://blog.mashape.com/category/open-source/" target="_blank">News</a>
      </span>
    </div>
  </div>
</footer>
