{% capture description %}
{% t _includes.gateway-support.tab_description %}
{% endcapture %}

{{ description | markdownify }}

<table style="display: table;" width="100%">
  <thead>
    <tr>
      <th>{% t _includes.gateway-support.thead.os %}</th>
      <th>{% t _includes.gateway-support.thead.version %}</th>
      <th style="width: 18%">{% t _includes.gateway-support.thead.artifacts %}</th>
      <th>{% t _includes.gateway-support.thead.arm_support %}</th>
      <th>{% t _includes.gateway-support.thead.fips_compliant %}</th>
      <th>{% t _includes.gateway-support.thead.aws_graviton_support %}</th>
      <th>{% t _includes.gateway-support.thead.eol %}</th>
    </tr>
  </thead>
  <tbody>
    {% for d in include.data.distributions %}
      <tr>
        <td>{{ d.os }}</td>
        <td>{{ d.version }}</td>
        <td>
          {% if d.package %}
            <span class='badge package'></span>
          {% endif %}
          {% if d.docker %}
            <span class='badge docker'></span>
          {% endif %}
        </td>
        <td>{{ d.arm | to_check }}</td>
        <td>{{ d.fips | to_check }}</td>
        <td>{{ d.graviton | to_check }}</td>
        <td>
          {% if d.eol %}
            {{ d.eol }}
          {% else %}
            {{ include.eol }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
