{% if page.header_icon && page.header_title %}
<header class="page-header">
  <div class="container">
    {% if page.header_icon %}
    <div class="page-header-icon">
      <img src="{{ page.header_icon }}" alt="" />
    </div>
    {% endif %}
    <div class="page-header-title">
      {% if page.breadcrumbs %}
      <ul class="breadcrumbs">
        {% for breadcrumb in page.breadcrumbs %}
        <li class="breadcrumb-item{% if page.url == breadcrumb[1] %} active{% endif %}"><a href="{{ breadcrumb[1] }}">{{ breadcrumb[0] }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}

      <h1>{{ page.header_title }}</h1>
      {% if page.header_caption %}
      <p>{{ page.header_caption }}</p>
      {% endif %}
    </div>

    {% if page.header_btn_text %}
    <a class="page-header-btn" href="{{ page.header_btn_href }}">{{ page.header_btn_text }}</a>
    {% endif %}
  </div>
</header>
{% endif %}
