<head>
  <meta charset="utf-8"/>
  <title>{{ page.title | escape }}{% if page.version %} | Documentation v{{ page.version | escape }}{% endif %} | {{ site.name }}</title>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="google-site-verification" content="7me2nZm-wWgDM4uoD1sJ18amVbNSpsbLR0ll8OG6b_A" />
  <link rel="stylesheet" href="//cloud.typography.com/7506032/804186/css/fonts.css"/>
  <link rel="stylesheet" href="/assets/styles.css"/>
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico"/>
  <meta property="fb:admins" content="227304446"/>
  <meta property="fb:admins" content="576641408" />
  <meta property="og:title" content="Kong by Mashape" />
  <meta property="og:site_name" content="Kong by Mashape"/>
  <meta property="og:url" content="http://getkong.org" />
  <meta property="og:description" content="Kong is the Next Generation RESTful API Management Platform to secure, manage & extend your APIs or Microservices. Made with Love by Mashape." />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content="http://getkong.org/share.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@mashape" />
  <meta name="twitter:creator" content="@mashape" />
  <meta name="twitter:url" content="http://getkong.org" />
  <script type="application/ld+json">
    { "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "Mashape",
      "url" : "http://getkong.org/",
      "logo" : "http://getkong.org/assets/images/logo.png",
      "sameAs" : [ "https://www.facebook.com/Mashape",
        "https://twitter.com/mashape",
        "https://plus.google.com/+mashape"]
    }
  </script>
</head>
