{% unless page.name and page.path contains '_hub' %} {% capture page_title %}{{
page.title | escape }}{% if page.kong_version %} - v{{ page.kong_version |
escape }}{% endif %}{% if page.title %} | {% endif %}{{ site.name }} - {{
site.title }}{% endcapture %} {% else %} {% capture page_title %}{{ page.name }}
{{ page.type }} | Kong{% endcapture %} {% endunless %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page_title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="KongHQ" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:site_name" content="{{ site.name }}" />
  <!-- use share link for facebook -->
  <meta property="og:url" content="{{ site.links.share }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta
    property="og:image"
    content="{{ site.links.web }}/assets/images/share.png"
  />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@thekonginc" />
  <meta name="twitter:creator" content="@thekonginc" />
  <meta name="twitter:url" content="{{ site.links.web }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta
    name="twitter:image"
    content="{{ site.links.web }}/assets/images/share.png"
  />
  <meta property="fb:admins" content="227304446" />
  <meta property="fb:admins" content="576641408" />
  <meta
    name="google-site-verification"
    content="CrU3zp02dNKTe8NSAipL4NCPkrIjDXG8fViTZ-MIzP4"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
    integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous"
  />

  <!-- New Relic -->
  {% include newrelic.html %}

  <!-- FullStory -->
  <!-- {% include fullstory.html %} -->

  <!-- Delighted -->
  {% include delighted.html %}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "KongHQ",
      "url": "{{site.links.web}}",
      "logo": "{{site.links.web}}/assets/images/logo.png",
      "sameAs": [
        "https://www.facebook.com/konginc",
        "https://twitter.com/thekonginc",
        "https://plus.google.com/+mashape"
      ]
    }
  </script>

  <!-- Preload assets -->
  <link rel="dns-prefetch" href="//cloud.typography.com" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    rel="stylesheet"
  />
  <link rel="dns-prefetch" href="//dev.visualwebsiteoptimizer.com" />
  <link rel="dns-prefetch" href="//cdn.segment.com" />

  <!-- Recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <!-- ##gulp-resource-hints## -->

  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"
  />
  <link
    rel="stylesheet"
    href="/assets/styles.css?v={{ site.time | date: '%s' }}"
  />

  <script>
    !(function(w) {
      var clearbit = (w.clearbit = w.clearbit || []);
      if (!clearbit.initialize)
        if (clearbit.invoked)
          w.console &&
            console.error &&
            console.error("Clearbit snippet included twice.");
        else {
          clearbit.invoked = !0;
          clearbit.methods = [
            "trackSubmit",
            "trackClick",
            "trackLink",
            "trackForm",
            "pageview",
            "identify",
            "reset",
            "group",
            "track",
            "ready",
            "alias",
            "page",
            "once",
            "off",
            "on"
          ];
          clearbit.factory = function(t) {
            return function() {
              var e = Array.prototype.slice.call(arguments);
              e.unshift(t);
              clearbit.push(e);
              return clearbit;
            };
          };
          for (var t = 0; t < clearbit.methods.length; t++) {
            var e = clearbit.methods[t];
            clearbit[e] = clearbit.factory(e);
          }
          clearbit.load = function(t) {
            var e = document.createElement("script");
            e.async = !0;
            e.src =
              ("https:" === document.location.protocol
                ? "https://"
                : "http://") +
              "x.clearbitjs.com/v1/" +
              t +
              "/clearbit.js";
            var n = document.getElementsByTagName("script")[0];
            n.parentNode.insertBefore(e, n);
          };
          clearbit.SNIPPET_VERSION = "3.1.0";
          clearbit.load("pk_1bdbdbad26342e32516473510e95c3ff");
          clearbit.page();
        }
    })(window);
  </script>

  {% if page.path == "_hub/index.html" %}
  <link
    rel="stylesheet"
    href="/assets/hub.css?v={{ site.time | date: '%s' }}"
  />
  {% endif %}

  {% assign latest_page_url = page.url | replace: page.kong_version, page.kong_latest.release %}
  {% capture latest_page_exists %}{% page_exists {{latest_page_url}} %}{% endcapture %}

  {% if page.kong_version == page.kong_latest.release and page.no_version != true %}<link rel="canonical" href="{{ site.links.web }}{{ page.url }}" />
    {% elsif latest_page_exists == 'true' %}<link rel="canonical" href="{% capture latest_path %}{{ site.links.web }}{% assign latest_page_url = page.url | replace: page.kong_version, page.kong_latest.release %}{{ latest_page_url }}{% endcapture %}{{ latest_path }}" />
  {% endif %}

</head>

<!-- Kong Cookie Policy -->
{% include cookie-policy.html %}
