{% if include.img %}
  {% assign header_icon = include.img %}
{% endif %}
{% if include.name %}
  {% assign header_title = include.name %}
{% endif %}

{% if header_title %}
  <header class="page-header">
    <div class="container">
      {% if header_icon %}
        <div class="page-header-icon">
          <img src="{{ header_icon }}" alt="header icon"/>
        </div>
      {% endif %}

      <div class="page-header-title">
        {% if include.breadcrumbs %}
          <ul class="breadcrumbs install">
            {% for breadcrumb in include.breadcrumbs %}
              <li class="breadcrumb-item{% if include.url == breadcrumb[1] %} active{% endif %}">
                {% if include.id == 'page-plugin' %}
                  <a href="https://konghq.com/plugins">Plugins</a>
                {% else %}
                  <a href="{{ breadcrumb[1] }}">{{ breadcrumb[0] }}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        <h1 id="main" tabindex="-1">{{ header_title }}</h1>
        <div class="badge-container">
        {% if include.publisher == "Kong Inc." %}
           {% unless include.cloud == false %}<a href="https://cloud.konghq.com" target="_blank" class="badge konnect" aria-label="compatible with Konnect"></a>{% endunless %}
           {% if include.plus %} <a href="https://konghq.com/pricing" target="_blank" class="badge plus" aria-label="available with plus subscription"></a>{% endif %}
        {% endif %}
        {% if include.enterprise %}<a href="https://konghq.com/pricing" target="_blank" class="badge enterprise" aria-label="available with enterprise subscription"></a>{% endif %}
        {% if include.oss %}<a href="https://konghq.com/pricing" target="_blank" class="badge oss" aria-label="open-source only"></a>{% endif %}
        </div>
      </div>
      {% if include.extn_versions %}
        {% unless include.is_latest %}
          <div class="old-version-banner">
          You are browsing documentation for an outdated plugin version.
          See the <a href="/hub/{{ include.extn_publisher }}/{{ include.extn_slug }}/">latest documentation here</a>.
          </div>
        {% endunless %}
      {% endif %}
    </div>
  </header>
{% endif %}
