{%- assign hub_examples = page.hub_examples -%}

{% capture global_content %}
{%- include plugins/hub-examples/global.html hub_example=hub_examples.global -%}
{% endcapture %}

{% if hub_examples.navtabs? %}
  {% navtabs parent %}
    {% if hub_examples.service %}
      {% navtab Enable on a service %}
        {%- include plugins/hub-examples/service.html hub_example=hub_examples.service -%}
      {% endnavtab %}
    {% endif %}

    {% if hub_examples.route %}
      {% navtab Enable on a route %}
        {%- include plugins/hub-examples/route.html hub_example=hub_examples.route -%}
      {% endnavtab %}
    {% endif %}

    {% if hub_examples.consumer %}
      {% navtab Enable on a consumer %}
        {%- include plugins/hub-examples/consumer.html hub_example=hub_examples.consumer -%}
      {% endnavtab %}
    {% endif %}

    {% navtab Enable globally %}
      {{ global_content | markdownify }}
    {% endnavtab %}
  {% endnavtabs %}
{% else %}
  {{ global_content | markdownify }}
{% endif %}
