{%- assign hub_examples = include.hub_examples -%}

{% if include.title %}
  <h3 id="{{ include.title | slugify }}">{{ include.title }}</h3>
{% endif %}

{% capture global_content %}
{%- include plugins/hub-examples/global.html hub_example=hub_examples.global render_intro_text=include.render_intro_text -%}
{% endcapture %}

{% if hub_examples.navtabs? %}
  {% navtabs parent %}
    {% if hub_examples.enable_on_service? %}
      {% capture tab_name %}{% t _includes.plugins.hub-examples.enable_on_a_resource resource="service" %}{% endcapture %}
      {% navtab tab_name %}
        {%- include plugins/hub-examples/service.html hub_example=hub_examples.service render_intro_text=include.render_intro_text -%}
      {% endnavtab %}
    {% endif %}

    {% if hub_examples.enable_on_route? %}
      {% capture tab_name %}{% t _includes.plugins.hub-examples.enable_on_a_resource resource="route" %}{% endcapture %}
      {% navtab tab_name %}
        {%- include plugins/hub-examples/route.html hub_example=hub_examples.route render_intro_text=include.render_intro_text -%}
      {% endnavtab %}
    {% endif %}

    {% if hub_examples.enable_on_consumer? %}
      {% capture tab_name %}{% t _includes.plugins.hub-examples.enable_on_a_resource resource="consumer" %}{% endcapture %}
      {% navtab tab_name %}
        {%- include plugins/hub-examples/consumer.html hub_example=hub_examples.consumer render_intro_text=include.render_intro_text -%}
      {% endnavtab %}
    {% endif %}

    {% if hub_examples.enable_on_consumer_group? %}
      {% capture tab_name %}{% t _includes.plugins.hub-examples.enable_on_a_resource resource="consumer group" %}{% endcapture %}
      {% navtab tab_name %}
        {%- include plugins/hub-examples/consumer_groups.html hub_example=hub_examples.consumer_group render_intro_text=include.render_intro_text -%}
      {% endnavtab %}
    {% endif%}

    {% if hub_examples.enable_globally? %}
      {% capture tab_name %}{% t _includes.plugins.hub-examples.enable_globally %}{% endcapture %}
      {% navtab tab_name %}
        {{ global_content | markdownify }}
      {% endnavtab %}
    {% endif %}
  {% endnavtabs %}
{% else %}
  {{ global_content | markdownify }}
{% endif %}
