{%- assign extn_publisher = extn.extn_publisher -%}
{%- assign badges = extn.badges -%}
{%- assign categories = extn.categories | join: ' ' -%}
{%- assign css_classes = extn.type | append: ' ' | append: categories -%}
{%- if badges.konnect? -%}
  {%- assign css_classes =  css_classes | append: " konnect" -%}
{%- endif -%}
{%- if badges.enterprise? -%}
  {%- if categories == "ai" -%}
    {%- assign css_classes =  css_classes | append: " ai-enterprise" -%}
  {%- else -%}
    {%- assign css_classes =  css_classes | append: " enterprise" -%}
  {%- endif -%}
{%- endif -%}
{%- if badges.premiumpartner? -%}
  {%- assign css_classes =  css_classes | append: " premiumpartner" -%}
{%- endif -%}
{%- if badges.oss? -%}
  {%- assign css_classes =  css_classes | append: " oss" -%}
{%- endif -%}
{%- unless extn.enterprise -%}
  {%- assign css_classes = css_classes | append: " open-source" -%}
{%- endunless -%}
{%- if extn.free == true -%}
  {%- assign css_classes = css_classes | append: " free" -%}
{%- endif -%}
{%- if extn_publisher == 'kong-inc' -%}
  {%- assign css_classes = css_classes | append: " gateway" | append: " kong-inc" -%}
{%- else -%}
  {%- assign unsupported_plugin_classes = " pub-not-konghq pub-" | append: extn_publisher | append: ' none ' -%}
  {%- assign css_classes = css_classes | append: unsupported_plugin_classes -%}
{%- endif -%}
<div class="plugin-card {{ css_classes }}">
  <a href="{{ extn.url | remove: 'index.html' }}" title="{{ extn.name }}: {{ extn.desc }}">
    <div class="plugin-card--content">
      <div class="plugin-card--meta">
        <div class="plugin-card--meta__name" data-search="{{ extn.search_aliases | join: ', ' }}">
          <img src="{{ extn.extn_icon }}" alt="{{ extn.name }} icon" />
          <p>{{ extn.name }}</p>
        </div>
        <div class="plugin-card--meta__badges">
          {% if badges.konnect? %}
            <span class="badge konnect"></span>
          {% endif %}
          {% if badges.enterprise? %}
            <span class="badge enterprise"></span>
          {% endif %}
          {% if badges.premiumpartner? %}
          <span class="badge premiumpartner"></span>
          {% endif %}
          {% if badges.oss? %}
            <span class="badge oss"></span>
          {% endif %}
        </div>
        <div class="plugin-card--meta__description">{{ extn.desc }}</div>
      </div>
    {% if extn_publisher == "kong-inc" %}
      <div class="plugin-card--publisher">
    {% else %}
      <div class="plugin-card--publisher third-party">
    {% endif %}
        <div class="plugin-card--publisher__support">Support by:</div>
        <div class="plugin-card--publisher__name">
          {% if extn_publisher == "kong-inc" %}
            {% include svgs.html img='team-kong-icon' %}
          {% else %}
            {{ extn.publisher }}
          {% endif %}
        </div>
      </div>
    </div>
  </a>
</div>
