{%- assign extn_publisher = extn.extn_publisher -%}
{%- assign categories = extn.categories | join: ' ' -%}
{%- assign css_classes = {{ extn.type | append: ' ' | append: categories -%}
{%-if extn_publisher == 'kong-inc' -%}
  {%- assign css_classes = css_classes | append: " gateway" -%}
  {%- if extn.kong_version_compatibility.enterprise_edition.compatible != nil -%}
    {%- assign css_classes = css_classes | append: " ee-compat" -%}
  {%- endif -%}
  {%- if extn.plus or extn.kong_version_compatibility.community_edition.compatible != nil -%}
    {%- unless extn.cloud == false -%}
      {%- assign css_classes =  css_classes | append: " plus" -%}
    {%- endunless -%}
  {%- endif -%}
  {%- if extn.enterprise -%}
    {%- assign css_classes = css_classes | append: " enterprise" -%}
  {%- else -%}
    {%- assign css_classes = css_classes | append: " open-source" -%}
  {%- endif -%}
  {%- unless extn.cloud == false -%}
    {%- assign css_classes = css_classes | append: " konnect" -%}
  {%- endunless -%}
{%- else -%}
  {%- assign third_party_classes = " pub-not-konghq pub-{{extn_publisher}}" -%}
  {%- assign css_classes = css_classes | append: third_party_classes -%}
{%- endif -%}
<div class="card-group {{ css_classes }}">
  <div class="plugin-card">
    <a href="{{ extn.url | remove: 'index.html' }}" title="{{ extn.name }}: {{ extn.desc }}">
      <div>
        <div class="name-desc">
          {% if extn.plus and extn_publisher == 'kong-inc' %}
          <span class="plugin-badge plus"></span>{% endif %}
          {% if extn.enterprise %}
          <span class="plugin-badge enterprise"></span> {% endif %}
          <img class="card-img-top" src="{{ extn.extn_icon }}" alt="" />
          <p class="plugin-name">{{ extn.name }}</p>
          <p class="plugin-desc">{{ extn.desc }}</p>
        </div>
        <div class="publisher">
          Support by:<br>
          {% if extn_publisher == "kong-inc" %}
            {% include svgs.html img='team-kong-icon' %}
          {% else %}
            {{ extn.publisher }}
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</div>
