{% assign path_array = extn.path | split: "/" %}
{% assign filename = path_array | last %}
{% assign extn_slug = path_array[2] %}
{% assign extn_publisher = path_array[1] %}
{% capture extn_id %}{{ extn_publisher }}_{{ extn_slug }}{% endcapture %}
{% if filename == "index.md" and extn.type %}
  {% if page.header_icon %}
    {% assign header_icon = page.header_icon %}
  {% else %}
    {% capture header_icon %}/_assets/images/icons/hub/{{ extn_id }}.png{% endcapture %}
  {% endif %}
  {% assign extn_slug_array = extn_slug | split: "-" %}
  <div class="col-12 col-md-6 col-lg-4 my-1x card-group">
    <div class="card plugin-card align-items-center {{ extn.type }} {{ extn.categories | join: ' ' }} {% if extn_publisher == 'kong-inc' %}pub-konghq {% if extn.enterprise %}enterprise{% else %}open-source{% endif %} {% else %}pub-not-konghq pub-{{extn_publisher}}{% endif %}">
      <a href="{{ extn.url | remove: '/index' }}">
        <div>
          <div class="name-desc">
            <img class="card-img-top" src="{{ header_icon }}" />
            <p class="lg mt-1x fw-500">{{ extn.name }}</p>
            <p class="sm">{{ extn.desc }}</p>
          </div>
          <div class="publisher">
            Support by:<br>
            {% if extn_publisher == "kong-inc" %}
              {% include svgs.html img='team-kong-icon' %}
            {% else %}
              {{ extn.publisher }}
            {% endif %}
          </div>
        </div>
      </a>
    </div>
  </div>
{% endif %}
