{% if include.header == "no-header" %}
<div class="docs-grid-install">
  {% for f in include.config.features %}
    {% for i in f.items %}
      {% if i.url %}
        <a href="{{ i.url | replace: 'VERSION', page.release }}" class="docs-grid-install-block no-description">
          <img class="install-icon" src="{{ i.icon }}" alt="" />
          <div class="install-text">{{ i.name }}</div>
        </a>
      {% else %}
        <div class="docs-grid-install-block no-description">
          <img class="install-icon" src="{{ i.icon }}" alt="" />
          <div class="install-text">{{ i.name }}</div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

{% else %}

{% for f in include.config.features %}
  <h2>{{ f.name }}</h2>

  <div class="docs-grid-install">
    {% for i in f.items %}
      {% if i.url %}
        <a href="{{ i.url | replace: 'VERSION', page.release }}" class="docs-grid-install-block no-description">
          <img class="install-icon" src="{{ i.icon }}" alt="" />
          <div class="install-text">{{ i.name }}</div>
        </a>
      {% else %}
        <div class="docs-grid-install-block no-description" style="cursor: default">
          <img class="install-icon" src="{{ i.icon }}" alt="" />
          <div class="install-text">{{ i.name }}</div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}

{% endif %}
