<form accept-charset="UTF-8" method="post" action="http://go.konghq.com/l/392112/2018-08-14/bgzcp6" class="form pardot-form2">
    <input type="text" name="email" id="email" class="text" size="30" placeholder="Email" maxlength="255">
    <input type="hidden" name="utm_source">
    <input type="hidden" name="utm_campaign">
    <input type="hidden" name="utm_medium">
    <input type="hidden" name="utm_content">
    <input type="hidden" name="utm_term">
    <input type="submit" class="button" accesskey="s" value="Notify me">
    <div class="message"></div>
</form>