<noscript>
    <iframe src="http://go.mashape.com/l/392112/2017-08-16/b2qn8v" width="100%" height="100" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
</noscript>
<script type="text/javascript">
    var form = 'http://go.mashape.com/l/392112/2017-08-16/b2qn8v';
    var params = window.location.search;
    var thisScript = document.scripts[document.scripts.length - 1];
    var iframe = document.createElement('iframe');

    iframe.setAttribute('src', form + params);
    iframe.setAttribute('width', '100%');
    iframe.setAttribute('height', 100);
    iframe.setAttribute('type', 'text/html');
    iframe.setAttribute('frameborder', 0);
    iframe.setAttribute('allowTransparency', 'true');
    iframe.style.border = '0';

    thisScript.parentElement.replaceChild(iframe, thisScript);
</script>
