{% for c in site.data.tables.breaking_changes_lts.categories %}
<h3 id="{{ c.name | slugify }}">{{ c.name }}</h3>
<p>{{ c.desc | markdownify }}</p>
<table>
  <thead>
    <th>{% t _includes.lts-changes.thead.change %}</th>
    <th>{% t _includes.lts-changes.thead.category %}</th>
    {% unless c.key == 5 %}
    <th>{% t _includes.lts-changes.thead.action_required %}</th>
    {% endunless %}
  </thead>
  <tbody>
    {% for e in site.data.tables.breaking_changes_lts.entries %}
      {% if c.key == e.category %}
        <tr>
            <td>
                <span>{{ e.description | markdownify }}</span>
            </td>
            <td>
                <span>{{ e.area | markdownify }}</span>
            </td>
            {% unless e.category == 5 %}
            <td>
                <span>{{ e.action | strip-html | markdownify }}</span>
            </td>
            {% endunless %}
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
{% endfor %}
