<header class="navbar-v2 closed">
  <a class="skip-main" href="#main">{% t _includes.nav-v2.skip_main %}</a>
  <!-- uncomment the promo-banner div when adding a new promo banner-->
  <!--also uncomment the promo banner sections in app/assets/stylesheets/header.less and application.js-->
  <!-- <div id="promo-banner">
    <div class="container">
      <div class="closebanner"></div> <strong>Kong Gateway users, share your feedback and enter for a chance to win a $100 gift card!<a href="https://forms.gle/W57twHijT7kLXKu66">Take Survey &rarr;</a> </strong>
    </div>
  </div>-->
  <div class="navbar-content">
    <a href="https://konghq.com" class="navbar-brand col col-xl-auto" target="_blank" rel="noopener noreferrer" data-skip-external-links-hook=true>
      <img src="/assets/images/logos/konglogo-dark-theme.svg" alt="Kong Logo" id="kong-logo">
    </a>
    <span class="logo-divider">|</span>
    <a href="/" class="navbar-brand col col-xl-auto">
      <img src="/assets/images/logos/docslogo-dark-theme.svg" alt="Kong Docs Logo" id="kong-docs-logo">
    </a>

    <div class="separator mobile"></div>
      <div class="search-input-wrapper" id="getkong-algolia-search-input">
    </div>

    <div class="search-results-wrapper"></div>

    <div class="navbar-items" role="navigation" aria-label="Main menu">
      <ul class="navbar-items" role="menubar">
        <li id="top-module-list" aria-haspopup="true" role="menuitem" aria-expanded="false"
          class="navbar-item main-menu-item with-submenu {% if include.layout != 'landing-page' %} active{% endif %}"
        >
          <span tabindex="0" id="docs-link" class="main-menu-item-title">{% t _includes.nav-v2.navbar.docs %}</span>
          <span class="caret"></span>
          <ul class="navbar-item-submenu" role="menu">
            <div class="submenu-section">
              <li role="menuitem" class="docs-dropdown-li">
                <a href="/api/" class="docs-dropdown-li__link" tabindex="-1">
                  <div class="docs-dropdown-li__card">
                    <span class="heading">{% t _includes.nav-v2.explore_the_api_specs %}</span>
                    <div class="docs-dropdown-li__card-link">
                      <img src="/assets/images/landing-page/view-all-api-specs.png" alt="View all API Specs">
                      <span class="docs-dropdown-li__card-image">
                        {% t _includes.nav-v2.view_all_api_specs %}
                        <img src="/assets/images/landing-page/arrow-right.svg" alt="View all API Specs arrow image">
                      </span>
                    </div>
                  </div>
                </a>
              </li>

              <li role="menuitem" class="docs-dropdown-li" tabindex="-1">
                <div class="docs-dropdown-li__section">
                  <div class="docs-dropdown-li__section-title">
                    <span class="heading">{% t _includes.nav-v2.documentation %}</span>
                  </div>

                  <div class="docs-dropdown-li__section-items">
                    <a class="item item-all" href="/api/" tabindex="-1">
                      <div class="item__description">
                        <div class="item__description-title">API Specs</div>
                      </div>
                    </a>

                    {% for doc_menu_item in site.data.docs_top_nav %}
                      <a class="item" href="{{ doc_menu_item.url }}" tabindex="-1">
                        {% if doc_menu_item.icon %}
                        <div>
                          <img src="{{ doc_menu_item.icon }}" alt="{{ doc_menu_item.name }}'s icon">
                        </div>
                        {% endif %}
                        <div class="item__description">
                          <div class="item__description-title">{{ doc_menu_item.name }}</div>
                          <div class="item__description-desc">{{ doc_menu_item.desc }}</div>
                        </div>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </li>

            </div>
          </ul>
        </li>

        <li
          role="menuitem"
          aria-haspopup="true"
          aria-expanded="false"
          class="navbar-item main-menu-item with-submenu navbar-item-hub"
        >
          <span id="plugin-link" class="main-menu-item-title" tabindex="0">{% t _includes.nav-v2.navbar.plugin_hub %}</span>
          <span class="caret"></span>
          <ul class="navbar-item-submenu" role="menu">
            <div class="submenu-section">
              <li role="menuitem" class="docs-dropdown-li">
                <a href="/hub/" class="docs-dropdown-li__link" tabindex="-1">
                  <div class="docs-dropdown-li__card">
                    <span class="heading">{% t _includes.nav-v2.explore_the_plugin_hub %}</span>
                    <div class="docs-dropdown-li__card-link">
                      <img src="/assets/images/landing-page/view-all-plugins.svg" alt="View all plugins">
                      <span class="docs-dropdown-li__card-image">
                        {% t _includes.nav-v2.view_all_plugins %}
                        <img src="/assets/images/landing-page/arrow-right.svg" alt="View all plugins arrow image">
                      </span>
                    </div>
                  </div>
                </a>
              </li>

              <li role="menuitem" class="docs-dropdown-li">
                <div class="docs-dropdown-li__section">
                  <div class="docs-dropdown-li__section-title">
                    <span class="heading">{% t _includes.nav-v2.functionality %}</span>
                    <a href="/hub/" class="view-all" tabindex="-1">
                      {% t _includes.nav-v2.view_all %}
                      <img src="/assets/images/landing-page/arrow-right.svg" alt="View all arrow image">
                    </a>
                  </div>

                  <div class="docs-dropdown-li__section-items">
                    <a class="item item-all" href="/hub/" tabindex="-1">
                      <div class="item__description">
                        <div class="item__description-title">{% t _includes.nav-v2.view_all_plugins %}</div>
                      </div>
                    </a>

                    {% for category in site.data.extensions.categories %}
                      <a class="item" href="/hub/?category={{ category.slug }}" tabindex="-1">
                        <div>
                          <img src="{{ category.icon }}" alt="{{ category.name }}'s icon">
                        </div>
                        <div class="item__description">
                          <div class="item__description-title">{{ category.name }}</div>
                          <div class="item__description-desc">{{ category.desc }}</div>
                        </div>
                      </a>
                    {% endfor %}

                  </div>
                </div>
              </li>
            </div>
          </ul>
        </li>
        <li role="menuitem" class="main-menu-item">
          <a href="https://support.konghq.com/" class="navbar-item">{% t _includes.nav-v2.navbar.support %}</a>
        </li>
        <li role="menuitem" class="main-menu-item">
          <a href="https://konghq.com/community/" class="navbar-item" target="_blank" rel="noopener noreferrer" data-skip-external-links-hook=true>{% t _includes.nav-v2.navbar.community %}</a>
        </li>
        <li role="menuitem" class="main-menu-item">
          <a href="{{site.links.learn}}" class="navbar-item">{% t _includes.nav-v2.navbar.kong_academy %}</a>
        </li>
      </ul>
      <a id="top-cta" href="https://konghq.com/contact-sales?utm_source=docs.konghq.com" class="navbar-button" target="_blank">
        {% t _includes.nav-v2.navbar.buttons.top_cta %}
      </a>
      <a id="konnect-cta" href="https://konghq.com/products/kong-konnect/register?utm_medium=referral&utm_source=docs&utm_campaign=gateway-konnect&utm_content=top-nav" class="navbar-button" target="_blank">
        {% t _includes.nav-v2.navbar.buttons.konnect_cta %}
      </a>
    </div>
    <div id="navbar-menu-toggle-button" class="small-screen-button" aria-label="Toggle navigation">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</header>
