<header class="navbar-v2">
  <a class="skip-main" href="#main">{% t _includes.nav-v2.skip_main %}</a>
  <!-- uncomment the promo-banner div when adding a new promo banner-->
  <!--also uncomment the promo banner sections in app/assets/stylesheets/header.less and application.js-->
  {% if site.locale == site.default_locale %}
  <div id="promo-banner">
    <div class="container">
      <strong>
        You are browsing the Kong Gateway documentation archive for version 2.8.
        This documentation is no longer actively maintained.
         <a href="{{include.dev_site_link}}" data-skip-external-links-hook=true>Please see the latest Kong Gateway documentation.</a>
      </strong>
    </div>
  </div>
  {% endif %}
  <div class="navbar-content">
    <a href="https://konghq.com" class="navbar-brand col col-xl-auto" target="_blank" rel="noopener noreferrer" data-skip-external-links-hook=true>
      <img src="/assets/images/logos/konglogo-dark-theme.svg" alt="Kong Logo" id="kong-logo">
    </a>
    <span class="logo-divider">|</span>
    <a href="/" class="navbar-brand col col-xl-auto">
      <img src="/assets/images/logos/docslogo-dark-theme.svg" alt="Kong Docs Logo" id="kong-docs-logo">
    </a>

    <div class="separator mobile"></div>
      <div class="search-input-wrapper" id="getkong-algolia-search-input">
    </div>

    <div class="search-results-wrapper"></div>

    <div class="navbar-items" role="navigation" aria-label="Main menu">
      <ul class="navbar-items" role="menubar">
        <li
          role="menuitem"
          aria-haspopup="true"
          aria-expanded="false"
          class="navbar-item main-menu-item with-submenu navbar-item-hub"
        >
          <span id="plugin-link" class="main-menu-item-title" tabindex="0">{% t _includes.nav-v2.navbar.plugin_hub %}</span>
          <span class="caret"></span>
          <ul class="navbar-item-submenu" role="menu">
            <div class="submenu-section">
              <li role="menuitem" class="docs-dropdown-li">
                <a href="/hub/" class="docs-dropdown-li__link" tabindex="-1">
                  <div class="docs-dropdown-li__card">
                    <span class="heading">{% t _includes.nav-v2.explore_the_plugin_hub %}</span>
                    <div class="docs-dropdown-li__card-link">
                      <img src="/assets/images/landing-page/view-all-plugins.svg" alt="View all plugins">
                      <span class="docs-dropdown-li__card-image">
                        {% t _includes.nav-v2.view_all_plugins %}
                        <img src="/assets/images/landing-page/arrow-right.svg" alt="View all plugins arrow image">
                      </span>
                    </div>
                  </div>
                </a>
              </li>

              <li role="menuitem" class="docs-dropdown-li">
                <div class="docs-dropdown-li__section">
                  <div class="docs-dropdown-li__section-title">
                    <span class="heading">{% t _includes.nav-v2.functionality %}</span>
                    <a href="/hub/" class="view-all" tabindex="-1">
                      {% t _includes.nav-v2.view_all %}
                      <img src="/assets/images/landing-page/arrow-right.svg" alt="View all arrow image">
                    </a>
                  </div>

                  <div class="docs-dropdown-li__section-items">
                    <a class="item item-all" href="/hub/" tabindex="-1">
                      <div class="item__description">
                        <div class="item__description-title">{% t _includes.nav-v2.view_all_plugins %}</div>
                      </div>
                    </a>

                    {% for category in site.data.extensions.categories %}
                      <a class="item" href="/hub/?category={{ category.slug }}" tabindex="-1">
                        <div>
                          <img src="{{ category.icon }}" alt="{{ category.name }}'s icon">
                        </div>
                        <div class="item__description">
                          <div class="item__description-title">{{ category.name }}</div>
                          <div class="item__description-desc">{{ category.desc }}</div>
                        </div>
                      </a>
                    {% endfor %}

                  </div>
                </div>
              </li>
            </div>
          </ul>
        </li>
        <li role="menuitem" class="main-menu-item">
          <a href="https://support.konghq.com/" class="navbar-item">{% t _includes.nav-v2.navbar.support %}</a>
        </li>
        <li role="menuitem" class="main-menu-item">
          <a href="https://konghq.com/community/" class="navbar-item" target="_blank" rel="noopener noreferrer" data-skip-external-links-hook=true>{% t _includes.nav-v2.navbar.community %}</a>
        </li>
        <li role="menuitem" class="main-menu-item">
          <a href="{{site.links.learn}}" class="navbar-item">{% t _includes.nav-v2.navbar.kong_academy %}</a>
        </li>
      </ul>
      <a id="top-cta" href="https://konghq.com/contact-sales?utm_source=docs.konghq.com" class="navbar-button" target="_blank">
        {% t _includes.nav-v2.navbar.buttons.top_cta %}
      </a>
      <a id="konnect-cta" href="https://konghq.com/products/kong-konnect/register?utm_medium=referral&utm_source=docs&utm_campaign=gateway-konnect&utm_content=top-nav" class="navbar-button" target="_blank">
        {% t _includes.nav-v2.navbar.buttons.konnect_cta %}
      </a>
    </div>
    <div id="navbar-menu-toggle-button" class="small-screen-button" aria-label="Toggle navigation">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</header>
