<div class="docs-grid-install max-3">
  {% for i in site.data.tables.konnect.integrations.integrations %}
  <a class="docs-grid-install-block docs-grid-install-block__bottom" href="/konnect/service-catalog/integrations/{{i.slug}}/">
    <img class="install-icon no-image-expand small" src="/assets/images/icons/third-party/{{i.icon }}" style="width:32px" alt="">
    <div class="install-block-column">
     <div class="install-text">
        <span style="font-size: 22px;display:block;margin-bottom:8px;">{{ i.name }}</span>
      </div>
      <div class="install-description">{{i.description}}</div>
      {% if i.events == true %}
      <br>
      <span class="badge events"></span>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>
