<section class="section subscribe-section" id="newsletter">
  <div class="container">
    <header class="section-header">
      <h4>Keep up with the latest features</h4>
    </header>


    <form action="/" class="subscribe-form">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>

      <div class="alert alert-success" role="alert">Thank You!</div>

      <div class="input-group">
        <input type="email" name="email" placeholder="youre@awesome.com" required/>
        <button class="button button-primary" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
</section>
