<section class="section subscribe-section" id="newsletter">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <div class="newsletter-icon col-md-2 mx-auto mx-md-0 mb-1x mb-md-0x">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="newsletter-headline col-auto text-center text-md-left">
          Keep up-to-date with Kong <span class="hidden-sm-down">product releases and</span> news.
        </div>
      </div>
      <div class="one-half column">
        <form accept-charset="UTF-8" method="post" action="https://go.pardot.com/l/392112/2018-10-02/bh8cfd" class="form" id = "subscription_form">
          <input type="text" name="email" id="email" class="text" size="30" placeholder="Email" maxlength="255">
          <div class="error-message message"></div>
          <div class="success-message message"></div>
          <input type="hidden" name="utm_source">
          <input type="hidden" name="utm_campaign">
          <input type="hidden" name="utm_medium">
          <input type="hidden" name="utm_content">
          <input type="hidden" name="utm_term">
          <input type="submit" class="button" accesskey="s" value="Subscribe">
      </div>
    </div>
  </div>
</section>
