<section class="section subscribe-section" id="newsletter">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <div class="newsletter-icon col-md-2 mx-auto mx-md-0 mb-1x mb-md-0x">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="newsletter-headline col-auto text-center text-md-left">
          Keep up-to-date with Kong
          <span class="hidden-sm-down">product releases and</span> news.
        </div>
      </div>
      <div class="one-half column"></div>
    </div>
  </div>
</section>
