<div class="summit-banner bg-summit">
  <a href="https://konghq.com/kong-summit">
    <div class="bg-summit-mask">
      <img class="glow" src="/_assets/images/kong-summit/glow.svg" alt="kong-summit-glow" />
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center">
          <p>Kong Summit - Sept 18-19. <span class="hide_mobile">Join the Microservices and API Revolution!</span>
          <a href="https://konghq.com/kong-summit" class="header_link" alt="Get Your Tickets">REGISTER NOW</a></p>
        </div>
      </div>
    </div>
  </a>
</div>
