<div class="summit-banner bg-summit">
  <a href="https://konghq.com/kong-summit">
    <div class="bg-summit-mask">
      <img class="glow" src="/assets/images/kong-summit/glow.svg" alt="kong-summit-glow" />
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center">
          <p>Kong Summit is coming to SF Sept 18-19! Join the Microservices and API Revolution Today!
          <a href="https://konghq.com/kong-summit" class="btn" alt="Get Your Tickets">REGISTER</a></p>
        </div>
      </div>
    </div>
  </a>
</div>
