@color-text: #043558;
@color-blue: #1155CB;

.accordion-container {
  position: relative;
  margin: 0;
  padding: 0;

  li.accordion-item {
    list-style: none;
    margin: 0;

    input {
      display: none;

      &:checked {
        + label {
          i {
            transform: rotate(180deg);
          }

          img {
            opacity: 1;
            filter: none;
          }

          + div {
            opacity: 1;
            max-height: 2000vh;
          }
        }
      }
    }

    a {
      transition: color 0.2s;
      color: @color-text;

      &:hover {
        color: @blue-500;
      }
    }

    > label {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0;
      color: @color-text;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;

      img {
        width: 20px;
        max-height: 24px;
        margin-right: 10px;
        opacity: 0.5;
        transition: opacity 0.25s linear;
        filter: grayscale(1);
      }

      a {
        padding-right: 30px;
        color: @color-text;
      }

      i {
        position: absolute;
        color: #5b5b5b;
        font-size: 12px;
        opacity: 0.3;
        right: 16px;
        top: 18px;
      }
    }

    div {
      overflow: hidden;
      max-height: 0;
      opacity: 0;
      transition: all 0.25s linear;
    }

    &.active {
      > label {
        a {
          color: @color-blue;
          font-weight: 600;
        }
      }
    }
  }

  > li.accordion-item {
    border-bottom: 1px solid #ebebeb;

    &:first-of-type {
      border-top: 1px solid #ebebeb;
    }

    > input {
      &:checked {
        + label {
          color: @color-blue;
          border-left-color: rgb(0, 112, 191);
        }
      }
    }

    > label {
      font-size: 14px;
      padding: 16px 16px 16px 15px;
      border-left: 2px solid transparent;
      transition: border-left-color 0.25s linear;

      i {
        top: 24px;
      }
    }

    > div {
      border-left: 2px solid rgb(0, 112, 191);
      padding-left: 46px;
    }
  }
}
