#ask_relevance {
    &__trigger {
        margin-bottom: 85px;
        margin-right: 17px;
        opacity: 0.9;

        @media (max-width: 800px) {
            margin-bottom: 68px;
            margin-right: 2px;
        }

        &:hover {
        opacity: 1;
        }
    }
}
