.ask_relevance__container {
    button, a {
        font-size: 11px!important;
    }

    p {
        font-size: 14px!important;
    }

}

#ask_relevance {
    &__trigger {
        margin-bottom: 25px;
        margin-right: 17px;
        opacity: 0.9;

        @media (max-width: 800px) {
            margin-right: 2px;
        }

        &:hover {
        opacity: 1;
        }
    }
}

span.ar-text-xs {
    font-size: 1rem!important;
}
