.copy-code-snippet {
  position: relative;

  .copy-action {
    position: absolute;
    padding: 4px;
    top: 4px;
    right: 4px;
    cursor: pointer;
    color: rgba(black, 0.4);
    transition: color 0.3s;
    z-index: 10;

    &:hover {
      color: rgba(black, 0.8);
    }
  }
}

#copy-code-success-info {
  position: fixed;
  padding: 4px 8px;
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-top: -32px;
  transform: translateX(-50%);
}

#copy-code-input {
  position: fixed;
  top: -2000px;
}
