.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 5px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  width: 100%;
  padding: 4px 0;
  margin: 4px 0 0;
  list-style: none;
  text-align: left;
  background-color: #fff;
  border: 1px solid @gray;
  border-radius: 3px;
  box-shadow: 4px 16px 24px 0px rgba(13, 51, 79, 0.1);

  &.pull-right {
    right: 0;
    left: auto;
  }
  hr {
    width: 90%;
    margin: 15px;
  }

  > li {
    margin: 0;
    &:not(:last-child) {
      padding-bottom: 4px;

      > ul {
        list-style: none;
        margin: 5px;
        margin-top: 0;

        a, span {
          font-weight: 400;
          float: left;
          border-left: 2px solid transparent;
        }

        li {
          margin: 0;
        }
      }
    }

    > a, span {
      display: block;
      margin: 5px 0;
      padding: 0px 8px;
      clear: both;
      font-size: 14px;
      font-weight: normal;
      line-height: 22px;
      white-space: nowrap;
      border-left: 2px solid transparent;

      em {
        font-style: normal;
      }
    }
  }
}

.versions-dropdown, .docsets-dropdown {
  li.active, li > ul > li.active  {
    a {
      color: @blue-text;
      font-weight: 600;
      border-left-color: @blue-text;
    }
  }

  .dropdown-menu {
    li {
      a {
        &:focus-visible {
          color: #1155cb;
          outline: 2px solid #1155cb;
          border-radius: 3px;
        }
      }
    }
  }

  &.no-right-border {
    button {
      border-right-width: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &.open {
    #version-dropdown {
      color: @gray-dark;
      background: #fff;
    }
  }
}

.docsets-dropdown {
  margin: 8px 0;

  .dropdown-menu {
    top: 56px;
    padding: 8px 0;

    .dropdown-submenu-title {
      color: #4c6d80;
      padding: 8px 16px;
      text-transform: uppercase;
      font: normal 12px/24px Roboto;

      &:not(:first-child) {
        margin-top: 8px;
      }
    }

    li {
      padding-bottom: 0;

      a {
        margin: 0;
        color: #043558;
        padding: 8px 16px;
        font: 500 16px/24px Roboto;
        transition: color .25s;

        &:hover, &.active {
          color: #1155cb;
        }

        > ul {
          list-style: none
        }
      }
    }

    @media all and (max-width: 400px) {
      width: 100%;
    }
  }

  @media screen and (max-width: 400px) {
    min-width: 100%;
  }
}

.open {
  display: block;
  a {
    outline: 0;
  }
}

.dropdown-menu-right {
  left: auto;
}

.dropdown-menu-left {
  left: 0;
  right: auto;
}
