/**
 * components.less
 * all imported and shared components
 * used across the site
 */

@import "variables";
@import "utils";

/* =======================================================
   MARKETING -> FOOTER
   ==================================================== */

// Animations
@keyframes mashape-ape-animation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
@anim--speed: 0.3s;

// Subscribe Form
.footer-form-container {
  display: flex;
  flex-direction: row;

  #subscribe-input {
    width: calc(100% - 125px);
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  #footer-form-button {
    width: 22%;
    font-size: 16px;
    font-weight: normal;
    background: #fff;
    color: #1155cb;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #1155cb;

    &:hover {
      background: #1155cb;
      color: #fff;
    }
  }

  @media (max-width: 1200px) {
    div {
      -webkit-flex: 2;
      flex: 2;
    }

    #footer-form-button {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  @media (max-width: 992px) {
    #subscribe-input {
      width: 390px;
    }
  }

  @media (max-width: 875px) {
    #subscribe-input {
      width: 300px;
      margin-right: 20px;
    }
  }

  @media (max-width: 420px) {
    #subscribe-input {
      width: 160px;
    }
    #footer-form-button {
      width: 80px;
      padding-left: 5px;
      padding-right: 5px;
      font-size: 14px;
    }
  }
}

/**
 * Main footer selector
 */

[class^="marketing-footer"] {
  .font-source-sans();
  width: 100%;
  padding: @gutter-flex-2x 0 0;

  .form iframe {
    min-height: 50px;
    min-width: 500px;
    transform: translateY(-12.5px);
  }

  @media (max-width: 480px) {
    .form iframe {
      min-height: 110px;
      min-width: 0px;
    }
  }

  section {
    > ul {
      .flex-row;
      list-style: none;

      &.newsletter {
        overflow: hidden;
        @media (max-width: 992px) and (min-width: 630px) {
          > li {
            &:nth-of-type(2) {
              padding-top: 62.5px;
            }
          }
        }
      }

      @media (min-width: @grid-width-xs) {
        max-width: 85%;
        padding: 0;
      }
      @media (min-width: @grid-width-sm) {
        width: 95%;
        max-width: 1280px;
      }

      > li {
        font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont,
          "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

        #subscription_form .error-message.message {
          display: inline-block;
          width: 100%;
          clear: both;
          position: absolute;
          bottom: -20px;
          left: 0;
          @media (max-width: 480px) {
            bottom: -25px;
          }
        }

        form {
          display: inline-block;
          width: 100%;
          margin-top: 1rem;
          margin-bottom: 10px;
          @media (max-width: 480px) {
            margin-bottom: 20px;
          }
          input[type="text"] {
            display: inline-block;
            float: left;
            height: 40px;
            margin-right: 7.5px;
            font-size: 16px;
            max-width: 225px;
            margin-bottom: 0;
            @media (max-width: 480px) {
              max-width: 100% !important;
              width: 100%;
              margin-bottom: 5px;
            }
          }
          input.button {
            background: #17a956;
            height: 40px;
            color: #fff;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 400;
            font-family: Roboto;
            padding-left: 15px;
            padding-right: 15px;
            position: absolute;
            @media (max-width: 480px) {
              position: relative;
              display: inline-block;
              width: 100%;
              clear: both;
            }
          }
          .success-message.message {
            float: left;
            display: inline-block;
            clear: both;
            margin-top: 5px;
            color: #409ecb;
          }
        }
        h5 {
          color: #7d91b3;
          -webkit-transform: none;
          transform: none;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 1rem;
          font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont,
            "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        a {
          font-size: 15px;
          span {
            display: inline-block;
            padding: 5px 7.5px;
            margin-left: 5px;
            color: #008aeb;
            background: #d0eaff;
            border-radius: 5px;
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            text-transform: uppercase;
          }
        }
        .flex-col(1, 1, 6);

        &.logo-wrapper {
          min-width: 350px;
          p {
            color: #000;
            font-size: 14px;
            margin-bottom: 0;
          }
          ul {
            display: inline-block;
            width: 100%;
            li {
              display: inline-block;
              width: 50%;
              float: left;
            }
          }
        }

        @media (max-width: 960px) {
          &.logo-wrapper {
            width: 100%;
            flex-basis: 100%;
            min-width: 100%;
            input[type="text"] {
              display: inline-block;
              float: left;
              height: 40px;
              margin-right: 7.5px;
              font-size: 16px;
              max-width: calc(~"100% - 125px");
              width: 100%;
              min-width: 200px;
              margin-bottom: 0;
            }
          }
        }

        @media (min-width: @grid-width-sm) {
          .flex-col(1, 1, 3);
          &.logo-wrapper {
            flex-basis: 23.33333333%;
          }
          &:not(.logo-wrapper) {
            padding-left: 3rem;
            flex-basis: 0%;
            padding-top: 62.5px;
          }
        }
        @media (min-width: @grid-width-lg) {
          .flex-col(1, 1, 2);
        }
        @media (max-width: 992px) {
          .flex-col(1, 1, 3);
          &.logo-wrapper {
            flex-basis: 66%;
            padding-left: 3rem;
            max-width: 66%;
            min-width: 66%;
          }
          &:not(.logo-wrapper) {
            padding-left: 3rem;
            flex-basis: 0%;
            padding-top: 0px;
            min-width: 33%;
          }
        }
        @media (max-width: 630px) {
          a {
            font-size: 12px;
            span {
              display: none;
            }
          }
          &.logo-wrapper {
            min-width: 100%;
            padding-left: 0;
            ul {
              margin-bottom: 0;
            }
          }
          &:not(.logo-wrapper) {
            min-width: 50%;
            padding-top: 0;
            margin-bottom: 0;
            padding-left: 0;
            padding-right: 0.5rem;
            box-sizing: border-box;
          }
        }
      }
    }
  }

  /**
   * Marketing > Footer > Content
   */

  .logo-wrapper {
    .flex-col(1, 1, 12);
    margin: 0.5rem 0 @gutter-flex-1x 0;

    @media (min-width: @grid-width-lg) {
      .flex-col(1, 1, 2);
    }
  }
  .image,
  .logo {
    width: 100%;
    max-width: 120px;
    height: 100%;

    a {
      display: block;
    }
    img {
      width: 100%;
      max-width: 45px;
      max-height: 100%;
      border: 0;
      margin-bottom: 10px;
    }
  }

  /**
  * Ape Animation
  * On :hover, the ape animates
  */

  .ape-wrapper {
    display: none;
    align-items: flex-end;

    @media (min-width: @grid-width-lg) {
      display: flex;
    }

    /**
    * The Mashape Ape
    */

    .ape {
      display: none;
      justify-content: center;
      width: 100%;
      padding: 0;
      background-image: url("/assets/images/footer/ape-sprite.png");
      background-size: 200% auto;
      background-position: 0 0;
      background-repeat: no-repeat;
      animation: mashape-ape-animation 0.4s steps(2) infinite;
      animation-play-state: paused;

      &:hover {
        animation-play-state: running;
      }

      @media (min-width: @grid-width-md) {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 20rem;
      }
    }
  }

  /*
    * Footer links
    */

  nav {
    h4 {
      margin: 0 0 1.5em;
      padding: 0.75rem 0 0;
      .font-source-sans-sc();
      .font-size(19);
      letter-spacing: 0;
      font-weight: 600;

      &:after {
        content: "";
        display: block;
        width: 3.25rem;
        margin: 1rem 0 1.5rem;
      }
    }
    ul,
    li {
      padding-left: 0;
      margin: 0;
      list-style: none;
    }
    ul {
      margin-bottom: 2em;
    }
    li {
      margin-bottom: 0.5rem;
    }
    a {
      text-decoration: none;
      .font-size(22);
      font-weight: 400;
    }
    a:hover {
      text-decoration: none;
    }
  }

  /**
   * Marketing > Footer > Legal
   */

  .legal {
    padding: 0rem 0 1rem;
    .container {
      max-width: 100%;
      padding: 0 2em;
      @media (max-width: 600px) {
        flex-wrap: wrap;
      }
      > div {
        float: left;
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0, -50%);
        color: #004b80;
        @media (max-width: 600px) {
          position: relative;
          width: 100%;
          text-align: center;
          transform: none;
          left: auto;
          right: auto;
          top: auto;
          min-width: 100%;
          &.social {
            min-width: 0px;
            width: auto;
            display: block;
            margin: 10px auto 0;
          }
        }
        @media (max-width: 768px) {
          left: 0;
        }
        &:not(.social) {
          left: auto;
          right: 16px;
          @media (max-width: 768px) {
            right: 0;
          }
        }
      }
    }
    @media (min-width: 1279px) {
      .container {
        width: 1250px;
      }
    }
    @media (min-width: 1379px) {
      .container {
        width: 1320px;
      }
    }
    .social-link {
      width: auto;
      min-width: auto;
      display: inline-block;
      float: left;
      a:not(.btn-gh),
      i {
        color: #7d91b3;
        font-size: 20px;
        margin-right: 5px;
      }
      a.btn-gh {
        padding: 2px 5px;
        color: #333;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        font: 700 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #d5d5d5;
        background-color: #eee;
        background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
        font-size: 11px;
        color: #999;
        display: inline-block;
        margin-top: 6px;
        i {
          color: #999;
          margin-right: 0px;
          font-size: 14px;
        }
      }
    }
    ul {
      .flex-row();
      list-style: none;
      height: 100%;

      &:before {
        content: "";
        display: block;
        width: 100%;
        margin-bottom: 1rem;
      }

      @media (min-width: @grid-width-xs) {
        max-width: 85%;
        padding: 0;
      }
      @media (min-width: @grid-width-sm) {
        width: 80%;
        max-width: 1020px;
      }

      li {
        width: 100%;
        display: inline-block;
        text-align: center;
        font-size: 16px !important;
        a {
          font-weight: 500;
        }
        b {
          color: #ccc;
          display: inline-block;
          margin: 0 10px;
        }
      }

      .social-link {
        display: inline-block;
        vertical-align: top;

        // Icon link
        a {
          display: block;
          padding: 3px;
          opacity: 0.5;
          .font-size(26);

          img {
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            margin-top: 5px;
            border: 0;
          }

          &:hover {
            opacity: 1;
          }

          @media (min-width: @grid-width-xs) {
            padding: 10px;
          }
        }
      }
    } // end social link
  } // end legal
} // end Footer component

[class^="marketing-footer"][class*="--light-gray"] {
  border-top: solid 1px #ccc;
  background-color: #fff;
  overflow: hidden;
  section {
    padding-top: 0 !important;
  }

  a:hover {
    text-decoration: underline;
  }

  nav {
    h4 {
      color: @color-dark-blend-strong;
    }
    a {
      color: #004b80;
      font-weight: 400;
    }
    h4:after {
      border-bottom-color: @green;
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
    a:hover {
      color: #000;
    }
  }

  .legal {
    background: #f7f9fc;
    color: #004b80;

    ul {
      text-align: center;

      a {
        color: #004b80;
      }
    }
  }
}
