body {
  --green: #17a956;
  --blue: #062f4d;
  header {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  nav.docs-navigation {
    @media (max-width: 1100px) {
      padding-top: 75px;
    }
  }
}

@media all {
  body
    header.navbar.navbar-inverse.navbar-toggleable-lg.kong-navbar.flex-row.align-items-center
    .container {
    max-width: 100%;
  }

  #promo-banner {
    display: none;
  }

  @media (min-width: 1080px) {
    body.banner {
      #promo-banner {
        position: fixed;
        display: block;
        top: 0;
        width: 100vw;
        height: 37.5px;
        max-height: 37.5px;
        left: 0;
        z-index: 9;
        padding-top: 1.5px;
        top: 0px;
        overflow: hidden;
        background: #efefef;
        box-shadow: inset 0 -10px 40px -20px rgba(0, 0, 0, 0.25);
        h4.countdown {
          display: inline-block;
        }
        h4.flip {
          display: none;
        }
        &.flip {
          h4.countdown {
            display: none;
          }
          h4.flip {
            display: inline-block;
          }
        }
        .closebanner {
          position: absolute;
          height: 14px;
          width: 14px;
          z-index: 11;
          left: 0;
          top: 10px;
          opacity: 1;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          &:hover {
            box-shadow: 0 0 0 2px #0037ff;
            opacity: 1;
          }
          &:before {
            content: "";
            background: linear-gradient(
                45deg,
                transparent calc(50% - 1px),
                #0037ff calc(50% - 1px),
                #0037ff calc(50% + 1px),
                transparent calc(50% + 1px)
              ),
              linear-gradient(
                -45deg,
                transparent calc(50% - 1px),
                #0037ff calc(50% - 1px),
                #0037ff calc(50% + 1px),
                transparent calc(50% + 1px)
              );
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            border-radius: 100%;
            cursor: pointer;
          }
        }
        .container {
          text-align: center;
          h4 {
            span {
              font-size: 14px;
              color: #222;
              display: inline-block;
              font-weight: 400;
              a {
                color: #0037ff;
                font-weight: 900;
                display: inline-block;
                margin-left: 10px;
                &:hover {
                  color: #004b80;
                  &:after {
                    transform: translateX(2.5px);
                  }
                }
                &:after {
                  content: "\f0da";
                  font-family: FontAwesome, "FontAwesome", "Font Awesome";
                  display: inline-block;
                  margin-left: 5px;
                  transition: 0.2s ease-in-out;
                }
              }
            }
          }
        }
      }

      header:not(.closed) #promo-banner ~ .container {
        margin-top: 5px;
        text-align: center;
      }

      header:not(.closed) ~ div.page,
      header.navbar {
        padding-top: 40px;
        transition: transform 0.3s ease-in-out;
        &.closed,
        &.compress {
          transform: translateY(-40px) !important;
        }
      }
    }
  }

  .nav-link:focus,
  .nav-link:hover,
  .navbar-brand:focus,
  .navbar-brand:hover {
    text-decoration: none;
  }
  .collapse {
    display: none;
  }
  .navbar {
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
  }
  .nav-link {
    display: block;
    padding: 10px 16px;
  }
  .navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }
  .navbar-brand {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 16px;
    font-size: 14px;
    line-height: inherit;
    white-space: nowrap;
  }
  .navbar-toggler {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-toggler:focus,
  .navbar-toggler:hover {
    text-decoration: none;
  }
  @media (max-width: 1278px) {
    .navbar-toggleable-lg > .container {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (min-width: 1279px) {
    .navbar-toggleable-lg {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
    }
    .navbar-toggleable-lg {
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .navbar-toggleable-lg > .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
    .navbar-toggleable-lg .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      width: 100%;
    }
    .navbar-toggleable-lg .navbar-toggler {
      display: none;
    }
  }
  .navbar-inverse .navbar-brand,
  .navbar-inverse .navbar-brand:focus,
  .navbar-inverse .navbar-brand:hover,
  .navbar-inverse .navbar-toggler,
  .navbar-inverse .navbar-toggler:focus,
  .navbar-inverse .navbar-toggler:hover {
    color: #fff;
  }
  .navbar-inverse .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
  .flex-row {
    -webkit-box-direction: normal !important;
  }
  .fixed-top {
    position: fixed;
    left: 0;
    z-index: 1030;
    right: 0;
  }
  .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .flex-row {
    -webkit-box-orient: horizontal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }
  .align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .align-self-center {
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center !important;
  }
  @media (min-width: 768px) {
    .justify-content-md-end {
      -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
      justify-content: flex-end !important;
    }
  }
  .fixed-top {
    top: 0;
  }
  p {
    font-size: 17px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.85);
  }
  a {
    color: #004b80;
  }
  a:focus,
  a:hover {
    color: rgba(0, 75, 128, 0.8);
    cursor: pointer;
  }
  body .btn {
    text-transform: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .btn {
    cursor: pointer;
    border-radius: 3px;
  }
  .kong-navbar {
    padding: 12px 32px 8px;
  }
  @media (min-width: 576px) {
    .kong-navbar {
      padding: 0 0 0.16px;
    }
  }
  @media (max-width: 480px) {
    .kong-navbar {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  body header.navbar:hover {
    background: #fff !important;
  }
  .kong-navbar {
    background-color: #062f4c;
    z-index: 101;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  @media (max-width: 576px) {
    .kong-navbar {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 0.16px;
      padding-right: 0.16px;
    }
    .kong-navbar img {
      max-width: 100px;
    }
  }
  @media (max-width: 767px) {
    .kong-navbar .container {
      width: 100%;
      margin-left: 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .kong-navbar .navbar-brand {
    padding-left: 0;
    margin-top: 0.25px;
    min-width: 112.5px;
    max-width: 125px;
  }
  @media (max-width: 1080px) {
    a .kong-navbar .navbar-brand {
      margin-top: 5px;
      padding-bottom: 10px;
    }
  }
  .kong-navbar_nav
    .nav-link:not(.btn):not(.nav-previous):not(.nav-next):not(.textbody_cta_zone_cta) {
    font-size: 13px;
    font-weight: 600;
    padding: 3px 16px 10px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 0.3s;
    will-change: color;
  }
  .kong-navbar_nav
    .nav-link:not(.btn):not(.nav-previous):not(.nav-next):not(.textbody_cta_zone_cta):hover {
    color: #fff;
  }
  .kong-navbar .navbar-toggler {
    height: 26px;
    width: 30px;
    right: 0;
    -webkit-outline: none;
    outline: 0;
    margin-top: 0;
    top: calc(50% - 16px);
  }
  .kong-navbar .navbar-toggler div {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #004b80;
    left: 0;
    top: 0;
    border-radius: 5px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
  .kong-navbar .navbar-toggler div:nth-of-type(2) {
    top: 9px;
  }
  .kong-navbar .navbar-toggler div:nth-of-type(3) {
    top: 18px;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
  }
  .kong-navbar .navbar-toggler {
    border-color: transparent;
    margin-left: 16px;
    position: absolute;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    li.menu-item-has-children.multicol
    > ul {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    li.menu-item-has-children.multicol.active
    > ul {
    opacity: 1;
    visibility: visible;
  }
  @media (min-width: 1080px) {
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      li.menu-item-has-children.multicol.wide.docs
      ul.sub-menu
      > li
      > ul
      > li
      > a {
      transform: translateX(30px);
      img {
        left: -25px;
        top: -2.5px;
      }
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      li.menu-item-has-children.multicol.wide.docs
      ul.sub-menu
      > li:last-of-type
      > ul
      > li
      > a {
      transform: translateX(30px);
      img {
        left: -25px;
        top: 2.5px;
      }
    }
    .kong-navbar .navbar-toggler {
      display: none;
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol
      > ul.sub-menu
      > li {
      padding-bottom: 1rem;
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol.wide.toplabel
      > ul.sub-menu
      > li
      > ul {
      width: 100%;
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol.wide.toplabel
      > ul.sub-menu
      > li:not(.decentralization)
      > a {
      text-align: left;
      float: left;
      width: 100%;
      margin-left: 1rem;
      padding-bottom: 0;
    }
    nav.navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol
      > ul.sub-menu
      > li:last-of-type,
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol
      > ul.sub-menu
      > li:nth-of-type(2) {
      background: #f4f9ff;
      border-top: none;
      padding-bottom: 2rem;
    }
    nav.navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol
      > ul.sub-menu
      > li:first-of-type {
      background: #fff;
    }
    .navbar.full-width .menu li.multicol.wide.toplabel > ul.sub-menu {
      min-width: 840px;
      padding-top: 1.5rem;
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol.wide.toplabel
      ul.sub-menu
      > li
      > ul
      > li {
      width: 33%;
      padding-right: 0.5rem;
      justify-content: flex-start;
      padding-left: 1rem;
      .description {
        transform: none;
      }
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      li.menu-item-has-children.multicol.wide
      ul.sub-menu
      > li
      > ul
      > li
      > a {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      padding-left: 0;
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      .multicol.wide.toplabel
      ul.sub-menu
      > li
      > ul
      > li
      a {
      padding-left: 0;
    }
  }
  body header.navbar {
    padding-top: 0px;
  }
  @media (max-width: 768px) {
    .kong-navbar .navbar-toggler {
      right: 10px;
    }
  }
  body header.navbar.expand:not(.closed) {
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }
  body header.navbar.lower_nav {
    box-shadow: 0 10px 20px -12.5px rgba(0, 0, 0, 0.15);
    background: #fff !important;
    max-height: 92px !important;
  }
  header .container.d-flex {
    margin-top: 5px;
  }
  @media (min-width: 1080px) {
    .navbar.full-width {
      width: 100%;
      display: inline-block;
      height: 45px;
      clear: both;
      float: left;
      padding: 0;
      margin: 0;
      -webkit-transform: none;
      transform: none;
    }
    .navbar.full-width li:hover > a img {
      transition: 0.3s ease-in-out;
      transform: scale(1.075);
    }
    .navbar.full-width .kong-navbar_nav {
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 0 !important;
      margin: 0 !important;
    }
    .navbar.full-width .kong-navbar_nav ul {
      list-style-type: none;
      padding: 0;
    }
    .navbar.full-width .kong-navbar_nav #menu-primary-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      height: auto;
      padding: 0;
      margin-top: 5px;
      position: relative;
    }
    .navbar.full-width .kong-navbar_nav #menu-primary-nav .navbtn:hover {
      text-decoration: none;
      color: #fff;
    }
    .navbar.full-width .kong-navbar_nav #menu-primary-nav .navbtn:hover:before {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .navbar.full-width .kong-navbar_nav #menu-primary-nav > li {
      padding-right: 32px;
      padding-left: 8px;
    }
    .navbar.full-width .kong-navbar_nav #menu-primary-nav > li > a {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 14px;
    }
    .navbar.full-width .kong-navbar_nav #menu-primary-nav > li.demo-btn {
      color: #17a956;
      position: absolute;
      right: 0;
      padding: 0;
    }
  }
  @media (min-width: 1080px) and (max-width: 1080px) {
    .navbar.full-width .kong-navbar_nav #menu-primary-nav > li.demo-btn {
      display: none;
    }
  }
  @media (min-width: 1080px) {
    .navbar.full-width {
      .kong-navbar_nav {
        #menu-primary-nav {
          li.menu-item-has-children.multicol {
            &:hover {
              > ul {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
              }
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
            }
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            > ul {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            }
          }
          li.menu-item-has-children.one-col {
            &:hover {
              > ul {
                opacity: 1;
                visibility: visible;
                pointer-events: all;
              }
              display: inline-block;
            }
          }
          > li.demo-btn {
            a {
              color: #1155cb;
              padding: 8px 23px;
              border: 1px solid #a6c6ff;
              border-radius: 5px;
              transition: 0.2s ease-in-out;
              transform: translateY(-5px);
              &:hover {
                color: #fff;
                background: #17a956;
              }
            }
          }
          > li {
            &:not(.demo-btn) {
              &:hover {
                > a {
                  box-shadow: inset 0 -2.5px 0 0 #1155cb;
                }
              }
            }
          }
          * {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            box-sizing: border-box;
          }
          > li.menu-item-has-children.two-row {
            &:hover {
              > ul {
                transition: visibility 0s ease-in-out, opacity 0.2s ease-in-out;
                visibilty: visibile;
                opacity: 1;
                pointer-events: all;
              }
            }
            > ul {
              visibilty: hidden;
              pointer-events: none;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              opacity: 0;
              transition: visibility 0s ease-in-out, opacity 0s ease-in-out;
              position: absolute;
              padding: 0;
              left: 0;
              min-width: 100%;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              background: #fff;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              overflow: visible;
              margin-top: 0;
              max-height: 100vh;
              > li {
                position: relative;
                .navbtn {
                  display: inline-block;
                  margin-top: 0;
                  &:hover {
                    color: #fff;
                  }
                }
                &:first-of-type {
                  padding-top: 16px;
                  border-top: 1px solid #efefef;
                }
                &:before {
                  background: #fff;
                  content: "";
                  position: absolute;
                  width: 200vw;
                  left: -50vw;
                  height: 100%;
                  top: 0;
                }
                &:last-of-type {
                  padding-bottom: 16px;
                  padding-top: 16px;
                  &:before {
                    background: #f4f9ff;
                    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
                  }
                }
              }
            }
          }
          li.menu-item-has-children.multicol.wide {
            ul.sub-menu {
              > li {
                > ul {
                  > li {
                    > a {
                      -webkit-transform: translateX(0);
                      transform: translateX(0);
                    }
                  }
                }
              }
            }
          }
          > li.menu-item-has-children.one-col.icn-sm {
            > ul {
              li {
                a {
                  padding-left: 50px;
                  font-size: 14.4px;
                  line-height: 1.25;
                  img {
                    width: 18px;
                    left: 15px;
                    top: calc(50% - 9px);
                    height: auto;
                  }
                }
              }
            }
          }
          > li.menu-item-has-children.one-col {
            > ul {
              border-top: 1px solid #efefef;
              background: #fff;
              padding-top: 8px;
              padding-bottom: 8px;
              width: auto;
              position: absolute;
              opacity: 0;
              visibility: hidden;
              transition: visibility 0s ease-in-out, opacity 0s ease-in-out;
              pointer-events: none;
              box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: start;
              -ms-flex-pack: start;
              justify-content: flex-start;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              li {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                width: auto;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                &:last-of-type {
                  .description {
                    margin-bottom: 16px;
                  }
                }
                a {
                  font-size: 14.4px;
                  line-height: 2;
                  font-weight: 500;
                  width: auto;
                  padding: 14px 14px 14px 85px;
                  position: relative;
                  max-width: 325px;
                  color: #1155cb;
                  opacity: 1;
                  &:hover {
                    color: #0e46a8;
                  }
                  .description {
                    padding-right: 8px;
                    color: #555;
                    padding-top: 0;
                  }
                  img {
                    position: absolute;
                    width: 40px;
                    left: 27.5px;
                    top: calc(50% - 20px);
                  }
                }
              }
            }
          }
          .multicol {
            > ul.sub-menu {
              border-top: 1px solid #efefef;
              > li {
                &:nth-of-type(2) {
                  border-top: 1px solid #b6dfff;
                }
                &:last-of-type {
                  background: #f4f9ff;
                }
                &:first-of-type {
                  background: #fff;
                }
                padding-bottom: 12px;
                > a {
                  width: 17.5%;
                  font-size: 16px;
                  padding-top: 12.4px;
                  color: #062f4d;
                }
                > ul {
                  width: 82.5%;
                  > li {
                    width: 50%;
                    -webkit-box-pack: start;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    a {
                      width: 100%;
                      padding-left: 30px;
                      font-size: 14.4px;
                      line-height: 1.25;
                      img {
                        position: absolute;
                        width: 18px;
                        left: 0;
                        top: 0;
                        height: auto;
                      }
                    }
                  }
                }
              }
            }
            ul.sub-menu {
              > li {
                > ul {
                  > li {
                    position: relative;
                  }
                }
              }
            }
          }
          .multicol.wide {
            > ul.sub-menu {
              > li {
                > a {
                  width: 25%;
                }
                > ul {
                  width: 75%;
                }
              }
            }
          }
          > li.menu-item-has-children {
            > ul {
              > li {
                width: 100%;
                max-width: 1380px;
              }
            }
          }
          ul.sub-menu {
            > li {
              width: 100%;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -ms-flex-pack: distribute;
              justify-content: space-around;
              -webkit-box-align: start;
              -ms-flex-align: start;
              align-items: flex-start;
              * {
                -webkit-box-align: start;
                -ms-flex-align: start;
                align-items: flex-start;
              }
              .nav-btns {
                position: absolute;
                left: 0;
                top: 68px;
                padding: 8px 0;
                font-size: 14.4px;
                color: #555;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                a {
                  display: inline-block;
                  margin-right: 8px;
                }
                span {
                  display: inline-block;
                  margin-right: 8px;
                  font-size: 12px;
                }
                .navbtn {
                  padding: 8px 16px;
                  color: #1155cb;
                  border: 1px solid;
                  display: inline-block;
                  margin-top: 0;
                  font-size: 11.2px;
                  line-height: 1.5;
                  font-weight: 700;
                  position: relative;
                  z-index: 2;
                  overflow: hidden;
                  width: 170px;
                  text-align: center;
                  &:hover {
                    border-color: #1155cb;
                    color: #fff;
                    &:before {
                      -webkit-transform: translateX(0);
                      transform: translateX(0);
                      will-change: transform;
                    }
                  }
                  &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: #1155cb;
                    transition: 0.3s cubic-bezier(1, 0, 0, 1);
                    -webkit-transform: translateX(-102.5%);
                    transform: translateX(-102.5%);
                    z-index: -1;
                  }
                }
              }
              > ul {
                > li {
                  position: relative;
                  width: 33%;
                  &:hover {
                    > a {
                      img {
                        transition: 0.3s ease-in-out;
                        transform: scale(1.075);
                      }
                    }
                  }
                  > a {
                    width: 100%;
                    color: #1155cb;
                    font-size: 16px;
                    position: relative;
                    -webkit-transform: translateX(40px);
                    transform: translateX(40px);
                    &:hover {
                      color: #0e46a8;
                    }
                    img {
                      position: absolute;
                      left: -45px;
                      top: -7.5px;
                      height: 35px;
                      width: auto;
                    }
                    .description {
                      -webkit-transform: translateX(-40px);
                      transform: translateX(-40px);
                    }
                  }
                }
                width: 82.5%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                padding: 0;
                overflow: hidden;
                > li.border-top {
                  &:before {
                    content: "";
                    position: absolute;
                    width: 100vw;
                    height: 1px;
                    top: -8px;
                    left: 0;
                    opacity: 0.75;
                    background: #b6dfff;
                  }
                }
                li {
                  padding: 14px 0 14px 16px;
                  a {
                    padding: 0;
                  }
                }
                li.menu-item-has-children {
                  .sub-menu {
                    li {
                      padding: 0;
                    }
                  }
                  width: 33%;
                  > a {
                    min-width: 100%;
                    color: #1155cb;
                    font-size: 16px;
                    p {
                      color: #333;
                      font-size: 12.8px;
                      line-height: 1.5;
                    }
                  }
                  > ul {
                    width: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    padding: 0;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                    justify-content: space-between;
                    margin-top: 8px;
                    li {
                      width: 50%;
                      margin-bottom: 8px;
                      &:nth-of-type(odd) {
                        padding-right: 5px;
                      }
                      &:hover {
                        a {
                          -webkit-transform: translateX(5px);
                          transform: translateX(5px);
                          &:before {
                            -webkit-transform: translateX(-5px);
                            transform: translateX(-5px);
                          }
                        }
                      }
                      a {
                        width: 100%;
                        font-size: 12.8px;
                        line-height: 1.5;
                        position: relative;
                        padding-left: 10px;
                        font-weight: 500;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                        transition: 0.2s ease-in-out;
                        color: rgba(17, 85, 203, 0.75);
                        &:hover {
                          color: #1155cb;
                        }
                        &:before {
                          content: "\f0da";
                          position: absolute;
                          font-family: "Font Awesome", FontAwesome;
                          left: 0;
                          top: -2.4px;
                          color: #c8a977;
                          transition: 0.2s ease-in-out;
                          font-size: 16px;
                          z-index: 2;
                        }
                      }
                    }
                  }
                }
              }
              p.description {
                display: block;
                width: 100%;
                float: left;
                clear: both;
                padding: 12px 0 0;
                font-weight: 400;
                color: #333;
                font-size: 12.8px;
                line-height: 1.5;
                margin-bottom: 0;
              }
              > a {
                width: 17.5%;
                padding-top: 16px;
                font-size: 15.6px;
                padding-left: 0;
                color: #1155cb;
                &:hover {
                  color: #0e46a8;
                }
              }
            }
          }
          .two-row {
            ul {
              li.nav2 {
                > a {
                  font-size: 16px;
                  margin-top: 5.6px;
                }
              }
            }
          }
        }
      }
      .menu {
        li.multicol {
          position: relative;
          > ul.sub-menu {
            background: #fff;
            position: absolute;
            display: inline-block;
            min-width: 500px;
            top: 100%;
            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
            > li {
              padding: 8px 18px;
            }
          }
        }
        li.multicol.wide {
          > ul.sub-menu {
            min-width: 600px;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) and (min-width: 1080px) {
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      li.menu-item-has-children.multicol
      > ul {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      > li.menu-item-has-children.two-row
      > ul {
      min-width: 100vw;
      position: fixed;
      left: 0;
      padding-left: 16px;
      padding-right: 16px;
      max-height: 100vh;
    }
    .navbar.full-width
      .kong-navbar_nav
      #menu-primary-nav
      > li.menu-item-has-children.two-row
      > ul
      > li
      .navbtn {
      display: block;
      margin-bottom: 8px;
      text-align: center;
    }
  }
  @media (min-width: 1080px) {
    body .navbar.full-width .btn {
      display: none;
    }
    body ul li.mobile-nav {
      display: none !important;
    }
  }
  @media (max-width: 1080px) {
    nav.navbar.full-width
      .kong-navbar_nav.collapse
      #menu-primary-nav
      li.menu-item-has-children.multicol.active
      > ul.sub-menu,
    .navbar.full-width
      .kong-navbar_nav:not(.full)
      #menu-primary-nav
      li.menu-item-has-children.multicol.active
      > ul {
      opacity: 1;
      visbility: visible;
      pointer-events: all;
    }
    body header .navbar.full-width .collapse .menu > li > a {
      padding-top: 4px !important;
      padding-bottom: 4px !important;
    }
  }
  @media (min-width: 1279px) {
    body.page-template-page-modular-page header .container {
      width: 1250px;
    }
  }
  @media (min-width: 1379px) {
    body.page-template-page-modular-page header .container {
      width: 1320px;
    }
  }
  @media (min-width: 1080px) {
    body .navbar-toggleable-lg .navbar-collapse {
      display: inline-block !important;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    body .navbar-toggleable-lg .navbar-collapse .navbar-item a.nav-link {
      position: relative;
    }
    body
      .navbar-toggleable-lg
      .navbar-collapse
      .navbar-item:hover
      a.nav-link:before {
      width: calc(100% - 30px);
    }
    body .navbar-toggleable-lg .navbar-collapse .nav-link:hover {
      color: #17a956;
    }
    body .kong-navbar {
      background: 0 0;
      transition: background 0.2s ease-in-out;
    }
    body .kong-navbar.fixed-top {
      background: #f0f2f5;
    }
    body
      .kong-navbar
      .kong-navbar_nav
      .nav-link:not(.btn):not(.nav-previous):not(.nav-next):not(.textbody_cta_zone_cta):not(.nav-previous):not(.nav-next):not(.textbody_cta_zone_cta) {
      color: #062f4d;
    }
    body
      header.navbar.navbar-inverse.navbar-toggleable-lg.kong-navbar.flex-row.align-items-center
      .container {
      width: calc(100% - 60px);
    }
  }
  body
    .kong-navbar_nav
    .nav-link:not(.btn):not(.nav-previous):not(.nav-next):not(.textbody_cta_zone_cta):not(.nav-previous):not(.nav-next):not(.textbody_cta_zone_cta) {
    text-transform: none;
    font-size: 16px;
    font-weight: 500;
  }
  body
    header.navbar.navbar-inverse.navbar-toggleable-lg.kong-navbar.flex-row.align-items-center {
    position: relative;
    background: #f0f2f5;
  }
  @media (min-width: 1279px) {
    body
      header.navbar.navbar-inverse.navbar-toggleable-lg.kong-navbar.flex-row.align-items-center
      .container {
      width: 1250px;
    }
  }
  @media (min-width: 1379px) {
    body
      header.navbar.navbar-inverse.navbar-toggleable-lg.kong-navbar.flex-row.align-items-center
      .container {
      width: 1320px;
    }
  }
  body
    header.navbar.navbar-inverse.navbar-toggleable-lg.kong-navbar.flex-row.align-items-center.fixed-top {
    position: fixed;
    width: 100%;
  }
  .page-template-page-modular-page img {
    max-width: 100%;
  }
  .navbar-toggler {
    &.active {
      div {
        transform: translateX(5px) translateY(1.5px) rotate(45deg);

        &:nth-of-type(2) {
          transform: none;
          opacity: 0;
        }

        &:nth-of-type(3) {
          transform: translateX(5px) translateY(1.5px) rotate(-45deg);
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  body {
    .navbar.full-width.mobile-triggers .collapse .menu .btn {
      position: absolute;
      top: 17.5px;
      left: 16px;
      padding: 5px 0;
      width: calc(50% - 24px);
      color: #fff;
      background: rgb(23, 169, 86);
      border-radius: 0;
      text-align: center;
      box-sizing: border-box;
      &:hover {
        background: darken(rgb(23, 169, 86), 7.5%);
      }
      a {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .navbar.full-width.mobile-triggers .collapse .menu .btn:nth-of-type(2) {
      left: calc(50% + 8px);
      background: rgb(6, 47, 77);
      &:hover {
        background: darken(rgb(6, 47, 77), 7.5%);
      }
    }

    .navbar.full-width.mobile-triggers .collapse .menu .btn a {
      color: #fff !important;
    }
  }
  body header .navbar.full-width .collapse .menu > li > a {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
  }
  .navbar.full-width.mobile-triggers {
    width: 100vw;
    height: calc(200vh - 58px);
    position: fixed;
    background: transparent;
    left: 0;
    top: 58px;
    padding: 0;
    visibility: hidden;
    overflow: hidden;
    overflow-y: scroll !important;
    pointer-events: none;
    opacity: 0;
    z-index: -999;
    transition: 0s ease-in-out;
    transition-delay: 0.3s;
    background: transparent;
    .demo-btn {
      display: none !important;
    }
    &.kong-navbar-collapse--expand {
      visibility: visible;
      pointer-events: all;
      display: flex;
      z-index: 999;
      opacity: 1;
      transition: none;
      transition-delay: 0s;
      .collapse {
        transform: translateY(0);
      }
    }
    .collapse {
      display: flex;
      width: 100%;
      padding: 25px 0 0 0;
      height: 200vh;
      border-top: 1px solid #ccc;
      background: #fff;
      transform: translateY(-100%);
      transition: 0.3s cubic-bezier(1, 0, 0, 1);
      .menu {
        width: calc(100% - 20px);
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        overflow: scroll;
        padding: 75px 4px 150vh;
        max-width: 768px;
        transform: translateX(-50%);
        overflow-x: hidden;
        a {
          cursor: pointer;
        }
        @media (min-height: 800px) {
          line-height: 1.75;
        }
        &.active-tab {
          > li:not(.active):not(.btn) {
            transform: translateX(-100%) !important;
            ul.sub-menu {
              display: none;
              transform: translateX(500%);
            }
          }
        }
        li {
          a {
            color: rgb(6, 47, 77) !important;
          }
        }
        .description,
        .nav-btns {
          display: none;
          width: 0;
          height: 0;
          opacity: 0;
          visibility: hidden;
        }
        * {
          flex-wrap: wrap;
          flex-direction: column;
        }

        .menu-item-has-children {
          > a {
            width: auto;
            cursor: pointer;
            min-width: 0;
            display: inline-block;
            position: relative;
            padding-top: 4px;
            padding-bottom: 4px;
            &:after {
              content: "\f054";
              position: absolute;
              right: 4px;
              top: calc(50% + 0.75px);
              transform: translateY(-50%);
              font-family: FontAwesome, "Font Awesome", "FontAwesome";
              font-size: 8px;
            }
          }
        }
        .nav1 {
          position: relative;
          z-index: 1;
          transition: 0.3s cubic-bezier(1, 0, 0, 1) !important;
          will-change: transform;
          > ul.sub-menu {
            opacity: 0;
          }
          &.active {
            z-index: 2;
            transform: translateY(var(--navPosition));
            > a:after {
              right: auto;
              left: 4px;
              transform: scaleX(-1) translateY(-50%);
            }
            > ul.sub-menu {
              transform: translateX(0);
              padding-left: 16px;
              margin-top: -4px;
              transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
              transition-delay: 0.1s;
              opacity: 1;
              .nav2.hidden {
                font-size: 0;
                > a {
                  font-size: 0 !important;
                }
              }
              .nav2 {
                min-width: 100%;
                flex-direction: column;
                .hidden {
                  > a {
                    font-size: 0;
                  }
                  ul {
                    padding-left: 0;
                  }
                }
                .nav3 {
                  ul.sub-menu {
                    transform: translateX(300%);
                    opacity: 0;
                  }
                  &.active {
                    ul.sub-menu {
                      height: auto !important;
                      width: 100% !important;
                      padding-left: 8px;
                      transform: translateX(0%);
                      transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
                      transition-delay: 0.1s;
                      opacity: 1 !important;
                      li {
                        opacity: 1 !important;
                        a {
                          color: rgba(17, 85, 203, 0.75) !important;
                          opacity: 1 !important;
                        }
                      }
                    }
                  }
                }
                ul > li {
                  a {
                    font-size: 14.4px !important;
                    padding-top: 0;
                    padding-bottom: 4px;
                    color: #555 !important;
                    &:after {
                      position: relative;
                      display: inline-block;
                      margin-left: 4px;
                      top: auto;
                      transform: translateY(-0.8px);
                      right: auto;
                    }
                  }
                }
                &:not(.menu-item-has-children) {
                  &:first-of-type {
                    > a {
                      padding-top: 8px;
                    }
                  }
                  > a {
                    padding-bottom: 2.4px;
                    padding-top: 0;
                  }
                }
                > a {
                  color: rgb(17, 85, 203) !important;
                  padding-left: 8px;
                  font-size: 15.2px !important;
                  &:after {
                    display: none;
                  }
                }
              }
              ul.sub-menu {
                transform: none;
                position: relative;
                li {
                  display: flex;
                  &.nav3 {
                    &.active {
                      > a {
                        &:after {
                          transform: scaleX(-1) translateY(4px);
                          position: absolute;
                          left: 0;
                        }
                      }
                    }
                    ul.sub-menu {
                      display: flex;
                      height: 0;
                      width: 0;
                      overflow: hidden;
                    }
                  }
                }
              }
            }
          }
          > ul.sub-menu {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            top: 100%;
            transform: translateX(150%);
            transition-delay: 0s;
            > li {
              display: flex;
            }
          }
        }
        .navbtn {
          display: none;
        }
        ul {
          padding-left: 0;
          padding-right: 0;
          li {
            display: none;
          }
        }
        > li {
          a {
            color: rgb(6, 47, 77);
            img {
              display: none;
              opacity: 0;
              width: 0;
              height: 0;
              visibility: hidden;
            }
          }
        }
      }
      ul {
        max-width: 100% !important;
        list-style-type: none;
      }
    }
  }
}

@media (max-width: 993px) {
  .navbar.full-width.mobile-triggers .collapse ul {
    max-width: 768px !important;
  }
}

body {
  --navPosition: 0px;
}

// Compressed vertical space queries for subnav

@media (max-height: 662px) and (min-width: 1080px) {
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    .page-subscriptions
    table
    thead
    th.description,
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    p.description,
  .page-subscriptions
    table
    thead
    .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    th.description {
    display: none;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    > ul
    li.menu-item-has-children
    > ul {
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 75%;
    left: 0%;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    > ul
    > li {
    padding: 25px 10px 35px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .sub-menu
    .nav2:nth-of-type(1)
    > ul
    > li {
    padding-top: 15px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .sub-menu
    .nav2:nth-of-type(1)
    > ul
    > li
    > ul
    > li {
    padding-top: 0px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .two-row
    ul
    li.nav2
    > a {
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .two-row
    ul
    li.nav2:last-of-type
    > a {
    padding-top: 20px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .two-row
    ul
    li.nav2:last-of-type
    .nav-btns {
    top: 65px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    .nav-btns {
    top: 55px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    > ul
    > li
    > a
    img {
    width: 30px;
    left: -40px;
    top: -6.5px;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    ul.sub-menu
    > li
    > ul
    > li
    > a {
    transform: translateX(30px);
  }
}

@media (min-width: 1080px) {
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    > li.menu-item.hidden {
    padding-top: 0.85rem;
  }

  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    li.toplabel.centered
    ul.sub-menu
    > li
    > ul
    li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    > li:not(.decentralization)
    > a {
    text-align: center;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel {
    li {
      a {
        margin-left: 0px;
      }
    }
    .nav2 {
      padding-top: 0;
      margin-top: 0;
    }
    .nav2.icon {
      margin-top: 0rem;
    }
    &:hover {
      .icon {
        a {
          img {
            animation: none;
          }
        }
      }
    }
    .icon > a {
      padding-top: 32px;
      position: relative;
      img {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0%);
        display: block;
        width: auto;
        height: 24px;
      }
    }
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel
    ul.sub-menu
    > li
    > ul
    > li.nav-button {
    width: 200px;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 0rem;
    padding-top: 0.5rem;
    a {
      width: 100% !important;
      color: #1155cb;
    }
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    ul.sub-menu
    li {
    &.nav2 {
      &:hover {
        > a {
          color: #062f4d;
        }
      }
      &.icon {
        > a {
          padding-top: 32px;
        }
      }
      &.hidden {
        font-size: 0px;
        > a {
          font-size: 0;
        }
      }
      > a {
        font-size: 18px;
        padding-top: 1rem;
        color: #062f4d;
      }
    }
    &:hover {
      > a {
        color: #062f4d;
      }
    }
    a {
      text-transform: none;
      color: #1155cb;
    }
    &.nav2 {
      > ul {
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
    }
    text-align: center;
    a {
      text-align: center;
    }
    .description {
      padding-top: 0;
    }
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel
    ul.sub-menu
    > li
    > ul
    > li.nav-button
    a {
    border: 1px solid;
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: 0.2s ease-in-out;
  }

  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel
    ul.sub-menu
    > li
    > ul
    > li.nav-button.reverse
    a {
    background: #1155cb;
    color: #fff !important;
    &:hover {
      background: #062f4d;
      color: #fff !important;
    }
  }

  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel
    ul.sub-menu
    > li
    > ul
    > li.nav-button
    a:hover {
    background: #1155cb;
    color: #fff;
  }

  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    * {
    transition: 0.3s ease-in-out;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.centered
    > ul.sub-menu
    > li:last-of-type {
    background: #fff;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.centered
    > ul.sub-menu
    > li:nth-of-type(even) {
    background: lighten(rgb(244, 249, 255), 1%);
    margin-top: 0.5rem;
    .nav-button {
      margin-bottom: 0.25rem;
    }
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.centered
    > ul.sub-menu
    > li:last-of-type {
    background: rgb(244, 249, 255);
    > ul > li {
      padding-bottom: 2.5rem;
    }
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    > li
    > ul {
    justify-content: center;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.centered
    > ul.sub-menu
    > li.twocol
    > ul {
    width: 50%;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.centered
    > ul.sub-menu
    > li.twocol
    > ul
    > li {
    width: 50%;
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu {
    min-width: 800px;
    clip-path: polygon(-10% 0, 110% 0, 110% 0, -10% 0);
    transition: clip-path 0.3s ease-in-out;
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    > li {
      padding: 0rem 1rem;
      > ul {
        > li {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered:hover
    > ul.sub-menu {
    clip-path: polygon(-10% -10%, 110% -10%, 110% 110%, -10% 110%);
  }
  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    > li:not(.decentralization)
    > a {
    padding-bottom: 0;
  }

  .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    > li:not(.decentralization)
    > a {
    padding-right: 0;
    margin-right: 0;
  }
}

@media (max-height: 580px) {
  body
    .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    p.description {
    display: none;
  }
}

@media (max-height: 680px) {
  body
    .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    li.icon
    > a {
    padding-top: 0 !important;
  }

  body
    .navbar.full-width
    .kong-navbar_nav
    #menu-primary-nav
    .multicol.wide.toplabel.centered
    > ul.sub-menu
    li.icon
    > a
    img {
    display: none;
  }
}

// Add maring to page while cookie policy is open
// .page.page-cookie-policy{
//   // NOTE: Commenting out until summit banner is removed
//   // margin-top: 50px;
//   margin-top: 150px;
//   @media screen and (max-width: 1100px) {
//     margin-top: 0;
//   }
// }
