body {
  --green: #17a956;
  --blue: #062f4d;
  header {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  nav.docs-navigation {
    @media (max-width: 1100px) {
      padding-top: 75px;
    }
  }
}

@media all {
  body
    header.navbar.navbar-inverse.navbar-toggleable-lg.kong-navbar.flex-row.align-items-center
    .container {
    max-width: 100%;
  }

  #promo-banner {
    display: none;
  }

  @media (min-width: 1080px) {
    body.banner {
      #promo-banner {
        position: fixed;
        display: flex;
        top: 0;
        width: 100vw;
        height: 35px;
        max-height: 35px;
        left: 0;
        z-index: 9;
        top: 0px;
        overflow: hidden;
        background: @blue-500;
        align-items: center;
        justify-content: center;
        strong,
        label,
        a {
          display: inline-block;
        }
        label {
          font-size: 10px;
          text-transform: uppercase;
          background: #fff;
          color: @blue-500;
          padding: 0rem 1.25rem;
          border-radius: 50px;
          margin-right: 1rem;
          transform: translateY(-1.5px);
        }
        strong,
        a {
          font-size: 14px;
          color: #fff;
          font-weight: 500;
        }
        a {
          text-decoration: underline;
          margin-left: 10px;
        }
        .closebanner {
          position: absolute;
          height: 14px;
          width: 14px;
          z-index: 11;
          left: 0;
          top: 7px;
          opacity: 1;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          &:hover {
            box-shadow: 0 0 0 2px #fff;
            opacity: 1;
          }
          &:before {
            content: "";
            background: linear-gradient(
                45deg,
                transparent calc(50% - 1px),
                #fff calc(50% - 1px),
                #fff calc(50% + 1px),
                transparent calc(50% + 1px)
              ),
              linear-gradient(
                -45deg,
                transparent calc(50% - 1px),
                #fff calc(50% - 1px),
                #fff calc(50% + 1px),
                transparent calc(50% + 1px)
              );
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;
            border-radius: 100%;
            cursor: pointer;
          }
        }
        .container {
          text-align: center;
        }
      }

      header #promo-banner ~ .navbar-content {
        margin-top: 17.5px;
        background: transparent;
      }
      // uncomment this section when adding a new promo banner
      // also uncomment the promo banner sections in /app/_includes/nav-v2.html and gulpfile.js
      header.navbar-v2 {
        transition: transform 0.2s ease-in-out;
        will-change: transform;
        height: 95px;
      }

      header.navbar-v2.closed {
        transition: 0s ease-in-out;
      }

      header.closed,
      header.compress {
        transform: translateY(-35px);
      }

      header:not(.closed) ~ .landing-page {
        margin-top: 35px;
      }
      header:not(.closed) ~ div.page {
        margin-top: 100px;
      }
    }
  }
}
