.page-hub {
  .blockquote-notes();
  font-family: @family-display;

  .container {
    max-width: @content-max-width-landing;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 40px;
  }

  // Sets scroll distance for skip to content button
  #main {
    scroll-margin-top: 100px;
  }

  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    margin-bottom: 10px;
    color: inherit;
  }

  h2 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
    color: inherit;
  }

  h3 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-left: 1.2rem;
    color: inherit;
  }

  h2 a, h3 a {
    color: inherit;
    text-decoration: underline;
  }

  h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
    letter-spacing: 0.5px;
    margin: 15px 16px 10px;
    color: @blue-700;
  }

  .page-hub--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 82px 0px 32px;
    gap: 10px;
    color: white;

    
    @media (max-width: 690px) {
      padding: 72px 0px 52px;
    }

    a:hover {
      color: @blue-200;
    }
  }

  .page-hub--header-background {
    position: absolute;
    width: 100%;
    height: 309px;
    left: 0px;
    top: 58px;
    background: linear-gradient(180deg, #121418 -5.13%, #062D73 54.03%, #073382 100%);
    z-index: -1;

    @media (max-width: 690px) {
      height: 349px;
    }
  }

  .page-hub--wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 0 auto;
  }

  .page-hub--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 100%;

    *,
    ::after,
    ::before {
      box-sizing: inherit;
    }
  }

  .page-hub--filters {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    background: #FFFFFF;
    border: 1px solid @grey-200;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    max-width: @content-max-width;
    flex-wrap: wrap;

    @media (max-width: 990px) {
      flex-direction: column;
    }

    &__filter {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      height: 80px;
      background: white;
      align-self: stretch;
      border-left: 1px solid @grey-200;
      flex: none;

      .dropdown {
        display: flex;
        height: 100%;
        width: 100%;

        &-button {
          background: white;
          display: flex;
          height: 100%;
          width: 100%;
          padding: 0px 24px;
          border: none;
          align-items: center;
          text-transform: none;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          color: rgba(0, 0, 0, 0.85);

          &:hover {
            background: #F2F6FE;
          }

          &__label {
            display: flex;
            gap: 8px;

            .selected-counter {
              background: #1155CB;
              border-radius: 8px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              width: 24px;
              padding: 6px 8px;
              justify-self: flex-start;
              height: 28px;
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
              color: white;
              visibility: hidden;
            }
          }

          @media (max-width: 990px) {
            justify-content: space-between;
          }
        }

        &-menu {
          top: 80px;
          margin: 0;
          padding: 0;
          z-index: 1;
        }

        &-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 12px 24px;
          gap: 8px;
          width: 100%;
          height: 50px;
          background: white;
          border-radius: 4px;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          justify-content: space-between;

          &:hover {
            cursor: pointer;
            background: #F2F6FE;
          }

          img {
            display: none;
          }

          &.active {
            background: @blue-100;

            img {
              display: flex;
            }
          }
        }
      }

      &-name {
        border-radius: 16px 16px 0px 16px;
        padding: 0px 24px;
        order: 0;
        flex-grow: 1;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #8A8A8A;

        #filter-plugins {
          display: flex;
          flex-grow: 1;
          margin: 0;
          border: none;
          box-shadow: none;
        }

        .clear-search {
          width: 28px;
          height: 28px;
          display: flex;
          background: #F2F6FE;
          align-self: center;
          align-items: center;
          border-radius: 28px;
          justify-content: center;
          cursor: pointer;

          img {
            width: 10px;
            height: 10px;
          }

          &:hover {
            background: @steel-200;
            transition: ease 0.2s;
          }
        }
      }

      &-tiers {
        order: 1;
        flex-grow: 1;
      }

      &-categories {
        order: 2;
        flex-grow: 1;
      }

      &-support {
        order: 3;
        flex-grow: 0;
      }

      &-compatibility {
        border-radius: 0px 16px 16px 0px;
        order: 4;
        flex-grow: 0;

        .dropdown-button {
          border-radius: 0px 16px 16px 0px;
        }
      }

      &-advanced {
        border-radius: 0px 16px 16px 0px;
        order: 5;
        flex-grow: 1;
        justify-content: center;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        font-weight: 600;
        color: @blue-500;
      }
    }
  }

  .page-hub--category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 100%;

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px;
      gap: 16px;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin: 0;
      color: #262E33;
      font-size: 30px;

      h4 {
        display: flex;
        align-items: center;
        color: @gray-darker;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
      }
    }

    &-cards {
      display: grid;
      grid-gap: 32px;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;

      @media (max-width: 767px) {
        grid-template-columns: none;
      }
    }
  }

  //  Occurs when you click on a filter
  .fadeOut {
    display: none;
  }

  .plugin-card:hover {
    background-color: #f8f9fc;

    .plugin-name {
      color: @blue-500;
    }
  }

  .plugin-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: white;
    border: 1px solid @grey-200;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    order: 0;
    align-self: stretch;

    @media (min-width: 990px) {
      min-height: 305px;
    }

    a {
      width: 100%;
      display: flex;
      flex: none;
      order: 0;
      flex-grow: 1;
    }

    &--content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &--meta {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 1;
      gap: 16px;

      &__name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 24px 0px;
        gap: 24px;
        width: 100%;

        img {
          height: 64px;
          width: 64px;
          border-radius: 2px;
          flex: none;
          order: 0;
          flex-grow: 0;
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 24px;
          display: flex;
          align-items: center;
          color: #2F2F2F;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          margin: 0;
        }
      }

      &__badges {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 24px;
        gap: 16px;
        flex: none;
        flex-grow: 0;
        flex-wrap: wrap;

        @media (max-width: 690px) {
          flex-direction: column;
        }
      }

      &__description {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px 24px 14px;
        gap: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: @black-45;
      }
    }

    &--publisher {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 24px;
      gap: 8px;
      background: #F5F8FF;
      border-radius: 0px 0px 8px 8px;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;

      &.third-party {
        background: #F8F8FA;
      }

      &__support {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: @black-45;
      }

      &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
