.navtabs {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

    &.codeblock {
      background-color: @grey-200;
      border: 1px solid @grey-200;
      border-radius: 3px;
      line-height: 24px;

      pre {
        border: none;
        margin-bottom: 0;

        code {
          padding: 0;
        }
      }

      .navtab-titles {
        background-color: @grey-200;
        color: rgba(black, 0.6);
        opacity: 1;
        displaY: flex;

        .navtab-title {
          font-size: 14px;
          z-index: 10;
          padding: 6px 16px;

          &:not(.active):hover {
            color: rgba(black, 1);
          }
        }
      }

      .navtab-contents {
        padding: 0;
        margin-top: -20px;
        margin-bottom: 0;
        border: none;

        .copy-code-snippet {
          .copy-action {
            margin-top: -35px;
          }
        }
      }
    }

  .navtab-titles {
    display: flex;
    align-items: center;
    border-bottom: 1px solid @gray;

    .navtab-title {
      position: relative;
      cursor: pointer;
      padding: 8px 16px;
      font-size: 16px;
      font-weight: 600;
      opacity: 0.7;

      &:hover {
        color: rgba(black, 0.4);
        transition: color 0.2s;
      }

      &::after {
        position: absolute;
        content: "";
        opacity: 0;
        width: 100%;
        left: 0;
        top: 100%;
        background: @blue-500;
        height: 2px;
        transition: opacity 0.2s;
      }

      &.active {
        opacity: 1;
        color: @blue-500;
        cursor: text;

        &::after {
          opacity: 1;
        }
      }
    }

    @media (max-width: 575px) {
      display: inline;
      }
  }

  .navtab-contents {
    padding: 1.5rem 0 0 0;
  }
}
