.page {
  &.v2 {
    .container {
      padding: 0;
      width: 1600px;

      @media screen and (max-width: 1600px) {
        width: 99%;
      }

      @media screen and (max-width: 800px) {
        padding: 8px;
      }
    }

    .page-header {
      margin-top: 55px;
      padding-top: 40px;
      padding-bottom: 32px;

      nav.docs-navigation {
        padding-left: 8px;
        padding-right: 8px;

        > a {
          flex-shrink: 0;
        }

        .header-actions {
          position: absolute;
          right: 0;
          bottom: 8px;
          display: flex;
          align-items: center;

          #search-version-icon {
            display: none;
            cursor: pointer;
            margin-left: 8px;
          }

          .search-version-row {
            #version-dropdown {
              padding: 0 8px;
              font-size: 12px;
            }

            #getkong-algolia-search {
              .algolia-autocomplete {
                width: auto;

                #getkong-algolia-search-input {
                  transition: width 0.2s;
                  width: 150px;
                }
              }
            }
          }

          .edit-this-page {
            flex-shrink: 0;
          }
        }

        @media (max-width: 800px) {
          .header-actions {
            top: -100%;
            #search-version-icon {
              display: block;
            }

            .search-version-row {
              display: none;
              position: absolute;
              width: auto;
              top: calc(100% + 1.25rem);
              right: 0;
              &.visible {
                display: flex;
              }
            }
          }
        }

        @media (max-width: 1100px) {
          padding: 8px 8px 0;
        }

        @media (min-width: 600px) {
          #getkong-algolia-search-input {
            &:focus {
              width: 220px;
            }
          }
        }

        @media (max-width: 476px) {
          #getkong-algolia-search {
            margin: 0;
          }
        }
      }

      .title-version-search-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .page-header-title {
        margin: 0;
        max-width: none;
        display: block;
        text-align: center;

        h1 {
          font-size: 34px;
          color: #062e4d;
          font-weight: lighter;
        }

        h2 {
          max-width: 800px;
          margin-top: 16px;
          font-size: 16px;
          font-weight: lighter;
          opacity: 0.6;
        }
      }

      @media (max-width: 1100px) {
        padding-top: 24px;
      }
    }

    .page-content-container {
      padding-left: 285px;

      &.no-sidebar {
        padding-left: 50px;
      }

      .page-content {
        padding-left: 50px;

        .welcome-text {
          margin-bottom: 32px;
          font-size: 16px;
        }

        .content-edition, .content-version {
          display: none;
          visibility: hidden;
        }
      }

      @media (max-width: 800px) {
        padding-left: 0;
        padding-right: 0;

        .page-content {
          border-left: none;

          .content-edition {
            margin-bottom: 10px;
            color: #043558;
            font: 500 24px/28px Roboto;
            transition: font-size 0.25s;
          }

          .content-version {
            color: #4c6d80;
            text-transform: uppercase;
            font: 700 12px/16px Roboto;
          }

          .content-edition, .content-version {
            display: block;
            visibility: visible;
          }

          .content-header {
            z-index: 90;
            margin-bottom: 24px;
            max-height: 88px;
            transition: max-height 0.25s ease-in-out;

            &.scrolled {
              max-height: 68px;
              position: fixed;
              padding: 4px 18px;
              margin: -4px -20px;
              top: 60px;
              width: calc(100% - 32px);
              background-color: white;
              box-shadow: 0 20px 24px rgba(4, 53, 88, 0.1);

              .content-edition {
                font: 700 12px/16px Roboto;
              }
            }
          }
        }
      }
    }

    &:not(.homepage) {
      .page-header {
        background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0),
          #effeff
        );
        padding-bottom: 12px;

        .container {
          max-width: none;

          .docs-navigation {
            max-width: 1320px;
            margin: 0 auto 32px;
          }
        }

        .page-header-title {
          text-align: left;
        }

        .title-version-search-container {
          justify-content: space-between;
          padding-left: 360px;
          padding-right: 360px;
          min-height: 100px;
        }

        @media screen and (max-width: 1300px) {
          .title-version-search-container {
            padding-left: 316px;
            padding-right: 32px;
          }
        }

        @media screen and (max-width: 800px) {
          .title-version-search-container {
            justify-content: center;
            margin-top: 50px;
            padding-left: 32px;
            padding-right: 32px;

            .page-header-title {
              text-align: center;
            }
          }
        }
      }

      .page-content-container {
        margin-top: 64px;
        padding-right: 250px;

        .page-content {
          padding-left: 50px;
          padding-right: 50px;
        }

        @media screen and (min-width: 1081px) {
          &.toc-collapsed {
            padding-right: 24px;
          }
        }

        @media screen and (min-width: 801px) and (max-width: 1300px) {
          padding-right: 0;

          &.no-sidebar {
            padding-left: 0;
          }

          .page-content {
            padding: 0 50px;

            .content {
              padding-top: 50px;
            }
          }
        }

        @media screen and (max-width: 800px) {
          padding-right: 0;

          &.no-sidebar {
            padding-left: 0;
          }

          .page-content {
            padding: 0 8px;

            .content {
              padding-top: 0;

              &.scrolled {
                padding-top: 60px;
              }
            }
          }
        }
      }

      > .container {
        max-width: none;
      }
    }

    &.homepage {
      .title-version-search-container {
        flex-direction: column;
      }

      .page-content {
        padding-left: 32px;
        padding-right: 32px;

        .content {
          padding-top: 32px;
        }
      }
    }
  }

  &:not(.v2) {
    .page-content-container {
      padding-right: 230px;

      .page-content {
        padding-right: 50px;
        border-right: 1px solid @gray;
        margin-right: 25px;
      }

      @media (max-width: 800px) {
        padding-left: 0;
        padding-right: 0;

        .page-content {
          padding: 0;
          border-right: none;
          border-left: none;
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
  }
}

.page-header {
  position: relative;
  padding: 95px 0 20px;

  @media (max-width: 1100px) {
    padding: 95px 0 25px;
  }

  // Needs to be above page-content header margins
  .container {
    z-index: 5;
  }

  @media (max-width: 800px) {
    padding: 95px 0 25px;
  }

  h1,
  p,
  .page-header-section-title {
    margin: 0;
  }

  .page-header-icon {
    width: 64px;
    vertical-align: middle;
    display: inline-block;
    margin: 8px 15px 0;

    @media (max-width: 800px) {
      margin-right: 20px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    @media (max-width: 800px) {
      width: 48px;
    }
  }

  .page-header-title {
    display: inline-block;
    vertical-align: bottom;

    h1 {
      color: #062e4d;
      margin-bottom: 0.1em;
      margin-top: 0.1em;
      font: lighter 38px/40px Roboto;
      scroll-margin-top: 100px;
    }

    @media screen and (max-width: 1080px) {
      max-width: 100%;
    }
  }

  .page-header-btn {
    &#version-dropdown {
      height: 32px;
      color: @gray-dark;
      text-transform: uppercase;
      font: bold 12px/16px Roboto;
      padding: 0 8px;
      font-size: 12px;
      width: 100%;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-color: @gray-border;
      background-color: @gray-background;

      @media screen and (max-width: 476px) {
        float: left;
      }
    }
  }

  .page-header-btn-repo {
    &:before {
      content: "";
      display: inline-block;
      width: 19px;
      height: 22px;
      background: url(/assets/images/logos/logo-github.svg) no-repeat;
      background-size: contain;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  .page-header-right {
    position: absolute;
    right: 0;
    top: 75%;
    margin-top: 0px;
    min-width: 220px;

    @media (max-width: 1300px) {
      position: static;
      margin-top: 20px;
      display: inline-block;
      vertical-align: bottom;
    }

    &#searchBar {
      top: 50%;
    }
  }

  .dropdown .dropdown-menu {
    @media (max-width: 476px) {
      right: auto;
      float: left;
      top: 90%;
    }
  }
}

.sidebar-toggle {
  display: none;
  margin-left: auto;
  cursor: pointer;
  width: 24px;
  height: 26px;
  margin-bottom: .2rem;
  background: center no-repeat url(/assets/images/icons/icn-frame.svg);

  @media (max-width: 800px) {
    display: flex;
  }
}

.page-navigation {
  float: right;
  width: 215px;
  padding: 20px 0 0 10px;

  &.with-dropdown {
    padding: 80px 0 0 10px;
  }

  .close-sidebar {
    display: none;
    position: fixed;
    top: 1rem;
    right: 25px;
    width: 30px;
    height: 30px;
    overflow: hidden;

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -2px;
      border-radius: 5px;
      background: #000;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .github-links {
    margin-bottom: 0;

    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;

      li {
        position: relative;
        margin: 0;
        border: none;
        padding-bottom: 3px;
        vertical-align: text-top;

        a {
          font-size: 14px;
          color: @blue-500;

            img, i {
              float: left;
              padding-right: 12px;
              display: inline-block;
              width: 16px;
              opacity: 0.4;
              position: relative;
              top: 6px;
              }

            i {
              opacity: 1;
              font-size: 14px;
              left: 1.5px;
            }
          }
        }
      }
    }

  @media (max-width: 800px) {
    position: fixed;
    top: 56px;
    right: 0;
    padding: 25px;
    height: ~"calc(100% - 80px)";
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.15);
    border: 0 none;
    background: #fff;
    overflow: scroll;
    z-index: 100;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transition: all 300ms ease-in-out;

    .close-sidebar {
      display: block;
      z-index: 100;
    }

    &.sidebar-open {
      transform: translateX(0);
    }

    nav {
      h5,
      a {
        font-size: 15px;
      }
    }
  }

  h5 {
    .font-source-sans-sc();
    font-size: 14px;
    color: @gray-darker;
    margin-bottom: 8px;
    line-height: 1.6;
  }

  nav {
    margin-bottom: 1.5em;
  }

  li {
    line-height: 26px;

    a {
      color: #85898c;
    }
  }

  li ul {
    padding-left: 15px;

    a {
      color: #85898c;
    }
  }

  li a.active {
    color: @gray-darker;
    font-weight: 600;
    opacity: 1;
  }

  a {
    font-size: 14px;
    color: @blue-500;

    &:hover {
    opacity: 0.5;
    }
  }

  .fa {
    color: #acb7bf;
  }

  table {
    a {
      color: @blue-500;
    }
  }
}

.toggles {
  display: flex;

  &.no-sidebar {
    justify-content: flex-end;
  }

  .sidebar-toggle {
    display: block;
    visibility: hidden;
    margin-left: 0;
  }

  .toc-sidebar-toggle {
    display: none;
    position: fixed;
    padding: 12px;
    top: calc(50vh - 16px);
    right: 0;
    border-radius: 25px 0 0 25px;
    background-color: @gray-background;
  }

  i {
    padding: 8px;
    color: rgba(0, 0, 0, 0.35);
    font-size: 22px;
  }

  @media screen and (max-width: 1080px) {
    height: auto;
  }

  @media screen and (max-width: 1300px) {
    .sidebar-toggle {
      visibility: visible;
    }

    .toc-sidebar-toggle {
      cursor: pointer;
      display: block;
      z-index: 90;
    }
  }
}

.docs-navigation {
  position: relative;

  .toggles {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 16px;
  }
}

.page-content-container {
  .page-content {
    .reading-time {
      font-size: 15px;
      display: block;
      color: #b9b9b9;
      margin-bottom: 14px;
      padding-bottom: 1rem;
    }

    @media (max-width: 800px) {
      padding: 0;
      border-right: none;
      border-left: none;
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media (max-width: 800px) {
    padding-right: 0;
    padding-left: 0;
  }

  &:not(.v2) {
    .toggles {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}

.content {
  padding: 50px 0;
  .font-source-sans();
  font-size: 17px;
  line-height: 1.5;

  .big {
    font-size: 23px;
  }

  .help {
    img {
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
    }
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .font-source-sans();
    color: @font-color;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1em;
    font-weight: 600;
  }

  h2,
  h3 {
    font-weight: 600;
    color: #262e33;
  }

  h1 {
    font-size: 36px;
    color: #262e33;
    margin-top: 1em;
    margin-bottom: 0.8em;
    font-weight: 100;
  }

  .alert + h1 {
    margin-top: 1em;
  }

  h2 {
    font-size: 30px;
    margin-top: 2em;
    margin-bottom: 0.8em;
  }

  h3 {
    font-size: 30px;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  h4 {
    margin-top: 1.3em;
    margin-bottom: 0.7em;
  }

  h5 {
    margin-top: 1.2em;
    margin-bottom: 0.8em;
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child {
    margin-top: 0;
  }

  ol {
    &:extend(.instructions-steps);
    padding-left: 19px;

    li {
      &:extend(.instructions-steps .instructions-step-item all);
      padding: 7px 0 15px 35px;

      &:last-child {
        padding-bottom: 15px;
      }

      &:before {
        color: @font-color;
        width: 36px;
        height: 36px;
        line-height: 36px;
        left: -19px;
      }
    }
  }

  p,
  figure {
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: @blue-500;

    &:hover, &:focus {
      text-decoration: underline;
      opacity: 0.7;
    }
  }

  hr {
    border-top: 2px solid @gray;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  img.inline {
    display: inline-block;
    padding-left: 0.25rem;
    margin-bottom: -0.2rem;
  }

  figcaption {
    border: 1px solid #efefef;
    border-radius: 0 0 3px 3px;
    background-color: #fcfcfc;
    .font-source-sans();
    font-size: 14px;
    padding: 14px 13px;
    line-height: 1;
    color: #879199;
  }

  pre {
    background-color: @grey-100;
    border: 1px solid @grey-200;
    color: #000;
    line-height: 24px;
    margin: 1.3em 0;
    padding: 12px 17px;
    border-radius: 3px;
    max-height: 400px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(0,0,0,0.25);
    }

    &::-webkit-scrollbar-thumb {
      background-color: @gray;
      outline: 1px solid @gray;
    }

    &::-webkit-scrollbar-corner {
      background-color: @gray-light;
      border-right: 1px solid @gray;
      border-radius: 3px;
    }

    code {
      padding: 8px 0;
      color: #000;
      background: transparent;
    }
  }

  /*
Generic Styling for Desktop
*/

  table {
    display: block;
    max-width: 100%;
    font-size: 16px;
    overflow-x: auto;
    border: none;
    border-collapse: collapse;
    border-radius: 3px;
    margin-top: 1.5em;
    position: relative;

    i.fa-times {
      color: @red-500;
      opacity: 50%;
      font-size: 20px;
    }

    i.fa-check {
      color: @green-400;
      font-size: 18px;
    }

    code {
      white-space: normal;
      font-size: 13px;
      background-color: #fff;
      border: 1px solid @steel-200;
    }

    a {
      text-decoration: none;
      color: @blue-500;
    }
  }

  code {
    font-size: 14px;
  }

  tr, th, td {
    border: none;
  }

  th {
    font-weight: 600;
    font-size: 15px;
    color: @black-80;
    background-color: #fff;
    padding: 8px 16px 8px;
    border-bottom: 2px solid @steel-200;
    border-top: none;
    position: -webkit-sticky;
    position: sticky;
    vertical-align: bottom;
    top: 0;
    z-index: 2;
    text-transform: uppercase;
  }

  td {
    padding: 8px 16px 8px;
  }

  tr:nth-child(even) {
    background-color: @steel-080;
    border: 1px solid @steel-100;
  }

  tr:nth-child(odd) {
    background-color: @steel-100;
    border: 1px solid @steel-100;
  }



  @media only screen and (max-width: 1099px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      text-align: left;
    }

    table {
      /* Hide table headers  */

      thead tr {
        display: none;
      }

      tr {
        border-top: 1px solid @steel-200;
        border-bottom: 1px solid @steel-200;
      }

      td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid @steel-200;
        position: relative;
      }

      td:before {
        padding-right: 10px;
        white-space: nowrap;

        content: attr(data-label);
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .alert {
    margin-bottom: 0.8em;
    font-size: 17px;
    border-radius: 3px;

    &.alert-warning {
      color: hsl(45, 2%, 36%);
      background-color: @yellow-100;
      border-left: solid 3px @yellow-400;

        &::before {
          content: "\f071";
          font-family: "Font Awesome", FontAwesome;
          color: @yellow-400;
          display: inline-block;
          font-weight: 600;
          font-size: 17px;
          padding: 0 5px 0 0;
        }
      }

    &.alert-red {
      background-color: @red-100;
      border-left: solid 3px @red-500;

      &::before {
        content: "\f057";
        font-family: "Font Awesome", FontAwesome;
        color: @red-500;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    ol, li {
      margin-bottom: 0;
      margin-top: 0.5em;
    }
  }

  .alert-ee {
    background-color: @blue-100;
    border: none;
    border-left: solid 3px @blue-400;
    font-size: 17px;

    &::before {
      content: "\f05a";
      font-family: "Font Awesome", FontAwesome;
      color: @blue-400;
      display: inline-block;
      font-weight: 600;
      font-size: 17px;
      padding: 0 5px 0 0;
    }

    &.error {
      background-color: @red-100;
      border-left: solid 3px @red-500;

      &::before {
        content: "\f057";
        font-family: "Font Awesome", FontAwesome;
        color: @red-500;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    &.warning {
      background-color: @yellow-100;
      border-left: solid 3px @yellow-400;

      &::before {
        content: "\f071";
        font-family: "Font Awesome", FontAwesome;
        color: @yellow-400;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    &.info {
      background-color: @blue-100;
      border: none;
      border-left: solid 3px @blue-400;

      &::before {
        content: "\f05a";
        font-family: "Font Awesome", FontAwesome;
        color: @blue-400;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    &.tip {
      border-left: 3px solid @green-400;
      background-color: @green-100;

      &::before {
        content: "\f058";
        font-family: "Font Awesome", FontAwesome;
        color: @green-400;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    .alert-body {
      padding-top: 20px;
    }

    .left {
      float: left;
      padding-top: 5px;
      margin: 0 20px 0;
    }

    .tag {
      padding: 2px 8px;
      margin-right: 12px;
      border-radius: 11px;
      font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;
      background: @blue;
      color: white;

      &.green {
        background: #35cb05;
      }

      &.red {
        background: @red;
      }
    }

    img {
      width: 20px;
      margin-right: 5px;
      margin-top: 3px;
      float: left;
      display: inline-block;
    }

    code {
      font-size: 13px;
    }

    p {
      padding: 0 25px 0 75px;
      font-size: 16px;
    }

    a {
      text-decoration: none;
      color: @blue-500;
    }

    &.condensed {
      padding: 6px 8px;

      .alert-body {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
      }

      p {
        flex-grow: 1;
        padding: 0;
        margin: 0;
      }
    }

    &.margin-bigger {
      margin-bottom: 32px;
    }
  }

  blockquote {
    margin-bottom: 1.3em;
    padding: 15px 18px;
    background-color: @blue-100;
    border: none;
    border-left: solid 3px @blue-400;
    border-radius: 3px;
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;

    ol, ul {
      margin-top: 0.5em;
      margin-bottom: 0;
    }

    pre, code {
      background-color: #fff;
      border: none;
      padding: 3px;
    }

    p, b, strong {
      padding: 0;
      margin: 0;
      display: inline;
    }

    &::before {
      content: "\f05a";
      font-family: "Font Awesome", FontAwesome;
      color: @blue-400;
      display: inline-block;
      font-weight: 600;
      font-size: 17px;
      padding: 0 5px ;
    }
    &.warning {
      background-color: @red-100;
      border-left: solid 3px @red-500;

      &::before {
        content: "\f057";
        font-family: "Font Awesome", FontAwesome;
        color: @red-500;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    &.important {
      background-color: @yellow-100;
      border-left: solid 3px @yellow-400;

      &::before {
        content: "\f071";
        font-family: "Font Awesome", FontAwesome;
        color: @yellow-400;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    &.info {
      background-color: @blue-100;
      border: none;
      border-left: solid 3px @blue-400;

      &::before {
        content: "\f05a";
        font-family: "Font Awesome", FontAwesome;
        color: @blue-400;
        display: inline-block;
        font-weight: bold;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }

    &.tip {
      border-left: 3px solid @green-400;
      background-color: @green-100;

      &::before {
        content: "\f058";
        font-family: "Font Awesome", FontAwesome;
        color: @green-400;
        display: inline-block;
        font-weight: 600;
        font-size: 17px;
        padding: 0 5px 0 0;
      }
    }
  }

  .docs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    margin: 0;
    justify-content: flex-start;
    align-content: flex-start;

    &:after {
      content: " ";
      display: block;
      clear: left;
    }

    .docs-grid-block {
      border: 1px solid #eee;
      box-sizing: border-box;
      border-radius: 4px;
      text-align: left;
      min-height: 120px;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: flex-start;
      padding: 16px;
      text-decoration: none;
      margin-top: 0;

      h3 {
        margin-top: 0;
        text-align: left;

        img {
          float: left;
          margin-right: 15px;
        }
      }

      p, a {
        display: block;
        padding-left: 15px;
      }

      &:nth-child(odd) {
        padding-right: 25px;
      }

      // &:nth-child(even) {
      //   padding-left: 25px;
      // }

      &:last-of-type {
        height: 200px;
        border-bottom: none;
      }
    }
  }

  .docs-grid-install {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    max-width: 600px;
    margin: 0;
    justify-content: flex-start;
    align-content: flex-start;

    .docs-grid-install-block {
      border: 1px solid #9dc6e3;
      border-radius: 4px;
      text-align: center;
      min-height: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: flex-start;
      padding: 16px;
      text-decoration: none;

      .install-icon {
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .install-text {
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.85);
        font-weight: 900;
        transition: 0.2s ease-in-out;
        display: block;
      }

      .install-description {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.85);
        transition: 0.2s ease-in-out;
        margin-top: 10px;
      }

      &.no-description {
        justify-content: center;
      }

      &:hover {
        .install-text {
          color: @blue;
        }
      }
    }

    @media (max-width: 1360px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
  }

  .endpoint {
    line-height: 41px;
    margin-bottom: 1em;
    font-size: 14px;
    border-radius: 3px;
    display: block;
    border: 1px solid @gray;

    &:before {
      content: "METHOD";
      background-color: gray;
      display: block;
      color: #fff;
      float: left;
      padding: 1px 15px;
      font-size: 13px;
      font-weight: 600;
      margin: -1px 16px 0 -1px;
      border-radius: 3px 0 0 3px;
    }

    &.get {
      border-color: #9ed99e;

      &:before {
        content: "GET";
        background-color: #3eb33e;
      }
    }

    &.post {
      border-color: #8bc7f2;

      &:before {
        content: "POST";
        background-color: #2391e3;
      }
    }

    &.put {
      border-color: #f2d9a5;

      &:before {
        content: "PUT";
        background-color: #eab03a;
      }
    }

    &.patch {
      border-color: #b59fe0;

      &:before {
        content: "PATCH";
        background-color: #673fb4;
      }
    }

    &.delete {
      border-color: #ec9c9c;

      &:before {
        content: "DELETE";
        background-color: #e23b3b;
      }
    }
  }

  @media (max-width: 1200px) {
    .docs-grid {
      .docs-grid-block {
        width: initial;
        height: auto;

        &:nth-child(odd),
        &:nth-child(even) {
          padding: 1.5em 0;
        }
      }
    }
  }
}

.instructions-steps {
  list-style: none;
  padding-left: 26px;

  .instructions-step-item {
    position: relative;
    padding: 6px 0 20px 44px;
    border-left: 1px solid @gray;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
      border: 0 none;
    }

    &:before {
      box-sizing: border-box;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid @gray;
      background-color: #fff;
      font-weight: 600;
      position: absolute;
      top: 0;
    }

    ul > li {
      border: none;
      padding: 0;

      &:before {
        visibility: hidden;
      }
    }
  }
}

.toc {
  border: 1px solid #edf0f2;
  border-radius: 4px;
  background-color: #f9fbfb;
  padding: 18px 25px;
  line-height: 1.3;
}

.alert {
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 15px 18px;

  pre, code {
    background-color: #fff;
    border: none;
  }
}

.alert-info {
  color: #757575;
  border-left: 3px solid #e0e0e0;
  background-color: #f9f9f9;

  &.blue {
    color: #004a80;
    border-left: 3px solid #004b80;
    background-color: #edf7ff;
  }
}

.breadcrumbs {
  margin-bottom: 1rem;
  margin-top: -2.3rem;
  margin-left: 0;
  padding: 0;

  &.install {
    margin: 0;
    padding: 0;
    list-style: none;

    .breadcrumb-item {
      display: inline-block;
      margin: 0;
      }
    }

  .sidebar-toggle {
    margin: 0;
    display: none;
    padding: 0 8px;
    font-size: 16px;
    margin-bottom: .2rem;

    @media screen and (max-width: 800px) {
      display: block;
      padding: 0;
      margin-right: 4px;
      min-width: 24px;
    }
  }

  .breadcrumb-item {
    color: @navy-text;
    display: inline-block;
    font: normal 14px/22px Roboto;
    margin-left: 0;

    &:after {
      content: "\276f";
      font-size: 14px;
      padding: 6px;
    }

    &:first-of-type {
      color: #4c6d80;
      text-transform: uppercase;
      font: normal 14px/22px Roboto;

      &:before {
        font-size: 18px;
        margin-left: -0.5rem;
        padding-right: 3px;
      }
    }

    &:last-of-type {
      font-weight: 600;

      &:after {
        content: " ";
        padding: 0;
      }
    }

    a {
      color: @navy-text;

      &:hover {
        color: @blue-500;
        opacity: 1;
        text-decoration: underline;
      }
    }
  }

  .active a {
    color: @font-color;
    cursor: default;
  }

  @media screen and (max-width: 800px) {
    margin-top: 10px;
  }
}

#scroll-to-top-button {
  position: fixed;
  bottom: 45px;
  right: 100px;
  z-index: 10;
  cursor: pointer;
  background: #e3e3e3;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  opacity: 0.7;
  transition: opacity 0.2s, transform 0.5s;
  transform: translateY(100px);

  i {
    padding: 8px 10px;
    font-size: 14px;
    color: #8a8a8a;
  }

  &:hover {
    opacity: 1;
  }

  &.visible {
    transform: translateY(0);
  }

  @media (max-width: 800px) {
    right: 50%;
  }
}
