.page-header {
  background-color: #fdfdfd;
  border-bottom: 1px solid @gray;
  padding: 50px 0;

  @media (max-width: 800px) {
    padding: 25px 0;
  }

  h1, p {
    margin: 0;
  }

  p {
    margin-top: 5px;
  }

  .page-header-icon {
    width: 64px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 15px;

    @media (max-width: 800px) {
      margin-right: 20px;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
    }

    @media (max-width: 800px) {
      width: 48px;
    }
  }

  .page-header-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }

  .page-header-btn {
    &:extend(.button all);
    border-color: #d4d7d9;
    background-image: linear-gradient(to top, #f7f9fa, #fcfcfc);
    color: @gray-dark;
    font-size: 14px;
    font-weight: 500;
    line-height: 39px;
    height: 40px;

    &:active {
      background: #f7f9fa;
    }

    em {
      font-style: normal;
      color: #aab0b2;
    }
  }

  .page-header-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;

    @media (max-width: 800px) {
      position: static;
      margin-top: 20px;
      display: inline-block;
      vertical-align: bottom;
    }
  }

  .dropdown .dropdown-menu {
    @media (max-width: 800px) {
      right: auto;
    }
  }
}

.page-navigation {
  float: right;
  width: 215px;
  padding: 50px 0 0 20px;

  @media (max-width: 800px) {
    float: none;
    padding: 25px 0;
    border: 0 none;
    width: auto;

    nav {
      h5, a {
        font-size: 15px;
      }
    }
  }

  h5 {
    font-family: @family-whitney-ss-sc;
    font-size: 13px;
    color: @gray-darker;
    font-weight: 600;
    margin-bottom: 8px;
    line-height: 1.6;
    text-transform: lowercase;
  }

  nav {
    margin-bottom: 1.5em;
  }

  li {
    line-height: 26px;
  }

  li ul {
    padding-left: 15px;

    a {
      color: #85898c;
    }
  }

  li a.active {
    font-weight: 500;
    color: @blue;
  }

  a {
    font-size: 12px;
  }

  .fa {
    color: #acb7bf;
  }
}

.page-content-container {
  padding-right: 230px;

  @media (max-width: 800px) {
    padding-right: 0;
  }
}

.page-content {
  padding: 0 50px 0 0;
  border-right: 1px solid @gray;
  margin-right: 25px;

  @media (max-width: 800px) {
    padding: 0;
    border-right: none;
    margin-right: 0;
  }
}

.content {
  padding: 50px 0;
  font-size: 14px;
  font-family: @family-whitney-ss;
  font-weight: 500;
  line-height: 1.5;

  .big {
    font-size: 23px;
  }

  .help {
    img {
      vertical-align: middle;
      display: inline-block;
      margin-right: 10px;
    }
  }

  p, h1, h2, h3, h4, h5, h6 {
    font-family: @family-whitney-ss;
    color: #505659;
    font-weight: 500;
  }

  p {
    line-height: 25px;
    font-size: 14px;
  }

  h1, h2, h3, h4 {
    margin-bottom: 1em;
    font-weight: 600;
  }

  h2, h3 {
    font-weight: 600;
    color: #262e33;
  }

  h1 {
    font-size: 32px;
    color: #262e33;
    margin-top: 2em;
    margin-bottom: .9em;
  }

  .alert + h1 {
    margin-top: 1em;
  }

  h2 {
    font-size: 28px;
    margin-top: 2em;
    margin-bottom: .8em;
  }

  h3 {
    font-size: 24px;
    margin-top: 1.5em;
    margin-bottom: .7em;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
    margin-top: 1.3em;
    margin-bottom: .7em;
  }

  h5 {
    font-size: 16px;
    margin-top: 1.2em;
    margin-bottom: .8em;
  }

  > h1:first-child,
  > h2:first-child,
  > h3:first-child {
    margin-top: 0;
  }

  ol {
    list-style: decimal outside;
  }

  p, figure {
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  hr {
    border-top: 2px solid @gray;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  figcaption {
    border: 1px solid #efefef;
    border-radius: 0 0 3px 3px;
    background-color: #fcfcfc;
    font-family: @family-whitney-ss;
    font-size: 13px;
    padding: 14px 13px;
    line-height: 1;
    color: #879199;
  }

  pre {
    background-color: @gray-light;
    border: 1px solid @gray;
    color: #000;
    line-height: 24px;
    margin: 1.3em 0;
    padding: 12px 17px;
    border-radius: 4px;

    code {
      padding: 0;
      color: #000;
      background: transparent;
    }

    &:hover {
      overflow: auto;
    }
  }

  blockquote {
    opacity: 0.8;
    margin-left: 0;
    font-style: italic;
  }

  table {
    width: 100%;
    border: 1px solid @gray;

    th, td {
      font-family: @family-whitney-ss;
      font-size: 13px;
      font-weight: 500;
    }

    th {
      text-transform: lowercase;
      font-family: @family-whitney-ss-sc;
      font-size: 13px;
      font-weight: 600;
      text-align: left !important;
      background: @gray-light;
      border-bottom: 1px solid @gray;
      color: lighten(@gray-dark, 30%);
      padding: 10px;
    }

    td {
      padding: 10px;

      &:first-child {
        text-align: right;
        white-space: nowrap;

        code {
          padding: 3px 9px;
        }

        br {
          & + em,
          & + strong,
          & + b {
            display: inline-block;
            margin-top: 3px;
          }
        }
      }
    }
  }

  .alert {
    margin-bottom: 1.3em;
    font-size: 14px;

    &.alert-warning {
      color: hsl(45, 2%, 36%);
      border-color: hsl(41, 83%, 89%);
      background-color: hsl(51, 100%, 96%);
    }

    ol {
      list-style: decimal inside;
      margin-bottom: 0;
      margin-top: 1em;

      li {
        margin-bottom: 0;
      }
    }
  }

  .docs-grid {
    &:after {
      content: " ";
      display: block;
      clear: left;
    }

    .docs-grid-block {
      float: left;
      height: 250px;
      width: 50%;
      border-bottom: 1px solid #eee;
      box-sizing: border-box;
      padding-top: 40px;

      h3 {
        margin-top: 0;

        img {
          float: left;
          margin-right: 15px;
        }
      }

      &:nth-child(odd) {
        padding-right: 25px;
      }

      &:nth-child(even) {
        padding-left: 25px;
      }

      &:last-of-type {
        height: 200px;
        border-bottom: none;
      }
    }
  }

  .endpoint {
    line-height: 41px;
    margin-bottom: 1em;
    font-size: 14px;
    border-radius: 3px;
    display: block;
    background-color: @gray-light;
    border: 1px solid @gray;

    &:before {
      content: "METHOD";
      background-color: gray;
      display: block;
      color: #fff;
      float: left;
      padding: 1px 15px;
      font-size: 13px;
      font-weight: 600;
      margin: -1px 16px 0 -1px;
      border-radius: 3px 0 0 3px;
    }

    &.get {
      border-color: #9ed99e;

      &:before {
        content: "GET";
        background-color: #3eb33e;
      }
    }

    &.post {
      border-color: #8bc7f2;

      &:before {
        content: "POST";
        background-color: #2391e3;
      }
    }

    &.put {
      border-color: #f2d9a5;

      &:before {
        content: "PUT";
        background-color: #eab03a;
      }
    }

    &.patch {
      border-color: #b59fe0;

      &:before {
        content: "PATCH";
        background-color: #673fb4;
      }
    }

    &.delete {
      border-color: #ec9c9c;

      &:before {
        content: "DELETE";
        background-color: #e23b3b;
      }
    }
  }

  @media (max-width: 800px) {
    padding-top: 0;
  }

  @media (max-width: 1200px) {
    .docs-grid {
      .docs-grid-block {
        width: initial;
        height: auto;

        &:nth-child(odd),
        &:nth-child(even) {
          padding: 1.5em 0;
        }
      }
    }
  }
}

.instructions-steps {
  list-style: none;
  padding-left: 26px;
  counter-reset: step;

  .instructions-step-item {
    position: relative;
    padding: 10px 0 20px 44px;
    border-left: 1px solid @gray;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
      border: 0 none;
    }

    &:before {
      counter-increment: step;
      content: counter(step);
      box-sizing: border-box;
      width: 50px;
      height: 50px;
      line-height: 48px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid @gray;
      background-color: #fff;
      font-weight: 600;
      position: absolute;
      left: -26px;
      top: 0;
    }
  }
}

.toc {
  border: 1px solid #edf0f2;
  border-radius: 4px;
  background-color: #f9fbfb;
  padding: 18px 25px;
  line-height: 1.3;
}

.alert {
  border: 1px solid @gray;
  border-radius: 4px;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 13px;
}

.alert-info {
  color: #757575;
  border-color: #e0e0e0;
  background-color: #f9f9f9;
}

.alert-success {
  color: #3dcc3d;
  border-color: #c0eac0;;
  background-color: #f4fff4;
}

.alert-warning {
  color: #808060;
  border-color: #e0e0c9;;
  background-color: #fffff7;
}

.alert-danger {
  color: #cc3d3d;
  border-color: #eac0c0;;
  background-color: #fff4f4;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;

  .breadcrumb-item {
    display: inline-block;
    margin: 0;

    &:after {
      content: ' \203a';
    }
  }

  .active a {
    color: @font-color;
    cursor: default;
  }
}

.section {
  padding: 80px 0;

  @media (max-width: 550px) {
    padding: 20px 0;
  }
}

.section-header {
  text-align: center;
  margin-bottom: 45px;

  h2 {
    margin: 0;
    font-size: 30px;
    color: #45494d;
  }

  p {
    font-size: 16px;
    color: #74777a;
    margin: 7px 0 0;
  }
}

.section-buttons {
  margin-top: 20px;
  text-align: center;
}

.subscribe-section {
  background-color: @gray-lighter;
  border-top: 1px solid @gray;
  text-align: center;
  padding: 35px 0;

  .section-header {
    margin-bottom: 20px;
  }

  .form-message {
    display: none;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    padding: 9px 0;
  }

  .loader {
    margin: 0 auto;
    padding: 9px 0;
  }

  .success-message {
    color: @green;
  }

  .error-message {
    color: #bb2616;
  }

  h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
  }

  .subscribe-form {
    &:extend(.u-cf);
    margin: 0;
    display: inline-block;
  }

  input,
  .button {
    margin: 0;
    float: left;
  }

  input {
    border-radius: 3px 0 0 3px;
    width: 400px;
    font-weight: 500;
  }

  .button {
    border-radius: 0 3px 3px 0;
  }

  @media (max-width: 650px) {
    .subscribe-form {
      width: 80%;
    }

    input,
    .button {
      width: 100%;
      border-radius: 3px;
      margin-bottom: 10px;
    }
  }
}

// Gitter

.js-gitter-toggle-chat-button {
  z-index: 10000;
  position: fixed;

  bottom: 15px;
  right: 20px;
  width: 48px;
  height: 48px;

  background-color: @blue;
  background-image: url("https://js.intercomcdn.com/images/acquire.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 25px;
  box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.23);

  border: 1px solid @navy-dark;
  border-radius: 50%;

  transform: translateX(0);
  transition: background-size 0.3s, transform 0.3s;

  &.close-gitter {
    background-size: 0 0;
    transform: translateX(-510px);
  }

  &::before {
    content: 'Chat with Kong community';
    display: block;
    position: relative;
    width: 200px;
    top: 9px;
    right: 214px;
    padding: 5px;
    border-radius: 4px 14px 14px 4px;
    background-color: @blue;
    text-align: center;
    color: #fff;
    opacity: 0;

    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 1;
  }

  &.close-gitter::before {
    content: 'Close chat';
  }

  &::after {
    content: '\f00d';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'FontAwesome';
    font-size: 0;
    text-align: center;
    line-height: 46px;
    color: #fff;

    transition: font-size 0.3s;
  }

  &.close-gitter::after {
    font-size: 40px;
  }
}

.gitter-chat-embed {
  z-index: 1002;
}
