//.highlight { background-color: @blue-600fcc }
.c { color: #949494; font-style: italic } /* Comment */
.err { color: @red-700; background-color: @red-100 } /* Error */
.k { color: @blue-400; font-weight: bold } /* Keyword */
.o { color: @blue-600; font-weight: bold } /* Operator */
.cm { color: #949494; font-style: italic } /* Comment.Multiline */
.cp { color: @grey-400; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #949494; font-style: italic } /* Comment.Single */
.cs { color: @grey-400; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: @red-700; background-color: @red-200 } /* Generic.Deleted */
.ge { color: @red-600; font-style: italic } /* Generic.Emph */
.gr { color: @red-700 } /* Generic.Error */
.gh { color: @grey-400 } /* Generic.Heading */
.gi { color: @red-500; background-color: @red-100 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: @steal-700 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: @red-700 } /* Generic.Traceback */
.kc { color: @blue-700; font-weight: bold } /* Keyword.Constant */
.kd { color: @blue-700; font-weight: bold } /* Keyword.Declaration */
.kn { color: @blue-700; font-weight: bold } /* Keyword.Namespace */
.kp { color: @blue-700; font-weight: bold } /* Keyword.Pseudo */
.kr { color: @blue-700; font-weight: bold } /* Keyword.Reserved */
.kt { color: @steal-600; font-weight: bold } /* Keyword.Type */
.m { color: @blue-400 } /* Literal.Number */
.s { color: @blue-600 } /* Literal.String */
.na { color: @green-500 } /* Name.Attribute */
.nb { color: #8a7ca3 } /* Name.Builtin */
.nc { color: @steal-600; font-weight: bold } /* Name.Class */
.no { color: @steal-400 } /* Name.Constant */
.nd { color: @steal-500; font-weight: bold } /* Name.Decorator */
.ni { color: #9266cc } /* Name.Entity */
.ne { color: #391d6b; font-weight: bold } /* Name.Exception */
.nf { color: #391d6b; font-weight: bold } /* Name.Function */
.nl { color: #391d6b; font-weight: bold } /* Name.Label */
.nn { color: @steal-700 } /* Name.Namespace */
.nt { color: #9266cc } /* Name.Tag */
.nv { color: @green-500 } /* Name.Variable */
.ow { color: @blue-700; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #651fbf } /* Literal.Number.Float */
.mh { color: #651fbf } /* Literal.Number.Hex */
.mi { color: #651fbf } /* Literal.Number.Integer */
.mo { color: #651fbf } /* Literal.Number.Oct */
.sb { color: @blue-600 } /* Literal.String.Backtick */
.sc { color: @blue-600 } /* Literal.String.Char */
.sd { color: @blue-600 } /* Literal.String.Doc */
.s2 { color: @blue-400 } /* Literal.String.Double */
.se { color: @blue-600 } /* Literal.String.Escape */
.sh { color: @blue-600 } /* Literal.String.Heredoc */
.si { color: @blue-600 } /* Literal.String.Interpol */
.sx { color: @blue-600 } /* Literal.String.Other */
.sr { color: @blue-400 } /* Literal.String.Regex */
.s1 { color: @blue-600 } /* Literal.String.Single */
.ss { color: #9266cc } /* Literal.String.Symbol */
.bp { color: @grey-400 } /* Name.Builtin.Pseudo */
.vc { color: @green-500 } /* Name.Variable.Class */
.vg { color: @green-500 } /* Name.Variable.Global */
.vi { color: @green-500 } /* Name.Variable.Instance */
.il { color: #651fbf } /* Literal.Number.Integer.Long */

/* Disable selecting $ prompt, e.g. shell curl call docs */
.gp {
  -webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
