openapi: 3.0.2
info:
  title: Konnect Search
  version: 1.0.0
  description: The search API for Kong Konnect.
  contact:
    name: Kong
    url: 'https://konghq.com'
servers:
  - url: 'https://global.api.konghq.com/v1'
    description: Global Base URL
  - url: 'https://us.api.konghq.com/v1'
    description: US Region Base URL
  - url: 'https://eu.api.konghq.com/v1'
    description: EU Region Base URL
  - url: 'https://au.api.konghq.com/v1'
    description: AU Region Base URL
paths:
  /search:
    get:
      operationId: get-search
      summary: Search Konnect
      description: Retrieves a list of Konnect entities matching the search query provided.
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/PageAfter'
        - name: q
          in: query
          description: The query that defines the search criteria.
          required: true
          schema:
            type: string
          example: 'name:"John Smith"'
      responses:
        '200':
          $ref: '#/components/responses/SearchResponse'
        '400':
          $ref: '#/components/responses/SearchBadRequest'
      tags:
        - Search
  /search/types:
    get:
      operationId: get-search-types
      summary: List Search Types
      description: Retrieves a list of searchable Konnect entity types.
      responses:
        '200':
          $ref: '#/components/responses/SearchTypesResponse'
      tags:
        - Search
components:
  parameters:
    PageAfter:
      name: 'page[after]'
      description: 'Request the next page of data, starting with the item after this parameter.'
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
    PageSize:
      name: 'page[size]'
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
  schemas:
    SearchCursorMeta:
      description: Pagination metadata.
      type: object
      properties:
        page:
          $ref: '#/components/schemas/SearchCursorMetaPage'
      required:
        - page
    SearchCursorMetaPage:
      type: object
      properties:
        next:
          description: URI to the next page
          type: string
          format: path
          nullable: true
        size:
          description: Requested page size
          type: number
          example: 10
      required:
        - size
    SearchResponse:
      description: Search response schema.
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SearchResultItem'
        meta:
          $ref: '#/components/schemas/SearchCursorMeta'
      title: SearchResponse
    SearchTypesResponse:
      description: The collection of searchable entity types.
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                description: The entity type.
                type: string
              name:
                description: The human-readable entity name.
                type: string
              description:
                description: A short description of the entity.
                type: string
              attributes:
                description: The entity's searchable attributes.
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/SearchTypesAttribute'
              regions:
                description: The regions the entity is available.
                type: array
                items:
                  type: string
            required:
              - type
              - name
              - description
              - regions
      title: SearchableEntityTypesResponse
    SearchTypesAttribute:
      description: Searchable attribute for the entity type.
      type: object
      properties:
        type:
          description: The attribute type.
          type: string
          enum:
            - string
            - number
            - boolean
            - array
        format:
          description: An optional hint at the contents and format of string types.
          type: string
          enum:
            - date-time
            - uuid
            - email
        items:
          description: An optional hint at the type of content in array types.
          type: object
          nullable: true
          properties:
            type:
              description: The attribute items' type.
              type: string
              enum:
                - string
                - number
                - boolean
          required:
            - type
        name:
          description: The human-readable attribute name.
          type: string
        description:
          description: A short description of the attribute.
          type: string
      required:
        - type
        - name
        - description
      title: SearchableEntityAttributesResponse
    SearchResultItem:
      description: Item included in the list of search results.
      type: object
      properties:
        id:
          description: Unique identifier for the record.
          type: string
        type:
          description: Konnect entity type.
          type: string
        name:
          description: Name of the entity.
          type: string
        description:
          description: Description of the entity.
          type: string
        labels:
          description: Labels for the entity.
          type: object
        relations:
          description: Relations for the entity.
          type: object
        attributes:
          description: Attributes for the entity.
          type: object
      required:
        - id
        - type
        - name
      title: SearchResultItem
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: |
            The HTTP status code of the error. Useful when passing the response
            body to child properties in a frontend UI. Must be returned as an integer.
          type: integer
          readOnly: true
        title:
          description: |
            A short, human-readable summary of the problem. It should not
            change between occurences of a problem, except for localization.
            Should be provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: |
            Used to return the correlation ID back to the user, in the format
            kong:trace:<correlation_id>. This helps us find the relevant logs
            when a customer reports an issue.
          type: string
          readOnly: true
        detail:
          description: |
            A human readable explanation specific to this occurence of the problem.
            This field may contain request/entity data to help the user understand
            what went wrong. Enclose variable values in square brackets. Should be
            provided as "Sentence case" for direct use in the UI.
          type: string
          readOnly: true
      required:
        - status
        - title
        - instance
        - detail
      title: Error
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
        - required
        - max_length
        - is_array
        - is_base64
        - is_boolean
        - is_date_time
        - is_integer
        - is_null
        - is_number
        - is_object
        - is_string
        - is_uuid
        - is_fqdn
        - is_arn
        - unknown_property
        - is_label
        - matches_regex
        - invalid
        - is_supported_network_availability_zone_list
        - is_supported_network_cidr_block
        - is_supported_provider_region
      nullable: true
      readOnly: true
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - min_length
            - min_digits
            - min_lowercase
            - min_uppercase
            - min_symbols
          nullable: false
          readOnly: true
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - minimum
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - reason
        - rule
        - choices
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
            - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
        - field
        - rule
        - reason
        - dependents
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/InvalidParameterStandard'
          - $ref: '#/components/schemas/InvalidParameterMinimumLength'
          - $ref: '#/components/schemas/InvalidParameterChoiceItem'
          - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    BadRequestError:
      allOf:
        - $ref: '#/components/schemas/BaseError'
        - type: object
          required:
            - invalid_parameters
          properties:
            invalid_parameters:
              $ref: '#/components/schemas/InvalidParameters'
  examples:
    400-query-is-invalid:
      value:
        status: 400
        title: Bad Request
        detail: Invalid query.
        instance: 'konnect:trace:3674017986744198214'
        invalid_parameters:
          - field: q
            reason: invalid query
            source: query
    Successful-Search-Example:
      value:
        data:
          - id: c0010105-e840-4824-b7ee-787f22267c36
            type: team
            name: Sonar Readings
            labels:
              env: prod
            attributes:
              created_at: '2022-07-31T09:15:15.04Z'
              updated_at: '2023-02-11T18:47:03.34Z'
          - id: c0010105-e840-4824-b7ee-787f22267c37
            type: user
            name: Jason Developer
            attributes:
              created_at: '2023-01-16T00:21:01.68Z'
              email: jason.developer@test.com
              preferred_name: ''
              updated_at: '2023-09-08T22:39:51.53Z'
          - id: c0010105-e840-4824-b7ee-787f22267c38
            type: user
            name: Sonia Engineer
            attributes:
              created_at: '2023-07-19T00:00:00.00Z'
              email: sonia.engineer@test.com
              preferred_name: ''
              updated_at: '2023-07-19T00:00:00.00Z'
        meta:
          page:
            size: 3
            next: '/search?q=son&page[after]=ewogICJpZCI6ICJoZWysbyB3b3JsZCIKgZ'
    Searchable-Entity-Types:
      value:
        data:
          - type: user
            name: User
            description: A Konnect user
            attributes:
              created_at:
                type: string
                format: date-time
                name: Created At
                description: The time the user was created
              preferred_name:
                type: string
                name: Preferred Name
                description: The user's preferred name
              email:
                type: string
                format: email
                name: Email
                description: The user's email address
            regions:
              - global
          - type: system_account
            name: System Account
            description: A Konnect system account
            attributes:
              konnect_managed:
                type: boolean
                name: Konnect Managed
                description: Whether the system account is managed by Konnect
            regions:
              - global
          - type: api_product
            name: API Product
            description: A Konnect API Product
            regions:
              - us
              - eu
              - au
  responses:
    SearchResponse:
      description: Search response for containing all matched Konnect entities.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchResponse'
          examples:
            Successful Search Response:
              $ref: '#/components/examples/Successful-Search-Example'
    SearchBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
          examples:
            Request Format is Invalid:
              $ref: '#/components/examples/400-query-is-invalid'
    SearchTypesResponse:
      description: Search response for containing all searchable Konnect types.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SearchTypesResponse'
          examples:
            Searchable Entity Types:
              $ref: '#/components/examples/Searchable-Entity-Types'
  securitySchemes:
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The system account access token is meant for automations and integrations that are not directly associated with a human identity.
        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.
        The access token must be passed in the header of a request, for example:
        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer spat_i2Ej...'`
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: |
        The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs.
        You can generate a Personal Access Token (PAT) from the [personal access token page](https://cloud.konghq.com/global/tokens/) in the Konnect dashboard.
        The PAT token must be passed in the header of a request, for example:
        `curl -X GET 'https://global.api.konghq.com/v2/users/' --header 'Authorization: Bearer kpat_xgfT...'`
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI authenticate with.
tags:
  - name: Search
security:
  - personalAccessToken: []
  - systemAccountAccessToken: []
  - konnectAccessToken: []
