/* Header */

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 1rem;
  text-align: center;
}

/* Containers */

.search-container {
  display: flex;
  margin: 20px auto 0;
  max-width: 1300px;
}

.search-container-filters {
  flex: 1;
  margin-right: 60px;
  min-width: 200px;
}

.search-container-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 80px;
}

.search-container-header h2 {
  margin-bottom: unset;
}

.search-container-results {
  flex: 3;
  margin-top: 80px;
}

.search-container-results .ais-Hits {
  border-top: 1px solid #ebecf3;
  display: flex;
  padding: 30px 0;
}

.search-container-footer {
  margin: 4rem 0;
}

/* Styles the SFFV highlightings */

em {
  font-style: normal;
}

.search-container-results em,
.search-container-results mark {
  color: var(--docsearch-primary-color);
}

/* Clear refinements container */

.clear-filters {
  align-items: center;
  display: flex;
}

.clear-filters svg {
  margin-right: 8px;
}

/* Panel */

.search-container-body .ais-Panel {
  border-top: 1px solid #ebecf3;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.ais-Panel-header {
  font-family: Hind, sans-serif;
}

/* Search box */

.header .ais-SearchBox {
  height: 64px;
  max-width: 740px;
  width: 100%;
}

.header .ais-SearchBox .ais-SearchBox-input {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 48px 0 rgba(0, 0, 0, 0.2);
  height: 64px;
  margin: auto;
  padding: 4px 48px 0 64px !important;
}

.header .ais-SearchBox .ais-SearchBox-input:focus {
  box-shadow: var(--docsearch-searchbox-shadow);
}

.header .ais-SearchBox-submit {
  padding: 0 1rem 0 2rem;
  width: 64px;
  border: none;
}

.header .ais-SearchBox-submitIcon {
  width: 16px;
  height: 16px;
  fill: rgb(17, 85, 203);
}

.header .ais-SearchBox .ais-SearchBox-input::placeholder {
  font: 400 16px/22px Roboto;
  color: #4c6d80;
}

.ais-SearchBox-input:-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

.ais-SearchBox-input::-ms-input-placeholder {
  color: rgba(33, 36, 61, 0.24);
}

/* Hits */

.hit {
  color: #21243d;
  font-size: 14px;
  line-height: 18px;
  height: 100%;
  width: 100%;
  display: flex;
}

.hit .hit-title {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.hit-category {
  color: #21243d;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 1em;
  opacity: 0.7;
  text-transform: uppercase;
}

.hit-info-container {
  overflow-wrap: break-word;
  word-break: break-word;
  display: flex;
  width: 100%;
}

.hit-info-container a {
  color: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.hit-info-container .hit-description {
  margin-top: 0.5rem;
}

.hit-info-container .hit-version {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.hit-info-container .hit-em {
  color: white;
  background-color: var(--docsearch-primary-color);
  padding: 4px;
  border-radius: 4px;
  min-width: 35px;
  text-align: center;
}

.hits-empty-state {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 300px;
}

.hits-empty-state-title {
  font-family: Hind;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.hits-empty-state-description {
  color: rgba(35, 37, 51, 0.6);
  font-size: 0.875rem;
  text-align: center;
}

.hits-empty-state .ais-ClearRefinements {
  margin-top: 1rem;
}

.hits-empty-state .ais-ClearRefinements-button--disabled {
  display: none;
}

.hits-empty-state .ais-ClearRefinements-button {
  background: rgba(10, 8, 41, 0.04);
  border-radius: 3px;
  color: #21243d;
  min-height: 48px;
  padding: 16px 24px;
}

/* Hide all mobile-specific design on desktop */

@media (min-width: 900px) {
  [data-layout='mobile'] {
    display: none;
  }
}
