<% if @referenceable_fields %>
 <table>
   <thead>
       <th>Plugin</th>
       <th>Referenceable fields</th>
   </thead>
   <tbody>
     <% @referenceable_fields.each do |plugin_slug, (plugin_name, fields)| %>
       <tr>
         <td>
           <a href="/hub/kong-inc/<%= plugin_slug %>/configuration/"><%= plugin_name %></a>
         </td>
         <td>
           <% fields.each do |field| %>
             <code><%= field %></code>
           <% end %>
         </td>
       </tr>
     <% end %>
   </tbody>
 </table>
<% end %>

{:.note}
> **Note**: The Vault plugin interacts with the `vaults` and `vault_credentials` entities.
For these entities, the <code>vaults.vault_token</code> and <code>vault_credentials.secret_token</code> parameters are referenceable.
