//
// Forms
//

$input-height: 44px;

// text inputs

textarea,
input[type] {
  display: block;
  border: 1px solid $gray-2;
  padding: 0.875rem 1rem;
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  background-color: #fff;

  &:focus {
    // border-color: $green-base;
    // outline: 0;
  }
}

input[type] {
  height: $input-height;
  line-height: $input-height;

  @include target-ie {
    line-height: 1;
  }
}

textarea {
  overflow: auto;
  min-height: 6.25rem;
}

// select

select {
  background: #fff url('#{$image-path}icons/arrow-down.svg') no-repeat 100% 50%;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;

  font-size: $base-font-size;
  font-family: $monospace;
  color: $color-5;
  letter-spacing: -1px;

  appearance: none;
  padding: 0.625rem 1.8rem 0.625rem 0.625rem;
  border: 2px solid $color-7;
  border-radius: 3px;
  outline: 0;

  box-shadow: $base-soft-shadow;

  &:hover {
    // border-color: $color-5;
  }
}

select::-ms-expand {
  display: none;
}

select:hover {
}

select:focus {
}

select option {
  font-weight: normal;
}

// button utility classes

button,
.btn {
  @include button-base;

  display: inline-block;
  padding: 0.35rem 2.25rem;
  border: 0;
  // border-radius: 0;
  font-size: inherit;
  text-decoration: none;
  text-shadow: none;

  &:disabled {
    opacity: 0.5;
  }
}

.btn--block {
  display: block;
  width: 100%;
  max-width: 100%;
}

.btn--spaced {
  padding: 1rem 2.25rem;
}

.btn--large-text {
  font-size: 1.125rem;
}

.btn--hollow {
  $border-color: rgba($navy, 0.1);
  $border-color-dark: rgba($navy, 0.3);
  $hover-color: lighten($color-5, 10);

  box-shadow: $base-soft-shadow, inset 0 0 0 1.5px $border-color;

  &,
  &:focus,
  &:visited {
    color: #000 !important;
  }

  &,
  &:focus,
  &:visited,
  &:hover,
  &:active {
    background-color: #fff;
  }

  &:hover,
  &:active {
    color: $hover-color !important;
    box-shadow: $base-soft-shadow, inset 0 0 0 1.5px $hover-color;
  }

  @include button-state-overrides {
    background-color: #fff;
  }
}

.btn--bright {
  color: #fff;
  background-color: $color-13;

  &:hover,
  &:active {
    background-color: lighten($color-13, 10);
  }

  @include button-state-overrides;
}

.btn--dark {
  background-color: #000;
  color: #fff;

  @include button-state-overrides {
    background-color: #000;
  }
}

.btn--large {
  border-radius: $btn-radius-large;
  height: $btn-height-base-large;
  font-size: $btn-font-size-large;
  padding: 0.2rem 2.25rem;
}

.form-wrapper {
}

.form-horizontal {
  > input[type] {
  }
}

.form-horizontal__field-wrap {
}

.form-vertical {
  background: none !important;

  .form-note-wrapper {
    position: relative;

    .note {
      position: static !important;
    }
  }
}

// labels

label {
  text-transform: uppercase;
  font-size: 0.813rem;
  font-weight: $fw-medium;
  color: $gray-5;
  line-height: 2;
  padding: 0;
  margin: 0;
}

// form helpers

.note {
  display: block;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem 0;
  font-weight: $fw-bold;
  font-size: 0.75rem;
  border-radius: 3px;

  &:empty {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
}

.note--error {
  color: #fff;
  background-color: $color-8;
}

// responsive

@media (max-width: $MQMobile) {
  .form-horizontal {
    text-align: center;

    > input[type],
    .btn {
      display: block;
      width: 100%;
    }

    .btn {
      margin-top: 1rem;
    }
  }
}

@media (min-width: $MQMobile + 1) {
  .form-horizontal {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    > span,
    .form-horizontal__field-wrap {
      flex: 1;
      margin-right: 1rem;
    }
  }
}
