<li class="sidebar-item" role="none">
  <span
    role="treeitem"
    class="sidebar-label"
    {% if include.item.items.size > 0 %}
      aria-expanded="false"
      aria-owns="id-{{ include.id}}-{{ include.item.label | slugify }}-subtree"
    {% endif %}
  >
    {% if include.item.url %}
      <a
        class="sidebar-link"
        tabindex="-1"
        href="{{ include.item.url }}"
        {% if include.item.target_blank %} target="_blank" {% endif %}
      >
        {% include_cached sidebar/item_label.html icon=include.item.icon label=include.item.label items_size=include.item.items.size %}
      </a>
    {% else %}
      {% include_cached sidebar/item_label.html icon=include.item.icon label=include.item.label items_size=include.item.items.size %}

        {% if include.item.items.size > 0 %}
          <button class="sidebar-tree-toggle" aria-label="toggle {{ include.item.label }} subtree">
            <i class="fa fa-chevron-down"></i>
          </button>
        {% endif %}
      {% endif %}
  </span>

  {% if include.item.items.size > 0 %}
    <ul class="items" id="id-{{ include.id }}-{{ include.item.label | slugify }}-subtree" role="group" aria-label="{{ include.item.label }}">
      {% for sub_item in include.item.items %}
        {% assign id = include.id | append: '-' | append: forloop.index %}
        {% include_cached sidebar/item.html item=sub_item id=id %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
