name: Rate Limiting
dbless_compatible: partially
dbless_explanation: |
  The plugin will run fine with the `local` policy (which doesn't use the database) or
  the `redis` policy (which uses an independent Redis, so it is compatible with DB-less).

  The plugin will not work with the `cluster` policy, which requires writes to the database.
extra: '<div class="alert alert-warning"> <strong>Note:</strong> At least one limit (`second`, `minute`, `hour`, `day`, `month`, `year`) must be configured. Multiple limits can be configured. </div>'
free: true
plus: true
enterprise: true
konnect: true
network_config_opts: All
notes: |
  In Konnect, DB-less, and hybrid modes, the <code>cluster</code> config policy
  is not supported.
  <br><br>
  For DB-less mode, use one of <code>redis</code> or <code>local</code>;
  for Konnect and hybrid mode, use <code>redis</code>, or <code>local</code> for data
  planes only.
categories:
  - traffic-control
publisher: Kong Inc.
desc: Rate-limit how many HTTP requests can be made in a period of time
description: |
  Rate limit how many HTTP requests can be made in a given period of seconds, minutes, hours, days, months, or years.
  If the underlying Service/Route (or deprecated API entity) has no authentication layer,
  the **Client IP** address will be used; otherwise, the Consumer will be used if an
  authentication plugin has been configured.

  **Tip:** The [Rate Limiting Advanced](/hub/kong-inc/rate-limiting-advanced/)
    plugin provides the ability to apply
    [multiple limits in sliding or fixed windows](/hub/kong-inc/rate-limiting-advanced/#multi-limits-windows).

kong_version_compatibility:
  community_edition:
    compatible: true
  enterprise_edition:
    compatible: true
