on:
  schedule:
  - cron: '0 0 * * *'
name: Update indices every day
jobs:
  updateAlgoliaIndexKongEE:
    name: Index Kong EE Docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run docsearch for Kong EE Docs
      uses: darrenjennings/algolia-docsearch-action@master
      with:
        algolia_api_key: ${{ secrets.ALGOLIA_API_KEY }}
        algolia_application_id: ${{ secrets.ALGOLIA_APPLICATION_ID }}
        file: algolia/config-ee.json
  updateAlgoliaIndexFullDocs:
    name: Index Full Kong Docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Run docsearch for full Kong Docs site
      uses: darrenjennings/algolia-docsearch-action@master
      with:
        algolia_api_key: ${{ secrets.ALGOLIA_API_KEY }}
        algolia_application_id: ${{ secrets.ALGOLIA_APPLICATION_ID }}
        file: algolia/config-full-docs.json
