name: Broken Links
on:
  pull_request:
    types: [synchronize, ready_for_review, opened, labeled, unlabeled]
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

env:
  BUNDLE_GITHUB__COM: x-access-token:${{ secrets.BUNDLE_GITHUB__COM }}
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check if manual review has been performed
        uses: actions/github-script@v7
        id: labels
        with:
          script: |
            const { data: labels } = await github.rest.issues.listLabelsOnIssue({
              ...context.repo,
              issue_number: context.issue.number
            });
            return labels.map(l => l.name).includes('ci:manual-approve:link-validation')
    outputs:
      result: ${{ steps.labels.outputs.result }}
  build:
    needs: [check]
    if: needs.check.outputs.result == 'false' && !contains(github.event.pull_request.title, '[skip ci]')
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: Wait for Pages changed to be neutral
        uses: fountainhead/action-wait-for-check@v1.1.0
        id: waitForCheck
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: "Pages changed - kongdocs"
      - name: Wait for Netlify site to be ready
        if: steps.waitForCheck.outputs.conclusion == 'neutral'
        uses: jakepartusch/wait-for-netlify-action@v1.4
        id: waitForNetlify
        with:
          site_name: "kongdocs"
          max_timeout: 120
      - name: Run link checker
        run: |
          cd tools/broken-link-checker
          npm ci
          node run.js pr \
            --base_url https://deploy-preview-${{ github.event.pull_request.number }}--kongdocs.netlify.app \
            ${{ runner.debug != '' && '--verbose' || '' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
