name: Broken Links
on:
  pull_request:
    types: [synchronize, ready_for_review, opened, labeled, unlabeled]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check if manual review has been performed
        uses: actions/github-script@v5
        id: labels
        with:
          script: |
            const { data: labels } = await github.rest.issues.listLabelsOnIssue({
              ...context.repo,
              issue_number: context.issue.number
            });
            return labels.map(l => l.name).includes('ci:manual-approve:link-validation')
    outputs:
      result: ${{ steps.labels.outputs.result }}
  build:
    needs: [check]
    if: needs.check.outputs.result == 'false'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - name: Wait for Pages changed to be neutral
        uses: fountainhead/action-wait-for-check@v1.0.0
        id: waitForCheck
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          checkName: "Pages changed - kongdocs"
      - name: Wait for Netlify site to be ready
        if: steps.waitForCheck.outputs.conclusion == 'neutral'
        uses: jakepartusch/wait-for-netlify-action@v1.2
        id: waitForNetlify
        with:
          site_name: "kongdocs"
          max_timeout: 120
      - name: Run link checker
        run: |
          cd broken-link-checker
          npm ci
          node pr.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
