name: Autofix
on:
  pull_request:
   types: [labeled]
jobs:
  prettier-autofix:
    if: github.event.label.name == 'ci:autofix:prettier'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'
      - run: npm ci
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v39
        with:
          sha: ${{  github.event.pull_request.head.sha }}
          files: |
            app/_src/**
            app/_assets/**
          files_ignore: |
            app/_src/.repos/kuma/**
            app/_assets/images/**
      - run: npx prettier --write ${{ steps.changed-files.outputs.all_changed_files }}
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: github-actions[bot]
          author_email: 41898282+github-actions[bot]@users.noreply.github.com
          message: "[ci] Autofix :: Prettier"
      - uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: "ci:autofix:prettier"
