name: Require Review Label
on:
  pull_request:
    types: [opened, labeled, unlabeled]
jobs:
  label:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@8afbe8ae6ab7647d0c9f0cfa7c2f939650d22509 # v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          mode: minimum
          count: 1
          labels: "review:tech, review:copyedit, review:general, review:autodoc, review:sme"
          add_comment: true
          message: |
             :warning: Please add at least one of the following review labels to this PR:
             - `review:copyedit`: Request for writer review.
             - `review:general`: Review for general accuracy and presentation. 
               Does the doc work? Does it output correctly?
             - `review:tech`: Request for technical review for a docs platform change.
             - `review:sme`: Request for review from an SME (engineer, PM, etc.).
             
             **Note:** Only Kong employees can add labels due to a GitHub limitation. 
             If you're an OSS contributor, thank you! The maintainers will label this PR for you.

