name: Scheduled Broken Links Checker
on:
  workflow_dispatch:
  schedule:
  - cron: '0 0 * * 0'

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}

env:
  VITE_PORTAL_API_URL: ${{ vars.VITE_PORTAL_API_URL }}

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          submodules: 'recursive'

      # Configure Ruby to build Jekyll site
      - name: Set up Ruby
        uses: ruby/setup-ruby@6c79f721fa26dd64559c2700086ac852c18e0756 # v1
        with:
          ruby-version: .ruby-version
      - name: Ruby gem cache
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        with:
          path: ${{ github.workspace }}/vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Bundle Setup
        run: bundle config path ${{ github.workspace }}/vendor/bundle
      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3
      - name: Install foreman
        run: gem install foreman

      # Configure Node to build assets
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: "20"
      - name: Cache node modules
        uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-

      # Build the Docs
      - name: Build Docs
        run: |
          npm ci
          exe/build

      - name: Run site
        run: |
          npm install -g wait-on
          npx netlify dev & wait-on http://localhost:8888

      - name: Run link checker
        run: |
          cd tools/broken-link-checker
          npm ci
          node full.js --host http://localhost:8888
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
