name: Submodule Sync
on:
  workflow_dispatch:

jobs:
  submodule-sync:
    name: Submodule Sync
    runs-on: ubuntu-latest
    steps:
      - name: Submodule Sync
        uses: mheap/submodule-sync-action@v1
        with:
          path: src/.repos/kuma
          ref: release/kuma-2.0
          pr_branch: automated-kuma-update
          base_branch: release/mesh-2.0
          target_branch: release/mesh-2.0
