name: Sync Konnect OAS Data
on: workflow_dispatch

permissions:
  contents: write
  pull-requests: write

jobs:
  update_oas_data:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Fetch OAS Data
        run: |
          cd tools/konnect-oas-data-generator
          npm ci
          node run.js --url ${{ vars.VITE_PORTAL_API_URL }}
      - name: Create pull request
        uses: peter-evans/create-pull-request@v5
        with:
          title: Sync Konnect OAS Data
          commit-message: Sync Konnect OAS Data
          labels: skip-changelog,review:general
          token: ${{ secrets.PAT }}
